﻿
@*@{
        ViewBag.Title = "New School Operation";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }*@
<div class="list-group">
    @*<a href="@Url.Action("Index", "Admin")" class="list-group-item @ViewBag.SchoolCategory text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />view schools registered
    </a>*@
    @*<a href="@Url.Action("Role", "Admin")" class="list-group-item @ViewBag.Role text-center ">
        <h4 class="glyphicon glyphicon-user"></h4><br/>Create Role
    </a>*@
    <a href="@Url.Action("AssignRole", "Admin")" class="list-group-item @ViewBag.AssignRole text-center ">
        <h4 class="glyphicon glyphicon-th-list"></h4><br />Assign Role(s)/Activate User
    </a>
    <a href="@Url.Action("CreateRole", "Admin")" class="list-group-item @ViewBag.CreateRole text-center ">
        <h4 class="glyphicon glyphicon-stats"></h4><br />State(s) for Admins
    </a>
    <a href="@Url.Action("AssignLga", "Admin")" class="list-group-item @ViewBag.AssignLga text-center ">
        <h4 class="glyphicon glyphicon-th-list"></h4><br/>Assign Lga to Offices
    </a>
    @*<a href="@Url.Action("CreateSubjectItems", "Admin")" class="list-group-item  @ViewBag.CreateSubjectItems text-center">
        <h4 class="glyphicon glyphicon-list-alt"></h4><br/>Set Subject Items
    </a>
    <a href="@Url.Action("Index", "Admin")" class="list-group-item  @ViewBag.Report text-center">
        <h4 class="glyphicon glyphicon-print"></h4><br/>Report
    </a>

    <a href="@Url.Action("_Complete", "Schools")" class="list-group-item @ViewBag.SubmitDetails text-center">
        <h4 class="glyphicon glyphicon-save"></h4><br/>Submit Details
    </a>*@
</div>






