﻿
@using SchoolRecognitionSystem.Models
@if (TempData.ContainsKey("notification"))
{
    var notification = (NotificationViewModel)TempData["notification"];
    <div class="alert alert-@notification.AlertType.ToString().ToLower() alert-dismissable global-notification">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="position: relative; margin-left: 5px;left: 0; top: 1px;">&times;</button>
        @Html.Raw(notification.Message)
    </div>
}

