﻿@using SchoolRecognitionSystem.Models
@*@{
        ViewBag.Title = "New School Operation";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }*@
<div class="list-group">

    <a href="@Url.Action("Classroom", "Assessment", new {sddc = Request.QueryString["sddc"],state=Request.QueryString["state"], classId = (TempData["ClassId"] ?? Request.QueryString["classId"])})" class="list-group-item @ViewBag.Classroom text-center subject">
        <h4 class="glyphicon glyphicon-home"></h4><br />Classroom
    </a>
    <a href="@Url.Action("FacilitySummary", "Assessment", new {sddc = Request.QueryString["sddc"],state=Request.QueryString["state"], classId = (TempData["ClassId"] ?? Request.QueryString["classId"])})" class="list-group-item   @ViewBag.Facility text-center subject">
        <h4 class="glyphicon glyphicon-home"></h4><br />Facility[Equipment/Reagent]
    </a>

    <a href="@Url.Action("StaffSummary", "Assessment", new {sddc = Request.QueryString["sddc"],state=Request.QueryString["state"], classId = (TempData["ClassId"] ?? Request.QueryString["classId"])})" class="list-group-item @ViewBag.Staff text-center teachers">
        <h4 class="glyphicon glyphicon-home"></h4><br />School Staff
    </a>

    <a href="@Url.Action("ApproveSchoolSubjectList", "Assessment", new {sddc = Request.QueryString["sddc"], state = Request.QueryString["state"], classId = (TempData["ClassId"] ?? Request.QueryString["classId"]) })" class="list-group-item @ViewBag.ApproveSchoolSubjectList text-center subject">
        <h4 class="glyphicon glyphicon-home"></h4><br />Approved/Not Approved Subjects
    </a>




    @if (UserManager.IsUserInRole("Admin"))
    {
        <a href="@Url.Action("Recommendation", "Assessment", new {sddc = Request.QueryString["sddc"],state=Request.QueryString["state"], classId = (TempData["ClassId"] ?? Request.QueryString["classId"]) })" class="list-group-item @ViewBag.Recommendation text-center">
            <h4 class="glyphicon glyphicon-save"></h4><br />Recommendation
        </a>


    }
    @if (UserManager.IsUserInRole("SuperAdmin"))
    {
        <a href="@Url.Action("Approve", "Assessment", new {sddc = Request.QueryString["sddc"],state=Request.QueryString["state"], classId = (TempData["ClassId"] ?? Request.QueryString["classId"]) })" class="list-group-item @ViewBag.Approve text-center">
            <h4 class="glyphicon glyphicon-save"></h4><br />Recognize Centre
        </a>
    }




</div>
