﻿
@model SchoolRecognitionSystem.Models.StateViewModel

@{
    ViewBag.Title = "AssignState";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@*<h2>AssignState</h2>*@
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Assign State to user</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
    <div class="form-horizontal">
        @*<h4>UserViewModel</h4>*@
        <hr/>
        @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "FormPost"}))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-10">
                <fieldset class="nomargin">
                    <legend>
                        Assign States to Administrators
                    </legend>
                    @if (TempData["aUser"] != null)
                    {
                        <div class="alert alert-primary">
                            <span class="myInfowtb">
                                    welcome  @TempData["aUser"]
                                </span>
                        </div>
                    }
                    <br/>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            @Html.ListBoxFor(model => model.AvailableStateSelected, new MultiSelectList(Model.States, "Id", "StateName", Model.AvailableStateSelected), new {@class = "form-control", data_value = "Id", data_text = "StateName", multiple = "multiple", data_title = "States"})
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button class="btn" type="button" data-dismiss="modal">Cancel</button>
                        <input class="btn btn-primary" type="submit" value="Add" />
                    </div>

                    @*<footer>
                        <p class="pull-right">
                            @Html.ActionLink("Back to List", "CreateRole")
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </p>

                    </footer>*@
                </fieldset>
            </div>
        }
    </div>
    </div>




        }

        @section scripts{
            <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
            <script src="~/Scripts/dual-list-box.min.js"></script>
            <script type="text/javascript">
                $(document).ready(
                (function () {

                    $('select[name="AvailableStateSelected"]').DualListBox({ json: false }); //RequestedSelected
                }));


            </script>
        }
