﻿@using SchoolRecognitionSystem.Models
@*@{
        ViewBag.Title = "New School Operation";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }*@
<div class="list-group">
    
    <a href="@Url.Action("FacilitySummaryB", "Assessment", new {sddc = Request.QueryString["sddc"],state=Request.QueryString["state"]})" class="list-group-item   @ViewBag.Facility text-center subject">
        <h4 class="glyphicon glyphicon-home"></h4><br />Facility[Equipment/Reagent]
    </a>

    <a href="@Url.Action("StaffSummaryB", "Assessment", new {sddc = Request.QueryString["sddc"],state=Request.QueryString["state"], classId = (TempData["ClassId"] ?? Request.QueryString["classId"])})" class="list-group-item @ViewBag.Staff text-center teachers">
        <h4 class="glyphicon glyphicon-home"></h4><br />School Staff
    </a>

    <a href="@Url.Action("ApproveSchoolSubjectListB", "Assessment", new {sddc = Request.QueryString["sddc"], state = Request.QueryString["state"], classId = (TempData["ClassId"] ?? Request.QueryString["classId"])})" class="list-group-item @ViewBag.ApproveSchoolSubjectList text-center subject">
        <h4 class="glyphicon glyphicon-home"></h4><br/>Approved/Not Approved Subjects
    </a>

    <a href="@Url.Action("ApproveB", "Assessment", new {sddc = Request.QueryString["sddc"],state=Request.QueryString["state"], classId = (TempData["ClassId"] ?? Request.QueryString["classId"])})" class="list-group-item @ViewBag.ApproveB text-center">
        <h4 class="glyphicon glyphicon-save"></h4><br />Generate Report
    </a>
@*@if (UserManager.IsUserInRole("SuperAdmin"))
{
    <a href="@Url.Action("ApproveB", "Assessment", new {sdc = Request.QueryString["sdc"],state=Request.QueryString["state"]})" class="list-group-item @ViewBag.ApproveB text-center">
        <h4 class="glyphicon glyphicon-save"></h4><br />Generate Report
    </a>
}
@if (UserManager.IsUserInRole("Admin"))
{
    <a href="@Url.Action("Recommendation", "Assessment", new {sdc = Request.QueryString["sdc"],state=Request.QueryString["state"]})" class="list-group-item @ViewBag.RecommendationX text-center">
        <h4 class="glyphicon glyphicon-save"></h4><br />Recommendation
    </a>
}*@
   

</div>




