﻿
@*@{
        ViewBag.Title = "New School Operation";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }*@
<div class="list-group">

    @*<a href="@Url.Action("ActionPerform", "Schools")" class="list-group-item @ViewBag.ActionPerform text-center ">
            <h4 class="glyphicon glyphicon-home"></h4><br />Subject/General Recognition
        </a>*@

    <a href="@Url.Action("Index", "AutoCentre")" id="schoolprofileid" class="list-group-item @ViewBag.ApprovedSchools text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />Approved Schools
    </a>
    <a href="@Url.Action("GenerateCentre", "AutoCentre")" id="schoolprofileid" class="list-group-item @ViewBag.GenerateCentre text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />Generate Centre
    </a>
    <a href="@Url.Action("ModifyCentre", "AutoCentre")" class="list-group-item  @ViewBag.ModifyCentre text-center">
        <h4 class="glyphicon glyphicon-list-alt"></h4><br />Modify Centre
    </a>

    <a href="@Url.Action("LGAList", "AutoCentre")" class="list-group-item @ViewBag.LGAList text-center">
        <h4 class="glyphicon glyphicon-book"></h4><br />View Local Government Area
    </a>
    <a href="@Url.Action("CentreList", "AutoCentre")" class="list-group-item @ViewBag.CentreList text-center">
        <h4 class="glyphicon glyphicon-user"></h4><br />View Centre List
    </a>
    <a href="@Url.Action("Report", "AutoCentre")" class="list-group-item @ViewBag.Report text-center">
        <h4 class="glyphicon glyphicon-users"></h4><br />Report
    </a>

  

</div>






