﻿@model  IEnumerable<SchoolRecognitionSystem.Models.Facility>
@{

    //ViewBag.Title = "CategoryGrid";
    //Layout = "~/Views/Shared/_SettingLayout.cshtml";
    //WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    //grid.Bind(Model.Equipment,
    //          autoSortAndPage: false,
    //          rowCount: Model.TotalRows
    //);
    var gridview = new WebGrid(source: Model,canPage:true, rowsPerPage:10, ajaxUpdateContainerId: "grid");
    var subb = Model.Select(app => app.SubjectList);
    var subb1 = from sub in subb.First()
                select new SelectListItem
                {
                    Value = sub.ID.ToString(),
                    Text = sub.LongName

                };
}









@*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
<h2>Equipment Facilities</h2>



<div id="divmsg" style="color: green; font-weight: bold"></div>

<a href="#" class="add">Add new facility</a>
<br />
<br />



@gridview.GetHtml(
htmlAttributes: new { id = "grid" },
    fillEmptyRows: false,
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
     columns: new[] {

         gridview.Column(header: "No.",
                    format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(gridview.TotalRowCount / gridview.PageCount) / gridview.RowsPerPage) * gridview.RowsPerPage * gridview.PageIndex),

        gridview.Column(null,null,canSort:false, format: @<input type="hidden" id="uniqid" name="IDHidden" value="@item.ID" />),

         gridview.Column(null,null,canSort:false, format: @<input type="hidden" id="AA_@item.ID"  name="IDHidden" value="@item.EquipConfigID" />),


          @*gridview.Column(header: "EquipConfigID",format: @<span> <span id="spanEquipConfigID_@item.ID">@item.EquipConfigID</span> @Html.TextBox("EquipConfigID_"+(int)item.ID,(int)item.EquipConfigID,new{@style="display:none"})</span>),*@


           gridview.Column(null,null,canSort:false, format: @<input type="hidden" id="fad" value="@item.FacilityCategoryID"/>),

         @*gridview.Column(null,format: @<span> <span id="spanName_@item.ID">@item.SchoolEquipConfigID</span> @Html.TextBox("SchoolEquipConfigID_"+(int)item.ID,(string)item.SchoolEquipConfigID,new{@style="display:none"})</span>),*@

           gridview.Column(header: "Item Description",format: @<span> <span id="spanItemDescription_@item.ID">@item.ItemDescription</span> @Html.TextBox("ItemDescription_"+(int)item.ID,(string)item.ItemDescription,new{@style="display:none"})</span>),


           gridview.Column(header: "Quantity Required",format: @<span> <span id="spanQuantity_@item.ID">@item.QuantityRequired</span> @Html.TextBox("QuantityRequired_"+(int)item.ID,(string)item.QuantityRequired,new{@style="display:none"})</span>),


         gridview.Column("Subject", canSort: false,
                format:@<span><span id="spansubject_@item.ID">@item.LongName</span>@Html.DropDownList("LongName_"+(int)item.ID, subb1, new{@style="display:none"})</span>),


          //gridview.Column(format: (item) => Ajax.ActionLink("Delete" , "DeletePerson" ,
          //                                                               new  { id = item.Id },
          //                                                               new  AjaxOptions  { HttpMethod = "POST" , OnSuccess= "reloadGrid" })),


           

         gridview.Column(header: "Action",format:@<text> <a href="#" id="Edit_@item.ID" class="edit">Edit&nbsp;&nbsp;</a><input id="Subj_@item.ID" type="hidden" value="@item.SubjectsID" /><a href="#" id="Update_@item.ID" style="display:none" class="update">Update&nbsp;</a><input id="Subj_@item.ID" type="hidden" value="@item.SubjectsID" /><a href="#" id="Cancel_@item.ID" style="display:none" class="cancel">Cancel&nbsp;</a><a href="#" id="Delete_@item.ID" class="delete">Delete</a></text>)
})





<style type="text/css">
    #grid {
        clear: both;
        width: 80%;
        margin: 0px;
        border: 1px solid #c7c5c7;
    }

        #grid thead, #grid tfoot td {
            text-align: left;
            font-weight: bold;
            height: 35px;
            color: #000;
            background-color: #d2d0d2;
            border-bottom: 1px solid #e2e2e2;
        }

        #grid td {
            padding: 4px 6px 0px 4px;
            vertical-align: top;
            background-color: #f5f5f5;
            border-bottom: 1px solid #e2e2e2;
        }

    input {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 2px 0 2px 0px;
        padding: 2px;
        width: 170px;
    }
</style>

<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script>
    $('.refresh').live('click', function () {
        $('#reloadpvtable').empty();
        $('#EquipmentDetailTable').load('/Settings/EquipmentFacility2');
    });


    $('.add').live('click', function () {
        var existrow = $('.save').length;
       
        if (existrow == 0) {
            var index = $("#grid tbody tr").length + 1;

            var Item = "ItemDescription_" + index;
            var Quantity = "QuantityRequired_" + index;
            var subject = "LongName_" + index;
            var Save = "Save_" + index;
            var Cancel = "Cancel_" + index;
            var strOption = "";

           

            $.getJSON('/Settings/SubjectList/', function (data) {
                //clear the current content of the select


                //$.each(data, function (key, item) {
                //    //strOption += '<option val="' + key + '">' + val + '</option>';
                //    strOption += '<option value="' + item.ID + '">' + item.LongName + '></option>'
                //    alert(item);
                //});

                strOption = '<option value="0" selected>---select a subject--</option>'
                for (i = 0; i < data.length; i++) {
                    strOption += '<option value="' + data[i].ID + '">' + data[i].LongName + '</option>'
                }
                if (data.length > 0) {
                    var tr = '<tr class="alternate-row"><td></td><td></td><td></td><td></td><td><span><input id="' + Item + '" type="text" /></span></td>' +
                        '<td><span><input id="' + Quantity + '" type="text" /></span></td>' +
                    '<td><span><select id="' + subject + '" class="ty">' + strOption + '</select></span></td>' +
                     '<td> <a href="#" id="' + Save + '" class="save">Save</a><a href="#" id="' + Cancel + '"  class="icancel">Cancel</a></td>' +
                 '</tr>';

                    $('#grid tbody').append(tr);

                }

            });

        }
        else {
            alert('First Save your previous record !!');
        }

    });
    
    $(".icancel").live("click", function () {
        var flag = confirm('Are you sure to cancel');
        if (flag) {
            $(this).parents("tr").remove();
        }

    });

    $(".save").live("click", function () {
        var id = $("#grid tbody tr").length;
        var Item = $("#ItemDescription_" + id).val();
        var Quantity = $("#QuantityRequired_" + id).val();
        var Sub = $("#LongName_" + id).val();
        fa = $("#fad").val();



        if (id != "") {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SaveRecordEquip", "Settings")',
                data: { "catee": Item, "SU": Sub, "Quant": Quantity, "fac": fa },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {
                    if (data.result == true) {

                        $("#divmsg").html("Record saved successfully !!");
                        //$("#divloadTable").html("Record loading...");
                        //setInterval(function () { $('#EquipmentDetailTable').hide() });
                       
                            
                        //$('.save').parents("tr").remove();
                       

                                           

                        setTimeout(function () { $("#divmsg").html("Record saved successfully!!");},3000);

                        location.reload();
                       
                        //$("#divmsg").html("Record saved successfully !!");

                        //@*var url = '@Url.Action("EquipmentFacility2")';
                        //var notifications = $("#reloadpvtable"); // cache it to avoid repeatedly searching the DOM
                        //var fore = $("#divmsg");
                        //setInterval(function () {
                        //    notifications.load(url);
                        //    fore.html("Record saved successfully !!")
                        //}, 2000);*@


                        //setTimeout(function () {
                        //    var url = '<%: Url.Action("EquipmentFacility", "Settings") %>';
                        //    $.getJSON(url, null, function () { });
                        //}
                        // , 10000);
                        //setTimeout(function () { window.location.replace("CategoryGrid"); }, 2000);
                    }
                    else {
                        alert('There is some error');

                    }

                }

            });
        }
    });

    $(".edit").on("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];
        //var subjectID = str[2];
        //alert(id);



        var Item = "#ItemDescription_" + id;
        var equip = $("#SchoolEquipConfigID").val();
        var spanItem = "#spanItemDescription_" + id;
        var Quantity = "#QuantityRequired_" + id;
        var spanQuantity = "#spanQuantity_" + id;
        var Subject = "#LongName_" + id;
        var spansubject = "#spansubject_" + id;



        $(Item).show();
        $(spanItem).hide();
        $(equip).show();
        $(Quantity).show();
        $(spanQuantity).hide();

        $(Subject).show();

        var sub = $("#Subj_" + id).val();

        //$(Subject).val(sub).change(function () {alert("Done") });
        $(Subject).val(sub).change();

        $(spansubject).hide();

        $(this).hide();
        $("#Update_" + id).show();
        $("#Cancel_" + id).show();
    });

    $(".cancel").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var Item = "#ItemDescription_" + id;
        var spanItem = "#spanItemDescription_" + id;
        var Quantity = "#QuantityRequired_" + id;
        var spanQuantity = "#spanQuantity_" + id;
        var Subject = "#LongName_" + id;
        var spansubject = "#spansubject_" + id;

        $(Item).hide();
        $(spanItem).show();
        $(Quantity).hide();
        $(spanQuantity).show();

        $(Subject).hide();
        $(spansubject).show();

        $(this).hide();
        $("#Update_" + id).hide();

        $("#Edit_" + id).show();
    });

    $(".update").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];


        var Item = $("#ItemDescription_" + id).val();

        var spanItem = $("#spanItemDescription_" + id).val();
        var Quantity = $("#QuantityRequired_" + id).val();
        var spanQuantity = $("#spanQuantity_" + id).val();
        var Subject = $("#LongName_" + id).val();
        var spansubject = $("#spansubject_" + id).val();
        var equip = $("#AA_" + id).val();

        if (id != "") {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateRecordE", "Settings")',
                data: { "id": id, "catee": Item, "Quant": Quantity, "sub": Subject, "equipID": equip },
                dataType: "json",
                beforeSend: function () {//alert(id);
                },
                success: function (data) {

                    if (data.result == true) {
                        $("#Update_" + id).hide();
                        $("#Cancel_" + id).hide();
                        $("#Edit_" + id).show();

                        var Item = "#ItemDescription_" + id;
                        var spanItem = "#spanItemDescription_" + id;
                        var Quantity = "#QuantityRequired_" + id;
                        var spanQuantity = "#spanQuantity_" + id;
                        var Subject = "#LongName_" + id;
                        var spansubject = "#spansubject_" + id;





                        $(Item).hide();
                        $(spanItem).show();
                        $(Quantity).hide();
                        $(spanQuantity).show();
                        $(Subject).hide();

                        $(spansubject).show();

                        $(spanItem).text($(Item).val());
                        $(spanQuantity).text($(Quantity).val());
                        $(spansubject).text($(sub).val());
                        //$(spansubject).val(Subject).change();


                    }
                    else {
                        alert('There is some error');
                    }
                }

            });
        }
    });

    $(".delete").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];
        fa = $("#AA_" + id).val();
        //equip = $("#eqpd").val();

        var flag = confirm('Are you sure to delete ??');
        if (id != "" && flag) {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DeleteRecordEquip", "Settings")',
                data: { "id": id, "facid": fa },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {

                    if (data.result == true) {
                        $("#Update_" + id).parents("tr").remove();
                    }
                    else {
                        alert('There is some error');
                    }
                }

            });
        }
    });


    function reloadGrid() {

        $.ajax(
            {
                type: "GET",
                url: '/Settings/ReloadGrid/',
                data: "{}",
                cache: false,
                dataType: "html",
                success: function (data)
                { $("#grid").html(data); }
            })
    }


 </script>



