﻿
@model IEnumerable<SchoolRecognitionSystem.Models.Facility>

@{
    ViewBag.Title = "Manipulate WebGrid Data";
}


<div id="ajaxgrid">
    @{
        var grid = new WebGrid(Model, ajaxUpdateContainerId: "ajaxgrid", rowsPerPage: 2);
        var subb = Model.Select(app => app.SubjectList);
        var subb1 = from sub in subb.First()
                    select new SelectListItem
                    {
                        Value = sub.ID.ToString(),
                        Text = sub.LongName

                    };
    }

        IEnumerable<WebGridColumn> cols =
            new List<WebGridColumn> {
                new WebGridColumn{
                    Format = @<text>
        <a href='#' class="display edit-btn">Edit</a>
        <a href="#" class="edit save-btn">Save</a>
        <a href="#" class="edit cancel-btn">Close</a>
        <a href="#" class="display delete-btn">Delete</a>
                    </text>
                },
                new WebGridColumn{
                    Header="ID",
                    Format = @<text>
        <span class="display"><label id="lblID">@item.ID</label></span>
        <input type="text" id="inID" value="@item.ID" class="edit" readonly="true" />
                    </text>
                },



                new WebGridColumn{
                    Header="First Name",
                    Format = @<text>
        <span class="display"><label id="lblName">@item.ItemDescription</label></span>
        <input type="text" id="inName" value="@item.ItemDescription" class="edit" />
                    </text>
                },



                 @*new WebGridColumn {Header="Subject",
                format:@<span><span id="spansubject_@item.ID">@item.LongName</span>@Html.DropDownList("LongName_"+(int)item.ID, subb1, new{@style="display:none"})</span>)*@
    




            
            };
    }
</div>

@grid.GetHtml(columns: cols, rowStyle: "oddRowStyle", alternatingRowStyle: "evenRowStyle")

<script type="text/javascript">
    $(function () {

        var tfootAdd = "<tr class='tfootrow'>" +
                            "<td> " +
                                "<a href='#' class='display ins-btn' >Insert</a>" +
                                "<a href='#' class='edit inssave-btn'>Save</a>" +
                                "<a href='#' class='edit cancel-btn'>Close</a>" +
                            "</td>" +
                            "<td>" +
                                "<span class='display'/>" +
                                "<input type='text' id='inID' value='' class = 'edit'/> " +
                                "</td>" +
                            "<td>" +
                                "<span class='display'/>" +
                                "<input type='text' id='inName' value='' class = 'edit'/>" +
                            "</td>" +
                            "<td>" +
                                "<span class='display'/>" +
                                "<input type='text' id='inEmail' value='' class = 'edit'/>" +
                            "</td>" +
                        "</tr>"
        $("table tfoot tr:first").before(tfootAdd);

        $('.edit').hide();  // default is display

        $('.ins-btn, .edit-btn, .cancel-btn').on("click", function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
        });

        $('.inssave-btn').on("click", function () {
            var tr = $(this).parents('tr:first');
            var name = tr.find("#inName").val();
            var id = tr.find("#inID").val();
           
            var isSuccess = -1;

            var Facility =
            {
                "ID": id,
                "ItemDesription": name,
                
            };

            $.ajax({

                url: '/Settings/EquipmentFacility2/',       // HomeController and InsertData method

                data: JSON.stringify(Facility),

                type: 'POST',

                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    isSuccess = result;

                },
                error: function(result){
                    isSuccess = result;
                }

            }).done(function () {
                if (isSuccess == "1") {           // Successfully saved
                    tr.find('.edit, .display').toggle();
                    alert("Successfully Saved");
                    location.reload();      // refresh the page
                }
                else {                      // Data Error
                    alert("Error. Please, check the data");
                }
            });
        });

        $('.save-btn').on("click", function () {

            var tr = $(this).parents('tr:first');
            var name = tr.find("#inName").val();
            var id = tr.find("#inID").val();
            var email = tr.find("#inEmail").val();
            var isSuccess = -1;

            tr.find("#lblName").text(name);
            tr.find("#lblEmail").text(email);


            var Student =
            {
                "ID": id,
                "Name": name,
                "email": email
            };

            $.ajax({

                url: '/Home/SaveData/',

                data: JSON.stringify(Student),

                type: 'POST',

                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    isSuccess = result;

                },
                error: function (result) {
                    isSuccess = result;
                }

            }).done(function () {
                if (isSuccess == "1") {           // Successfully saved
                    tr.find('.edit, .display').toggle();
                    alert("Successfully Saved");
                }
                else {                      // Data Error
                    alert("Error. Please, check the data");
                }
            });

        });


        $('.delete-btn').on("click", function () {

            var tr = $(this).parents('tr:first');
            var name = tr.find("#inName").val();
            var id = tr.find("#inID").val();
            var email = tr.find("#inEmail").val();
            var isSuccess = -1;

            var Student =
            {
                "ID": id,
                "Name": name,
                "email": email
            };

            $.ajax({

                url: '/Home/DeleteData/',

                data: JSON.stringify(Student),

                type: 'POST',

                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    isSuccess = result;

                },
                error: function (result) {
                    isSuccess = result;
                }

            }).done(function () {
                if (isSuccess == "1") {           // Successfully Deleted
                    alert("Successfully Deleted");
                    location.reload();      // refresh the page
                }
                else {                      // Data Error
                    alert("Error. Please, check the data");
                }

            });


        });
    });
</script>
