﻿@model  IEnumerable<SchoolRecognitionSystem.Models.Facility>

<table id="tblFacultyDetail" class="tableStyle">
    <tr>
        <th class="tableHeader" style="width:60px;">Item ID</th>
        <th class="tableHeader">Item Name</th>
        <th class="tableHeader">Item Value</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="tableCell">@item.ID</td>
            <td class="tableCell">@item.ItemDescription</td>&nbsp;&nbsp;&nbsp;&nbsp;
            @*<td class="tableCell">@item.ItemDescription</td>*@
            <td id="textfeild1">
                <input id="textfeild"  type="text">
            </td>
            
        </tr>
    }
</table>

