﻿@model IEnumerable<SchoolRecognitionSystem.Models.ItemSectionAssessment>






<body>
<div>
    <table>
        <tr>
            <th>Item Section</th>
            <th>Rated</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemSection</td>
                <td>@item.FinalRating</td>
            </tr>
        }
    </table>
</div>
</body>
