﻿@using System.Configuration
@using SchoolRecognitionSystem.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <meta name="ApplicationRoot" content="@ConstantsService.GetApplicationRoot()" />
    <title>@ViewBag.Title - WAEC School Recognition Portal</title>
   
    <link rel="shortcut icon" href="~/favicon.ico" />
    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/Styles")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body class="smoothscroll enable-animation">
   <div id="wrapper">
        <!-- Top Bar -->
        @*@Html.Partial("_topBarLinks")*@
        <!-- /Top Bar -->
        <div id="header" class="sticky clearfix">

            <!-- /SEARCH HEADER -->
            <!-- TOP NAV -->
            <header id="topNav">
                <div class="container">
                    
                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Logo -->
                    <a class="logo pull-left" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/images/bgLogo.png" alt="" />
                    </a>
                    <div id="waecdescr">
                        <h1>The West African Examinations Council</h1>
                        <h4>School Recognition System</h4>
                    </div>
                </div>
            </header>
            <!-- /Top Nav -->

        </div>
        <section class="page-header">
            <div class="container">
                <h1><i class="fa fa-list text-blue"></i> @ViewBag.Title</h1>

            </div>
            <section style="position: absolute;top: -109px;right: 25px; z-index: 999999;    max-width: 500px;">
                @Html.Partial("_alert")
            </section>
        </section>
        @RenderBody()

        <!-- FOOTER -->
        <footer id="footer">

            <div class="copyright">
                <div class="container">
                    <ul class="pull-right nomargin list-inline mobile-block">
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li>&bull;</li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                    &copy; @DateTime.Now.Year - The West African Examinations Council <br />
                    School Recognition Portal @*| @Html.ActionLink("Admin Login", "Index", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
                </div>
            </div>

        </footer>
        <!-- /FOOTER -->
        <div class="modal fade" id="myChangePasswordModal" tabindex="1" role="dialog" aria-labelledby="myChangePasswordModal" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #fff; color: #000;">
                        @*<div class="dropdown">
                            <a class="dropdown_button"><i class="fa fa-gears text-light-blue"></i>Create my office service</a>
                            <ul class="dropdown_content">
                                <li>Sample List</li>
                            </ul>
                        </div>*@
                        <i class="fa fa-lock text-light-blue" data-dismiss="modal" aria-hidden="true"></i> User Change Password
                        <button type="button" class="close text-red" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                    </div>
                    <div id="div-forms2">
                        @*@if (Session["UserID"] != null)
                        {
                            @Html.Partial("_ChangePassword")
                        }*@
                    </div>
                </div>
            </div>
        </div>
</div>

    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>


    <!-- PRELOADER -->
    @*<div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>*@<!-- /PRELOADER -->
<!-- JAVASCRIPT FILES -->
    <script src="@ConstantsService.GetApplicationRoot()/Scripts/js.cookie.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    }
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    }
    function popUp(URL, popW, popH) {

        var w = 480, h = 340;

        if (document.all || document.layers) {
            w = screen.availWidth;
            h = screen.availHeight;
        }

        var topPos = 0, leftPos = (w - popW) / 2;
        //Open the window with disabled components
        window.open(URL, 'popup', 'resizable=no, toolbar=yes, location=no, directories=no, status=no, scrollbars=yes, horizontal scrollbars=yes, scroll=yes, menubar=yes, titlebar=no, width=' + popW + ',height=' + popH + ',left=' + leftPos + ',top=' + topPos + ',screenX=' + leftPos + ',screenY=' + topPos);
    }
    </script>
</body>
</html>
