﻿@using System.Configuration
@using SchoolRecognitionSystem.Controllers
@using SchoolRecognitionSystem.Infrastructure
<!DOCTYPE html>
<html>
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <meta name="ApplicationRoot" content="@ConstantsService.GetApplicationRoot()" />
    <title>@ViewBag.Title - WAEC School Recognition Portal</title>
   
    <link rel="shortcut icon" href="~/favicon.ico" />
    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/Styles")
    @Scripts.Render("~/bundles/modernizr")    
    @Scripts.Render("~/bundles/jquery")
    
    <script type="text/javascript">
        function popUp(URL, popW, popH) {

            var w = 480, h = 340;

            if (document.all || document.layers) {
                w = screen.availWidth;
                h = screen.availHeight;
            }

            var topPos = 0, leftPos = (w - popW) / 2;
            //Open the window with disabled components
            window.open(URL, 'popup', 'resizable=no, toolbar=yes, location=no, directories=no, status=no, scrollbars=yes, horizontal scrollbars=yes, scroll=yes, menubar=yes, titlebar=no, width=' + popW + ',height=' + popH + ',left=' + leftPos + ',top=' + topPos + ',screenX=' + leftPos + ',screenY=' + topPos);
        }
    </script>
    @RenderSection("styles", required: false)
</head>
<body class="smoothscroll enable-animation">

    <div id="wrapper">
        <!-- Top Bar -->
        @*@Html.Partial("_topBarLinks")*@
        <!-- /Top Bar -->
        <div id="header" class="sticky clearfix">

            <!-- /SEARCH HEADER -->
            <!-- TOP NAV -->
            <header id="topNav">
                <div>

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Logo -->
                    <article class="row">
                        <div class="col-md-7">
                            <a class="logo" href="@Url.Action("Index", "Home")">
                                <img src="~/Content/images/bgLogo.png" alt=""/>
                            </a>
                            <div id="waecdescr">
                                <h1>The West African Examinations Council</h1>
                                <h4>School Recognition System | <strong><span style="color: #000;">@TempData["DisplaySchoolName"]  </span></strong></h4>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <section class="page-header" style="background: transparent; border: 0; padding: 0; margin: 0; font-size: 14px;">
                                <div style="position: relative; top: 67px;">
                                    <a href="@Url.Action("SectionPage", "Schools")"><i class="fa fa-home"></i> Home Page</a> |
                                    <a href="#">
                                        <i class="fa fa-user"></i>
                                        @if (BaseController.CurrentUser != null)
                                        {
                                            <span> @BaseController.CurrentUser.EmailAddress (@BaseController.CurrentUser.RoleName)  </span>


                                        }

    @*@if (TempData["EmailUsername"] != null)
                                        {
                                            <span>@TempData["EmailUsername"] </span>

                                        }*@</a> |
                                    <a href="@Url.Action("LogOut", "Schools")"><i class="fa fa-sign-out"></i> Log out</a>
                                </div>
                                
                            </section>
                        </div>
                    </article>


                </div>
                <section style="position: absolute;top: -9px;right: 25px; z-index: 999999;    max-width: 500px;">
                    @Html.Partial("_alert")
                </section> 
            </header>
            <!-- /Top Nav -->

        </div>


     
       
@RenderBody()


      







        <!-- FOOTER -->

<footer id="footer">


<div class="copyright">
                <div class="container">
                    <ul class="pull-right nomargin list-inline mobile-block">
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li>&bull;</li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                    &copy; @DateTime.Now.Year - The West African Examinations Council <br />
                    School Recognition Portal @*|@Html.ActionLink("Admin Login", "Index", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
                </div>
            </div>

        </footer>
        <!-- /FOOTER -->
        <div class="modal fade" id="myChangePasswordModal" tabindex="1" role="dialog" aria-labelledby="myChangePasswordModal" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #fff; color: #000;">
                        @*<div class="dropdown">
                            <a class="dropdown_button"><i class="fa fa-gears text-light-blue"></i>Create my office service</a>
                            <ul class="dropdown_content">
                                <li>Sample List</li>
                            </ul>
                        </div>*@
                        <i class="fa fa-lock text-light-blue" data-dismiss="modal" aria-hidden="true"></i> User Change Password
                        <button type="button" class="close text-red" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                    </div>
                    <div id="div-forms2">
                        @*@if (Session["UserID"] != null)
                        {
                            @Html.Partial("_ChangePassword")
                        }*@
                    </div>
                </div>
            </div>
        </div>
</div>

    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>


    <!-- PRELOADER -->
    @*<div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>*@<!-- /PRELOADER -->
    <!-- JAVASCRIPT FILES -->
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script src='@ConstantsService.GetApplicationRoot()Scripts/js/select2.full.min.js'></script>
<script src="@ConstantsService.GetApplicationRoot()Scripts/js.cookie.js"></script>

    <script type="text/javascript">
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    }
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    }
    $(document).ready(function () {
        $('.select2-dropdown').select2();
    });
    function checkSchoolCreated() {
        return Cookies.get('SchoolID') != undefined;
    }
    function checkClassCreated() {
        return Cookies.get('ClassID') != undefined;
    }
    function checkFacilityManagementCreated() {
        return Cookies.get('FacilityManagementID') != undefined &&
         Cookies.get('LibraryID') != undefined &&
         Cookies.get('ExaminationID') != undefined;

    }
    function checkManageStaffCreated() {
        return Cookies.get('ManageStaffID') != undefined;

    }
    function checkManageSubjectCreated() {
            return Cookies.get('ManageSubjectID') != undefined;
        }
    function canCreateClass() {
        var status = checkSchoolCreated();
         if (!status) {
            alert('Please create a school first.');
            return false;
        }
        return true;
    }

    function canCreateFacilityManagement() {
        var status = checkSchoolCreated() && checkClassCreated() ;
        if (!status) {
            alert('Please create a school and class first.');
            return false;
        }
        return true;
    }
    function canCreateManageStaff() {
        var status = checkSchoolCreated() && checkClassCreated() && checkFacilityManagementCreated();
        if (!status) {
            alert("Please create facility management first. \nA valid facility is created when you've created the laboratory, examination hall and recreational.");
            return false;
        }
        return true;
    }
    function canCreateManageSubject() {
        var status = checkSchoolCreated() && checkClassCreated() && checkFacilityManagementCreated() && checkManageStaffCreated();
        if (!status) {
            alert('Please create a school, class, facility management and staff first.');
            return false;
        }
        return true;
    }

    </script>
</body>
</html>
