﻿@model PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolEquipConfig>

@using PagedList.Mvc;
@{
// ViewBag.Title = "Employee List";
// Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <table class="table" style="margin-top: 30px;">
        <tr>
            <th style="border: 2px solid black; text-align: center; width: 12%;">
                @Html.ActionLink("ID", "_partialviewdatatable",
            new { sortOrder = "ID", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th style="border: 2px solid black; text-align: center; width: 25%">
                @Html.ActionLink("ItemDescription", "_partialviewdatatable",
            new { sortOrder = "ItemDescription", CurrentSort = ViewBag.CurrentSort })
            </th>

            <th style="border: 2px solid black; text-align: center; width: 12%">
                @Html.ActionLink("QuantityRequired", "_partialviewdatatable",
            new { sortOrder = "QuantityRequired", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th style="border: 2px solid black; text-align: center; width: 25%">
                @Html.ActionLink("Quantity seen", "_partialviewdatatable",
            new { sortOrder = "Quantity seen", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th style="border: 2px solid black; text-align: center; width: 25%">
                @Html.ActionLink("Specification", "_partialviewdatatable",
            new { sortOrder = "Specification", CurrentSort = ViewBag.CurrentSort })
            </th>


        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.Facility.ItemDescription)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.QuantityRequired)
                </td>                
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                <input data-recordid="0" type="text" id="inUser" onblur="useOnBlur('@item.ID', this);" value=""> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i><p class="message-output"></p>
                </td>
                   @*@Html.DisplayFor(modelItem => item.SchoolFacilityValues.FirstOrDefault().UserValue)*@
               
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.Specification)
                </td>


            </tr>
        }
    </table>
    <br />
    <div id='Paging' style="text-align: center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("_partialviewdatatable", new { page, subjectid = ViewBag.subjectid}))
    </div>
} 


    @*<script>
$(function () {
    $('table th:first-child, table td:first-child').hide();
});
    </script>*@
<script src="/Scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".pagination a").attr('data-page',@Model.PageNumber);
            $(".pagination a").on('click', function () {
                $(this).preventDefault();
                subjectId = $("#ID").val();
                page = $(this).attr('href');
                alert(subjectId + page);
                //getEquipmentTable(subjectId, page);
                //$("#itemsDetailSection").show();
            });
        });
        function useOnBlur(d_id,elem) {
            var isSuccess = -1;

            //var Fac =
            //    {
            //        "FacilityID": d_id,
            //        "UserValue": d_user
            //    };
            if (elem.value == '') {
                $(elem).parent().find('.message-output').stop().css('opacity', 1)
                    .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                return;
            }
            $(elem).parent().find('.spinner-wrapper').show();
            $(elem).parent().find('.message-output').hide();
            var record_id = $(elem).attr('data-recordId');
            $.ajax({
                url: "/School/SaveEquipment",
                data: { dd: d_id, user: elem.value, record_id: record_id },
                type: 'POST',
                success: function (data) {
                    if (data.status == true) {
                        $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                            .addClass('text-success').html(data.message).show().fadeOut(10000);
                        $(elem).attr('data-recordId', data.recordId);
                        isSuccess = data;
                    } else {
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                    }


                }

            });

        };

    </script>

