﻿@model IEnumerable<SchoolRecognitionSystem.Models.Facility>
@using GridMvc.Html

@{
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <title>Index</title>
</head>
<body>
    <h1>Grid.MVC</h1>
    <hr />
    <div style="width:500px;">
        @Html.Grid(Model).Columns(columns =>
   {
   columns.Add(c => c.ID).Titled("Client ID");
   columns.Add(c => c.ItemDescription).Titled("Item Description").Filterable(true);
   columns.Add(c => c.quantityRequired).Titled("Quantity Required");
   //columns.Add(c => c.userValue).Titled("Enter value");
   @*columns.Add(" userValue", header "Quantity seen" , format:@<text><input type="text" id="inUser" onblur="useOnBlur(@item.ID,this.value)" value="" class="edit" /></text>);*@
       columns.Add(c => c.userValue).Titled("Quantity Required");
       columns.Add(c => c.Specification).Titled("Specification");
   }).WithPaging(3).Sortable(true)
    </div>
</body>
</html>

<script type="text/javascript">
 function useOnBlur(d_id,d_user) {


        var isSuccess = -1;

    
        var Facility =
            {
                "ID": d_id,
                "userValue": d_user
            };


        $.ajax({

            url: '/School/SaveEquipment/',

            data: JSON.stringify(FacilitySetting),

            type: 'POST',

            contentType: 'application/json; charset=utf-8',

            success: function (result) {
                isSuccess = result;

            }

        }).done(function () {
            if (isSuccess == "1") {           // Successfully saved
                $('.userValue').change().css({ 'color': '#DE2A00' });
                //alert("Successfully Saved");
                //$("#userValue").attr("disabled", true);
            }
            else {                      // Data Error
                alert("Error. Please, check the data");
            }
        });

    };


</script>
