﻿
@model  IEnumerable<SchoolRecognitionSystem.Models.Facility>
@{
    //ViewBag.Title = "CategoryGrid";
    //Layout = "~/Views/Shared/_SettingLayout.cshtml";
    //WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    //grid.Bind(Model.Equipment,
    //          autoSortAndPage: false,
    //          rowCount: Model.TotalRows
    //);
    var gridview = new WebGrid(source: Model, rowsPerPage: 10);

}

<h2>Recreation Facilities</h2>



<div id="divmsg" style="color: green; font-weight: bold"></div>
<a href="#" class="add">Add new facility</a>
<br />
<br />



@gridview.GetHtml(
htmlAttributes: new { id = "grid" },
    fillEmptyRows: false,
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
     columns: new[] {

        gridview.Column(null,null,canSort:false, format: @<input type="hidden" name="IDHidden" value="@item.ID" />),

           gridview.Column(null,null,canSort:false, format: @<input type="hidden" id="recd" value="@item.FacilityCategoryID" />),

          gridview.Column(null,null,canSort:false, format: @<input type="hidden" id="AA_@item.ID" name="IDHidden" value="@item.RecreConfigID" />),

        @*gridview.Column(null,format: @<span> <span id="spanName_@item.ID">@item.SchoolEquipConfigID</span> @Html.TextBox("SchoolEquipConfigID_"+(int)item.ID,(string)item.SchoolEquipConfigID,new{@style="display:none"})</span>),*@

           gridview.Column(header: "Item Description",format: @<span> <span id="spanItemDescription_@item.ID">@item.ItemDescription</span> @Html.TextBox("ItemDescription_"+(int)item.ID,(string)item.ItemDescription,new{@style="display:none"})</span>),





         gridview.Column(header: "Action",format:@<text> <a href="#" id="Edit_@item.ID" class="edit">Edit&nbsp;&nbsp;</a><a href="#" id="Update_@item.ID" style="display:none" class="update">Update&nbsp;</a><a href="#" id="Cancel_@item.ID" style="display:none" class="cancel">Cancel&nbsp;</a><a href="#" id="Delete_@item.ID" class="delete">Delete</a></text>)
})





<style type="text/css">
    #grid {
        clear: both;
        width: 80%;
        margin: 0px;
        border: 1px solid #c7c5c7;
    }

        #grid thead, #grid tfoot td {
            text-align: left;
            font-weight: bold;
            height: 35px;
            color: #000;
            background-color: #d2d0d2;
            border-bottom: 1px solid #e2e2e2;
        }

        #grid td {
            padding: 4px 6px 0px 4px;
            vertical-align: top;
            background-color: #f5f5f5;
            border-bottom: 1px solid #e2e2e2;
        }

    input {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 2px 0 2px 0px;
        padding: 2px;
        width: 170px;
    }
</style>
<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">

        $('.add').live('click', function () {
            var existrow = $('.save').length;

            alert(existrow);
            if (existrow == 0) {
                var index = $("#grid tbody tr").length + 1;

                var Item = "ItemDescription_" + index;

                var Save = "Save_" + index;
                var Cancel = "Cancel_" + index;
                var tr = '<tr class="alternate-row"><td></td><td></td><td><span><input id="' + Item + '" type="text" /></span></td>' +

                                       '<td> <a href="#" id="' + Save + '" class="save">Save</a><a href="#" id="' + Cancel + '"  class="icancel">Cancel</a></td>' +
                                   '</tr>';

                $('#grid tbody').append(tr);

               
            }
            
        else {
            alert('First Save your previous record !!');
        }

    });

    $(".icancel").live("click", function () {
        var flag = confirm('Are you sure to cancel');
        if (flag) {
            $(this).parents("tr").remove();
        }

    });

    $(".save").live("click", function () {
        var id = $("#grid tbody tr").length;
        var existrow = $('.save').length;
        var Item = $("#ItemDescription_" + id).val();
        var cateid = $("#recd").val();

        if (id != "") {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SaveRecordRecrea", "Settings")',
                data: { "catee": Item, "cateid": cateid },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {
                    if (data.result == true) {
                       
                        $("#divmsg").html("Record has been saved successfully !!");
                                            
                        //setTimeout(function () { window.location.replace("CategoryGrid"); }, 2000);
                        setTimeout(function () { $('#RecreationDetailTable').hide() });
                        setTimeout(function () { $('#reloadpvtable').load('/Settings/RecreationFacility'); }, 1000);
                       
                        
                        
                        }
                        else {
                            alert('There is some error');
                        }

                }

            });
        }
    });

    $(".edit").on("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];
        //var subjectID = str[2];
        //alert(id);



        var Item = "#ItemDescription_" + id;
        var cateid = $("#recd").val();
       
        var spanItem = "#spanItemDescription_" + id;
     


        $(Item).show();
       
        $(spanItem).hide();
    
       

        $(this).hide();
        $("#Update_" + id).show();
        $("#Cancel_" + id).show();
    });

    $(".cancel").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var Item = "#ItemDescription_" + id;
        var spanItem = "#spanItemDescription_" + id;
        

        $(this).hide();
        $("#Update_" + id).hide();

        $("#Edit_" + id).show();
    });

    $(".update").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];


        var Item = $("#ItemDescription_" + id).val();
        var cateid = $("#recd").val();
        var spanItem = $("#spanItemDescription_" + id).val();
       
     

        if (id != "") {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateRecordRecre", "Settings")',
                data: { "id": id, "catee": Item, "cateid": cateid},
                dataType: "json",
                beforeSend: function () {//alert(id);
                },
                success: function (data) {

                    if (data.result == true) {
                        $("#Update_" + id).hide();
                        $("#Cancel_" + id).hide();
                        $("#Edit_" + id).show();

                        var Item = "#ItemDescription_" + id;
                        var spanItem = "#spanItemDescription_" + id;


                        $(Item).hide();
                        $(spanItem).show();
                        $(spanItem).text($(Item).val());
                    }
                    else {
                        alert('There is some error');
                    }
                }

            });
        }
    });

    $(".delete").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var flag = confirm('Are you sure to delete ??');
        if (id != "" && flag) {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DeleteRecordRecrea", "Settings")',
                data: { "id": id },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {

                    if (data.result == true) {
                        $("#Update_" + id).parents("tr").remove();
                    }
                    else {
                        alert('There is some error');
                    }
                }

            });
        }
    });


    function reloadGrid() {

        $.ajax(
            {
                type: "GET",
                url: '/Settings/ReloadGrid/',
                data: "{}",
                cache: false,
                dataType: "html",
                success: function (data)
                { $().html(data); }
            })
    }


</script>
