﻿



@*@{
        ViewBag.Title = "New School Operation";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }*@
<div class="list-group">


    <a href="@Url.Action("NewSchool", "Schools", new {sddc = Request.QueryString["sddc"]})" id="schoolprofileid" class="list-group-item @ViewBag.SchoolProfile text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />School Profile
    </a>
    <a href="@Url.Action("CreateStudent", "Schools", new {sddc = Request.QueryString["sddc"]})" class="list-group-item @ViewBag.StudentRecords text-center" onclick="return canCreateClass();">
        <h4 class="glyphicon glyphicon-users"></h4><br />Class Record
    </a>

    <a href="@Url.Action("SchoolFacility", "Schools", new {sddc = Request.QueryString["sddc"]})" class="list-group-item @ViewBag.SchoolSectionFacilityManagement text-center" onclick="return canCreateFacilityManagement();">
        <h4 class="glyphicon glyphicon-random"></h4><br />Facility Management
    </a>

  

</div>






