﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - School/Subject Recognition System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cssjqryUi")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)


   
    @*@Styles.Render("~/Content/css")
         @Styles.Render("~/Content/jqueryui")
         @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Content/font-awesome")*@

    @*<link href="~/Content/Site.css" rel="stylesheet" />*@

    <style>
        .navbar-header #weacimage {
            display: block;
            height: 150px;
            /*overflow:hidden;
        margin: -10px auto 40px;*/
            width: 500px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="waecimage"><img src="~/Content/waec.PNG" style="height:50px;margin-top: 3px;" id="waeclogo" /></div>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>



            <div class="navbar-collapse collapse navbar-left">
                <ul class="nav navbar-nav" style="font-weight:bold;">

                    <li>@Html.ActionLink("Creat", "CreateSchool", "School", null, new { @class = "active" })</li>
                    <li>@Html.ActionLink("Subject", "CreateSchoolSubject", "School", null, new { @class = "disable" })</li>
                    <li>@Html.ActionLink("Staff", "CreateSchoolStaff", "School", null, new { @class = "disable" })</li>
                    <li>@Html.ActionLink("ExamHalls", "CreateExaminationInfo", "School", null, new { @class = "disable" })</li>
                    <li>@Html.ActionLink("Classroom", "CreateClassroomInfo", "School", null, new { @class = "disable" })</li>
                    <li>@Html.ActionLink("Student", "CreateStudentInClass", "School", null, new { @class = "disable" })</li>

                    <li>@Html.ActionLink("Subject Offered", "SchoolSubjectOffered", "School", null, new { @class = "active" })</li>
                    <li>@Html.ActionLink("Report", "Pdf", "School", null, new { @class = "disable" })</li>
                    @*<li>@Html.ActionLink("Assessment", "Index", "Assessment", null, new { @class = "disable" }))</li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facility<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Equipment", "FacilityValue1", "School", null, new { @class = "active" })</li>
                            <li>@Html.ActionLink("Reagent", "ReagentFacility", "School", null, new { @class = "active"})</li>
                            <li>@Html.ActionLink("Laboratory", "LabFacility", "School", null, new { @class = "active" })</li>
                           <li>@Html.ActionLink("Library", "LibraryFacility", "School", null, new { @class = "active" })</li>
                            <li>@Html.ActionLink("Recreational", "RecreationalFacility", "School", null, new { @class = "active" })</li>
                            <li>@Html.ActionLink("Summary Assessment", "Assessment", "School", null, new { @class = "active"})</li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("Items", "FacilityValue1", "School")</li>*@
                    <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                    <li>@Html.ActionLink("Subject-items", "CreateSubjectItems", "Schools")</li>

                    @*<li class="@Html.ActivePage("School", "CreateSchool")">@Html.ActionLink("New School", "CreateSchool", "School")</li>
                        <li class="@Html.ActivePage("School", "CreateSchoolSubject")">@Html.ActionLink("School Subject", "CreateSchoolSubject", "School")</li>
                        <li class="@Html.ActivePage("School", "CreateExaminationInfo")">@Html.ActionLink("Examination Halls", "CreateExaminationInfo", "School")</li>
                        <li class="@Html.ActivePage("School", "CreateClassroomInfo")">@Html.ActionLink("Classroom", "CreateClassroomInfo", "School")</li>
                        <li class="@Html.ActivePage("School", "CreateStudentInClass")">@Html.ActionLink("Student in class", "CreateStudentInClass", "School")</li>
                        <li class="@Html.ActivePage("School", "FacilityValue1")">@Html.ActionLink("Items", "FacilityValue1", "School")</li>
                        <li class="@Html.ActivePage("School", "Dashboard")">@Html.ActionLink("Dashboard", "Index", "Home")</li>*@


                </ul>

            </div>

            @Html.Partial("_LoginPartial")
        </div>
    </div>

    @*<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>*@

    @*</div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - School/Subject Recognition System</p>
        </footer>
    </div>

  
    @*@Scripts.Render("~/bundles/facilityjs")*@

    @Scripts.Render("~/bundles/jquery")
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
 
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)







    



    @*<script type="text/javascript">
    jQuery.noConflict();
    $(document).ready(function () {
        $(function ($) {
            $("#StateID").on("change", function () {
                var selectedStateId = $(this).val();

                var options = {
                    url: '/School/RenderSelectLga?selectedId=' + selectedStateId,
                    type: "get"
                };
                $.ajax(options).done(function (data) {

                    var target = $("#LgaID");
                    target.children().remove();
                    target.html(data);
                });
            });

            //  $("#StateId").trigger("change");
        });
    });
    </script>*@


    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.js"></script>*@
    @*<script type="text/javascript">




         $(document).ready(function () {
             $('input[type=datetime]').datepicker({
                 dateFormat: "dd/M/yy",
                 changeMonth: true,
                 changeYear: true,
                 yearRange: "-60:+0"
             });

         });
        </script>*@

</body>
</html>
<script>

        $(function () {
        setNavigation();
    });

        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);

            $(".nav a").each(function () {
                var href = $(this).attr('href');
                if (path.substring(0, href.length) === href) {
                    $(this).closest('li').addClass('active');
                }
            });
        }
     </script>

    <style>
    #waecimage{
        position: relative;
    }
    #waeclogo{
        position: absolute;
        width: 80px;
        height: 50px;
        left: -60px;
    }
    .disable {
      pointer-events: none;
      cursor: default;
    }
    </style>
