﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - School/Subject Recognition System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .navbar-header #weacimage {
            display: block;
            height: 150px;
            /*overflow:hidden;
        margin: -10px auto 40px;*/
            width: 500px;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="waecimage"><img src="~/Content/waec.PNG" style="height:50px;" /></div>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">*@


            <div class="navbar-collapse collapse navbar-left">
                <ul class="nav navbar-nav" style="font-weight:bold;">
                    
                    <li>@Html.ActionLink("Set Staff Category", "CreateStaffCategory", "SchoolStaff")</li>
                    <li>@Html.ActionLink("Set Staff", "CreateSchoolStaff", "SchoolStaff")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>

                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>



            @*</ul>*@
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    @*</div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - School/Subject Recognition System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(function () {
            $(".jqueryui-marker-datepicker").attr("placeholder", "select date").datepicker({
                dateFormart: "yy-mm-dd",
                changeYear: true,
                showOn: "button"
            }).css("display", "inline-block").next("button").button({
                icons: { primary: "ui-icon calender" }, text: false
            });
        });

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>

