﻿

@{
    Layout = null;
}

<!DOCTYPE html>

@*<html>
    <head>
        <title>Subject Assessement</title>
    </head>
    <body>*@
@{
    SchoolRecognitionSystem.Models.AssessmentSummary vassessment = new SchoolRecognitionSystem.Models.AssessmentSummary();
}
@{
    var grid = new WebGrid(Model, canPage: true, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.NextPrevious);}
<div id="gridContent">
    @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header",
                htmlAttributes: new { id = "checkableGrid" },
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("ID", format: (item) => item.GetSelectLink(item.ID.ToString())),
                grid.Column("ItemDescription", " Name"),
                grid.Column(
                        format: @<text>
                        <input type="checkbox" value="1" id="cb1" name="childChkbox1" /><input type="hidden" value="@item.ID" />
                        </text>,
                                            header: "Excellence"
                                        ),
                    grid.Column(
                        format: @<text>
                            <input type="checkbox" value="2" id="cb1" name="childChkbox1" /><input type="hidden" value="@item.ID" />
                        </text>,
                                            header: "Very Good"
                                        ),
                    grid.Column(
                        format: @<text>
                            <input type="checkbox" value="3" id="cb1" name="childChkbox1" /><input type="hidden" value="@item.ID" />
                        </text>,
                                            header: "Good"
                                        ),
                    grid.Column(
                        format: @<text>
                            <input type="checkbox" value="4" id="cb1" name="childChkbox1" /><input type="hidden" value="@item.ID" /></text>,
                        header: "Fair"
                                        ),
                    grid.Column(
                        format: @<text>
                            <input type="checkbox" value="5" id="cb1" name="childChkbox1" /><input type="hidden" value="@item.ID" /></text>
                            ,
                                            header: "Poor"
                                        )

         //grid.Column("Description", "Description", style: "description"),
         //grid.Column("Quantity", "Quantity")
         ))
    @if (grid.HasSelection)
    {
        @*vassessment = (SchoolAndSubjectRecognition.Models.AssessmentSummary)grid.Rows[grid.SelectedIndex].Value;
            <b>Id</b> @vassessment.ID<br />
            <b>Name</b>  @vassessment.Facility<br />*@
        @*<b>Description</b> @vassessment.Description<br />
            <b>Quantity</b> @product.Quantity<br />*@
    }
</div>
@*</body>
    </html>*@

<div class="form-group">

    <div class="col-md-offset-3 col-md-12">
        <input type="submit" value="submit" onclick="SaveRecord();return false" />
        <a href="/School/CreateExaminationInfo" class="btn btn-warning">Next</a>
    </div>
</div>

<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.11.2.min.js" type="text/javascript"></script>

<style type="text/css">
    .webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 500px;
        background-color: #FCFCFC;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
        color: #FFF;
    }

    .webGrid th, .webGrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    .alt {
        background-color: #E4E9F5;
        color: #000;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .description {
        width: auto;
    }

    .select {
        background-color: #389DF5;
    }
</style>
<script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
<script type="text/javascript">

    function SaveRecord() {
        var lis = [];
        $('#checkableGrid input:hidden').each(function () {
            lis.push($(this).val());
        });

        var list = [];
        $('#checkableGrid input:checked').each(function () {
            list.push($(this).val());
        });

        // now names contains all of the names of checked checkboxes
        // do something with it for excamle post with ajax
        $.ajax({
            url: '@Url.Action("Index","Assessment")',
            type: 'POST',
            accept: 'application/json',
            data: { grades: list, items: lis },
            success: function (result) {
                $('input[type=checkbox]').each(function () {
                    $(this).prop('checked', false);
                });
                alert("success!");

            },
            error: function (result) {
                alert("error!");
            }
        });   //end ajax
    };

</script>





<script type="text/javascript">
    $(document).ready(function () {
        $("#checkableGrid input[type=checkbox]").click(function () {
            if (this.checked) {
                $(this).closest('tr').find('input[type=checkbox]').attr('checked', false);
                this.checked = true;
            }
        });
    });
</script>






