﻿@model IEnumerable<SchoolRecognitionSystem.Models.Facility>

@{
    ViewBag.Title = "Manipulate WebGrid Data";
}

<script src="~/Scripts/codejquery.js"></script>


<style type="text/css">
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 10pt;
        width: 100%;
        border-collapse: separate;
        border: solid 1px #ff6a00;
        background-color: white;
    }

        .webgrid-table td, th {
            border: 1px solid #ff6a00;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: black;
        color: lawngreen;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }
</style>









<div id="ajaxgrid">
    <div id="gridposition" style="width: 100%;">
        @{             @*rowsPerPage: 10,*@
            //canPage: true,
            var grid1 = new WebGrid(Model, ajaxUpdateContainerId: "gridContent");
            int rowNum = 0;
            @grid1.GetHtml(mode: WebGridPagerModes.All,
                             tableStyle: "webgrid-table",
                      headerStyle: "webgrid-header",
                      footerStyle: "webgrid-footer",
                      alternatingRowStyle: "webgrid-alternating-row",
                      rowStyle: "webgrid-row-style",
                      htmlAttributes: new { id = "positionGrid" },
                      fillEmptyRows: false,
                       columns: grid1.Columns(grid1.Column("Row Number", format: item => rowNum = rowNum + 1),
                   grid1.Column(null, format: @<input type="hidden" name="IDHidden" value="@item.ID" />),
                   grid1.Column("ItemDescription", header: "Item Description"),



                @*grid1.Column("userValue", "Quantity seen", format:@<text> <span class="display-mode">
                        <label id="lbluserValue">@item.userValue</label>
                    </span>
                    <input type="text" id="inUser" value="" class="display-mode" onfocus="inputFocus(this)" onblur="useOnBlur(@item.ID,this.value)" /> </text>, style: "col2Width"),*@



                   grid1.Column("userValue", header: "Item value", format:@<text><input type="text" id="inUser" onblur="useOnBlur(@item.ID,this.value)" value="" class="edit" /></text>)))

            @*grid1.Column("Action", format: @<text>
                 <button class="edit-user display-mode">Edit</button>
                <button class="save-user edit-mode">Save</button>
                <button class="cancel-user edit-mode">Cancel</button>
                </text>, style: "col3Width", canSort: false)));*@

        }


    </div>
</div>





<script type="text/javascript">
 function useOnBlur(d_id,d_user) {

        //var tr = $(this).parents('tr:first');
        //var itm = tr.find("#inItem").val();
        //var id = tr.find("#inID").val();
        //var qty = tr.find("#inQty").val();
     //var valu = tr.find("#inUser").val();

        var isSuccess = -1;

        //tr.find("#lblName").text(name);
        //tr.find("#lblEmail").text(email);

        //alert(d_id);
        //alert(d_user);
        var Facility =
            {
                "ID": d_id,
                "userValue": d_user
            };


        $.ajax({

            url: '/School/RecreationalFacility/',

            data: JSON.stringify(FacilitySetting),

            type: 'POST',

            contentType: 'application/json; charset=utf-8',

            success: function (result) {
                isSuccess = result;

            }

        }).done(function () {
            if (isSuccess == "1") {           // Successfully saved
                $('.userValue').change().css({ 'color': '#DE2A00' });
                //alert("Successfully Saved");
                //$("#userValue").attr("disabled", true);
            }
            else {                      // Data Error
                alert("Error. Please, check the data");
            }
        });

    };


</script>
<script>
    $(document).ready(function()
    {
        hideColumn = function (column) {
            $('tr').each(function () {
                $(this).find('td,th').eq(column).hide();
            });
        };
        hideColumn(1);
    });
</script>


