﻿<div class="panel">
    <div class="panel-heading">

    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">

                <div class="form-inline">
                    <select class="form-control" data-val="true" data-val-number="The field PageSize must be a number." data-val-required="The PageSize field is required." id="PageSize" name="PageSize">
                        <option selected="selected" value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                    <span>Rows per page</span>
                </div>
            </div>

            <div class="col-md-2"><p>Records : 5 out of 144</p></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <input class="form-control" type="text" name="SearchText" id="SearchText">
                </div>
            </div>
        </div>

        <div class="row space-box"></div>

        <div class="row">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="display: none;">
                        </th>
                        <th scope="col">
                            No.
                        </th>
                        <th scope="col">
                            <a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;sort=ItemDescription&amp;sortdir=ASC">Equipment <i class="fa fa-sort pull-right"></i></a>
                        </th>
                        <th scope="col">
                            <a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;sort=QuantityRequired&amp;sortdir=ASC">Quantity required <i class="fa fa-sort pull-right"></i></a>
                        </th>
                        <th scope="col">
                            <a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;sort=UserValue&amp;sortdir=ASC">Quantity seen <i class="fa fa-sort pull-right"></i></a>
                        </th>
                        <th scope="col">
                            <a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;sort=Specification&amp;sortdir=ASC">Specification <i class="fa fa-sort pull-right"></i></a>
                        </th>
                    </tr>
                </thead>
                <tfoot style="display: none;">
                    <tr>
                        <td colspan="6" style="display: none;">1 <a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=2">2</a> <a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=3">3</a> <a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=4">4</a> <a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=5">5</a> <a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=2">&gt;</a> </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td style="display: none;"><input type="hidden" name="cId" value="198"></td>
                        <td>1</td>
                        <td>Ballons</td>
                        <td>1 pkt. of 50</td>
                        <td><input data-recordid="0" type="text" id="inUser" onblur="useOnBlur('198', this)" value=""> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i><p class="message-output"></p></td>
                        <td>Any size</td>
                    </tr>
                    <tr>
                        <td style="display: none;"><input type="hidden" name="cId" value="199"></td>
                        <td>2</td>
                        <td>Test tubes</td>
                        <td>20</td>
                        <td><input data-recordid="0" type="text" id="inUser" onblur="useOnBlur('199', this)" value=""> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i><p class="message-output"></p></td>
                        <td>Ext. diam 25 cm, length=15cm</td>
                    </tr>
                    <tr>
                        <td style="display: none;"><input type="hidden" name="cId" value="200"></td>
                        <td>3</td>
                        <td>Ticker-timers, tapes and carbons discs</td>
                        <td>5</td>
                        <td><input data-recordid="0" type="text" id="inUser" onblur="useOnBlur('200', this)" value=""> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i><p class="message-output"></p></td>
                        <td>50-hz operating on 6-12V a.c.</td>
                    </tr>
                    <tr>
                        <td style="display: none;"><input type="hidden" name="cId" value="201"></td>
                        <td>4</td>
                        <td>Spring balances</td>
                        <td>30</td>
                        <td><input data-recordid="0" type="text" id="inUser" onblur="useOnBlur('201', this)" value=""> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i><p class="message-output"></p></td>
                        <td>0-19N X 0.1N</td>
                    </tr>
                    <tr>
                        <td style="display: none;"><input type="hidden" name="cId" value="202"></td>
                        <td>5</td>
                        <td>Plasticine</td>
                        <td>2kg</td>
                        <td><input data-recordid="0" type="text" id="inUser" onblur="useOnBlur('202', this)" value=""> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i><p class="message-output"></p></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div class="panel-footer">
        <div class="row">
            <div id="gridPager" class="space-box">
                <ul class="pagination"><li class="disabled"><a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=1">First</a></li><li class="disabled"><a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=1">Prev</a></li><li class="active"><a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=1">1</a></li><li><a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=2">2</a></li><li><a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=3">3</a></li><li><a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=4">4</a></li><li><a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=5">5</a></li><li><a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=2">Next</a></li><li><a href="/School/_ShowFacilitynewPV/?subjectid=3&amp;page=29">Last</a></li></ul>
            </div>
        </div>

    </div>

</div>