﻿@*@{
        ViewBag.Title = "New School Operation";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }*@
<div class="list-group">
    <a href="@Url.Action("Create", "SchoolStaffs", new{sddc =  Request.QueryString["sddc"]})" class="list-group-item @ViewBag.StaffRecords text-center">
        <h4 class="glyphicon glyphicon-user"></h4><br/>Manage Staff
    </a>
    <a href="@Url.Action("SchooStafflRecords", "SchoolStaffs", new{sddc =  Request.QueryString["sddc"]})" class="list-group-item @ViewBag.SchooStafflRecords text-center">
        <h4 class="glyphicon glyphicon-user"></h4><br />Staff List
    </a>
</div>






