﻿@*@{
        ViewBag.Title = "New School Operation";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }*@
<div class="list-group">
    @*<a href="@Url.Action("DefineOption", "Schools", new {schoolid=Request.QueryString["schoolid"]})" class="list-group-item @ViewBag.DefineOptions text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />Options For Subject Recognition
    </a>*@

    <a href="@Url.Action("UpdateSubject", "Schools")" class="list-group-item @ViewBag.UpdateSubject text-center subject">
        <h4 class="glyphicon glyphicon-home"></h4><br/>Subject
    </a>

    <a href="@Url.Action("UpdateTextBook", "Schools")" class="list-group-item @ViewBag.UpdateTextBook text-center textBook">
        <h4 class="glyphicon glyphicon-home"></h4><br />TextBook
    </a>
   

    <a href="@Url.Action("UpdateSchoolStaff", "Schools")" class="list-group-item @ViewBag.UpdateSchooStaff text-center teachers">
        <h4 class="glyphicon glyphicon-home"></h4><br />Teachers
    </a>

    <a href="@Url.Action("UpdateSchoolSubjectItems", "Schools")" class="list-group-item  @ViewBag.UpdateSchoolSubjectItems text-center subjecttems">
        <h4 class="glyphicon glyphicon-list-alt"></h4><br />Subject items
    </a>
    <a href="@Url.Action("", "Schools")" class="list-group-item @ViewBag.SubmitDetails text-center">
        <h4 class="glyphicon glyphicon-save"></h4><br />Finish(send mail)
    </a>
    @*<a href="@Url.Action("DefineOption", "Schools")" class="list-group-item @ViewBag.DefineOptions text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />Options For Subject Recognition
    </a>
    <a href="@Url.Action("UpdateTextBook", "Schools")" class="list-group-item @ViewBag.UpdateSubject text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />TextBook
    </a>
    <a href="@Url.Action("UpdateSubject", "Schools")" class="list-group-item @ViewBag.UpdateSubject text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />Subject
    </a>

    <a href="@Url.Action("UpdateSchoolStaff", "Schools",new {schoolid=Request.QueryString["schoolid"]},null)" class="list-group-item @ViewBag.UpdateSchooStaff text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />Teachers
    </a>
  
    <a href="@Url.Action("UpdateSchoolSubjectItems", "Schools",new {schoolid=Request.QueryString["schoolid"]})" class="list-group-item  @ViewBag.UpdateSchoolSubjectItems text-center">
        <h4 class="glyphicon glyphicon-list-alt"></h4><br />Subject items
    </a>
    <a href="@Url.Action("_Complete", "Schools")" class="list-group-item @ViewBag.SubmitDetails text-center">
        <h4 class="glyphicon glyphicon-save"></h4><br/>Finish(send mail)
    </a>*@
    @*<input type='hidden' value='@Request.QueryString["schoolid"]' id='schoolid' />*@
</div>


<script type="text/javascript">
    @*function getSchoolid() {
        var schid = $("#schoolid").val();
        console.log(schid);
        $.ajax({
            type: "POST",

            url: '@Url.Action("UpdateSubject", "Schools")',
            data: {
                schoolid: schid
            }
        });*@
    

</script>



