﻿@*@{
        ViewBag.Title = "New School Operation";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }*@
<div class="list-group">


    <a href="@Url.Action("Subjects", "Schools")" class="list-group-item  @ViewBag.RecommendedSubjects text-center">
        <h4 class="glyphicon glyphicon-list-alt"></h4><br />School Subjects
    </a>
    <a href="@Url.Action("TextBook", "Schools")" class="list-group-item @ViewBag.Textbook text-center">
        <h4 class="glyphicon glyphicon-book"></h4><br/>Subjects TextBooks
    </a>
    <a href="@Url.Action("StaffSubject", "Schoolstaffs")" class="list-group-item @ViewBag.StaffSubject text-center">
        <h4 class="glyphicon glyphicon-book"></h4><br/>Staff Subjects
    </a>
    <a href="@Url.Action("StaffSubjectClass", "Schoolstaffs")" class="list-group-item @ViewBag.StaffSubjectClass text-center">
        <h4 class="glyphicon glyphicon-book"></h4><br />Staff Classes
    </a>
    <a href="@Url.Action("FacilityTabbingg", "Schools")" class="list-group-item @ViewBag.SubjectFacilityManagement text-center">
        <h4 class="glyphicon glyphicon-random"></h4><br/>Facility Management
    </a>
    <a href="@Url.Action("Finish", "Schoolstaffs")" class="list-group-item @ViewBag.Finish text-center">
        <h4 class="glyphicon glyphicon-random"></h4><br />Preview
    </a>

</div>






