﻿
@*@{
        ViewBag.Title = "New School Operation";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }*@
<div class="list-group">

    @*<a href="@Url.Action("ActionPerform", "Schools")" class="list-group-item @ViewBag.ActionPerform text-center ">
            <h4 class="glyphicon glyphicon-home"></h4><br />Subject/General Recognition
        </a>*@

    <a href="@Url.Action("School", "Vet", new {sddc = Request.QueryString["sddc"] })" id="schoolprofileid" class="list-group-item @ViewBag.EditSchool text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br />School Profile
    </a>
    <a href="@Url.Action("EditSubject", "Vet", new {sddc = Request.QueryString["sddc"] })" class="list-group-item  @ViewBag.UpdateSubject text-center">
        <h4 class="glyphicon glyphicon-list-alt"></h4><br />School Subjects
    </a>

    @*<a href="@Url.Action("TextbookIndex", "SchoolsEdit", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.EditTextbook text-center">
            <h4 class="glyphicon glyphicon-book"></h4><br />Subjects TextBooks
        </a>*@
    <a href="@Url.Action("SchoolClassList", "Vet", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.EditClass text-center">
        <h4 class="glyphicon glyphicon-user"></h4><br />Class Record
    </a>
    <a href="@Url.Action("StaffList", "Vet", new {sddc = Request.QueryString["sddc"]})" class="list-group-item @ViewBag.EditStaff text-center">
        <h4 class="glyphicon glyphicon-users"></h4><br />Staff
    </a>
    <a href="@Url.Action("StaffSubject", "Vet", new {sddc = Request.QueryString["sddc"]})" class="list-group-item @ViewBag.StaffSubjectEdit text-center">
        <h4 class="glyphicon glyphicon-users"></h4><br />StaffSubject
    </a>

    <a href="@Url.Action("StaffSubjectClass", "Vet", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.StaffSubjectClassEdit text-center">
        <h4 class="glyphicon glyphicon-user"></h4><br />Staff Subject per class
    </a>

    <a href="@Url.Action("FacilityTabbingg", "Vet", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.EditEquipment text-center">
        <h4 class="glyphicon glyphicon-random"></h4><br />Subject Facility
    </a>
    @*</a><a href="@Url.Action("ReagentFacilityy", "SchoolsEdit", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.EditReagent text-center">
            <h4 class="glyphicon glyphicon-file"></h4><br />Reagent
        </a>*@
    @*<a href="@Url.Action("EditEquipment", "SchoolsEdit", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.EditEquipment text-center">
            <h4 class="glyphicon glyphicon-random"></h4><br />Equipment

        </a><a href="@Url.Action("EditReagent", "SchoolsEdit", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.EditReagent text-center">
            <h4 class="glyphicon glyphicon-file"></h4><br />Reagent
        </a>*@

    @*<a href="@Url.Action("EditLab", "SchoolsEdit", new {sddc = Request.QueryString["sddc"] })" class="list-group-item  @ViewBag.EditLab text-center">
            <h4 class="glyphicon glyphicon-list-alt"></h4><br />Laboratory
        </a>*@
    <a href="@Url.Action("EditLibrary", "Vet", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.EditLibrary text-center">
        <h4 class="glyphicon glyphicon-save"></h4><br />School Facility
    </a>
    @*<a href="@Url.Action("EditExam", "SchoolsEdit", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.EditExaminational text-center">
            <h4 class="glyphicon glyphicon-save"></h4><br/>Examination
        </a>
        <a href="@Url.Action("EditRecreational", "SchoolsEdit", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.EditRecreational text-center">
            <h4 class="glyphicon glyphicon-save"></h4><br />Recreational
        </a>*@

    <a href="@Url.Action("FinishX", "Vet", new {sddc = Request.QueryString["sddc"] })" class="list-group-item @ViewBag.Finish text-center">
        <h4 class="glyphicon glyphicon-random"></h4><br />Finish
    </a>
</div>






