﻿

@*@{
    ViewBag.Title = "New School Operation";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}*@
<div class="list-group">


    <a href="@Url.Action("NewSchool", "Schools")" id="schoolprofileid" class="list-group-item @ViewBag.SchoolProfile text-center ">
        <h4 class="glyphicon glyphicon-home"></h4><br/>School Profile
    </a>
    <a href="@Url.Action("Subjects", "Schools")" class="list-group-item  @ViewBag.RecommendedSubjects text-center">
        <h4 class="glyphicon glyphicon-list-alt"></h4><br/>Recommended Subjects
    </a>
    <a href="@Url.Action("TextBook", "Schools")" class="list-group-item @ViewBag.Textbook text-center">
        <h4 class="glyphicon glyphicon-book"></h4><br/>Subjects TextBooks
    </a>
    <a href="@Url.Action("Create", "SchoolStaffs")" class="list-group-item @ViewBag.StaffRecords text-center">
        <h4 class="glyphicon glyphicon-user"></h4><br/>Create Staff
    </a>
    <a href="@Url.Action("StaffSubjectClass", "SchoolStaffs")" class="list-group-item @ViewBag.StaffSubjectClass text-center">
        <h4 class="glyphicon glyphicon-user"></h4><br />Staff Subject per class
    </a>
    <a href="@Url.Action("CreateStudent", "Schools")" class="list-group-item @ViewBag.StudentRecords text-center">
        <h4 class="glyphicon glyphicon-users"></h4><br/>Class Record
    </a>

    <a href="@Url.Action("FacilityTabbingg", "Schools")" class="list-group-item @ViewBag.FacilityManagement text-center">
        <h4 class="glyphicon glyphicon-random"></h4><br/>Facility Management
    </a>
   
 
</div>
        
   




