﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <meta name="ApplicationRoot" content="/" />
    <title>Error occurred</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    <link href="/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/Content/css/essentials.css" rel="stylesheet"/>
    <link href="/Content/css/header-1.css" rel="stylesheet"/>
    <link href="/Content/css/layout.css" rel="stylesheet"/>
    <link href="/Content/css/select2.min.css" rel="stylesheet"/>


</head>
<body class="smoothscroll enable-animation">

<div id="wrapper">
    <!-- Top Bar -->

    <!-- /Top Bar -->
    <div id="header" class="sticky clearfix">

        <!-- /SEARCH HEADER -->
        <!-- TOP NAV -->
        <header id="topNav">
            <div>

                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Logo -->
                <article class="row">
                    <div class="col-md-8">
                        <a class="logo" href="/">
                            <img src="/Content/images/bgLogo.png" alt=""/>
                        </a>
                        <div id="waecdescr">
                            <h1>The West African Examinations Council</h1>
                            <h4>School Recognition System </h4>

                        </div>
                    </div>
                   
                </article>


            </div>
            <section style="position: absolute;top: -9px;right: 25px; z-index: 999999;    max-width: 500px;">



            </section>
        </header>
        <!-- /Top Nav -->

    </div>





    <div data-ng-app="app">
         <ol class="breadcrumb">
            <li><i class="glyphicon glyphicon-plane"></i></li>

        </ol>

        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <div class="jumbotron text-center" style="background-color: transparent;">
                    <h1 class="text-danger">Page not loaded</h1>
                    <p>The page you requested couldn't be completed due to errors. Please try again later.</p>
                </div>
                
            </div>
        </div>


    </div>

    
</div>



</body>
</html>
