﻿@model SchoolRecognitionSystem.Models.SchoolStaffCategory

@{
    ViewBag.Title = "CreateStaffCategory";
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
}

<h2>Create Staff Category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p class="label-success">@TempData["ItemExist"]</p>
        <p class="label-success">@TempData["Success"]</p>
        @*<h4>SchoolStaffCategory</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         
        <div class="form-group">
            @Html.LabelFor(model => model.Category, "Staff category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isDefault, "is default", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.isDefault)
                    @Html.ValidationMessageFor(model => model.isDefault, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
