﻿@using PagedList
@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolEquipConfig>
@{
    ViewBag.Title = "FacilityValue";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}


<html>
<head>
    <title>Using PartialView</title>

</head>

<body style="background-color: #FFFFFF;">
    <h1>Equipment Facility</h1>

    @*<p>School Name:<strong>@TempData["Fac"]</strong></p>*@
    <p>
        School Name:<strong>@TempData["facility"]</strong>
    </p>

    @*<h3>Enter value of items by their subject</h3>*@

    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Recognition <span class="text-danger required-field">*</span></label>
            <div class="col-md-5">
                @Html.DropDownList("ID", ViewBag.schoolRecognitionTypes as IEnumerable<SelectListItem>, "Select Recognition", new { id = "ddlrec", @class = "form-control" })
                @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ddlfaci">Facilities <span class="text-danger required-field">*</span>:</label>
            <div class="col-md-5">
                @Html.DropDownList("ddlfaci", ViewBag.FacilityNames as IEnumerable<SelectListItem>, new { id = "ddlfaci", @class = "form-control" })
                @*<select id="ddlfaci" name="ddlfaci" class="form-control"></select>*@
            </div>
        </div>
        <div id="itemsDetailTable" style="color: green; font-weight: bold"></div>
    </form>
    <div class="clearfix"></div>
    @if ((ViewBag.factext == "EQUIPMENT FACILITY" || ViewBag.factext == "REAGENT FACILITY"))
    {
        if (Model.Count > 0)
        {
            <section class="form-group">
                <div class="table-responsive">



                    <a href="#" class="add">Add new facility</a>



                    <table class="table" id="tblData" style="margin-top: 30px;">
                        <thead>
                            <tr>
                                <th style="border: 2px solid black; text-align: center; width: 25%">
                                    <a>ID</a>
                                </th>

                                <th style="border: 2px solid black; text-align: center; width: 25%">
                                    <a>Item Description</a>
                                </th>

                                <th style="border: 2px solid black; text-align: center; width: 12%">
                                    <a>Quantity Required</a>
                                </th>
                                <th style="border: 2px solid black; text-align: center; width: 25%">
                                    <a>Subject</a>
                                </th>

                                <th style="border: 2px solid black; text-align: center; width: 12%">
                                    <a>Specification</a>
                                </th>
                                <th style="border: 2px solid black; text-align: center; width: 12%">
                                    <a>Action</a>
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                    {
                                <tr>
                                    <td class="ID" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                        <span>@item.ID</span>
                                        <input type="text" value="@item.ID" style="display: none" />
                                    </td>
                                    <td class="ItemDescription" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                        <span id="spanItemDescription_@item.ID">@item.Facility.ItemDescription</span>
                                        @Html.TextBox("ItemDescription_" + (int)item.ID, (string)item.Facility.ItemDescription, new { @style = "display:none" })
                                        @*<input type = "text" value = "@item.Facility.ItemDescription" style = "display: none" />*@
                                    </td>
                                    <td class="QuantityRequired" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                        <span id="spanQuantity_@item.ID">@item.QuantityRequired</span>
                                        @Html.TextBox("QuantityRequired_" + (int)item.ID, (string)item.QuantityRequired, new { @style = "display:none" })
                                    </td>
                                    <td class="LongName" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                        <span id="spansubject_@item.ID">@item.Subject.LongName</span>
                                        @Html.DropDownList("Subjectss_" + (int)item.ID, (SelectList)ViewBag.Subjectss, null, new { @style = "display:none" })
                                    </td>
                                    <td class="Specification" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                        <span id="spanSpecification_@item.ID">@item.Specification</span>
                                        @Html.TextBox("Specification_" + (int)item.ID, (string)item.Specification, new { @style = "display:none" })
                                        @*<input type = "text" value="@item.Specification" style="display: none"/>*@
                                    </td>
                                    <td class="Action" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                        <a href="#" id="Edit_@item.ID" class="edit">Edit&nbsp;&nbsp;</a>
                                        <input id="Subj_@item.ID" type="hidden" value="@item.Subject.ID" />
                                        <a href="#" id="Update_@item.ID" style="display: none" class="update">Update&nbsp;</a>
                                        <input id="Subj_@item.ID" type="hidden" value="@item.Subject.ID" />
                                        <a href="#" id="Cancel_@item.ID" style="display: none" class="cancel">Cancel&nbsp;</a>
                                        <a href="#" id="Delete_@item.ID" class="delete">Delete</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <div id='Paging' style="text-align: center">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("CreateSubjectItems", new { page, recid = ViewBag.RecognitionId, facid = ViewBag.FacilityId, factext = ViewBag.factext }))
                    </div>
                </div>
            </section>
        }
        else
        {
            <div class="well" style="margin-top: 30px;">
                <h3>Please select appropraite recogntition type and facility.</h3>
            </div>

        }

    }
    else if (ViewBag.factext == "LABORATORY FACILITY")
    {
        var lebEquip = (IPagedList<SchoolLabConfig>)ViewBag.labEquipment;

        if (lebEquip.Count > 0)
        {
            <div class="table-responsive">
                <a href="#" class="add">Add new facility</a>

                <table class="table" id="tblData" style="margin-top: 30px;">
                    <thead>
                        <tr>
                            <th style="border: 2px solid black; text-align: center; width: 25%">
                                <a>ID</a>
                            </th>

                            <th style="border: 2px solid black; text-align: center; width: 25%">
                                <a>Item Description</a>
                            </th>

                            <th style="border: 2px solid black; text-align: center; width: 12%">
                                <a>Quantity Required</a>
                            </th>
                            <th style="border: 2px solid black; text-align: center; width: 25%">
                                <a>Subject</a>
                            </th>

                            <th style="border: 2px solid black; text-align: center; width: 12%">
                                <a>Specification</a>
                            </th>
                            <th style="border: 2px solid black; text-align: center; width: 12%">
                                <a>Action</a>
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lebEquip)
                        {
                            <tr>
                                <td class="ID" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                    <span>@item.ID</span>
                                    <input type="text" value="@item.ID" style="display: none" />
                                </td>
                                <td class="ItemDescription" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                    <span id="spanItemDescription_@item.ID">@item.Facility.ItemDescription</span>
                                    @Html.TextBox("ItemDescription_" + (int)item.ID, (string)item.Facility.ItemDescription, new { @style = "display:none" })
                                    @*<input type = "text" value = "@item.Facility.ItemDescription" style = "display: none" />*@
                                </td>

                                <td class="LongName" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                    <span id="spansubject_@item.ID">@item.Subject.LongName</span>
                                    @Html.DropDownList("Subjectss_" + (int)item.ID, (SelectList)ViewBag.Subjectss, null, new { @style = "display:none" })
                                </td>

                                <td class="Action" style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                    <a href="#" id="Edit_@item.ID" class="edit">Edit&nbsp;&nbsp;</a><input id="Subj_@item.ID" type="hidden" value="@item.Subject.ID" />
                                    <a href="#" id="Update_@item.ID" style="display: none" class="update">Update&nbsp;</a><input id="Subj_@item.ID" type="hidden" value="@item.Subject.ID" />
                                    <a href="#" id="Cancel_@item.ID" style="display: none" class="cancel">Cancel&nbsp;</a><a href="#" id="Delete_@item.ID" class="delete">Delete</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <div id='Paging' style="text-align: center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("CreateSubjectItems", new { page, recid = ViewBag.RecognitionId, facid = ViewBag.FacilityId, factext = ViewBag.factext }))
                </div>
            </div>
        }
        else
        {
            <div class="well" style="margin-top: 30px;">
                <h3>Please select appropraite recogntition type and facility.</h3>
            </div>
        }


    }

    @section scripts
{

        <script type="text/javascript">

        $(document).ready(function() {

            $('#ddlrec').change(function() {

                $.ajax({
                    type: "post",
                    url: "/Settings/GetFacility",
                    data: { recid: $('#ddlrec').val() },
                    datatype: "json",
                    traditional: true,
                    success: function(data) {
                        var fac = "<select id='ddlfaci'>";
                        fac = fac + '<option value="">please select</option>';
                        for (var i = 0; i < data.length; i++) {
                            fac = fac + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';

                        }
                        fac = fac + '</select>';

                        $('#ddlfaci').html(fac);
                    }
                });
            });

            function getEquipmentDiv(ddlrec, ddlfaci) {

                var textitem = $("#ddlfaci option:selected").text();

                $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
                if (parseInt(ddlfaci) > 0) {
                    document.location = '/Settings/CreateSubjectItems?recid=' + ddlrec + "&facid=" + ddlfaci + "&factext=" + textitem;
                } else {
                    $("#itemsDetailTable").html("No item selected yet.");
                }
            }

            var selectedFacility;
            var selecteditem;

            $("#ddlfaci").change(function() {
                selecteditem = $("#ddlrec").val().trim();
                selectedFacility = $("#ddlfaci").val().trim();
                if (selectedFacility == "please select") {
                    alert('Please select a facility.');
                } else {
                    getEquipmentDiv(selecteditem, selectedFacility);
                }
            });


            $('.add').live('click', function(e) {
                e.preventDefault();
                var existrow = $('.save').length;
                if (existrow == 0) {
                    var index = $("#tblData tbody tr").length + 1;
                    var Item = "ItemDescription_" + index;
                    var Quantity = "QuantityRequired_" + index;
                    var subject = "Subjectss_" + index;
                    var Specification = "Specification_" + index;
                    var Save = "Save_" + index;
                    var Cancel = "Cancel_" + index;
                    var strOption = "";

                    $.getJSON('/Settings/SubjectList/', function(data) {

                        strOption = '<option value="0" selected>---select a subject--</option>';
                        for (i = 0; i < data.length; i++) {
                            strOption += '<option value="' + data[i].ID + '">' + data[i].LongName + '</option>';
                        }
                        if (data.length > 0) {
                            var tr = '<tr id="add-row" class="alternate-row">' +
                                '<td>&nbsp;</td><td><span><input id="' + Item + '" type="text" /></span></td>' +
                                '<td><span><input id="' + Quantity + '" type="text" /></span></td>' +
                                '<td><span><select id="' + subject + '" class="ty">' + strOption + '</select></span></td>' +
                                '<td><span><input id="' + Specification + '" type="text" /></span></td>' +
                                '<td> <a href="#" id="' + Save + '" class="save">Save</a>' +
                                '<a href="#" id="' + Cancel + '"  class="icancel">Cancel</a></td>' +
                                '</tr>';

                            $('#tblData tbody').prepend(tr);
                            // console.log(tr);
                        }

                    });

                } else {
                    alert('First Save your previous record !!');
                }

            });

            $(".icancel").live("click", function() {
                var flag = confirm('Are you sure to cancel');
                if (flag) {
                    $(this).parents("tr").remove();
                }

            });




            $(".save").live("click", function() {
                // var id = $("#tbldata tbody tr").length;

                var str = $(this).attr("id").split("_");
                id = str[1];

                var Item = $("#ItemDescription_" + id).val();
                var spanItem = $("#spanItemDescription_" + id).val();

                var Quantity = $("#QuantityRequired_" + id).val();
                var spanQuantity = "#spanQuantity_" + id;

                var Specification = $("#Specification_" + id).val();
                var spanSpecification = $("#spanSpecification_" + id).val();
                var Sub = $("#Subjectss_" + id);
                var spansubject = "#spansubject_" + id;
                if (id != "") {
                    var recc = @Html.Raw(Json.Encode(ViewBag.RecognitionId));

                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("SaveRecordEquip", "Settings")',
                        //data: { "catee": Item, "SU": Sub, "Quant": Quantity, "fac": fa },
                        data: { "catee": Item, "SU": $(Sub).val(), "Quant": Quantity, "specification": Specification, "recid": recc },
                        dataType: "json",
                        beforeSend: function() {},
                        success: function(data) {
                            if (data.result > 0) {
                                console.log(data.result);
                                $("#itemsDetailTable").html("Record saved successfully !!");

                                var rows = "<tr>" +
                                    "<td id='ID'>" + data.result + "</td>" +
                                    "<td id='spanItemDescription_'+data.result>" + Item + "</td>" +
                                    "<td id='spanQuantityRequired_'+data.result>" + Quantity + "</td>" +
                                    "<td id='spansubject_'+data.result>" + $("#Subjectss_" + id+" option:selected").text() + "</td>" +
                                    "<td class='spanSpecification_'+data.result>" + Specification + "</td>" +
                                    "</tr>";

                                $('#tblData tbody').prepend(rows);
                                $('#add-row').hide();
                            } else {
                                alert('There is some error');

                            }




                        }

                    });
                }
            });

            $(".edit").on("click", function(e) {
                var str = $(this).attr("id").split("_");
                id = str[1];
                e.preventdefault();
              alert('wow');
                var Item = "#ItemDescription_" + id;
               var spanItem = "#spanItemDescription_" + id;

                var Quantity = "#QuantityRequired_" + id;
                var spanQuantity = "#spanQuantity_" + id;

                var Subject = "#Subjectss_" + id;
                var spansubject = "#spansubject_" + id;

                var Specification = "#Specification_" + id;
                var spanSpecification = "#spanSpecification_" + id;


                $(Item).show();
                $(spanItem).hide();
                //$(equip).show();
                $(Quantity).show();
                $(spanQuantity).hide();

                $(Specification).show();
                $(spanSpecification).hide();


                var sub = $("#Subj_" + id).val();
                $(Subject).show();


//$(Subject).val(sub).change(function () {alert("Done") });
                $(Subject).val(sub).change();

                $(spansubject).hide();

                $(this).hide();
                $("#Update_" + id).show();
                $("#Cancel_" + id).show();
            });


            $(".update").live("click", function() {
                var str = $(this).attr("id").split("_");
                id = str[1];


                var Item = $("#ItemDescription_" + id).val();
                var spanItem = $("#spanItemDescription_" + id).val();

                var Quantity = $("#QuantityRequired_" + id).val();
                var spanQuantity = $("#spanQuantity_" + id).val();

                var Subject = $("#Subjectss_" + id).val();
                var spansubject = $("#spansubject_" + id).val();

                var Specification = $("#Specification_" + id).val();
                var spanSpecification = $("#spanSpecification_" + id).val();


                if (id != "") {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("UpdateRecordE", "Settings")',
                        data: { "id": id, "catee": Item, "Quant": Quantity, "sub": Subject, "equipID": equip },
                        dataType: "json",
                        beforeSend: function() { //alert(id);
                        },
                        success: function(data) {

                            if (data.result == true) {
                                $("#Update_" + id).hide();
                                $("#Cancel_" + id).hide();
                                $("#Edit_" + id).show();

                                var Item = "#ItemDescription_" + id;
                                var spanItem = "#spanItemDescription_" + id;

                                var Quantity = "#QuantityRequired_" + id;
                                var spanQuantity = "#spanQuantity_" + id;

                                var Subject = "#LongName_" + id;
                                var spansubject = "#spansubject_" + id;

                                var Specification_ = "#Specification_" + id;
                                var spanSpecification = "#spanSpecification_" + id;


                                $(Item).hide();
                                $(spanItem).show();

                                $(Quantity).hide();
                                $(spanQuantity).show();

                                $(spanSpecification).show();
                                $(Specification).hide();

                                $(Subject).hide();
                                $(spansubject).show();

                                $(spanItem).text($(Item).val());
                                $(spanQuantity).text($(Quantity).val());
                                $(spansubject).text($(Sub).text());
                                $(spanSpecification).text($(Specification).val());
                                //$(spansubject).val(Subject).change();


                            } else {
                                alert('There is some error');
                            }
                        }

                    });
                }
            });


            $(".delete").live("click", function() {
                var str = $(this).attr("id").split("-");
                id = str[1];

                //equip = $("#eqpd").val();

                var flag = confirm('Are you sure to delete ??');
                if (id != "" && flag) {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("DeleteRecordEquip", "Settings")',
                        data: { "id": id, "facid": fa },
                        dataType: "json",
                        beforeSend: function() {},
                        success: function(data) {

                            if (data.result == true) {
                                $("#Update_" + id).parents("tr").remove();
                            } else {
                                alert('There is some error');
                            }
                        }

                    });
                }
            });

        });
        </script>
    }
</body>
</html>
