﻿

@model IEnumerable<SchoolRecognitionSystem.Models.FacilityCategory>
@foreach (var pc in Model)
{
    if (ViewBag.selectedId == 0)
    {
        <option value="@pc.ID">@pc.TypeOfFacility</option>
    }
    else
    {
        if ((int)ViewBag.selectedId == @pc.ID)
        {
            <option value="@pc.ID" selected="selected">@pc.TypeOfFacility</option>
        }
        else
        {
            <option value="@pc.ID">@pc.TypeOfFacility</option>
        }
    }
}

