﻿@using SchoolRecognitionSystem.Models
@model UserViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
@*@if (TempData["Message"] != null)
{
    <div id="result" class="alert alert-success">
        @TempData["Message"]
    </div>
}*@
@if (TempData["Message"] != null)
{
    <div id="result" class="alert alert-error">
        @TempData["Message"]
    </div>
}
<h2>Change Password</h2>
@*@if (TempData["Message"] != null)
{ <div class="alert alert-primary margin-bottom-30">
        <span class="myInfowtb">
            @TempData["Message"]
        </span>
    </div>}*@
@using (Html.BeginForm("ChangePassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "sky-form boxed", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-12 col-sm-12">
        @Html.LabelFor(m => m.EmailAddress, new {@class = "label"})
        <div class="input">
            <i class="ico-append fa fa-envelope"></i>
            @Html.TextBoxFor(m => m.EmailAddress, new Dictionary<string, object> {{"class", "form-control"}, {"placeholder", "--Email Address--"}})
            <span class="tooltip tooltip-top-right">Enter a valid email address[required]</span>
            @Html.ValidationMessageFor(m => m.EmailAddress, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        @Html.LabelFor(m => m.OldPassword, new {@class = "label"})
        <div class="input">
            <i class="ico-append fa fa-lock"></i>
            @Html.PasswordFor(m => m.OldPassword, new Dictionary<string, object> {{"class", "form-control"}, {"placeholder", "--Password--"}})
            <b class="tooltip tooltip-top-right">Enter the user password[required]</b>


        </div>@Html.ValidationMessageFor(m => m.OldPassword, "", new {@class = "text-danger"})

    </div>

    <div class="col-md-12 col-sm-12">
        @Html.LabelFor(m => m.NewPassword, new { @class = "label" })
        <div class="input">
            <i class="ico-append fa fa-lock"></i>
            @Html.PasswordFor(m => m.NewPassword, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Password--" }})
            <b class="tooltip tooltip-top-right">Enter the user password[required]</b>
        </div>@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })

    </div>



                        <div class="col-md-12 col-sm-12">
                                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label" })
                                                    <div class="input">
                                                        <i class="ico-append fa fa-lock"></i>
                                                        @Html.PasswordFor(m => m.ConfirmPassword, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Confirm Password--" }})
                                                        <b class="tooltip tooltip-top-right">Confirm the password[required]</b>

                                                    </div>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                          </div>


    @*<div class="col-md-12 col-sm-12">
        Old Password
        <div class="input">
            <i class="ico-append fa fa-lock"></i>
            @Html.PasswordFor(m => m.Password, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Old Password--" } })
            <b class="tooltip tooltip-top-right">Enter the old password[required]</b>
        </div>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

    </div>*@


    @*<div class="form-group">
        <div class="col-md-12 col-sm-12">
            New Password
            <i class="ico-append fa fa-lock"></i>
            <input id="NewPassword" class="text-box single-line form-control" type="text" name="NewPassword" onfocus="this.type='password'">
            <b class="tooltip tooltip-top-right">Enter the old password[required]</b>
        </div>
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>*@
    
  


    <footer>
        <button type="submit" id="btnSave" name="btnSave" class="btn btn-primary btn-sm pull-right"><i class="fa fa-save"></i> Change Password</button>
        @*<button type="button" id="btnCancel" name="btnCancel" class="btn btn-primary btn-sm pull-right" onclick="javascript: history.back();"><i class="fa fa-close"></i> Cancel</button>*@
        <br />
        @*<div class="forgot-password pull-left">
                @Html.ActionLink("Forgot Password", "ForgotPassword") <br />
                <b> @Html.ActionLink("Existing User? Login", "Index")</b>
            </div>*@
    </footer>

}
@section Scripts{
    
}

