﻿@model SchoolRecognitionSystem.Classes.Gmail
@{
    ViewBag.Title = "User Confirmation";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section>
    <div class="container">

        <!-- CONFIRMATION FINAL MESSAGE -->
        <div class="col-sm-offset-3">
            <div class="panel panel-collapse">
                <div class="panel-heading panel-heading-transparent">
                    <h3>Thank you, @Session["UserEmail"]</h3>
                    <h3>
                        @if (TempData["Message"] != null)
                    {
                        @Html.Raw(@TempData["Message"])
                    }
                </h3>
                    <h3>You cannot login for now. An email will be sent to your waec recognised email, notifying, you have been activated to start using the application.Please check your email</h3>
                            @*<strong>WAEC School Recognition Portal</strong>*@
                       
                             @*<a href="@Url.Action("LogOut", "Schools")"> </a>[Log out]
                            else
                            { <text>No Action was initiated by any user at the moment</text> }*@
                    
                            @if (TempData["FailureSuccessMsg"] != null)
                            {<h1 class="success-pane">
                        @Html.Raw(TempData["FailureSuccessMsg"])
                    </h1>
                            }
                           

                            @*@using (Html.BeginForm("SendEmail1", "Schools", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {


                                }*@


                            <footer>
                                <div class="forgot-password pull-left">

                                  @Html.ActionLink("Close", "AD_Authentication", "Home", new { @class = "btn btn-primary" }) <br/>
                                </div>
                            </footer>
                        </div>

                    </div>
                    <!-- /CONFIRMATION FINAL MESSAGE -->
                </div>
            </div>
        </section>



        @section Scripts{
            <script type="text/javascript">


            </script>
        }