﻿@using SchoolRecognitionSystem.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="container">
    <div class="row">
        <br />
        <div class="col-md-5" id="leftInfo">
            <div class="msgForm">
                <div class="col-md-12">

                    <div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-left" style="min-height: 264px;">
                        <div class="front">
                            <div class="box1" style="background-color: #fff; min-height: 264px;">
                                <div class="box-icon-title">
                                    <i class="glyphicon glyphicon-erase"></i>
                                    <h2>Reset User Password</h2>
                                </div>
                                <ul>
                                    <li>
                                        Registered users can use this interface to recover their passowrd
                                    </li>
                                    <li>
                                        Recovered password would be sent to the user's email address supplied during the registration stage
                                    </li>
                                    <li>
                                        User verification code requested on this page was sent to the User email address after the registration process
                                    </li>
                                    <li>
                                        Already a registered user, <a href="@Url.Action("Index", "Home")"><i class="fa fa-sign-in"></i>click here</a>
                                    </li>
                                    <li>
                                        If you do not have a user account yet, <a href="@Url.Action("Register", "Home")"><i class="fa fa-user"></i>click here</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-collapse">
                
                    @if (TempData["Message"] != null)
            {  <div class="alert alert-primary">
                    <span class="myInfowtb">
                        @TempData["Message"]
                    </span>
                </div> }

                    @if (TempData["ErrorMessage"] != null)
                    {  <div class="alert alert-primary">
                    <span class="msgError">
                        @TempData["ErrorMessage"]
                    </span>
                </div> }
                    @if (TempData["SavedMessage"] != null)

                    { <div class="alert alert-primary">
                    <span class="msgSucess">
                        @TempData["SavedMessage"]
                    </span>
                </div> }
                <!-- /ALERT -->
                <div class="panel-body">
                    @using (Html.BeginForm("ForgotPassword", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "sky-form boxed", role = "form" }))
            {
                        <header><i class="fa fa-asterisk"></i> <span class="small"></span><b>Recover</b>  &raquo;@ViewBag.Title</header>
                        <fieldset class="nomargin">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.Email, new { @class = "label" })
                                <div class="input">
                                    <i class="ico-append fa fa-envelope"></i>
                                    @Html.TextBoxFor(m => m.Email, new Dictionary<string, object> { { "placeholder", "--Email Address--" } })
                                    <span class="tooltip tooltip-top-right">Enter your Email Address</span>

                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-sign-in"></i> Recover Password</button>
                            <div class="forgot-password pull-left">
                                @Html.ActionLink("Existing User", "Login") <br/>
                                
                                <b> @Html.ActionLink("New User? Register", "Register")</b>
                            </div>
                        </footer>


                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
