﻿@model SchoolRecognitionSystem.Models.LoginViewModel
@{
    ViewBag.Title = "Welcome Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- REVOLUTION SLIDER -->
<div class="alert alert-success bordered-bottom nomargin">
    <div class="container">

        <div class="row">

            <div class="col-md-9 col-sm-12">
                <!-- left text -->
                <h3>Welcome to <span><strong>School Recognition Portal</strong></span>. </h3>
                <p class="font-lato weight-300 size-20 nomargin-bottom">
                    Register recognition details and get your reports in timely marner
                </p>
                <p class="font-lato weight-300 size-20 nomargin-bottom">
                    This platform is used by <span><strong>WAEC Nigeria</strong></span> to register
                    all Schools that have been inspected by designated staff of the Council
                </p>
            </div><!-- /left text -->


        

        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <br />
        <div class="col-md-5" id="leftInfo">
            <div class="msgForm">
                <div class="col-md-12">
                    <div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-left" style="min-height: 264px;">
                        <div class="front">
                            <div class="box1" style="background-color: #fff; min-height: 264px;">
                                <div class="box-icon-title">
                                    <i class="glyphicon glyphicon-lock"></i>
                                    <h2>User Login Info</h2>
                                </div>
                                <ul>
                                    <li>
                                        The right panel is used to validate users or persons that have been delegated to handle this duty for the Office
                                    </li>
                                    <li>
                                        All users registered on this platform must verify their account when they log in to the Email Address used during the User Registration stage.
                                        To verify your account, <a href="@Url.Action("VerifyAccount", "Home")"><i class="fa fa-check"></i>click here</a>
                                    </li>
                                    <li>
                                        If you have registered and verified a user account, enter your login details and click on the "Sign In" button
                                    </li>
                                    @*<li>
                                            Download Centre Updates, <a href="@Url.Action("DownloadCentreFile", "Schools")"><i class="fa fa-check"></i>Download Centre Update</a>
                                        </li>*@
                                </ul>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-collapse">

                @if (TempData["Message"] != null)
                { <div class="alert alert-primary">
                    <span class="myInfowtb">
                        @TempData["Message"]
                    </span>
                </div> }

                @if (TempData["ErrorMessage"] != null)
                { <div class="alert alert-primary">
                    <span class="myInfo">
                        @Html.Raw(@TempData["ErrorMessage"])
                    </span>
                </div>
                }
                @if (TempData["SavedMessage"] != null)

                { <div class="alert alert-primary">
                    <span class="msgSucess">
                        @Html.Raw(@TempData["SavedMessage"])
                    </span>
                </div> }
                @*ReturnUrl = Request.QueryString["ReturnUrl"]*@ 
                <!-- /ALERT -->
                <div class="panel-body">
                    @using (Html.BeginForm("AD_Authentication", "Home", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new { @class = "sky-form boxed", role = "form" }))
                    {
                        <header><i class="fa fa-lock text-orange"></i> <span class="small"></span><b>Validation</b>  &raquo;User Validation Section</header>
                        <fieldset class="nomargin">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.EmailAddress, new { @class = "label" })
                                <div class="input">
                                    <i class="ico-append fa fa-envelope"></i>
                                    @Html.TextBoxFor(m => m.EmailAddress, new Dictionary<string, object> { { "placeholder", "--Email Address--" } })
                                    <span class="tooltip tooltip-top-right">Email Address</span>

                                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.Password, new { @class = "label" })
                                <div class="input">
                                    <i class="ico-append fa fa-lock"></i>
                                    @Html.PasswordFor(m => m.Password, new Dictionary<string, object> { { "placeholder", "--Password--" } })
                                    <b class="tooltip tooltip-top-right">Type your Password</b>

                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked><i></i>Keep me logged in</label>
                            </div>

                        </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-sign-in"></i> Sign In </button>
                                <div class="forgot-password pull-left">
                                    <b> @Html.ActionLink("Change Password", "ChangePassword", "Home")</b>
                                    <b> @Html.ActionLink("New User? Register", "Register", "Home")</b>
                                    @Html.ActionLink("Forgot your login details? Click here", "ForgotPassword", "Home") <br/>
                                    
                                </div>
                            </footer>


                    }
                </div>
            </div>

        </div>


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
