﻿@using SchoolRecognitionSystem.Models
@model RegisterUserViewModel
@{
    ViewBag.Title = "New User Registration";
    //Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="container">
    <div class="row">
        @if (TempData["ErrorMessage"] != null)
            {  <span class="msgError">
            @TempData["ErrorMessage"]
        </span> }
        @if (TempData["SavedMessage"] != null)

            {  <span class="msgSucess">
            @TempData["SavedMessage"]
        </span> }
        <div id="content">
            <div class="row">

                <div class="col-md-5" id="leftInfo">
                    <div class="msgForm">
                        <div class="col-md-12">

                            <div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-left" style="min-height: 264px;">
                                <div class="front">
                                    <div class="box1" style="background-color: #fff; min-height: 264px;">
                                        <div class="box-icon-title">
                                            <i class="et-profile-male"></i>
                                            <h2>User Account Registration</h2>
                                        </div>
                                        <ul>
                                            <li>
                                                <b>Sorry it seems you are logging in to this website for the first time. Please take time to register your details and contact the DR SED to activate your account before you can start using this platform</b></li>
                                            <li>
                                                <b>You must ensure that you supply all entries correctly.</b>
</li>
                                            <li>
                                                <b>
                                                    Once you create a user account,a mail will be sent to your waec email address notifying you that you have been activated to login
                                                    and start using this application.
                                                </b>
                                            </li>
                                            <li>
                                                <b>You can click on the link sent to login using your waec email address and password.</b>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-7" id="rightInfo">
                    <!-- ------ -->
                    <div class="panel panel-collapse">
                        <div class="panel-heading panel-heading-transparent">

                            @if (TempData["Message"] != null)
                            { <div class="alert alert-primary margin-bottom-30">
                                <span class="myInfowtb">
                                    @TempData["Message"]
                                </span>
                            </div>}


                            <!-- /ALERT -->
                            @using (Html.BeginForm("Register", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "sky-form boxed", role = "form", enctype = "multipart/form-data", style= "padding: 20px;" }))
                            {
                                <header><i class="fa fa-users"></i> <span class="small"></span><b>Register</b>  &raquo;@ViewBag.Title</header>
                                <fieldset class="nomargin">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.Surname, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-user"></i>
                                            @Html.TextBoxFor(m => m.Surname, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Surname--" } })
                                            <span class="tooltip tooltip-top-right">Enter your surname[required]</span>


                                        </div>@Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.OtherNames, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-user"></i>
                                            @Html.TextBoxFor(m => m.OtherNames, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Other Names--" } })
                                            <span class="tooltip tooltip-top-right">Enter your other names[required]</span>

                                        </div>@Html.ValidationMessageFor(m => m.OtherNames, "", new { @class = "text-danger" })
                                    </div>

                                    @*<div class="col-md-12 col-sm-12">
                                            @Html.LabelFor(m => m.EmailAddress, new { @class = "label" })
                                            <div class="input">
                                                <i class="ico-append fa fa-envelope"></i>
                                                @Html.TextBoxFor(m => m.EmailAddress, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Email Address--" } })
                                                <span class="tooltip tooltip-top-right">Enter a valid email address[required]</span>
                                                @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                    @*<div class="col-md-12 col-sm-12">
                                            @Html.LabelFor(m => m.Password, new { @class = "label" })
                                            <div class="input">
                                                <i class="ico-append fa fa-lock"></i>
                                                @Html.PasswordFor(m => m.Password, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Password--" } })
                                                <b class="tooltip tooltip-top-right">Enter the user password[required]</b>


                                            </div>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                        </div>*@

                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.EmailAddress, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-envelope"></i>
                                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @readonly = "readonly", @Value = TempData["EmailAddress"] })
                                            @*@Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", style = "width:380px;", disabled = "disabled", @value = TempData["EmailAddress"] })*@
                                            @*@Html.TextBoxFor(m => m.EmailAddress, new Dictionary<string, object> { { "class", "form-control" }, { "value",ViewBag.EmailAddress} })
                                                <span class="tooltip tooltip-top-right">Enter a valid email address[required]</span>*@
                                            @*@Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.Password, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-lock"></i>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @readonly = "readonly", @value = TempData["Password"] })
                                            @*@Html.PasswordFor(m => m.Password, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Password--" } })*@
                                            <b class="tooltip tooltip-top-right">Enter the user password[required]</b>


                                            @*</div>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@

                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.LPNO, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-envelope"></i>
                                            @Html.TextBoxFor(m => m.LPNO, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--LPNO--" } })
                                            <span class="tooltip tooltip-top-right">Enter a valid email address[required]</span>
                                            @Html.ValidationMessageFor(m => m.LPNO, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.RankID, "Rank", new { @class = "label" })
                                        <div class="select">
                                            <i class="ico-append fa fa-list"></i>
                                            @Html.DropDownListFor(model => model.RankID, ViewBag.Rank as SelectList, "--(select Rank)--",
             new Dictionary<string, object> { { "class", "form-control" } })
                                            <span class="tooltip tooltip-top-right">Select Office</span>
                                        </div>@Html.ValidationMessageFor(model => model.RankID)
                                    </div>

                                    @*<div class="col-md-6">
                                        @Html.LabelFor(m => m.StateID, "State", new { @class = "label" })
                                        <div class="">
                                            @Html.DropDownListFor(model => model.StateID, ViewBag.StatesList as SelectList, "(select state/waec office)",
  new Dictionary<string, object> { { "class", "form-control" } })
                                            @Html.ValidationMessageFor(model => model.StateID)
                                        </div>
                                    </div>*@
                                    @*<div class="col-md-6">
                                            @Html.LabelFor(m => m.LGAID, "Local govt", new { @class = "label" })
                                            <div class="">
                                                <select id="LGAID" name="LGAID"  class="form-control">
                                                    <option value="0" selected="selected">(select LGA)</option>
                                                </select>


                                            </div>
                                        </div>*@





                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-phone"></i>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Phone Number--" } })
                                            <span class="tooltip tooltip-top-right">Enter an active Phone Number[required]</span>

                                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.OfficeID, "Office", new {@class = "label"})
                                        <div class="select">
                                            <i class="ico-append fa fa-list"></i>
                                            @Html.DropDownListFor(model => model.OfficeID, ViewBag.OfficeList as SelectList, "--(select zonal Office)--",
                                                new Dictionary<string, object> {{"class", "form-control"}})
                                            <span class="tooltip tooltip-top-right">Select Office</span>
                                        </div>@Html.ValidationMessageFor(model => model.OfficeID)
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.Signature, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-user"></i>
                                            <input style="margin-left: 0px;" type="file" name="addedSignature" class="form-control" required="" id="Signature" />
                                            @Html.ValidationMessageFor(m => m.Signature, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-12 col-sm-12">
                                        <label class="checkbox nomargin"><input type="checkbox" name="agree" id="agree" onchange="javascript: return DisableBtn();"><i></i>Confirm user registration?</label>

                                    </div>
                                </fieldset>


                                <footer>
                                    @Html.Hidden("hdnEmail", (string)ViewBag.EmailMessage)
                                    <button type="submit" id="btnSave" name="btnSave" class="btn btn-primary btn-sm pull-right" disabled="disabled"><i class="fa fa-save"></i> Create Account</button>
                                    <button type="button" id="btnCancel" name="btnCancel" class="btn btn-primary btn-sm pull-right" onclick="javascript: history.back();"><i class="fa fa-close"></i> Cancel</button>
                                    <br />
                                    <div class="forgot-password pull-left">
                                        @*@Html.ActionLink("Forgot Password", "ForgotPassword") <br/>*@
                                        <b> @Html.ActionLink("Existing User? Login", "AD_Authentication")</b>
                                    </div>
                                    <br />
                                    @*<div class="forgot-password pull-left">
                                            <a class="btn btn-danger" href="@Url.Action("SendEmail1", "Schools")">Send Mails</a>
                                        </div>*@
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $("#StateID").on("change", function () {
            var id = $(this).val();
            var baseUrl = '@Url.Content("~/")';
            var url = baseUrl + "api/recog/GetLgas";
            var markup = "<option value='0' selected='selected'>--select LGA--</option>";
            $("#LGAID").html(markup).show();
            $.get(url, { StateID: id }, function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        markup += "<option value='" + data[i].LgaID + "'>" + data[i].Name + "</option>";
                    }

                    $("#LGAID").html(markup).show();
                }
            });
        });
    </script>
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"> </script>
<script type="text/javascript">
    $(function () {

        $("#OfficeID").select2();
    })
    function DisableBtn() {
        var sendbtn = document.getElementById('btnSave');
        var checker = document.getElementById('agree');
        if (checker.checked) {
            sendbtn.disabled = false;
        } else {
            sendbtn.disabled = true;
        }
    }

    $("#btnSave").click(function () {
        //var emessage = $('#hdnEmail').val();
        //console.log(emessage);
        $.ajax({
            url: '/Schools/SendEmail1',
            type: "POST",
            data: { emailmessage: $('#hdnEmail').val().trim() },
            success: OnSuccess,
            failure: function(response) {
                alert(response);
            }
        });
    }).trigger();

</script>


