﻿
@{
    ViewBag.Title = "User Confirmation";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section>
    <div class="container">

        <!-- CONFIRMATION FINAL MESSAGE -->
        <div class="col-sm-offset-3">
            <div class="panel panel-collapse">
                <div class="panel-heading panel-heading-transparent">
                    @using (Html.BeginForm("VerifyAccount", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "sky-form boxed", role = "form" }))
                {
                        <h3>Thank you, @Session["UserEmail"]</h3>

                        <p>
                            <h1 class="msg">
                                @if (TempData["Message"] != null)
                            {
                                    @Html.Raw(@TempData["Message"])
                                }
                                else
                                {
                                    if (TempData["ErrorMessage"] != null)
                                    {
                                        @Html.Raw(@TempData["ErrorMessage"])
                                    }
                                    else
                                    {
                                        <text>No Action was initiated by any user at the moment</text> 
                                    }
                                }
                            </h1>
                            @if (TempData["FailureSuccessMsg"] != null)
                        {<h1 class="success-pane">
                            @Html.Raw(TempData["FailureSuccessMsg"])
                        </h1>
                        }
                        </p>
                        <input type="hidden" id="UserID" name="UserID" value="@Session["UserID"]" />
                        <section>
                            <div class="input">
                                <i class="ico-append fa fa-lock"></i>
                                <input type="password" id="SchoolPin" name="SchoolPin" class="form-control" placeholder="Enter a School PIN" required />
                                <b class="tooltip tooltip-top-right">Type a School PIN</b>
                            </div>
                        </section>
                        <footer>
                            <button type="submit" id="btnSave" name="btnSave" class="btn btn-primary btn-sm pull-right"><i class="fa fa-check"></i> Verify User</button>
                            <button type="button" id="btnCancel" name="btnCancel" class="btn btn-primary btn-sm pull-right" onclick="javascript: history.back();"><i class="fa fa-check"></i> Cancel</button>

                            <div class="forgot-password pull-left">
                                @Html.ActionLink("Back to School Login", "Index", "Home") <br />
                            </div>
                        </footer>
                }

                </div>
            </div>
        </div>
        <!-- /CONFIRMATION FINAL MESSAGE -->

    </div>
</section>
