﻿@using SchoolRecognitionSystem.Models
@model   List<SchoolRecognitionSystem.Models.ClassAllocationvModel>

@{
    ViewBag.Title = "Student class";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}

@*@Session["UserEmail"]*@
@*@if (TempData["Information"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["Information"]
            </span>
        </div> }*@


<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">

            @Html.Partial("_TabPartialEdit");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <ol class="breadcrumb">
                <li><i class="glyphicon glyphicon-plane"></i></li>



                <li><a href="@Url.Action("Create", "SchoolStaffs", new {sddc = @Request.QueryString["sddc"]})">Manage staff</a></li>



                <li><a href="@Url.Action("Subjects", "Schools", new {sddc = @Request.QueryString["sddc"]})">Manage Subject</a></li>

                @*<li><a href="@Url.Action("School", "SchoolSEdit", new {sddc = @Request.QueryString["sddc"]})">Back to School Edit</a></li>*@



                @*@Html.ActionLink("Cancel", "welcome", "schools", new { sddc = Request.QueryString["sddc"] }, new { @class = "btn btn-amber btn-sm pull-right", @aria_hidden = "true" })*@


                <li class="active"></li>
            </ol>@if (TempData["CompleteSchool"] != null)
            {
                <div id="result" class="alert alert-danger">
                    @TempData["CompleteSchool"]
                </div>
            }
            <!-- flight section -->
            <div class="active">


                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPost" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @*<h4>ClassAllocation</h4>*@
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        @*<div class="form-group">
                                @Html.LabelFor(model => model.SchoolID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        @if (Model != null)
                        {
                            <h2>
                                All the astrisked(<strong style="color: red">*</strong>) are required fields
                            </h2>
                                <div class="row">
                                    <div class="col-md-3 col-xs-6">
                                        <strong>Class Name</strong>
                                        <strong style="color: red">*</strong>
                                        <input type="hidden" id="classschoolid" value="@ViewBag.ClassSchoolid" />
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <strong>No of arms(streams)</strong>
                                        <strong style="color: red">*</strong>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <strong>Total Students</strong>
                                        <strong style="color: red">*</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-xs-6">@Html.DropDownListFor(model => model.FirstOrDefault().ClassID, ViewBag.Classes as IEnumerable<SelectListItem>, new { @class = "form-control" })</div>
                                    <div class="col-md-3 col-xs-6">@Html.EditorFor(model => model.FirstOrDefault().NoOfStreams, new { htmlAttributes = new { @class = "form-control", @required = "required" } })</div>
                                    <div class="col-md-3 col-xs-6">@Html.EditorFor(model => model.FirstOrDefault().TotalStudents, new { htmlAttributes = new { @class = "form-control", @required = "required" } })</div>
                                    <input type="submit" value="Save" id="saveid" class="btn btn-primary" @*onclick="DeleteValues(); return false"*@ />
                                    <input type="hidden" id="student-added" name="studentAdded" />
                                    
                                    @*@Html.ActionLink("Next", null, "Schools", null, new {@class = "btn btn-warning", @id="btn-next"});*@
                                    @*<a href="Schools/FacilityTabbing" onclick="return Submit();" class="btn btn-warning @ViewBag.FacilityManagement">Next</a>*@
                                </div>
                                <section class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Class</th>
                                                <th>Number Of Streams</th>
                                                <th>Total Students</th>

                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody id="students-table-body">
                                            @{
                                                var classesRegistered = ViewBag.ClassesRegistered as List<ClassAllocationvModel>;
                                                @*if (classesRegistered.Count == 0)
                                                    {
                                                        <tr class="hiderow">
                                                            <td colspan="3">
                                                                <div class="well">
                                                                    <h3>Please register students.</h3>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }*@
                                            foreach (var classReg in classesRegistered)
                                            {

                                                <tr class="schoolrowid" data-classname="@classReg.ClassName" data-classid="@classReg.ClassID" data-streams="@classReg.NoOfStreams" data-totalstudents="@classReg.TotalStudents">
                                                    <td>@classReg.ClassName</td>
                                                    <td>@classReg.NoOfStreams</td>
                                                    <td>
                                                        @classReg.TotalStudents
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Edit", "EditClass", new { scid = classReg.ID, sddc = classReg.SchoolID })
                                                    </td>

                                                </tr>
                                            }

                                            }
                                        </tbody>
                                    </table>
                                </section>

                                                }
                                                else
                                                {
                                                    <div class="well">@TempData["schoolprofile"]</div>

                                                }

                    </div>



                        @*<div class="col-md-10">
                                <input type="submit" style="margin-right: 30px" value="Next" class="btn btn-primary" />
                            </div>*@

                                                }


            </div>


        </div>
    </div>





</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#saveid').click(function (e) {
                //This line will prevent the form from submitting
                e.preventDefault();
                var classId = $('#ClassID').val();
                var noOfStreams = $('#NoOfStreams').val();
                var totalStudents = $('#TotalStudents').val();
                if (noOfStreams.length < 1 || totalStudents.lenght < 1) {
                    alert('YOU CANNOT SUBMIT EMPTY FIELD');
                    return;
                }
                var sddc = '@Request.QueryString["sddc"]';
                $('.hiderow').hide();
                //var schoolId = $('#classschoolid').val();
                //console.log(schoolId);

                $.ajax({
                    type: 'POST',
                    url: $('#FormPost').attr('action'),
                    data: { ClassID: classId, NoOfStreams: noOfStreams, TotalStudents: totalStudents, SchoolID: sddc },
                    accept: 'application/json',
                    error: function (xhr, status, error) {
                        alert('failed to insert ');
                    },
                    success: function (response) {

                        //if (response.status === 1) {
                        // $('#student-added').val(response.studentAdded);
                        //alert('data is succesfully inserted!');
                        // if ($('#student-added').val() == "1") { $('#btn-next').removeAttr('disabled') }
                        $('#students-table-body').append('<tr class="schoolrowid" data-classname="' + $('#ClassID option:selected').text() + '" data-classid="' + classId + '" data-streams="' + noOfStreams + '" data-totalstudents="' + totalStudents + '" >' +
                            '<td>' + $('#ClassID option:selected').text() + '</td>' +
                            '<td>' + $('#NoOfStreams').val() + '</td>' +
                            '<td>' + $('#TotalStudents').val() + '</td>' +
                            '<td> <a href="/Schoolsedit/EditClass?scid="'+ response.scid+'"></i>Edit</a></td>' +
                            '</tr>');
                        $('#ClassID option:selected').remove();
                        //DeleteValues();
                        $('#NoOfStreams').val('');
                        $('#TotalStudents').val('');

                    }
                    //}

                });
            });

            $('#btn-next').on("click", function (e) {
                e.preventDefault();
                if (confirm("Are you sure you want to go the next page?")) {
                    var classesArray = [];
                    $('#students-table-body .schoolrowid').each(function (index, element) {

                        if ($(element).attr('data-classname') !== 'SS 1') {
                            classesArray.push({
                                'ClassID': $(element).data('classid'),
                                'NoOfStreams': $(element).data('streams'),
                                'TotalStudents': $(element).data('totalstudents')
                            });
                        }

                    });
                    var schoolId = $('#classschoolid').val();

                    console.log(classesArray);
                    $.get('/Assessment/Classroom', function (response) {

                        @*$.post('/Assessment/Classroom?sdc=@Request.QueryString["sdc"]', { sch: schoolId, items: classesArray }, function (response) {*@

                        //window.location.href = '/Schools/FacilityTabbingg';

                        if (response.status === 3) {
                            alert('Record at least a class');

                        } else {
                            window.location.href = '/Schools/SchoolFacility';
                        }


                        //$.post('/Assessment/Classroom?schoolid='+schoolId, { sch: schoolId, isAppoved: checkedItem, items: classesArray }, function (response) {


                    });
                };

            });
        });

        //function Submit() {
        //    if ($('#student-added').val() !== '1') {

        //        alert('please add at least one student record');
        //        return false;
        //    }
        //    if (confirm("Are you sure you want to go the next page?")) {
        //        return true;
        //    } else {
        //        return false;
        //    }


    </script>




}

}