﻿@using SchoolRecognitionSystem.Models
@model   SchoolRecognitionSystem.Models.ClassAllocationvModel

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>
@*@Session["UserEmail"]*@
@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEditVet");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @if (ViewBag.Successmessage != null)
                {
                    <span class="btn btn-success">@ViewBag.Successmessage</span>
                }
                @*@if (Session["SchoolID"] != null)
                    {*@


                @using (Html.BeginForm("EditClass", "SchoolsEdit", FormMethod.Post, new { id = "FormPost" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.SchoolID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="row">
                            <div>
                                <strong>Class</strong>
                                @*@Html.HiddenFor(m=>m.ID)*@
                                <input type="hidden" name="ID" value="@Model.ID" />
                            </div>
                            @*<div>@Html.DropDownListFor(model => model.ClassID, ViewBag.Class as IEnumerable<SelectListItem>, new {@class = "form-control" })</div>*@
                            <div>@Html.TextBoxFor(model => model.ClassName, new { @class = "form-control", @readonly = "true" })</div>
                            <input type="hidden" name="ClassID" value="@Model.ClassID" />
                            <div>
                                @Html.LabelFor(model => model.NoOfStreams, "Number of streams")
                            </div>
                            <div>@Html.EditorFor(model => model.NoOfStreams, new { htmlAttributes = new { @class = "form-control" } })</div>
                            <div>
                                @Html.LabelFor(model => model.TotalStudents, "Total Students")
                            </div>
                            <div>@Html.EditorFor(model => model.TotalStudents, new { htmlAttributes = new { @class = "form-control" } })</div>
                        </div>
                        <div>
                            @Html.Hidden("sddc", Request.QueryString["sddc"])
                            <input type="hidden" id="@Request.QueryString["sddc"]" />
                            <input type="submit" value="Update" id="saveid" class="btn btn-primary" @*onclick="DeleteValues(); return false"*@ />
                            @Html.ActionLink("Cancel", "SchoolClassList", "SchoolsEdit", new { sddc = Request.QueryString["sddc"] }, new { @class = "btn btn-amber btn-sm", @aria_hidden = "true" })


                            @*<a class='btn btn-primary' href="@Url.Action("SchoolClassList", "SchoolsEdit",new {sddc=Request.QueryString["sddc"],scid=Request.QueryString["scid"]})">Class list</a>*@
                            <input type="hidden" id="student-added" name="studentAdded" />

                        </div>

                    </div>



                    @*<div class="col-md-10">
                            <input type="submit" style="margin-right: 30px" value="Next" class="btn btn-primary" />
                        </div>*@

                }
                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>


        </div>
    </div>





</div>

@section scripts{
    @*<script type="text/javascript">
            $(document).ready(function() {
                $('#FormPost').submit(function(e) {
                    //This line will prevent the form from submitting
                    e.preventDefault();
                    var classId = $('#ClassID').val();
                    var noOfStreams = $('#NoOfStreams').val();
                    var totalStudents = $('#TotalStudents').val();
                    $('.hiderow').hide();
                    //var schoolId = $('#classschoolid').val();
                    //console.log(schoolId);

                    $.ajax({
                        type: 'POST',
                        url: $('#FormPost').attr('action'),
                        data: { ClassID: classId, NoOfStreams: noOfStreams, TotalStudents: totalStudents },
                        accept: 'application/json',
                        error: function(xhr, status, error) {
                            alert('failed to insert ');
                        },
                        success: function(response) {

                            if (response.status === "1") {
                                $('#student-added').val(response.studentAdded);
                                alert('data is succesfully inserted!');
                                if ($('#student-added').val() == "1") { $('#btn-next').removeAttr('disabled') }
                                $('#students-table-body').append('<tr class="schoolrowid" data-classname="' + $('#ClassID option:selected').text() + '" data-classid="' + classId + '" data-streams="' + noOfStreams + '" data-totalstudents="' + totalStudents + '" >' +
                                    '<td>' + $('#ClassID option:selected').text() + '</td>' +
                                    '<td>' + $('#NoOfStreams').val() + '</td>' +
                                    '<td>' + $('#TotalStudents').val() + '</td>' +
                                    '</tr>');
                                $('#ClassID option:selected').remove();
                                //DeleteValues();
                                $('#NoOfStreams').val('');
                                $('#TotalStudents').val('');
                            } else {
                                alert('Failed to insert');
                            }
                        }

                    });
                });

                $('#btn-next').on("click", function(e) {
                    e.preventDefault();
                    if (confirm("Are you sure you want to go the next page?")) {
                        var classesArray = [];
                        $('#students-table-body .schoolrowid').each(function(index, element) {

                            if ($(element).attr('data-classname') !== 'SS 1') {
                                classesArray.push({'ClassID': $(element).data('classid'),
                                    'NoOfStreams': $(element).data('streams'),
                                    'TotalStudents': $(element).data('totalstudents')});
                            }

                        });
                        var schoolId = $('#classschoolid').val();

                       // console.log(classesArray);
                        $.post('/Assessment/Classroom', { sch: schoolId, items: classesArray }, function (response) {


                            window.location.href = '/Schools/FacilityTabbing';


                            //$.post('/Assessment/Classroom?schoolid='+schoolId, { sch: schoolId, isAppoved: checkedItem, items: classesArray }, function (response) {


                        });
                    };

                });

                function DeleteValues() {
                    var dropDown = document.getElementById("ClassID");
                    for (var i = 0; i <= dropDown.options.length; i++) {
                        if (dropDown.options[i].selected) {
                            dropDown.removeChild(dropDown.options[i]);
                            break;
                        }
                    }
                }
            });




        </script>*@




}

