﻿@using SchoolRecognitionSystem.Models
@model   SchoolRecognitionSystem.Models.SchoolProfileViewModel

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">Student</li>
</ol>
@*@Session["UserEmail"]*@
@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEditVet");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">
                <form class="sky-form boxed" action="@Url.Action("EditSchool", "SchoolsEdit")" role="form" name="frmSchoolProfile" method="POST" id="frmSchoolProfile" enctype="multipart/form-data">
                    @*<header>
                <i class="fa fa-exchange text-orange"></i> <span class="small"></span><b> @Session["SchoolInfo"] :: New </b>  &raquo;@ViewBag.Title

            </header>*@

                    <div id="result" class="alert" style="display: none">
                    </div>

                    @Html.AntiForgeryToken()
                    <div class="col-md-5">
                        <fieldset class="nomargin">
                            @*<legend>
                        School Profile
                    </legend>*@
                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.CategoryID, new { @class = "label" })
                                <div class="">
                                    @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryList as SelectList, "(select Category)",
            new Dictionary<string, object> { { "class", "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CategoryID)
                                </div>
                            </div>


                            @*<input type="text" ID="txtUserName" onblur="ShowAvailability()" onkeyup="OnChange(this)"/>
                    &nbsp;
                    <span id="mesg"></span>
                    <br/>*@




                            <br />
                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.SchoolName, new { @class = "label" })
                                <div class="input">
                                    <i class="ico-append fa fa-building"></i>

                                    @*@Html.TextBoxFor(m => m.SchoolName, new { onblur = "ShowAvailability();", onkeyup = "OnChange(this)" })*@

                                    @*@Html.TextBoxFor(m => m.SchoolName, new { onkeyUp = "ShowAvailability()" })*@


                                    @Html.TextBoxFor(m => m.SchoolName, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--School Name--" } })

                                    <span id="mesg"></span>
                                    <span class="tooltip tooltip-top-right">Enter School Name</span>
                                    @Html.ValidationMessageFor(model => model.SchoolName)
                                </div>
                                @*<div id="divoutput"></div>*@
                            </div>
                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.SchoolLocation, new { @class = "label" })
                                <div class="input">
                                    <i class="ico-append fa fa-location-arrow"></i>
                                    @Html.TextBoxFor(m => m.SchoolLocation, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--School Location--" } })
                                    <span class="tooltip tooltip-top-right">Enter School Location</span>
                                    @Html.ValidationMessageFor(model => model.SchoolLocation)
                                </div>
                            </div>
                            <div id="checkName" class="mylink"></div>


                            <div class="col-md-6">
                                @Html.LabelFor(m => m.StateID, "State", new { @class = "label" })

                                <div class="">
                                    <input class="form-control"
                                           id="StateID" name="StateID" readonly="" type="text" value="@ViewBag.State.StateName">
                                    @Html.ValidationMessageFor(model => model.StateID)
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.LgaID, new { @class = "label" })
                                <div class="">
                                    @Html.DropDownListFor(model => model.LgaID, ViewBag.Lgas as SelectList, "(select LGA)",
            new Dictionary<string, object> { { "class", "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LgaID)

                                </div>
                            </div>



                            <div class="col-md-8 col-sm-8">
                                @Html.LabelFor(m => m.YearEstablished, new { @class = "label" })
                                <div class="">
                                    @Html.DropDownListFor(model => model.YearEstablished, ViewBag.AvailableYears as SelectList, "(select Year)",
  new Dictionary<string, object> { { "class", "form-control" } })
                                    @Html.ValidationMessageFor(model => model.YearEstablished)
                                    <span class="tooltip tooltip-top-right">Select the Year Established</span>
                                </div>
                            </div>

                            <div class="col-md-8">
                                @Html.LabelFor(m => m.AproximateLandArea, new { @class = "label" })
                                <div class="input">
                                    <i class="ico-append fa fa-map-pin"></i>
                                    @Html.TextBoxFor(m => m.AproximateLandArea, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Aproximate Land Area--" } })
                                    <span class="tooltip tooltip-top-right">Enter Aproximate Land Area</span>
                                    @Html.ValidationMessageFor(model => model.AproximateLandArea)
                                    @Html.HiddenFor(m => m.ID, new { @id = "schprofileid" })
                                </div>
                            </div>
                            <input type="hidden" id="UserID" name="UserID" value="@Session["UserID"]" />
                            <input type="hidden" id="ID" name="ID" value="0" />
                            <input type="hidden" data-id="CentreNo" name="CentreNo" value="0" />

                            <input type="hidden" id="schoolProfileEditid" value="" />
                        </fieldset>

                        <div id="loadList" class="mylink"></div>

                        <footer>
                            @Html.HiddenFor(m => m.ID)
                            <button type="submit" id="btnUpdate"  class="btn btn-primary btn-sm pull-right"><i class="fa fa-add"></i>Update</button>

                            <button type="button" class="btn btn-amber btn-sm pull-right" aria-hidden="true" id="btnClose" onclick="javascript: window.close();">Close</button>
                        </footer>
                    </div>

                    <div class="col-md-7">
                        @Html.EditorFor(m=>m.IsJointProprietorship);
                        @if (Model.IsJointProprietorship)
                        {
                            <div class="col-md-12 col-sm-12">
                                <label class="checkbox nomargin"><input type="checkbox" checked="checked" name="IsJointProprietorship" id="IsJointProprietorship"><i></i>@Html.DisplayNameFor(x => x.IsJointProprietorship)</label>
                            </div>
                        }
                        else
                        {<div class="col-md-12 col-sm-12">
                             <label class="checkbox nomargin"><input type="checkbox" name="IsJointProprietorship" id="IsJointProprietorship"><i></i>@Html.DisplayNameFor(x => x.IsJointProprietorship)</label>
                         </div>
                        }

                        @if (Model.IsLandAreaAdequate)
                        {
                            <div class="col-md-12 col-sm-12">
                                <label class="checkbox nomargin"><input type="checkbox" checked="checked" name="IsLandAreaAdequate" id="IsLandAreaAdequate"><i></i>@Html.DisplayNameFor(x => x.IsLandAreaAdequate)</label>
                            </div>
                        }
                        else
                        {<div class="col-md-12 col-sm-12">
                             <label class="checkbox nomargin"><input type="checkbox" name="IsLandAreaAdequate" id="IsLandAreaAdequate"><i></i>@Html.DisplayNameFor(x => x.IsLandAreaAdequate)</label>
                         </div>
                        }
                        @if (Model.IsSchoolFencedRound)
                        {
                            <div class="col-md-12 col-sm-12">
                                <label class="checkbox nomargin"><input type="checkbox" checked="checked" name="IsSchoolFencedRound" id="IsSchoolFencedRound"><i></i>@Html.DisplayNameFor(x => x.IsSchoolFencedRound)</label>
                            </div>
                        }

                        @if (Model.isCurricullumAvailable)
                        {
                            <div class="col-md-12 col-sm-12">
                                <label class="checkbox nomargin"><input type="checkbox" value="true" checked="checked" name="isCurricullumAvailable" id="isCurricullumAvailable"><i></i>@Html.DisplayNameFor(x => x.isCurricullumAvailable)</label>
                            </div>
                        }
                        @if (Model.isClassRegistersAvaialable)
                        {<div class="col-md-12 col-sm-12">
                             <label class="checkbox nomargin"><input type="checkbox" value="true" checked="checked" name="isClassRegistersAvaialable" id="isClassRegistersAvaialable"><i></i>@Html.DisplayNameFor(x => x.isClassRegistersAvaialable)</label>
                         </div>
                        }

                        @if (Model.isDiaryofWorksAvaialble)
                        {
                            <div class="col-md-12 col-sm-12">
                                <label class="checkbox nomargin"><input type="checkbox" value="true" checked="checked" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble"><i></i>@Html.DisplayNameFor(x => x.isDiaryofWorksAvaialble)</label>
                            </div>
                        }

                        @if (Model.isClassRegistersAvaialable)
                        {<div class="col-md-12 col-sm-12">
                             <label class="checkbox nomargin"><input type="checkbox" value="true" checked="checked" name="IsScheemOfWorkAvailable" id="IsScheemOfWorkAvailable"><i></i>@Html.DisplayNameFor(x => x.IsScheemOfWorkAvailable)</label>
                         </div>
                        }

                        @if (Model.isClassRegistersAvaialable)
                        {
                            <div class="col-md-12 col-sm-12">
                                <label class="checkbox nomargin"><input type="checkbox" value="true" checked="checked" name="IsAdmissionRegisterAvailable" id="IsAdmissionRegisterAvailable"><i></i>@Html.DisplayNameFor(x => x.IsAdmissionRegisterAvailable)</label>
                            </div>
                        }


                        <div class="col-md-12">
                            @Html.LabelFor(m => m.OtherSpecify, new {@class = "label"})
                            <div class="input">
                                <i class="ico-append fa fa-file"></i>
                                @Html.TextAreaFor(m => m.OtherSpecify, new Dictionary<string, object> {{"class", "form-control"}, {"placeholder", "--Others Details (Specify)--"}})
                                <span class="tooltip tooltip-top-right">Other Details (Specify)</span>
                                @Html.ValidationMessageFor(model => model.OtherSpecify)
                            </div>
                        </div>
                    </div>

                </form>
          </div>
        </div>
    </div>





</div>

@section scripts{
    @*<script>
        $(document).ready(function() {
            $("#btnUpdate").click(function () {
              

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EditSchool", "SchoolsEdit")',
                    data: {
                        ID: $("#ID").val(),
                        CategoryID: $("#CategoryID").val(),
                        SchoolName: $("#SchoolName").val(),
                        CentreNo: $("#CentreNo").val(),
                        SchoolLocation: $("#SchoolLocation").val(),
                        StateID: $('.stateclass').data('stateid'),


                        LgaID: $("#LgaID").val(),
                        YearEstablished: $("#YearEstablished").val(),
                        IsJointProprietorship: $("#IsJointProprietorship").val(),
                        AproximateLandArea: $("#AproximateLandArea").val(),
                        IsLandAreaAdequate: $("#IsLandAreaAdequate").val(),
                        IsSchoolFencedRound: $("#IsSchoolFencedRound").val(),
                        IsAdmissionRegisterAvailable: $("#IsAdmissionRegisterAvailable").val(),
                        isClassRegistersAvaialable: $("#isClassRegistersAvaialable").val(),
                        isDiaryofWorksAvaialble: $("#isDiaryofWorksAvaialble").val(),
                        isCurricullumAvailable: $("#isCurricullumAvailable").val(),
                        IsScheemOfWorkAvailable: $("#IsScheemOfWorkAvailable").val(),
                        OtherSpecify: $("#OtherSpecify").val()
                    },

                    success: function(data) {
                        if (data != null) {
                            //$('#schoolProfileEditid').val(data.schoolid);
                            alert(data);


                        
                          
                        }
                    },
                    error: function() {
                        alert("Error while submitting school profile");
                    }
                });
                return false;
            });
        });

    </script>*@



}

