﻿@using PagedList.Mvc;
@using WebGrease.Css.Extensions
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolEquipConfigViewModel>
@{
    ViewBag.Title = "EquipmentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    //it is fetched when a record is inserted


}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Equipment Facility</li>
</ol>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                @Html.AntiForgeryToken()

                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="equipmentid">

                        <div>
                            <!-- flight section -->
                            <div class="active">

                                @*@if (Session["SchoolID"] != null)
                                    {*@
                                <div class="form-group">
                                    <label class="control-label col-md-9"></label>
                                    <div class="col-md-3" style="margin-bottom: 30px;">
                                        <a class='btn btn-success' href="@Url.Action("Index", "Schools")">School list</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Subject</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("ID", ViewBag.SchoolSubjectList as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control" })
                                        @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="clearfix"></div>*@
                                <div class="form-group">
                                    <div id="itemsDetailSection">
                                        <div id="itemsDetailTable"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @if (Model.Count > 0)
                                {

                                    <section class="form-group">
                                        <div class="table-responsive">

                                            <div class="pull-right">
                                                <p style="margin-right: 30px;">
                                                    Total Records: <strong>@Model.TotalItemCount</strong>
                                                </p>
                                            </div>
                                            <table class="table table-bordered" style="margin-top: 30px;">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>
                                                        <a>Item Description</a>
                                                    </th>

                                                    <th>
                                                        <a>Quantity Required</a>
                                                    </th>

                                                    <th>
                                                        <a>Quantity seen</a>
                                                    </th>
                                                    <th>
                                                        <a>Unit</a>
                                                    </th>
                                                    <th>
                                                        <a>Grade</a>
                                                    </th>
                                                    <th>
                                                        <a>Specification</a>
                                                    </th>


                                                </tr>
                                                @{
                                                    var counter = 1;
                                                    var offset = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@offset</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ItemDescription)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.QuantityRequired)
                                                            @*@Html.DisplayFor(modelItem => item.UnitType)*@
                                                        </td>

                                                        <td>
                                                            <input data-recordid="0" type="text" id="inUser" data-definition="@item.Unique_row" onblur="useOnBlur('@item.Unique_row', this);" value="@item.EquipmentValue" style="width: 120px;"><i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                            <span class="message-output"></span>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UnitType)
                                                        </td>
                                                        @*for grade*@
                                                        <td id="definition-@item.Unique_row" class="definition-column">
                                                            @item.DigitValue
                                                        </td>
                                                        @*@Html.DisplayFor(modelItem => item.EquipmentValue)*@
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Specification)
                                                            <input type="hidden" id="@item.FacilityCategoryID" name="FacilityCategoryID" value="@item.FacilityCategoryID" />

                                                        </td>

                                                    </tr>

                                                    counter++;
                                                    offset++;
                                                }
                                                <tfoot>
                                                    <tr>

                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>

                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td></td>
                                                        <td><strong>Total:</strong><span id="total-grades">0</span></td>
                                                        <td>&nbsp;</td>


                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <br />

                                            <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId' />
                                            <input type='hidden' value='@Request.QueryString["totalgradds"]' id='totalgradds' />
                                            <input type="hidden" id="Equipmentvalue_ID" name="Equipmentvalue_ID" value="0" />
                                            <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0" />
                                            <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0" />
                                            <div id='Paging' style="text-align: center">
                                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                of @Model.PageCount

                                                @Html.PagedListPager(Model, page => Url.Action("EditEquipment", new { page, subjectId = ViewBag.subjectid, faciltyid = ViewBag.facilitycategoryid, sddc = Request.QueryString["sddc"] }))

                                            </div>
                                        </div>
                                    </section>
                                                    }
                                                    else
                                                    {
                                                        <div class="well" style="margin-top: 30px;">
                                                            <h3>Please select a subject to load items.</h3>
                                                        </div>
                                                    }
                                @*}
                                    else
                                    {
                                        <div class="well">Section is null</div>

                                    }*@
                            </div>

                        </div>


                    </section>


                </article>

                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //use viewbag when a page is loading
        var subjectId;
        var facilityhardcoded;
        var bag = 0;
        var totalgrades = 0;
        var facilityCategoryId = 0;
        var currentPage = parseInt('@Model.PageNumber');
        var currentSchool = '@ViewBag.CurrentSchool';
       @*var sub = '@Request.QueryString["subjectId"]';*@
       // sumGrades(sub);
        //bag += totalgrades;
        sumGrades(subjectId);
        @*var resultgraded = '@ViewBag.gradds';*@
        //console.log(resultgraded);

        $(document).ready(function() {

            $("#itemsDetailSection").hide(0);
            $("#ID").change(function() {
                subjectId = $("#ID").val();
                //sessionStorage.removeItem('grades');
                //facilityCategoryId = $("#FacilityCategoryID").val();
                getEquipmentTable(subjectId, 1);
                $("#itemsDetailSection").show();
            });
            sumGrades($("#ID").val());
        });


        function getEquipmentTable(subId, page) {
            //console.log(bag + ' pastor');
            $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
            if (parseInt(subjectId) > 0) {
                //+ddlrec + "&facid=" + ddlfaci + "&factext=" + textitem;
                //document.location = '/Recognition/Schools/FacilityTabbing/?subjectId=' + subjectId;
                subjectId = subId;
                document.location = '@Url.Action("EditEquipment", "SchoolsEdit")?subjectId=' + subjectId + "&sddc=" + @ViewBag.SchoolId;
            } else {
                $("#itemsDetailTable").html("No Subject selected yet.");
            }
        }

        function useOnBlur(d_id, elem) {
            var isSuccess = -1;

            if (elem.value == '') {
                $(elem).parent().find('.message-output').stop().css('opacity', 1)
                    .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                $(elem).addClass('border-danger');
                return;
            }

            $(elem).parent().find('.spinner-wrapper').show();
            $(elem).parent().find('.message-output').hide();
            var record_id = $(elem).attr('data-recordId');


            var definition = $(elem).attr('data-definition');
            //console.log(definition);
            var subjectId = $("#subjectId").val();
            var facilityCategoryId = '@ViewBag.FacilityCategoryID';
            var totalComputed = $('#total-grades').html();
            var totalDbRecords = '@Model.TotalItemCount';
            var sddc = '@Request.QueryString["sddc"]';

            $.ajax({
                //url: "/Recognition/Schools/SaveEquipment",
                url: "@Url.Action("SaveEquipment", "SchoolsEdit")",
                data: { dd: d_id, user: elem.value, record_id: record_id, subjectIds: subjectId, totalDbRecords: totalDbRecords, totalComputed: totalComputed, facCategoryId: facilityCategoryId,sddc:sddc },
                type: 'POST',
                success: function(data) {
                    if (data.status == true) {

                        var definitionValue = 0;
                        switch (data.definition) {
                        case 'Excellent':
                            definitionValue = 1;
                            break;
                        default:
                            definitionValue = 0;

                        }

                        $('td#definition-' + definition).html(definitionValue);
                        $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                            .addClass('text-success').html(data.message).show().fadeOut(10000);
                        //if (definitionValue === 1) {
                        //    $(elem).addClass('border-success').removeClass('border-danger');
                        //} else {
                        //    $(elem).addClass('border-danger').removeClass('border-success');
                        //}
                        //$(elem).parent().find('.spinner-wrapper').hide();
                        $(elem).attr('data-recordId', data.recordId);
                        //console.log(data);
                        isSuccess = data;
                        sumGrades(subjectId);
                    } else {
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                    }
                }

            });
            faciltitySummary();
        };

        function faciltitySummary() {
            var totalEquipmentItems = '@Model.TotalItemCount';
            var subjectsid = '@Request.QueryString["subjectId"]';
            var totalsum = $('#total-grades').html();
            var facilityCategoryId = '@ViewBag.FacilityCategoryID';
            var sddc = '@Request.QueryString["sddc"]';

            $.post('@Url.Action("EquipmentSummary", "SchoolsEdit")', { totalEquipmentItems: totalEquipmentItems, subjectsid: subjectsid, totalsum: totalsum, facilityCategoryId: facilityCategoryId,sddc:sddc }, function(response) {
                if (response.status == true) {
                    //alert('data saved successfully');

                } else {
                    //alert('data not saved correctly');
                }
            });
        }


        function sumGrades(subjectId) {
            var schoolInStorage = localStorage.getItem('currentSchool');
            if (schoolInStorage === null && currentSchool !== '') {
                localStorage.setItem('currentSchool', currentSchool);
            } else {
                if (schoolInStorage !== currentSchool) {
                    localStorage.removeItem('currentSchool');
                    localStorage.removeItem('facilityTabbing');
                }
                if (currentSchool !== '') {
                    localStorage.setItem('currentSchool', currentSchool);
                }
            }

            if (subjectId !== '' && subjectId !== null && subjectId !== undefined) {
                var gradesForPage = 0;
                var dataSaved = JSON.parse(localStorage.getItem('facilityTabbing')) || {};
                var subjectStored = dataSaved['subject-' + subjectId] || [];
                var totalGrades = 0;
                $('.definition-column').each(function(index, gradeElement) {
                    gradesForPage += parseInt($(gradeElement).html());
                });
                console.log('gradesForPage' + gradesForPage);
                //[{"page":1,"sum":20},{"page":2,"sum":20},{"page":3,"sum":20},{"page":4,"sum":14}]
                console.log('dataSaved' + JSON.stringify(subjectStored));
                console.log('totalGrades' + totalGrades);

                console.log('currentPage' + currentPage);
                console.log('gradesForPage' + gradesForPage);
                var isPageInArray = false;
                //$(subjectStored).each(function (index, pageObject) {
                //    if (pageObject.page === currentPage) {
                //        isPageInArray = true;
                //    }
                //});
                var pageCount = currentPage;// subjectStored.length;
                console.log('page count '+pageCount);
                for (var i = pageCount-1 ; i >=0 ; i--) {

                    console.log('page '+i);
                    console.log('test ' + JSON.stringify(subjectStored[i]));
                    var itemi = subjectStored[i];
                    if ((itemi.page-1) <= i) {
                        totalGrades = totalGrades + itemi.sum;
                    }

                }
                console.log('totalGrades'+pageCount);

                for (index in subjectStored) {
                    if (subjectStored.hasOwnProperty(index)) {
                        var item = subjectStored[index];
                        if (item.page === currentPage) {
                                   isPageInArray = true;
                       }
                    }
                }
                if (isPageInArray === true) {
                    // UPDATE ARRAY
                    $(subjectStored).each(function(index, pageObject) {
                        if (pageObject.page === currentPage) {
                            pageObject.sum = gradesForPage;
                        }
                    });
                } else {
                    // ADD NEW TO ARRAY
                    subjectStored.push({
                        page: currentPage,
                        sum: gradesForPage
                    });
                }

                //$(subjectStored).each(function(index, pageObject) {
                //    totalGrades += pageObject.sum;
                //});
                //for (index in subjectStored) {
                //    if (subjectStored.hasOwnProperty(index)) {
                //        var pageObject2 = subjectStored[index];
                //        totalGrades += pageObject2.sum;
                //    }
                //}
                dataSaved['subject-' + subjectId] = subjectStored;
                localStorage.setItem('facilityTabbing', JSON.stringify(dataSaved));
                $('#total-grades').html(totalGrades);
                faciltitySummary();
            }
        }



    </script>
}



