﻿

@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@model   List<SchoolRecognitionSystem.Models.StaffModelForEdit>

@{
    ViewBag.Title = "SchoolSubject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>

@*@if (TempData["textbookExistInTextBookbank"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["textbookExistInTextBookbank"]
            </span>
        </div>
    }*@


@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true)


                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstOrDefault().StaffName ,"Staff", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.FirstOrDefault().StaffName, new { @class = "" })
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().StaffName, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstOrDefault().ClassID, "class", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.FirstOrDefault().ClassID, ViewBag.TeachersClass as SelectList, "select school subjects", new { @id = "SubjectID" })
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().ClassID, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstOrDefault().SubjectID, "Subject", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.FirstOrDefault().SubjectID, ViewBag.TeachersSubject as SelectList, "select school subjects", new { @id = "SubjectID" })
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().SubjectID, "", new { @class = "text-danger" })
                        </div>

                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstOrDefault().DegreeID, "Degree", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.FirstOrDefault().DegreeID, ViewBag.TeachersDegree as SelectList, "select school subjects", new {@id = "SubjectID"})
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().DegreeID, "", new {@class = "text-danger"})
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstOrDefault().CourseID, "Course", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.FirstOrDefault().CourseID, ViewBag.TeachersCourse as SelectList, "select school subjects", new { @id = "SubjectID" })
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().CourseID, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-success"/>
                            @Html.ActionLink("Back to List", "SchoolStaffIndex", new { sddc = Request.QueryString["sddc"] },new {@class="btn btn-primary"})
                        </div>
                    </div>
                </div>



            }

            @*<div>
                @Html.ActionLink("Back to List", "SchoolStaffIndex",new {sddc= Request.QueryString["sddc"]})
            </div>*@


        </div>
    </div>
</div>
