﻿@using SchoolRecognitionSystem.Models
@model SchoolRecognitionSystem.Models.SchoolStaffList
@{
    ViewBag.Title = "Create Staff";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
@*<ol class="breadcrumb">
        <li><i class="glyphicon glyphicon-plane"></i></li>
        <li><a href="#">New School</a></li>
        <li class="active">School Staff</li>
    </ol>*@
@*<script src="~/Scripts/141jquery.js"></script>*@
@*<h2>FacilityTabbing</h2>*@
<div class="row">
    <section class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </aside>
        <article class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <section class="row">
                <article class="col-lg-9 col-md-9 col-sm-10 col-xs-10">

                    @if (TempData["DataSavedSuccessfully"] != null)
                    {
                        <div id="result" class="alert alert-success">
                            @TempData["DataSavedSuccessfully"]
                        </div>
                    }


                    @if (TempData["Fill"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["Fill"]
                        </div>
                    }

                    @if (TempData["PrincipalExist"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["PrincipalExist"]
                        </div>
                    }
                    @if (TempData["selectPrincipalDegreee"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["selectPrincipalDegreee"]
                        </div>
                    }






                    @if (TempData["Certificates"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["Certificates"]
                        </div>
                    }

                    @*<ul class="nav nav-tabs">
                            <li class="tab-pane active">
                                <a data-toggle="tab" id="">Staff</a>
                            </li>
                            <li>
                                <a data-toggle="tab" id="school-staff-record" data-href="@Url.Action("SchooStafflRecords", "SchoolStaffs")">School Staff Record</a>
                            </li>
                        </ul>*@
                    <article class="tab-content" style="margin: 20px;">
                        @*<section class="tab-pane active fade in" id="staff">
            <div class="mycustom-tab" id="loadPagePanel">*@
                        <!-- flight section -->
                        <div class="active">
                            <span id="messagesuccess"></span>

                            @using (Html.BeginForm("EditStaffSubject", "Schoolsedit", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", @id = "registerFormId" }))
                            {
                                @Html.AntiForgeryToken()
                                HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                                <div class="form-horizontal">
                                    <h2>please fill appropraitely</h2>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @*<p style="color:green">@ViewBag.Success</p>*@



                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SchoolStaffNameId, "Staff Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            @Html.DropDownList("SchoolStaffNameId", null, "(select staff)", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.SchoolStaffNameId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("DegID", "Degree/Course", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" id="coursedegree" style="width: 400px" disabled="disabled" />
                                                    @*<select id="DegID" name="DegID" class="form-control">
                                            <option value="0"></option>
                                        </select>*@
                                                </div>
                                                @*<div class="col-md-6">
                                        <select id="CourseID" name="CourseID" class="form-control">
                                            <option value="0"></option>
                                        </select>
                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    @*@Html.Hidden("SchoolID",ViewBag.SchId.ToString())*@
                                    @Html.Hidden("scs", Request.QueryString["scs"].ToString())
                                    @Html.Hidden("sddc", Request.QueryString["sddc"].ToString())
                                    <input type="hidden" value="@ViewBag.SchId" name="SchoolID" />
                                    <input type="hidden" name="scs" value="@Request.QueryString["scs"].ToString()" />
                                    <input type="hidden" name="sddc" value="@Request.QueryString["sddc"].ToString()" />

                                    <div class="row">
                                        @*<div class="col-md-2">Subject:</div>*@
                                        <div>Subject:</div>
                                        <div class="col-md-10">
                                            <input type="text" name="SearchSubject" placeholder="Search Subject" id="SearchSubject" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            @Html.Label("SubjectIDss", "Other Subjects", new { @class = "control-label col-md-1" })
                                            <div class="col-md-10">
                                                <div class="list-group" id="selected-states-wrapper" style="max-height: 300px; overflow-y: auto;">
                                                    @{
                                                        var allSubjects = ViewBag.AllSubjects as List<SubjectModel>;
                                                        var staffSubjects = ViewBag.StaffSubjectList as List<vwSchoolStaffsSubjects>;
                                                        //var dropdownSubectId = ViewBag.SubjectIdListbox;


                                                    }
                                                    @foreach (var item in allSubjects)
                                                    {
                                                        if (staffSubjects.FirstOrDefault(sel => item.ID == sel.SubjectID) != null)
                                                        {
                                                            <section class="row list-group-item" style="background-color: #db7093;">
                                                                <div class="col-md-11">
                                                                    <input type="checkbox" name="SubjectIDss" class="state-input" id="allsubject" value="@item.ID" checked /> <span>@item.LongName</span>
                                                                </div>

                                                            </section>
                                                        }
                                                        else
                                                        {
                                                            <section class="row list-group-item" style="background-color: #dff0d8;">
                                                                <div class="col-md-11">
                                                                    <input type="checkbox" name="SubjectIDss" data-hasitems="@item.HasItem" class="state-input" id="preselectedsubjectid" value="@item.ID" /> <span>@item.LongName</span>
                                                                </div>

                                                            </section>
                                                        }


                                                    }
                                                    @*else
                                        {
                                            if (item.ID == dropdownSubectId)
                                            {
                                                    <section class="row list-group-item" style="background-color: #dff0d8;">
                                                        <div class="col-md-11">
                                                            <input type="checkbox" name="SubjectIDs" data-hasitems="@item.HasItem" class="state-input" id="preselectedsubjectid" value="@item.ID" disabled="disabled" readonly="readonly" /> <span>@item.LongName</span>
                                                        </div>

                                                    </section>
                                            }
                                            else
                                            {
                                                    <section class="row list-group-item" style="background-color: #dff0d8;">
                                                        <div class="col-md-11">
                                                            <input type="checkbox" name="SubjectIDs" data-hasitems="@item.HasItem" class="state-input" id="preselectedsubjectid" value="@item.ID" /> <span>@item.LongName</span>
                                                        </div>

                                                    </section>
                                            }*@


                                                    }

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                    @*<div class="form-group">
                            @Html.Label("SubjectIDss", "Subject taught(s)", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("SubjectIDss", null, "(select Subject)", htmlAttributes: new { @multiple = "multiple", id = "secondsubjectid", @placeholder = "Select a Subject", @class = "SlectBox col-md-10" })
                                @Html.ValidationMessageFor(model => model.SubjectIDss, "", new { @class = "text-danger" })
                            </div>
                        </div>*@



                                    <input type="hidden" id="teacher-added" name="teacherAdded" value="0" />

                                    @Html.Hidden("SchoolID", Request.QueryString["sddc"])
                                    <input type="hidden" id="ID" name="ID" value="0" />
                                    @*<input type="hidden" id="SchoolSubjectID" name="SchoolSubjectID" value="@Model.SchoolSubjectID" />*@
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" id="btnSave" class="btn btn-success btn-sm"><i class="fa fa-add"></i>Update</button>
                                            @*<a href="/Schools/CreateStudent" onclick="return Submit();" id="btnnext" class="btn btn-warning @ViewBag.StudentRecords">Next</a>*@

                                        </div>
                                    </div>

                                </div>
                                                        }

                        </div>



                        @*</div>*@
                        @*</section>*@

                    </article>

                </article>
               </section>

        </article>
        <article class="col-md-2"></article>

    </section>
</div>


@section scripts{
    @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/custom-validator")*@
    @*<script src="~/Scripts/190jquery.min.js"></script>*@
    <script src="~/Scripts/jquery.sumoselect.js"></script>

    <script type="text/javascript">
        var globalSchoolId = 0;
        var globalStaffId = 0;
        var globalimageId;


        @*@{
            var subjects = new JavaScriptSerializer().Serialize(Model.AvailableSubjects.Select(sub =>
                new {sub.ID, sub.LongName, sub.HasItem, sub.isBarred, sub.DateUpdated}).ToList()
                );

        }*@







        $(function() {
            $("#isTRCN").click(function() {
                if ($(this).is(":checked")) {
                    $("#dvPassport").show();
                } else {
                    $("#dvPassport").hide();
                }
            });
        });

        function ReloadSchoolSubject(schoolId) {
            var url = '@Url.Action("_schoolSubjects", "SchoolStaffs")';
            $("#SchoolSubjectList").load(url, { schid: schoolId });

        };


        $(document).ready(function() {
            $('.prinproradio').hide();
            $('.principalproprietoroption2').hide();
            $(window).scroll(function() {
                $('#side-subject-container').animate({ top: $(this).scrollTop() - 300 }, 5, "linear");
                if ($(this).scrollTop() <= 200) {
                    $('#side-subject-container').css('position', 'static');
                } else {
                    $('#side-subject-container').css('position', 'relative');
                }
            });
            window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 4 });

        @*$("#SchoolStaffName").on("change", function () {
                //var id = $(this).data(sub);
                var id = $(this).val();
                //$('.school-subjects').removeClass('school-subjects-selected');
                //$('#school-subject-' + id).addClass('school-subjects-selected major-subjects');
                //console.log($('#school-subject-' + id).addClass('school-subjects-selected major-subjects'));
                var baseUrl = '@Url.Content("~/")';
                var url = baseUrl + "api/recog/GetStaffCourse";
                var markup = "<option value='0' selected='selected'>--select Course--</option>";
                $("#CoursID").html(markup).show();
                $.get(url, { StaffID: id }, function(data) {
                    if (data != null) {

                        markup += "<option selected value='" + data.CoursID + "'>" + data.CourseTitle + "</option>";


                        $("#CoursID").html(markup).show();
                    }
                });
            });
            $("#SchoolStaffName").trigger('change').selected();
        });*@

      $("#SchoolStaffNameId").on("change", function () {
                //var id = $(this).data(sub);
                var id = $(this).val();
                //$('.school-subjects').removeClass('school-subjects-selected');
                //$('#school-subject-' + id).addClass('school-subjects-selected major-subjects');
                //console.log($('#school-subject-' + id).addClass('school-subjects-selected major-subjects'));
                var baseUrl = '@Url.Content("~/")';
                var url = baseUrl + "api/recog/GetStaffCourse";
            var markup = "";// "<option value='0' selected='selected'>--select Course--</option>";
                //$("#CourseID").html(markup).show();
                //alert("staff id selected :: "+id);
                $.get(url, { StaffID: id }, function (data) {
                    console.log(data);
                    if (data != null) {
                        var d = data;
                       // alert(d[0].CourseTitle + "  " + d[0].DegreeType);
                        $('#coursedegree').val(d[0].CourseTitle + "  " + d[0].DegreeType);

                        //markup += "<option selected value='" + d[0].CourseID + "'>" + d[0].CourseTitle + "</option>";
                        //$("#CoursID").html(markup).show();
                        //$("#CoursID").val(data.CoursID);
                    }
                    //alert('pius'+data.length);
                });
                //url = baseUrl + "api/recog/GetStaffDegree";
               // markup = "<option value='0' selected='selected'>--select Degree--</option>";
                //$("#DegID").html(markup).show();
                //$.get(url, { StaffID: id }, function (data) {
                //    console.log(data);
                //    if (data != null) {
                //       // alert('emeka' + data.DegreeType);
                //        markup += "<option selected value='" + data.DegID + "'>" + data.DegreeType + "</option>";
                //        $("#DegID").html(markup).show();
                //    }
                //});
            });
            $("#SchoolStaffNameId").trigger('change');







            function Submit() {
                if (confirm("Are you sure you want to go the next page?")) {
                    return true;
                } else {
                    return false;
                }


            }


            function ReloadSchoolSubject(schoolId) {
                var url = '~/SchoolStaffs/_schoolSubjects';
                $.get(url, { schoolID: schoolId }, function(data) {
                    $("#SchoolSubjectList").html(data);
                });
            };

        });



        $('#SearchSubject').on('keyup', function () {

            var searcchHtml = '';
            var searchValue = $(this).val();
            if (searchValue === '') {
                //RESET LIST OF NOTHING IS ENTERED
                $(allSubjects).each(function (index, subject) {
                    if (in_array(defaultSubjectsAssignedToUser, subject.ID)) {
                        searcchHtml += '<section class="row list-group-item" style="background-color: #dff0d8;">' +
                            '<div class="col-md-11">' +
                            '<input type="checkbox" name="AvailableStateSelectedEdit[]" data-hasitems="' + subject.HasItem + '"' +
                            'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" checked /> <span>' + subject.LongName + '</span></div>' +
                            '<div class="col-md-1">' +
                            '<a href="javascript:void();"><i class="fa fa-edit edit-subject" data-subjectid="' + subject.ID + '" data-hasitems="' + subject.HasItem + '"></i></a>' +
                            '</div>' +
                            '<input type="hidden" name="updatesubjectid" id="' + subject.ID + '"/>' +
                            '</section>';
                    } else {
                        searcchHtml += '<section class="row list-group-item">' +
                            '<div class="col-md-11">' +
                            '<input type="checkbox" name="AvailableStateSelectedEdit[]" data-hasitems="' + subject.HasItem + '"' +
                            'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" /> <span>' + subject.LongName + '</span></div>' +
                            '<div class="col-md-1">' +
                            '<a href="javascript:void();"><i class="fa fa-plus-circle add-subject" data-subjectid="' + subject.ID + '" data-hasitems="' + subject.HasItem + '"></i></a>' +
                            '</div>' +
                            '</section>';
                    }
                });
                $('#selected-states-wrapper').html(searcchHtml);
                return;
                //END RESET LIST
            }
            $(allSubjects).each(function (index, subject) {
                if (subject.LongName.toLowerCase().indexOf(searchValue.toLowerCase()) > -1) {
                    if (in_array(defaultSubjectsAssignedToUser, subject.ID)) {
                        searcchHtml += '<section class="row list-group-item" style="background-color: #dff0d8;">' +
                            '<div class="col-md-11">' +
                            '<input type="checkbox" name="AvailableStateSelectedEdit[]" data-hasitems="' + subject.HasItem + '"' +
                            'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" checked /> <span>' + subject.LongName + '</span></div>' +
                            '<div class="col-md-1">' +
                            '<a href="javascript:void();"><i class="fa fa-edit edit-subject" data-subjectid="' + subject.SubjectID + '"></i></a>' +
                            '</div>' +
                            '<input type="hidden" name="updatesubjectid" id="' + subject.ID + '"/>' +
                            '</section>';
                    } else {
                        searcchHtml += '<section class="row list-group-item">' +
                            '<div class="col-md-11">' +
                            '<input type="checkbox" name="AvailableStateSelectedEdit[]" data-hasitems="' + subject.HasItem + '"' +
                            'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" /> <span>' + subject.LongName + '</span></div>' +
                            '<div class="col-md-1">' +
                            '<a href="javascript:void();"><i class="fa fa-plus-circle add-subject" data-subjectid="' + subject.ID + '"></i></a>' +
                            '</div>' +
                            '<input type="hidden" name="updatesubjectid" id="' + subject.ID + '"/>' +
                            '</section>';
                    }

                }
            });
            if (searcchHtml !== '') {
                $('#selected-states-wrapper').html(searcchHtml);
            } else {
                $('#selected-states-wrapper').html('No result found for ' + searchValue);
            }


        });


    </script>

}
