﻿@using SchoolRecognitionSystem.Models
@model SchoolRecognitionSystem.Models.SchoolStaffModelEdit
@{
    ViewBag.Title = "FacilityTabbing";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">School Staff</li>
</ol>
@*<script src="~/Scripts/141jquery.js"></script>*@
@*<h2>FacilityTabbing</h2>*@
<div class="row">
    <section class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </aside>
        <article class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <section class="row">
                <article class="col-lg-9 col-md-9 col-sm-10 col-xs-10">

                    @if (TempData["DataSavedSuccessfully"] != null)
                    {
                        <div id="result" class="alert alert-success">
                            @TempData["DataSavedSuccessfully"]
                        </div>
                    }



                    @if (TempData["Certificates"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["Certificates"]
                        </div>
                    }

               
                    <article class="tab-content" style="margin: 20px;">
                        <section class="tab-pane active fade in" id="staff">
                            <div class="mycustom-tab" id="loadPagePanel">
                                <!-- flight section -->
                                <div class="active">
                                    <span id="messagesuccess"></span>
                                    @*@if (Session["SchoolID"] != null)
                    {*@
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", @id = "registerFormId" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                                        <div class="form-horizontal">

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @*<p style="color:green">@ViewBag.Success</p>*@

                                            @*<div class="form-group">
                                @Html.LabelFor(model => model.TitleID, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("TitleID", null, "(select Title)", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TitleID, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LastName, "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ContactAddress, "Address", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ContactAddress, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ContactAddress, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DateEmployed, "Date Employed", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.DateEmployed, new { htmlAttributes = new { @class = "monthPicker form-control", placeholder = "select date", id = "month", name = "month" } })
                                                    @Html.ValidationMessageFor(model => model.DateEmployed, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CategoryID, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @*@Html.DropDownList("CategoryID", null, "(select Category)", htmlAttributes: new { @class = "form-control" })*@
                                                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                @Html.LabelFor(model => model.SubjectID, "Subject taught", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">

                                    @Html.DropDownList("SubjectID", null, "(select Subject)", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                                            <div class="form-group">
                                                @Html.Label("DegreeID", "Qualifications", new {@class = "control-label col-md-2"})
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-md-5" style="margin-right: 20px;">
                                                            @*@Html.DropDownList("DegreeID", null, "(select degree)", new {@class = "form-control", multiple="multiple"})*@
                                                            <article class="row list-group" style="max-height: 200px; overflow-y: auto;">
                                                                @{
                                                                    var degrees = ViewBag.Degrees as List<Degree>;
                                                                }

                                                                @if (degrees != null)
                                                                {
                                                                    foreach (var degree in degrees)
                                                                    {
                                                                        <section class="list-group-item">
                                                                            @if (Model.DegreeID.Any(degId => degId == degree.ID))
                                                                            {
                                                                                <input type="checkbox" name="DegreeID[]" checked="checked" value="@degree.ID"/>
                                                                                <span>@degree.DegreeType</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox" name="DegreeID[]" value="@degree.ID"/>
                                                                                <span>@degree.DegreeType</span>
                                                                            }
                                                                        </section>
                                                                    }
                                                                }
                                                            </article>
                                                        </div>

                                                        <article class="row list-group" style="max-height: 200px; overflow-y: auto;">
                                                            @{
                                                                var courses = ViewBag.Courses as List<SchStaffCourse>;
                                                            }

                                                            @if (courses != null)
                                                            {
                                                                foreach (var course in courses)
                                                                {
                                                                    <section class="list-group-item">
                                                                        @if (Model.CourseID.Any(courId => courId == course.ID))
                                                                        {
                                                                            <input type="checkbox" name="CourseID[]" checked="checked" value="@course.ID"/>
                                                                            <span>@course.CourseTitle</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="checkbox" name="CourseID[]" value="@course.ID"/>
                                                                            <span>@course.CourseTitle</span>
                                                                        }
                                                                    </section>
                                                                }
                                                            }
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                         

                                            @*<div class="form-group">
                                                @Html.Label("ClassID", "Classes", new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-md-5" style="margin-right: 20px;">
                                                            <article class="row list-group" style="max-height: 200px; overflow-y: auto;">
                                                                @{
                                                                    var classes = ViewBag.ClassID as List<Class>;
                                                                }

                                                                @if (classes != null)
                                                                {
                                                                    foreach (var classe in classes)
                                                                    {
                                                                        <section class="list-group-item">
                                                                            @if (Model.ClassID.Any(cls => cls == classe.ID))
                                                                            {
                                                                                <input type="checkbox" name="ClassID[]" checked="checked" value="@classe.ID" />
                                                                                <span>@classe.ClassName</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox" name="ClassID[]" value="@classe.ID" />
                                                                                <span>@classe.ClassName</span>
                                                                            }
                                                                        </section>
                                                                    }
                                                                }
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@

                                            <div class="form-group" id="image-wrapper">
                                                @Html.Label("Upload TRCN & school certificates", htmlAttributes: new { @class = "control-label col-md-2" })
                                                @ViewBag.Message
                                                @foreach (var image in Model.Images)
                                                {
                                                    <div class="col-md-2" id="image-container-@image.CredentialID">
                                                        <input type="hidden" name="imagesUploaded[]" value="@image.Image" />
                                                        <a href="javascript:void(0);" class="image-delete" data-token="@image.CredentialID" title="Delete Image"><i class="fa fa-times"></i></a>
                                                        <a href="@image.Image" target="_new"><img src="@image.Image" width="100" height="100" /></a>
                                                    </div>
                                                }
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    @Html.Label("Add Images", htmlAttributes: new {@class = "control-label col-md-2"})
                                                    <div class="col-md-5">
                                                        <input type="file" id="uploadImage" class="form-control"/>
                                                    </div>
                                                    <div class="col-md-5" style="padding-left: 30px; margin-top: 9px;">
                                                        <input type="hidden" name="ID" id="staff-id" value="@Model.ID"/>
                                                        <button type='button' class="btn btn-success btn-sm" id="save-image">Save Image</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <label><input type="checkbox" style="width: 15px; height: 15px;" value="true" name="isTRCN" id="isTRCN"><span style="padding-left:6px; margin-top: 8px;">Has TRCN(Teacher Registration Council of Nigeria)</span></label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-2 col-xs-5">
                                                    @Html.Label("", "Other Qualifications")
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.OtherDegree, new { htmlAttributes = new { @class = "form-control" } })
                                                    @*@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>


                                        </div>



                                                    <input type="hidden" id="teacher-added" name="teacherAdded" value="0" />


                                                    <input type="hidden" id="ID" name="ID" value="0" />
                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" value="Add" class="btn btn-primary" @*onclick="DeleteValues(); return false"*@ />
                                                            @*<a href="/Schools/CreateStudent" onclick="return Submit();" id="btnnext" class="btn btn-warning @ViewBag.StudentRecords">Next</a>*@

                                                            @Html.ActionLink("Next", "CreateStudent", "Schools", null, new { @class = "btn btn-warning ", onclick = "return Submit();" });


                                                            @*@Html.ActionLink("Next", "CreateStudent", "Schools", null, new {@class = "btn btn-warning ",@onclick = "javascript:return false;" , @data_confirmprompt = "are you sure?" });*@

                                                            @*<input type="submit" value="Create" class="btn btn-default"/>*@
                                                        </div>
                                                    </div>

                                                                    }
                                    @*}
                    else
                                {
                                <div class="well"> Section is null </div>

                                }*@
                                </div>

                            </div>
                        </section>


                    </article>

                </article>
                <aside class="col-md-3">
                    <div style="margin-top: 156px; position: relative;" id="side-subject-container">
                        <div class="list-group">
                            <!--school-subjects-selected-->
                            @{
                                @*var subjects = ViewBag.SubjectID as IEnumerable<SelectListItem>;
                                foreach (var subject in subjects)
                                {
                                    <div class="list-group-item school-subjects" id="school-subject-@subject.Value">
                                        @subject.Text
                                    </div>
                                }*@
                            }



                        </div>
                    </div>
                </aside>
            </section>

        </article>
        <article class="col-md-2"></article>

    </section>
</div>


@section scripts{
    @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/custom-validator")*@
    @*<script src="~/Scripts/190jquery.min.js"></script>*@
    <script src="~/Scripts/jquery.sumoselect.js"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            $(document).on('click','.image-delete', function () {
                if (confirm('Are you sure you want to delete image?')) {
                    var imageId = $(this).data('token');
                    $.post('@Url.Action("DeleteImage", "SchoolsEdit")', { imageId: imageId }, function (result) {
                        if (result.status) {
                            $('#image-container-' + imageId).remove();
                        } else {
                            alert('Image failed to delete');
                        }
                    });
                }
            });
            $("#save-image").click(function () {
                var data = new FormData();
                var files = $("#uploadImage").get(0).files;
                if (files.length > 0) {
                    data.append("file", files[0]);
                    data.append('staffId', $('#staff-id').val());
                } else {
                    alert('Please select image file to upload.');
                    return;
                }
                $.ajax({
                    url: '@Url.Action("AddImageToCredentials", "SchoolsEdit")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        if (response.status) {
                            var image = '<div class="col-md-2" id="image-container-' + response.CredentialID + '" >' +
                                '<a href="javascript:void(0);" class="image-delete" data-token="' + response.CredentialID + '" title="Delete Image"><i class="fa fa-times"></i></a>' +
                                '<a href="' + response.Image + '" target="_new">' +
                                '<img src="' + response.Image + '" width="100" height="100"></a>' +
                                '</div>';
                            $('#image-wrapper').append(image);
                            $("#uploadImage").val('');
                        } else {
                            alert(response.failedReply);
                        }

                    },
                    error: function (er) {
                        alert(er);
                    }

                });
            });
        });
    </script>
}
