﻿@using SchoolRecognitionSystem.Models
@model  List<SchoolRecognitionSystem.Models.ClassAllocationvModel>

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">Student</li>
</ol>
@*@Session["UserEmail"]*@
@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEditVet");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <ol class="breadcrumb">
                <li><i class="glyphicon glyphicon-plane"></i></li>



                <li><a href="@Url.Action("newschool", "SchoolS", new {sddc = @Request.QueryString["sddc"]})">go back to school</a></li>

                <li><a href="@Url.Action("CreateStudent", "SchoolSEdit", new {sddc = @Request.QueryString["sddc"]})">Manage class</a></li>



                <li><a href="@Url.Action("Subjects", "Schools", new {sddc = @Request.QueryString["sddc"]})">Manage Subject</a></li>

                @*@Html.ActionLink("Cancel", "welcome", "schools", new { sddc = Request.QueryString["sddc"] }, new { @class = "btn btn-amber btn-sm pull-right", @aria_hidden = "true" })*@


                <li class="active"></li>
            </ol>
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "FormPost"}))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @*<h4>ClassAllocation</h4>*@
                        <hr/>
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                        <section class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Class</th>
                                    <th>Number Of Streams</th>
                                    <th>Total Students</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>



                                @foreach (var classReg in Model)
                                {

                                    <tr class="schoolrowid" data-classname="@classReg.ClassName" data-schoolid="@classReg.SchoolID" data-classid="@classReg.ClassID" data-streams="@classReg.NoOfStreams" data-totalstudents="@classReg.TotalStudents">
                                        <td>@classReg.ClassName</td>
                                        <td>@classReg.NoOfStreams</td>
                                        <td>
                                            @classReg.TotalStudents
                                        </td>
                                        <td>
                                            @Html.Hidden("sddc", Request.QueryString["sddc"])
                                            @*<input type="hidden" id="sddc" name="sddc" value="@Request.QueryString["sddc"]"/>*@
                                            @Html.ActionLink("Edit", "EditClass", new {scid = classReg.ID, sddc = classReg.SchoolID})
                                        </td>
                                        <td>
                                          
                                            @Html.ActionLink("Delete", "DeleteClass", new { scid = classReg.ID, sddc = classReg.SchoolID })
                                        </td>

                                    </tr>
                                }


                                </tbody>
                            </table>
                        </section>
                    </div>



                    @*<div class="col-md-10">
                            <input type="submit" style="margin-right: 30px" value="Next" class="btn btn-primary" />
                        </div>*@

                }
                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>


        </div>
    </div>





</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#FormPost').submit(function(e) {
                //This line will prevent the form from submitting
                e.preventDefault();
                var classId = $('#ClassID').val();
                var noOfStreams = $('#NoOfStreams').val();
                var totalStudents = $('#TotalStudents').val();
                $('.hiderow').hide();
                //var schoolId = $('#classschoolid').val();
                //console.log(schoolId);

                $.ajax({
                    type: 'POST',
                    url: $('#FormPost').attr('action'),
                    data: { ClassID: classId, NoOfStreams: noOfStreams, TotalStudents: totalStudents },
                    accept: 'application/json',
                    error: function(xhr, status, error) {
                        alert('failed to insert ');
                    },
                    success: function(response) {

                        if (response.status === "1") {
                            $('#student-added').val(response.studentAdded);
                            alert('data is succesfully inserted!');
                            if ($('#student-added').val() == "1") { $('#btn-next').removeAttr('disabled') }
                            $('#students-table-body').append('<tr class="schoolrowid" data-classname="' + $('#ClassID option:selected').text() + '" data-classid="' + classId + '" data-streams="' + noOfStreams + '" data-totalstudents="' + totalStudents + '" >' +
                                '<td>' + $('#ClassID option:selected').text() + '</td>' +
                                '<td>' + $('#NoOfStreams').val() + '</td>' +
                                '<td>' + $('#TotalStudents').val() + '</td>' +
                                '</tr>');
                            $('#ClassID option:selected').remove();
                            //DeleteValues();
                            $('#NoOfStreams').val('');
                            $('#TotalStudents').val('');
                        } else {
                            alert('Failed to insert');
                        }
                    }

                });
            });

            $('#btn-next').on("click", function(e) {
                e.preventDefault();
                if (confirm("Are you sure you want to go the next page?")) {
                    var classesArray = [];
                    $('#students-table-body .schoolrowid').each(function(index, element) {

                        if ($(element).attr('data-classname') !== 'SS 1') {
                            classesArray.push({'ClassID': $(element).data('classid'),
                                'NoOfStreams': $(element).data('streams'),
                                'TotalStudents': $(element).data('totalstudents')});
                        }

                    });
                    var schoolId = $('#classschoolid').val();

                   // console.log(classesArray);
                    $.post('@Url.Action("Classroom", "Assessment")', { sch: schoolId, items: classesArray }, function (response) {

                        @*$.post('/Assessment/Classroom?sdc=@Request.QueryString["sdc"]', { sch: schoolId, items: classesArray }, function (response) {*@

                        window.location.href = '@Url.Action("FacilityTabbing", "Schools")';


                        //$.post('/Assessment/Classroom?schoolid='+schoolId, { sch: schoolId, isAppoved: checkedItem, items: classesArray }, function (response) {


                    });
                };

            });


            $(document).on('click', '.schoolrowid', function (e) {
                //var schoolId = $(this).attr('data-schoolId');
                //var subjectId = $(this).attr('data-subjectId');
                //var tokenid = $(this).attr('data-token');
                //var classid = $(this).attr('data-classid');
                //var schoolid = $(this).attr('data-schoolid');
                var thisVar = $(this);
                $.post('/SchoolSEdit/DeleteClass', { classid: classid, sddc: schoolid }, function (response) {
                    if (response.status === true) {
                        $(thisVar).parents().parents().first().remove();
                        window.location.href = response.redirectUrl;


                    }
                });
            });



            function DeleteValues() {
                var dropDown = document.getElementById("ClassID");
                for (var i = 0; i <= dropDown.options.length; i++) {
                    if (dropDown.options[i].selected) {
                        dropDown.removeChild(dropDown.options[i]);
                        break;
                    }
                }
            }
        });

        //function Submit() {
        //    if ($('#student-added').val() !== '1') {

        //        alert('please add at least one student record');
        //        return false;
        //    }
        //    if (confirm("Are you sure you want to go the next page?")) {
        //        return true;
        //    } else {
        //        return false;
        //    }



    </script>




}

