﻿@model IEnumerable<SchoolRecognitionSystem.Models.SchoolStaffList>
@{
    ViewBag.Title = "Staff List";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>

@*@if (TempData["Information"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["Information"]
            </span>
        </div> }*@

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit")
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <ol class="breadcrumb">
                <li><i class="glyphicon glyphicon-plane"></i></li>



                <li><a href="@Url.Action("CreateX", "SchoolSEdit", new {sddc = @Request.QueryString["sddc"]})">Manage staff</a></li>



                <li><a href="@Url.Action("Subjects", "Schools", new {sddc = @Request.QueryString["sddc"]})">Manage Subject</a></li>

                <li><a href="@Url.Action("School", "SchoolSEdit", new {sddc = @Request.QueryString["sddc"]})">Back to School Edit</a></li>


                @*@Html.ActionLink("Cancel", "welcome", "schools", new { sddc = Request.QueryString["sddc"] }, new { @class = "btn btn-amber btn-sm pull-right", @aria_hidden = "true" })*@


                <li class="active"></li>
            </ol>


            <div id="result" class="alert" style="display: none">
            </div>



            <div class="mycustom-tab">
                <!-- flight section -->
                <div class="active">

                    <p style="color: green; font-weight: bold">@ViewBag.Success</p>
                    @*@if (Session["SchoolID"] != null)
                        {*@
                    @*<h2>Index</h2>*@

                    @*<p>
                            @Html.ActionLink("", "Create")
                        </p>*@
                    <div>
                        <a class='btn btn-primary pull-right' href="@Url.Action("Index","Schools",new {sddc=@Request.QueryString["sddc"]})">School List</a>
                    </div>
                    @*<div class="pull-right">
                        <a class='btn btn-success' href="@Url.Action("Create", "SchoolsEdit",new {sddc=@Request.QueryString["sddc"]})">Add staff for an existing subject</a>
                    </div>*@
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                Category
                            </th>
                            <th>
                                Name Of Teachers
                            </th>
                            <th>
                                Degrees/Qualifications
                            </th>
                            @*<th>
                                    Other degrees
                                </th>*@
                            @*<th>
                                Subjects Taught
                            </th>*@

                            @*<th>
                                    Classes
                                </th>*@
                            <th>
                                Has TRCN
                            </th>
                            <th>Action</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Staff.Category)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Staff.FirstName)
                                    @Html.DisplayFor(modelItem => item.Staff.LastName)
                                </td>

                                @*<td>
                                        @foreach (var degree in item.SchoolStaffDegreeList)
                                        {
                                            <div>@degree.DegreeType</div>
                                        }
                                    </td>*@
                                <td>
                                    @foreach (var qualification in item.SchoolStaffDegreeList)
                                    {
                                        <div>@qualification.DegreeType</div>
                                            <div>@qualification.OtherDegree</div>
                                            <div>@qualification.CourseTitle</div>
                                    }
                                </td>
                                @*<td>
                                        @foreach (var qualification in item.SchoolStaffOtherDegreeList)
                                        {
                                          <div>@qualification.OtherDegree</div>

                                        }
                                    </td>*@
                                @*<td>
                                    @foreach (var subjectTaught in item.SchoolStaffSubjectTaughtList)
                                    {
                                        <div>@subjectTaught.SubjectLongName</div>
                                    }
                                </td>*@


                                @*<td>
                                        @foreach (var classid in item.SchoolStafflassList)
                                        {
                                            <div>@classid.ClassName</div>
                                        }
                                    </td>*@
                                <td>
                                    @item.Staff.isTRCN
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Staff", new { scs = @item.Staff.ID, sddc = @item.Staff.SchoolID }, new { @class = "btn btn-primary btn-sm"})
                                    @*@Html.ActionLink("Details", "Details",null, new { sddc = @item.Staff.ID, @class = "btn btn-primary btn-sm" })*@
                                    @Html.ActionLink("Delete", "DeleteStaff", new { staffid = @item.Staff.ID, sddc=item.Staff.SchoolID }, new { @class = "btn btn-primary btn-sm" })
                                </td>
                            </tr>
                        }

                    </table>

                    @*}
                                else
                                {
                            <div class="well">Section is null</div>

                        }*@

                </div>

            </div>


        </div>
    </div>
</div>
@section scripts{
    <script>
            $(function () {
                $('#staff').on('click', function () {
                    document.location = $(this).attr("data-href");
                });
            });
    </script>
}
