﻿@model PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolProfileViewModel1>
@using PagedList.Mvc;

@*@model List<SchoolRecognitionSystem.Models.SchoolProfileViewModel1>*@
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<div class="container-fluid">
    <h1 class="text-centre">Schools Vetting</h1>
    <div class="clearfix"></div>

    @if (Model.Count > 0)
    {
        <section class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Office</th>
                        <th>LGA</th>
                        <th>State</th>
                        <th>Created By</th>
                        @*<th>Completion Status</th>*@
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        var sn = (Model.PageNumber - 1) * Model.PageSize + 1;
                    }
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>@sn</td>
                            <td>@item.Category</td>
                            <td>@item.Status</td>
                            <td>@item.SchoolName</td>
                            <td>@item.SchoolLocation</td>
                            <td>@item.OfficeName</td>
                            <td>@item.Name</td>


                            <td>@item.StateName</td>
                            <td>@item.EmailAddress</td>
                            @*<td></td>*@
                            <td>
                                <a href="@Url.Action("VetRegisteredSchoolsDetails", "Vet", new {sddc = item.ID})">View Details</a>
                            </td>


                        </tr>
                        sn++;
                    }
                </tbody>
            </table>
            <div id='Paging' style="text-align: center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("VetRegisteredSchools", new { page }))

            </div>
        </section>
                        }
</div>


@section scripts{
    <script type="text/javascript">
        var stateId = 0;
        $(document).ready(function () {

            $("#ID").change(function() {
                stateId = $("#ID").val();
                getEquipmentTable(stateId, 1);
                //console.log(id);
                //$.ajax({
                //    url: "/Assessment/Index",
                //    data: { state: id },
                //    type: 'POST',
                //    success: function(data) {
                //    }

                //});
            });

            function getEquipmentTable(std, page) {
                //console.log(bag + ' pastor');
                //  $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
                if (parseInt(stateId) > 0) {
                    //+ddlrec + "&facid=" + ddlfaci + "&factext=" + textitem;
                    //document.location = '/Recognition/Schools/FacilityTabbing/?subjectId=' + subjectId;
                    stateId = std;
                    console.log(stateId);
                    document.location = '@Url.Action("Index", "Assessment")?state=' + stateId;
                } else {
                    //$("#itemsDetailTable").html("No Subject selected yet.");
                }
            }


        });
    </script>
}
