﻿@using SchoolRecognitionSystem.Models
@model SchoolRecognitionSystem.Models.StateViewModel

@{
    ViewBag.Title = "AssignState";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@*<h2>AssignState</h2>*@

<div class="row">
    <div class="">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AdminPartial");
        </div>
        <div class="" id="loadPagePanel">

            <div class="form-horizontal">
                @*<h4>UserViewModel</h4>*@
                <hr />
                @using (Html.BeginForm("AssignState", "Admin", FormMethod.Post, new { id = "FormPost" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("UserID")
                    if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-primary">
                            @ViewBag.SuccessMessage
                        </div>
                    }


                    <div class="col-md-10">
                        <fieldset class="nomargin">
                            <legend>
                                Assign States to Administrators
                            </legend>
                            @if (TempData["aUser"] != null)
                            {
                                <div class="alert alert-primary">
                                    <span class="myInfowtb">
                                        @TempData["aUser"]
                                    </span>
                                </div>
                            }
                           <br />
                            <div class="col-md-9 col-sm-9">
                                <div class="form-group">
                                    @Html.ListBoxFor(model => model.FilterStates.AvailableStateSelected, new MultiSelectList(ViewBag.States as List<State>, "StateCode", "StateName", Model.FilterStates.AvailableStateSelected), new { @class = "form-control", @id = "abc", data_value = "StateCode", data_text = "StateName", multiple = "multiple", data_title = "States" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                @{
                                    var assignedStates = ViewBag.AssignedStates as List<AssignedStatesByRoleNameModel>;
                                }
                                @if (assignedStates != null && assignedStates.Count > 0)
                                {
                                    <h2>Already assigned states (@assignedStates.Count)</h2>
                                    <div class="list-group" style="max-height: 240px; overflow-y: auto;">
                                        @foreach (var item in assignedStates)
                                        {
                                            <div class="list-group-item">@item.StateName | @item.Surname</div>
                                        }
                                    </div>  

                                }
                               
                            </div>
                            <div class="clearfix"></div>
                            <footer>
                                <br /><br />
                                <p>
                                    @Html.ActionLink("Back to List", "CreateRole") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="submit" value="Save" class="btn btn-primary" @*onclick="DeleteValues(); return false"*@/>
                                </p>

                            </footer>
                        </fieldset>
                    </div>
                }
            </div>


        </div>
    </div>
</div>





@section scripts{
    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Scripts/dual-list-box.min.js"></script>
    <script type="text/javascript">
                    $(document).ready(
                    (function () {

                        $('select[name="FilterStates.AvailableStateSelected"]').DualListBox({ json: false }); //RequestedSelected
                    }));


    </script>
}
