﻿@using SchoolRecognitionSystem.Models
@model SchoolRecognitionSystem.Models.LocalModel

@{
    ViewBag.Title = "AssignState";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@*<h2>AssignState</h2>*@

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AdminPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">

            <div class="form-horizontal">
                @*<h4>UserViewModel</h4>*@
                <hr />
                @using (Html.BeginForm("AssignLga", "Admin", FormMethod.Post, new { id = "FormPost" }))
                {
                    @Html.AntiForgeryToken()
                    if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-primary">
                            @ViewBag.SuccessMessage
                        </div>
                    }


                    <div class="col-md-10">
                        <fieldset class="nomargin">
                            <legend>
                                Assign States to Administrators
                            </legend>
                            @if (TempData["aUser"] != null)
                            {
                                <div class="alert alert-primary">
                                    <span class="myInfowtb">
                                        @TempData["aUser"]
                                    </span>
                                </div>
                            }
                            <br/>



                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.OfficeID, "Office", new {@class = "label"})
                                <div class="select">
                                   @Html.DropDownListFor(model => model.OfficeID, ViewBag.OfficeList as SelectList, "--(select office)--",
                                        new Dictionary<string, object> {{"class", "form-control select2-dropdown"}})
                                    <span class="tooltip tooltip-top-right">Select Office</span>
                                </div>@Html.ValidationMessageFor(model => model.OfficeID)
                            </div>

                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.StateID, "State", new { @class = "label" })
                                <div class="select">
                                   @Html.DropDownListFor(model => model.StateID, ViewBag.StatesList as SelectList, "--(select state)--",
                        new Dictionary<string, object> { { "class", "form-control select2-dropdown" } })
                                    <span class="tooltip tooltip-top-right">Select State</span>
                                </div>@Html.ValidationMessageFor(model => model.StateID)
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <br /><br />
                                    @Html.ListBoxFor(model => model.AvailableStateSelectedX, new MultiSelectList(ViewBag.LGAList as List<LocalModel>, "ID", "Name", Model.AvailableStateSelectedX), new {@class = "form-control", @id = "abc", data_value = "LgaID", data_text = "Name", multiple = "multiple", data_title = "Names"})
                                </div>
                            </div>



                            <footer>
                                <p class="pull-right">
                                    @Html.ActionLink("Back to List", "CreateRole")
                                    <input type="submit" value="Save" class="btn btn-primary" @*onclick="DeleteValues(); return false"*@ />
                                </p>

                            </footer>
                        </fieldset>
                    </div>
                }
            </div>


        </div>
    </div>
</div>





@section scripts{
    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Scripts/dual-list-box.min.js"></script>
    <script type="text/javascript">
                    $(document).ready(
                    (function () {
                        $('select[name="AvailableStateSelectedX"]').DualListBox({ json: false }); //RequestedSelected
                    }));



                    $("#StateID").on("change", function () {
                        var url = '@Url.Action("AssignLga")?stateId=' + $('#StateID').val() + '&officeID=' + $('#OfficeID').val();
                        document.location = url;
                        /*var markup = "<option value='0' selected='selected'>--select LGA--</option>";
                        $("#abc").html(markup).show();
                        $.get(url, { StateID: id }, function (data) {
                            console.log(data);
                            if (data != null) {
                                for (var i = 0; i < data.length; i++) {
                                    //var lgaid = $('#lgaid').data('lgaid');
                                    //if (lgaid != null) {
                                    //    if (lgaid == data[i].LgaID) {
                                    //        markup += "<option selected value='" + data[i].LgaID + "'>" + data[i].Name + "</option>";
                                    //    }
                                    //}

                                    markup += "<option value='" + data[i].LgaID + "'>" + data[i].Name + "</option>";
                                }

                                $("#abc").html(markup).show();
                            }
                        });*/
                    });
                   // $("#StateID").trigger('change');
                    




    </script>
}
