﻿@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Models
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.UserViewModel>
@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    @*<li><a href="#">User Management</a></li>
    <li class="active">Assign Role</li>*@
</ol>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AdminPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            @if (Model.Count > 0)
            {
                <section class="form-group">
                    <div class="table-responsive">

                        @*<a href="#" class="add">AssignState</a>*@
                        <table class="table table-bordered" id="tview" style="margin-top: 30px;">
                            <tr>

                                <th>
                                    <a>Username</a>
                                </th>

                                <th>
                                    <a>Role Name</a>
                                </th>
                                <th>
                                    <a>Office</a>
                                </th>

                                <th>
                                    <a>Activate</a>
                                </th>
                                <th>
                                    <a>Action</a>
                                </th>


                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr class="item">

                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmailAddress)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StateName)
                                    </td>




                                    <td>
                                        @if (item.isActive)
                                        {
                                            <button type='button' data-rowtoken="@item.ID" class="btn btn-success btn-sm activate">
                                                Deactivate
                                            </button>
                                            <i class="spinner-wrapper fa fa-spinner fa-spin" style="visibility: hidden"></i>
                                            <input type="hidden" value="@item.EmailAddress" id="emailAddressId_@item.ID" />
                                        }
                                        else
                                        {
                                            <button type='button' class="btn btn-danger btn-sm activate" data-rowtoken="@item.ID">
                                                Activate
                                            </button>
                                            <i class="spinner-wrapper fa fa-spinner fa-spin" style="visibility: hidden"></i>
                                            <input type="hidden" value="@item.EmailAddress" id="emailAddressId_@item.ID" />
                                        }
                                        @*<i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>*@
                                        @*<span class="message-output"></span>*@

                                        @*@item.isActive*@
                                    </td>


                                    <td>

                                        @*<a href="@Url.Action("AddRole", "Admin", new {id = item.ID})" title="Assessment" class="add-role fa fa-pencil"  data_roleid="@item.RoleID" id="btn-assign" data_addid = "@item.ID"></a>*@


                                        @*@Html.Hidden("id", "", new {@class = "hiddenid"})*@
                                        @Html.ActionLink("Edit", "AddRole", new { id = item.ID }, new { @class = "add-role fa fa-edit", @title = "Add role", data_roleid = item.RoleID, id = "btn-assign", data_addid = item.ID })
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "edit-role", data_editid = item.ID }) |
                                            @Html.ActionLink("Details", "Detail", new { id = item.ID }, new { @class = "detail-role", data_detailid = item.ID }) |*@
                                        @*@Html.ActionLink("Delete", "DeleteUser", new { id = item.ID }, new { @class = "delete-role", id = "delete-idd", data_deleteid = item.ID })*@
                                    </td>


                                </tr>

                            }
                        </table>
                        <br />

                    </div>
                </section>
            }
        </div>
    </div>
</div>




<section id="myModalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Role</h4>
            </div>
            <article class="modal-body">

                @if (TempData["Activate_User"] != null)
                {
                    <div id="result" class="alert alert-danger">
                        @TempData["Activate_User"]
                    </div>
                }
                <section class="form-horizontal">
                    <div class="form-horizontal row">
                        <h4>Add Role/Activate User</h4>
                        <hr />
                        <div class="form-group">
                            <label class="col-md-2">UserName:</label>
                            <div class="col-md-10">
                                <input id="EmailAddress" class="text-box single-line form-control" readonly="readonly" type="text" name="EmailAddress">
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="col-md-2">Roles:</label>
                                <div class="col-md-10">
                                    <div class="list-group" id="selected-roles-wrapper" style="max-height: 400px; overflow-y: auto;"></div>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-md-2">Roles:</label>
                                    <div class="col-md-10">
                                       <div class="list-group" id="selected-roles-wrapper" style="max-height: 400px; overflow-y: auto;"></div>
                                    </div>
                                </div>
                            </div>*@

                        <div class="form-group">
                            <label class="col-md-2">Active:</label>
                            <div class="col-md-10">
                                <input id="Active" type="checkbox" readonly="readonly" name="Active" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="add-id" name="ID" />
                            <input type="hidden" id="officeid" name="OfficeName" />
                            <input type="submit" id="save-role" value="Save" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        @*<p class="pull-right">
                                <input type="hidden" id="add-id" name="ID"/>
                                <input type="submit" id="save-role" value="Save" class="btn btn-primary"/>
                            </p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>*@
                    </div>

                </section>

            </article>

        </div>

    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        function Submit1(e) {
            if (confirm("Are you sure you want to activate?")) {
                return true;
            } else {
                e.preventDefault();
            }
        }
        function Submit2(e) {
            if (confirm("Are you sure you want to deactivate?")) {
                return true;
            } else {
                e.preventDefault();
            }
        }
        $(document).ready(function() {
            var emailAddress = "";
            var userid = 0;
            $("#tview tr.item").each(function (index, row) {


                // $(thisVarible).parent().find('.spinner-wrapper').hide();
                $(row).find('.activate').click(function () {

                    var rowToken = $(this).data('rowtoken');
                    var thisVarible = $(this);
                    $(thisVarible).parent().find('.spinner-wrapper').show();
                    //$(thisVarible).parent().find('.message-output').hide();
                    if (thisVarible.html().trim() === 'Activate') {
                        //Connect to server
                        console.log('piustic');
                        console.log(thisVarible);
                        userid = rowToken;
                        emailAddress = $('#emailAddressId_' + rowToken).val();
                        console.log(emailAddress);

                        Submit1();
                      


                        $.post('@Url.Action("Activate","Admin")', { activate: 'activate', userId: userid, emailAddress: emailAddress }, function (response) {
                            if (response.status === true) {
                                // alert('User activated successfully.');
                                $(thisVarible).parent().find('.spinner-wrapper').removeClass('fa-spin fa-spinner').addClass('fa-check-circle text-success');
                                //.removeClass
                                //$(thisVarible).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                                //    .addClass('text-success').html(response.Message).show().fadeOut(10000);
                                $(thisVarible).html('Deactivate');
                                //$(emailAddress).html('Deactivate');
                                $(thisVarible).removeClass('btn-danger').addClass('btn-success');

                            }





                        });
                    } else {
                        
                        Submit2();
                        userid = rowToken;
                        emailAddress = $('#emailAddressId_' + rowToken).val();
                        console.log(emailAddress);
                        console.log(userid);
                        $.post('@Url.Action("Activate","Admin")', { deactivate: 'deactivate', userId: userid, emailAddress: emailAddress }, function (response) {
                            if (response.status === true) {
                                // alert('User deactivated successfully.');
                                $(thisVarible).parent().find('.spinner-wrapper').removeClass('fa-spin fa-spinner').addClass('fa-check-circle text-danger');
                                //$(thisVarible).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                                //    .addClass('text-success').html(response.Message).show().fadeOut(10000);
                                $(thisVarible).html('Activate');
                                $(thisVarible).removeClass('btn-primary').addClass('btn-danger');
                            }
                        });

                    }
                });
            });


            $('.add-role').on('click', function(e) {
                e.preventDefault();
                //$('#AvailableStateSelectedEdit').html('');
                var getid = $(this).attr('data-addid');
                var roleId = $(this).attr('data-roleid');
                console.log(roleId);
                //$('#add-id').val(getid); //inject the id to the row.UserStateId
                //just enter the hidden field

                $.getJSON('@Url.Action("AddRole","Admin")', { userId: getid }, function (response) {
                    $('#EmailAddress').val(response.EmailAddress);
                    $('#officeid').val(response.OfficeName);
                    $('#add-id').val(response.RowID);
                    var optionsroles = "";
                    for (var j = 0; j < response.Roles.length; j++) {
                        // optionsstates += '<option value="' + response.states[j].Id + '" selected="selected">' + response.states[j].StateName + '</option>';
                        optionsroles += '<div class="list-group-item">';
                        if (response.Roles[j].ID == roleId) {
                            optionsroles += '<input type="radio" name="AvailableRoleSelectedEdit[]"  class="role-input" value="' + response.Roles[j].ID + '" checked="checked"/> <span>' + response.Roles[j].Rolename + '</span>';
                        } else {
                            optionsroles += '<input type="radio" name="AvailableRoleSelectedEdit[]"  class="role-input" value="' + response.Roles[j].ID + '"/> <span>' + response.Roles[j].Rolename + '</span>';
                        }
                        optionsroles += '</div>';
                    }

                    $('#selected-roles-wrapper').html(optionsroles);
                    //window.asd = $('#AvailableStateSelectedEdit').SumoSelect({ csvDispCount: 6, search:true });

                    //$('#AvailableStateSelectedEdit').DualListBox({ json: false, selected:[] }); //RequestedSelected

                    $('#Active').prop('checked', response.isActive);
                    $('#myModalAdd').modal('show');
                });
            });
            //$('#add-id').val();

            $('#save-role').on('click', function(e) {
                e.preventDefault();
                var getid = $('#add-id').val();

                var roleArr = [];
                $('.role-input:checked').each(function() {
                    roleArr.push($(this).val()); // Push all values in array
                });
                console.log(getid);
                $.post('@Url.Action("SaveUserRole","Admin")', {
                    userId: getid,
                    EmailAddress: $('#EmailAddress').val(),
                    OfficeName: $('#officeid').val(),
                    RoleId: $('#Rolename').val(),
                    isActive: $('#Active').prop('checked'),
                    Roles: roleArr
                }, function(response) {
                    if (response.status === true) {
                        $('#myModalAdd').modal('hide');
                        alert('User Edited successfully.');
                        window.location = response.newurl;
                    } else if (response.status == false) {
                        alert(response.yabaStaf);
                        $('#myModalAdd').modal('hide');
                    } else {
                        alert('failed to save');
                    }

                });
            });


            $(document).on("click", ".delete-role", function(e) {

                e.preventDefault();

                var flag = confirm('Are you sure to delete ??');
                console.log(flag);
                if (id !== "" && flag) {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DeleteAssignRole")",
                        @*url: '@Url.Action("DeleteRecordEquip", "Admin")',*@
                        data: { "id": id },
                        dataType: "json",
                        beforeSend: function() {},
                        success: function(data) {

                            if (data.result === true) {
                                $("#itemsDetailTable").html("Record deleted successfully!");
                            } else {
                                alert('There is some error');
                            }
                        }

                    });
                }
            });
        });
    </script>
}


