﻿
@{
    ViewBag.Title = "User Confirmation";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section>
    <div class="container">

        <!-- CONFIRMATION FINAL MESSAGE -->
        <div class="col-sm-offset-3">
            <div class="panel panel-collapse">
                <div class="panel-heading panel-heading-transparent">
                    <h3>Thank you, @Session["UserEmail"]</h3>

                    <p>
                        <span class="msg">
                            @if (TempData["Message"] != null)
                            {
                                @Html.Raw(@TempData["Message"])
                                <br />
                                <br />
                            }
                            else
                            { <text>No Action was initiated by any user at the moment</text> }
                        </span>
                        @if (TempData["FailureSuccessMsg"] != null)
                        {<h1 class="success-pane">
                            @Html.Raw(TempData["FailureSuccessMsg"])
                        </h1>
                        }
                    </p>

                    <hr>

                    <p>
                        Thank you very much for choosing us,<br>
                        <strong>WAEC School Recognition Portal</strong>
                    </p>
                    <footer>
                        <div class="forgot-password pull-left">
                            @Html.ActionLink("Back to Welcome Page", "Index", "Home") <br />
                        </div>
                    </footer>
                </div>
            </div>
            <!-- /CONFIRMATION FINAL MESSAGE -->
        </div>
        </div>
</section>
