﻿@using PagedList
@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolEquipConfigViewModel>

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active"> Subjects</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AdminPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                                @*@if (Session["SchoolID"] != null)
                                {*@
                                   

                                        @*<h3>Enter value of items by their subject</h3>*@
             
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Recognition <span class="text-danger required-field">*</span></label>
                                                <div class="col-md-5">
                                                    @Html.DropDownList("ID", ViewBag.schoolRecognitionTypes as IEnumerable<SelectListItem>, "Select Recognition", new { id = "ddlrec", @class = "form-control" })
                                                    @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="ddlfaci">Facilities <span class="text-danger required-field">*</span>:</label>
                                                <div class="col-md-5">
                                                    @Html.DropDownList("ddlfaci", ViewBag.FacilityNames as IEnumerable<SelectListItem>, new { id = "ddlfaci", @class = "form-control" })
                                                    @*<select id="ddlfaci" name="ddlfaci" class="form-control"></select>*@
                                                </div>
                                            </div>
                                            <div id="itemsDetailTable" style="color: green; font-weight: bold"></div>
                                        </form>
                                        <div class="clearfix"></div>
                                        @if ((ViewBag.factext == "EQUIPMENT FACILITY" || ViewBag.factext == "REAGENT FACILITY"))
                                        {
                                            if (Model.Count > 0)
                                            {
                                                <section class="form-group">
                                                    <div class="table-responsive">

                                                        <a href="#" class="add">Add new facility</a>
                                                        <table class="table table-bordered" id="tblData" style="margin-top: 30px;">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <a>ID</a>
                                                                    </th>

                                                                    <th>
                                                                        <a>Item Description</a>
                                                                    </th>

                                                                    <th>
                                                                        <a>Quantity Required</a>
                                                                    </th>
                                                                    <th>
                                                                        <a>Subject</a>
                                                                    </th>

                                                                    <th>
                                                                        <a>Specification</a>
                                                                    </th>
                                                                    <th>
                                                                        <a>Action</a>
                                                                    </th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <span>@item.ID</span>
                                                                            <input type="text" id="rowidd" name="rowidd" value="@item.ID" style="display: none" />
                                                                        </td>
                                                                        <td>
                                                                            <span id="spanItemDescription_@item.ID">@item.ItemDescription</span>
                                                                            @Html.TextBox("ItemDescription_" + (int)item.ID, (string)item.ItemDescription, new { @style = "display:none" })
                                                                            @*<input type = "text" value = "@item.Facility.ItemDescription" style = "display: none" />*@
                                                                        </td>
                                                                        <td>
                                                                            <span id="spanQuantity_@item.ID">@item.QuantityRequired</span>
                                                                            @Html.TextBox("QuantityRequired_" + (int)item.ID, (double)item.QuantityRequired, new { @style = "display:none" })
                                                                        </td>
                                                                        <td>
                                                                            <span id="spansubject_@item.ID" data-subjectid="@item.SubjectID">@item.LongName</span>
                                                                            @Html.DropDownList("Subjectss_" + (int)item.ID, ViewBag.Subjectss as IEnumerable<SelectListItem>, null, new { @style = "display:none;"})
                                                                        </td>
                                                                        <td>
                                                                            <span id="spanSpecification_@item.ID">@item.Specification</span>
                                                                            @Html.TextBox("Specification_" + (int)item.ID, (string)item.Specification, new { @style = "display:none" })
                                                                            @*<input type = "text" value="@item.Specification" style="display: none"/>*@
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" id="Edit_@item.ID" class="edit">Edit&nbsp;&nbsp;</a><input id="Subj_@item.ID" type="hidden" value="@item.SubjectID" style="padding:0;" /><a href="#" id="Update_@item.ID" style="display: none" class="update">Update&nbsp;</a><input id="Subj_@item.ID" type="hidden" value="@item.SubjectID" /><a href="#" id="Cancel_@item.ID" style="display: none" class="cancel">Cancel&nbsp;</a><a href="#" id="Delete_@item.ID" class="delete">Delete</a><input type="hidden" id="Subj_@item.ID" value="@item.SubjectID"/>

                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                        <br />
                                                        <div id='Paging' style="text-align: center">
                                                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                            of @Model.PageCount

                                                            @Html.PagedListPager(Model, page => Url.Action("CreateSubjectItems", new { page, recid = ViewBag.RecognitionId, facid = ViewBag.FacilityId, factext = ViewBag.factext}))
                                                        </div>
                                                    </div>
                                                </section>
                                            }
                                            else
                                            {
                                                <div class="well" style="margin-top: 30px;">
                                                    <h3>Please select appropraite recogntition type and facility.</h3>
                                                </div>

                                            }

                                        }
                                        else if (ViewBag.factext == "LABORATORY FACILITY")
                                        {
                                            
                                            var lebEquip = (IPagedList<LaboratoryViewModel>)ViewBag.labEquipment;

                                            if (lebEquip.Count > 0)
                                            {
                                                <div class="table-responsive">
                                                    <a href="javascript:void(0)" class="addLab">Add new Lab item</a>

                                                    <table class="table table-bordered" style="margin-top: 30px;" id="tblDataLab">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <a>ID</a>
                                                                </th>

                                                                <th>
                                                                    <a>Item Description</a>
                                                                </th>

                                                                @*<th>
                    <a>Quantity Required</a>
                </th>*@
                                                                <th>
                                                                    <a>Subject</a>
                                                                </th>

                                                                @*<th style="border: 2px solid black; text-align: center; width: 12%">
                    <a>Specification</a>
                </th>*@
                                                                <th style="border: 2px solid black; text-align: center; width: 12%">
                                                                    <a>Action</a>
                                                                </th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in lebEquip)
                        {
                                                                <tr>
                                                                    <td>
                                                                        <span>@item.ID</span>
                                                                        <input type="text" value="@item.ID" style="display: none" />
                                                                    </td>
                                                                    <td>
                                                                        <span id="spanItemDescription_@item.ID">@item.ItemDescription</span>
                                                                        @Html.TextBox("ItemDescription_" + (int)item.ID, (string)item.ItemDescription, new { @style = "display:none" })
                                                                        @*<input type = "text" value = "@item.Facility.ItemDescription" style = "display: none" />*@
                                                                    </td>

                                                                    <td>
                                                                        <span id="spansubject_@item.ID">@item.LongName</span>
                                                                        @Html.DropDownList("Subjectss_" + (int)item.ID, ViewBag.Subjectss as IEnumerable<SelectListItem>, null, new { @style = "display:none" })
                                                                    </td>

                                                                    <td>
                                                                        <a href="#" id="Edit_@item.ID" class="editLab">Edit&nbsp;&nbsp;</a><input id="Subj_@item.ID" type="hidden" value="@item.SubjectID" /><a href="#" id="Update_@item.ID" style="display: none" class="updateLab">Update&nbsp;</a><input id="Subj_@item.ID" type="hidden" value="@item.SubjectID" /><a href="#" id="Cancel_@item.ID" style="display: none" class="cancelLab">Cancel&nbsp;</a><a href="#" id="Delete_@item.ID" class="deleteLab">Delete</a>

                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <br />
                                                    <div id='Paging' style="text-align: center">
                                                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                        of @Model.PageCount

                                                        @Html.PagedListPager(Model, page => Url.Action("CreateSubjectItems", new { page, recid = ViewBag.RecognitionId, facid = ViewBag.FacilityId, factext = ViewBag.factext }))
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="well" style="margin-top: 30px;">
                                                    <h3>Please select appropraite recogntition type and facility.</h3>
                                                </div>
                                            }


                                        }

                                        else if (ViewBag.factext == "LIBRARY FACILITY")
                                        {
                                            var librEquip = (IPagedList<LibraryViewModel>)ViewBag.libraryEquipment;

                                            if (librEquip.Count > 0)
                                            {
                                                <div class="table-responsive">
                                                    <a href="javascript:void(0)" class="addLibr">Add new Library item</a>

                                                    <table class="table table-bordered" style="margin-top: 30px;">

                                                        <tr>
                                                            <th>
                                                                <a>ID</a>
                                                            </th>

                                                            <th>
                                                                <a>Item Description</a>
                                                            </th>

                                                            @*<th>
                                                                <a>Quantity Required</a>
                                                            </th>*@
                                                            @*<th>
                                                                <a>Subject</a>
                                                            </th>*@

                                                            @*<th style="border: 2px solid black; text-align: center; width: 12%">
                                                                <a>Specification</a>
                                                            </th>*@
                                                            <th style="border: 2px solid black; text-align: center; width: 12%">
                                                                <a>Action</a>
                                                            </th>


                                                        </tr>

                                                        <tbody>
                                                            @foreach (var item in librEquip)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <span>@item.ID</span>
                                                                        <input type="text" value="@item.ID" style="display: none" />
                                                                    </td>
                                                                    <td>
                                                                        <span id="spanItemDescription_@item.ID">@item.ItemDescription</span>
                                                                        @Html.TextBox("ItemDescription_" + (int)item.ID, (string)item.ItemDescription, new { @style = "display:none" })
                                                                        @*<input type = "text" value = "@item.Facility.ItemDescription" style = "display: none" />*@
                                                                    </td>

                                                                    @*<td>
                                                                        <span id="spansubject_@item.ID">@item.LongName</span>
                                                                        @Html.DropDownList("Subjectss_" + (int)item.ID, ViewBag.Subjectss as IEnumerable<SelectListItem>, null, new { @style = "display:none" })
                                                                    </td>*@

                                                                    <td>
                                                                        <a href="#" id="Edit_@item.ID" class="edit">Edit&nbsp;&nbsp;</a><a href="#" id="Update_@item.ID" style="display: none" class="update">Update&nbsp;</a><a href="#" id="Cancel_@item.ID" style="display: none" class="cancel">Cancel&nbsp;</a><a href="#" id="Delete_@item.ID" class="delete">Delete</a>

                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <br />
                                                    <div id='Paging' style="text-align: center">
                                                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                        of @Model.PageCount

                                                        @Html.PagedListPager(Model, page => Url.Action("CreateSubjectItems", new { page, recid = ViewBag.RecognitionId, facid = ViewBag.FacilityId, factext = ViewBag.factext }))
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="well" style="margin-top: 30px;">
                                                    <h3>Please select appropraite recogntition type and facility.</h3>
                                                </div>
                                            }


                                        }

                                      @*}
                                        
                                        else
                                        {
                                        <div class="well">Section is null</div>

                                        }*@
</div>

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var selectedSubjectId = 0;
        $(document).ready(function() {

            $('#ddlrec').change(function() {
                var glovar;
                $.ajax({
                    type: "post",
                    @*url: '@Url.Action("GetFacility", "Admin")',*@
                    url: "@Url.Action("GetFacility")",
                    data: { recid: $('#ddlrec').val() },
                    datatype: "json",
                    traditional: true,
                    success: function(data) {
                        var fac = "<select id='ddlfaci'>";
                        fac +=  '<option value="">please select</option>';
                        for (var i = 0; i < data.length; i++) {
                            fac = fac + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            glovar = data[i].Value;
                        }
                        fac += + '</select>';
                       
                        $('#ddlfaci').html(fac);
                    }
                });
            });

            function getEquipmentDiv(ddlrec, ddlfaci) {

                var textitem = $("#ddlfaci option:selected").text();

                $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
                if (parseInt(ddlfaci) > 0) {
                    document.location = '@Url.Action("CreateSubjectItems")?recid=' + ddlrec + "&facid=" + ddlfaci + "&factext=" + textitem;
                } else {
                    $("#itemsDetailTable").html("No item selected yet.");
                }
            }

            var selectedFacility;
            var selecteditem;

            $("#ddlfaci").change(function() {
                selecteditem = $("#ddlrec").val().trim();
                selectedFacility = $("#ddlfaci").val().trim();
                if (selectedFacility == "please select") {
                    alert('Please select a facility.');
                } else {
                    getEquipmentDiv(selecteditem, selectedFacility);
                }
            });


            $(".add").on("click", function(e) {
                e.preventDefault();
                var existrow = $('.save').length;
                
                if (existrow == 0) {
                    var index = $("#tblData tbody tr").length + 1;
                    console.log(index);
                    var Item = "ItemDescription_" + index;
                    var Quantity = "QuantityRequired_" + index;
                    var subject = "Subjectss_" + index;
                    var Specification = "Specification_" + index;
                    var Save = "Save_" + index;
                    var Cancel = "Cancel_" + index;
                    var strOption = "";
                    $.getJSON('@Url.Action("SubjectList")', function(subjects) {
                        strOption = '<option value="0" selected>---select a subject--</option>';
                        for (var i = 0; i < subjects.length; i++) {
                            strOption += '<option value="' + subjects[i].Value + '">' + subjects[i].Text + '</option>';
                        }
                        if (subjects.length > 0) {
                            var tr = '<tr id="add-row" class="alternate-row">' +
                                '<td>&nbsp;</td>' +
                                '<td><span><input id="' + Item + '" type="text" /></span></td>' +
                                '<td><span><input id="' + Quantity + '" type="text" /></span></td>' +
                                '<td><span><select id="' + subject + '" class="ty" style="padding: 0;">' + strOption + '</select></span></td>' +
                                '<td><span><input id="' + Specification + '" type="text" /></span></td>' +
                                '<td> <a href="#" id="' + Save + '" class="save">Save</a>&nbsp;&nbsp;<a href="#" id="' + Cancel + '"  class="icancel">Cancel</a></td>' +
                                '</tr>';
                           
                            $('#tblData tbody').prepend(tr);
                            
                        }
                    });
                    

                } else {
                    alert('First Save your previous record !!');
                }

            });
            //cancel for add new row
            $(document).on("click", ".cancel", function(e) {
                //$(".cancel").live("click", function () {
                e.preventDefault();
                var str = $(this).attr("id").split("_");
                
                id = str[1];
                var Item = $("#ItemDescription_" + id);
                var spanItem = $("#spanItemDescription_" + id);

                var Quantity = $("#QuantityRequired_" + id);
                var spanQuantity = "#spanQuantity_" + id;

                var Specification = $("#Specification_" + id);
                var spanSpecification = $("#spanSpecification_" + id);
                var Sub = $("#Subjectss_" + id);
                var spansubject = "#spansubject_" + id;
                //var CateName = "#Category_" + id;
                //var spanName = "#spanName_" + id;


                $(Item).hide();
                $(spanItem).show();

                $(Quantity).hide();
                $(spanQuantity).show();

                $(Specification).hide();
                $(spanSpecification).show();

                $(Sub).hide();
                $(spansubject).show();


                $(this).hide();
                $("#Update_" + id).hide();

                $("#Edit_" + id).show();
                $("#Delete_" + id).show();
            });

            $(document).on("click", ".icancel", function() {
                //$(".icancel").on("click", function() {
                console.log('see cancel');
                var flag = confirm('Are you sure to cancel');
                if (flag) {
                    $("#tblData tbody tr").first().remove();
                }

            });


            //$(document).on("click", ".cancel", function() {
            //    //$(".icancel").on("click", function() {
              
            //    var flag = confirm('Are you sure to cancel');
            //    if (flag) {
            //        $("#tblData tbody tr").first().remove();
            //    }

            //});


            //var tr = '<tr id="add-row" class="alternate-row">' +
            //                   '<td>&nbsp;</td><td><span><input id="' + Item + '" type="text" /></span></td>' +
            //                   '<td><span><input id="' + Quantity + '" type="text" /></span></td>' +
            //                   '<td><span><select id="' + subject + '" class="ty" style="padding: 0;">' + strOption + '</select></span></td>' +
            //                   '<td><span><input id="' + Specification + '" type="text" /></span></td>' +
            //                   '<td> <a href="#" id="' + Save + '" class="save">Save</a>&nbsp;&nbsp;<a href="#" id="' + Cancel + '"  class="icancel">Cancel</a></td>' +
            //                   '</tr>';
                           
            //$('#tblData tbody').prepend(tr);



            $(document).on("click", ".save", function(e) {
                // var id = $("#tbldata tbody tr").length;
                e.preventDefault();
                var str = $(this).attr("id").split("_");
                
                id = str[1];

                var Item = $("#ItemDescription_" + id).val();
                //var rowid = $("#rowidd").val();
                //console.log(rowid);
                var spanItem = $("#spanItemDescription_" + id).val();

                var Quantity = $("#QuantityRequired_" + id).val();
                var spanQuantity = "#spanQuantity_" + id;

                var Specification = $("#Specification_" + id).val();
                var spanSpecification = $("#spanSpecification_" + id).val();
                var Sub = $("#Subjectss_" + id);
                var spansubject = "#spansubject_" + id;
                if (id !== "") {

                    var facilityCategoryid = @Html.Raw(Json.Encode(ViewBag.FacilityId));
                   
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("SaveRecordEquip")",
                        @*url: '@Url.Action("SaveRecordEquip", "Admin")',*@
                        //data: { "catee": Item, "SU": Sub, "Quant": Quantity, "fac": fa },
                        data: { "catee": Item, "SU": $(Sub).val(), "Quant": Quantity, "specification": Specification, "facilitycategoryid": facilityCategoryid },
                        dataType: "json",
                        beforeSend: function() {},
                        success: function(data) {
                            switch (data.exists) {
                                case true:
                                   
                                $("#itemsDetailTable").css('color','green').html("Record saved successfully!");
                                $.getJSON('@Url.Action("SubjectList")', function(subjects) {
                                    var row = "<tr>" +
                                    '<td>' +
                                    '<span>' + data.ID + '</span>' +
                                    '<input type="text" value="' + data.ID + '" style="display: none">' +
                                    '</td>' +
                                    '<td>' +
                                    '<span id="spanItemDescription_' + data.ID + '">' + Item + '</span>' +
                                    '<input id="ItemDescription_' + data.ID + '" name="ItemDescription_' + data.ID + '" style="display:none" type="text" value="' + Item + '">' +
                                    '</td>' +
                                    '<td>' +
                                    '<span id="spanQuantity_' + data.ID + '">' + Quantity + '</span>' +
                                    '<input id="QuantityRequired_' + data.ID + '" name="QuantityRequired_' + data.ID + '" style="display:none" type="text" value="' + Quantity + '">' +
                                    '</td>' +
                                    ' <td>' +
                                    '<span id="spansubject_' + data.ID + '">' + $("#Subjectss_" + data.ID + " option:selected").text() + '</span>' +
                                    '<select id="Subjectss_' + data.ID + '" name="Subjectss_' + data.ID + '" style="display:none;">' +
                                    '<option value="0" selected>---select a subject--</option>';
                                    for (var i = 0; i < subjects.length; i++) {
                                        
                                        if ($(spansubject).attr('data-subjectid') === subjects[i].Value) {
                                            row += '<option selected="selected" value="' + subjects[i].Value + '">' + subjects[i].Text + '</option>';
                                        } 
                                        else {
                                            row += '<option value="' + subjects[i].Value + '">' + subjects[i].Text + '</option>';
                              }
                                               }
                                    row +='</select>' +
                                        '</td>' +
                                        '<td>' +
                                        '<span id="spanSpecification_'+ data.ID +'">'+ Specification +'</span>' +
                                        ' <input id="Specification_'+ data.ID +'" name="Specification_'+ data.ID+'" style="display:none" type="text" value="'+ Specification +'">' +
                                        ' </td>' +
                                        '<td>' +
                                        '<a href="#" id="Edit_'+ data.ID +'" class="edit">Edit&nbsp;&nbsp;</a>' +
                                        '<input id="Subj_'+ data.ID +'" type="hidden" value="'+ subjects[0].Value +'" style="padding:0;">' +
                                        '<a href="#" id="Update_'+ data.ID +'" style="display: none" class="update">Update&nbsp;</a>' +
                                        '<input id="Subj_'+ data.ID +'" type="hidden" value="'+ subjects[0].Value +'">' +
                                        '<a href="#" id="Cancel_'+ data.ID +'" style="display: none" class="cancel">Cancel&nbsp;</a>' +
                                        '<a href="#" id="Delete_'+ data.ID +'" class="delete">Delete</a>' +
                                        '</td>'+
                                            "</tr>";
                                    $('#tblData tbody').prepend(row);
                                    $('#add-row').hide();
                                });
                                break;
                                case false:
                                    alert("Error saving data!!!");
                                $("#itemsDetailTable").html("Error saving data!!!").css('color','red');
                            }

                        }

                    });
                }
            });


            $(document).on("click", ".edit", function(e) {
                var str = $(this).attr("id").split("_");
                id = str[1];
                e.preventDefault();
                //all span element are the labels
                //the non-span element are the textboxes or element for input
                var Item = "#ItemDescription_" + id;
                var spanItem = "#spanItemDescription_" + id;

                var Quantity = "#QuantityRequired_" + id;
                var spanQuantity = "#spanQuantity_" + id;

                
                var spansubject = "#spansubject_" + id;
                
                var Subject = "#Subjectss_" + id;
                //var getsubjectid = $(spansubject).attr('data-subjectid');
                
                //var getsubjectid = $(spansubject).data('subjectid');
                //console.log(getsubjectid);
                //$(Subject).val(getsubjectid);

                var Specification = "#Specification_" + id;
                var spanSpecification = "#spanSpecification_" + id;


                $(Item).show();
                $(spanItem).hide();
                //$(equip).show();
                $(Quantity).show();
                $(spanQuantity).hide();

                $(Specification).show();
                $(spanSpecification).hide();


               // var sub = $("#Subj_" + id).val();
                //var sub = $("#Subjectss_" + id).val();
                //console.log(sub);
                //var sub= $(spansubject).text($(Subject+" option:selected").val());

                $(Subject).show();
                //console.log($(spanSpecification).hide());
                $(spansubject).hide();

                //$(Subject).val(sub).change();



                $(this).hide();
                
                //<a href="#" id="Edit_720" class="edit" style="display: none;">Edit&nbsp;&nbsp;</a>
                $("#Update_" + id).show();
                $("#Cancel_" + id).show();
            });


            $(document).on("click", ".update", function(e) {
                var str = $(this).attr("id").split("_");
                id = str[1];
                //console.log(id);
                e.preventDefault();
                var facilityCategoryid = @Html.Raw(Json.Encode(ViewBag.FacilityId));
                var item = $("#ItemDescription_" + id);
                var spanItem = $("#spanItemDescription_" + id);

                var quantity = $("#QuantityRequired_" + id);
                var spanQuantity = $("#spanQuantity_" + id);

                var selectedSubject = $("#Subjectss_" + id);
                var spansubject = $("#spansubject_" + id);

                var specification = $("#Specification_" + id);
                var spanSpecification = $("#spanSpecification_" + id);


                if (id != "") {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("UpdateRecordE")",
                        @*url: '@Url.Action("UpdateRecordE", "Admin")',*@
                        data: { "id": id, "catee": $(item).val(), "Quant": $(quantity).val(), "sub": $(selectedSubject).val(), "Spec": $(specification).val(), "facilitycategoryid": facilityCategoryid },
                    dataType: "json",
                    beforeSend: function() { //alert(id);
                    },
                    success: function(data) {
                        console.log(data.exists);
                        switch (data.exists) {
                        case true:
                            $("#itemsDetailTable").html("Record updated successfully!");
                            $(spansubject).attr('data-subjectid', $(selectedSubject).val());
                            $("#Update_" + id).hide();
                            $("#Cancel_" + id).hide();
                            $("#Edit_" + id).show();
                            $(item).hide();
                            $(spanItem).show();

                            $(quantity).hide();
                            $(spanQuantity).show();

                            $(specification).hide();
                            $(spanSpecification).show();

                            $(selectedSubject).hide();
                            $(spansubject).show();
                           
                            $(spanItem).html($(item).val());
                            $(spanQuantity).html($(quantity).val());
                            $(spansubject).html($("#Subjectss_" + id +" option:selected").text());
                            $(spanSpecification).html($(specification).val());
                            break;
                        case false:
                            $("#itemsDetailTable").html("Error saving data!!!").css('color','red');
                        }
                        




                }
            });
        } else
        {
            alert('There is some error');
        }
        });


            
          $(document).on("click", ".delete", function(e) {
                //var str = $(this).attr("id").split("_");
           //$(".delete").live("click", function(e) {
          
              var str = $(this).attr("id").split("_");;
            id = str[1];
            console.log(id);
           e.preventDefault();
           
           var flag = confirm('Are you sure to delete ??');
              console.log(flag);
            if (id !== "" && flag) {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                     url: "@Url.Action("DeleteRecordEquip")",
                    @*url: '@Url.Action("DeleteRecordEquip", "Admin")',*@
                    data: { "id": id },
                    dataType: "json",
                    beforeSend: function() {},
                    success: function(data) {

                        if (data.result === true) {
                            $("#Update_" + id).parents("tr").remove();
                            $("#itemsDetailTable").html("Record deleted successfully!");
                        } else {
                            alert('There is some error');
                        }
                    }

                });
            }
        });

        });
       


    </script>
}

}

