﻿@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Models
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.UserViewModel>

@{
    ViewBag.Title = "Assign State";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    @*<li><a href="#">User Management</a></li>
    <li class="active">Assign state</li>*@
</ol>

<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AdminPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">

            @*@if (TempData.ContainsKey("message"))
            {
                var message = TempData["message"] as MessageModel;
                if (message.Status)
                {
            <div class="alert alert-success">@message.Message</div>
                }
                else
                {
            <div class="alert alert-danger">@message.Message</div>
                }
            }*@
            @if (TempData["NoAdministrators"] != null)
            {
                <div class="alert alert-success">
                    @TempData["NoAdministrators"]
                </div>
            }
            @if (Model.Count > 0)
            {       <section class="form-group">
                <div class="table-responsive">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["Success"]
                        </div>
                    }
                    
                   

                    @*<a href="#" class="add">AssignState</a>*@
                    <table class="table table-bordered" style="margin-top: 30px;">
                        <tr>

                            <th>
                                <a>Surname</a>
                            </th>

                            <th>
                                <a>Rolename</a>
                            </th>

                            <th>
                                <a>Active</a>
                            </th>
                            <th>

                            </th>


                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailAddress)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.RoleName)
                                </td>


                                <td>
                                    @item.isActive
                                </td>
                                <td>

                                    @*@Html.Hidden("id", "", new {@class = "hiddenid"})*@
                                    @Html.ActionLink("Assign State", "AssignState", new { userId = item.ID }, new { @class = "assign-role btn btn-primary", id = "btn-assign", data_userid = item.ID })
                                    @*@Html.ActionLink("Edit", "Edit", new {id = item.ID}, new {@class = "edit-role", data_editid = item.ID}) |
                                    @Html.ActionLink("Details", "Detail", new {id = item.ID}, new {@class = "detail-role", data_detailid = item.ID}) |
                                    @Html.ActionLink("Delete", "DeleteUser", new {id = item.ID}, new {@class = "delete-role",id="delete-idd", data_deleteid = item.ID})*@
                                </td>


                            </tr>

                        }
                    </table>
                    <br />

                </div>
            </section>
            }



        </div>

    </div>
</div>



<section id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Assigned User</h4>
            </div>
            <article class="modal-body">
                @{
                    
                    //SchoolRecognitionSystem.Models.User uu=new User();
                    //clsContent.GetAUser();
                }
                <section class="form-horizontal">
                    <div class="form-horizontal row">
                        <h4>Edit user</h4>
                        <hr />
                        <div class="form-group">
                            <label class="col-md-2">Surname:</label>
                            <div class="col-md-10">
                                <input id="SurName" class="text-box single-line form-control" type="text" name="SurName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Role Name:</label>
                            <div class="col-md-10">
                                <select name="RoleName" class="form-control" id="RoleName"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Active:</label>
                            <div class="col-md-10">
                                <input id="Active" type="checkbox" name="Active" />
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="col-md-2">States:</label>
                                <div class="col-md-10">
                                    @*<select id="AvailableStateSelectedEdit" name="AvailableStateSelectedEdit" multiple="multiple" placeholder="Select a Subject" class="SlectBox"></select>*@
                                    <div class="list-group" id="selected-states-wrapper" style="max-height: 400px; overflow-y: auto;"></div>
                                </div>
                            </div>
                        </div>
                        <p class="pull-right">
                            <input type="hidden" id="edit-id" name="ID" />
                            <input type="submit" id="save-edit" value="Save" class="btn btn-primary" />
                        </p>
                    </div>

                </section>

            </article>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</section>




<section id="myModalDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assigned User Detail</h4>
            </div>
            <article class="modal-body">
                @{
                    //SchoolRecognitionSystem.Models.User uu=new User();
                    //clsContent.GetAUser();
                }
                <section class="form-horizontal">
                    <div class="form-horizontal row">
                      
                        <hr/>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="detailSurName" class="text-box single-line form-control" type="text" name="detailSurName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="detailRoleName" class="text-box single-line form-control" type="text" name="detailRoleName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="detailisActive" class="text-box single-line form-control" type="text" name="detailisActive" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <select name="StateName" class="form-control" id="StateName" multiple="multiple" disabled="disabled"></select>
</div>
                        </div>
                        
</div>
        

     <p class="pull-right">
            <input type="hidden" id="detail-id" name="ID" />
            <input type="submit" value="Save" class="btn btn-primary" />
        </p>


</section>

            </article>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</section>




@section scripts{
    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Scripts/dual-list-box.min.js"></script>
    <script src="~/Scripts/jquery.sumoselect.js"></script>
    <script type="text/javascript">
        $(function() {
            $('select[name="AvailableStateSelected"]').DualListBox({ json: false }); //RequestedSelected
            
            $('.edit-role').on('click', function(e) {
                e.preventDefault();
                //$('#AvailableStateSelectedEdit').html('');
                var getid = $(this).attr('data-editid');
                $('#edit-id').val(getid); //inject the id to the row.UserStateId
                var stateidd = $('#UserStateId').val();
                console.log(stateidd);
                $.getJSON('@Url.Action("Edit", "Admin")', { userId: getid }, function (response) {
                    $('#SurName').val(response.SurName); //set the surname value to the input
                    var options = "";
                    for (var i = 0; i < response.Roles.length; i++) {
                        options += '<option value="' + response.Roles[i].ID + '">' + response.Roles[i].Rolename + '</option>';
                    }

                    $('#RoleName').html(options); //set the drop down values gotten to the input
                    $('#RoleName').val(response.RoleId);

                    var optionsstates = "";
                    for (var j = 0; j < response.states.length; j++) {
                        // optionsstates += '<option value="' + response.states[j].Id + '" selected="selected">' + response.states[j].StateName + '</option>';
                        optionsstates += '<div class="list-group-item">';
                        if (response.statesSelected.indexOf(response.states[j].StateCode) > -1) {
                            optionsstates += '<input type="checkbox" name="AvailableStateSelectedEdit[]" class="state-input" value="' + response.states[j].StateCode + '" checked/> <span>' + response.states[j].StateName + '</span>';
                            console.log(response.states[j].StateCode);
                        } else {
                            optionsstates += '<input type="checkbox" name="AvailableStateSelectedEdit[]"  class="state-input" value="' + response.states[j].StateCode + '"/> <span>' + response.states[j].StateName + '</span>';
                            console.log(response.states[j].StateCode);
                        }
                        optionsstates += '</div>';
                    }
                    
                    $('#selected-states-wrapper').html(optionsstates);
                    //window.asd = $('#AvailableStateSelectedEdit').SumoSelect({ csvDispCount: 6, search:true });

                    //$('#AvailableStateSelectedEdit').DualListBox({ json: false, selected:[] }); //RequestedSelected

                    $('#Active').prop('checked', response.isActive);
                    $('#myModalEdit').modal('show');
                });
            });

            $('#save-edit').on('click', function(e) {
                e.preventDefault();
                var getid = $('#edit-id').val();
                var stateArr = [];
                $('.state-input:checked').each(function() {
                    stateArr.push($(this).val()); // Push all values in array
                });
                console.log(stateArr);
                //$('.state-input:checked').foreach()
                //{

                //}
                $.post('/Admin/Edit', {
                    userId: getid,
                    SurName: $('#SurName').val(),
                    RoleId: $('#RoleName').val(),
                    isActive: $('#Active').prop('checked'),
                    States: stateArr
                }, function(response) {
                    if (response.status === true) {
                        $('#myModalEdit').modal('hide');
                        alert('User edited successfully.');
                    } else {
                        alert('Edit failed.');
                    }

                });
            });

            $('.detail-role').on('click', function(e) {
                e.preventDefault();
                var getid = $(this).attr('data-detailid');
                $('#detail-id').val(getid);
                $.getJSON('@Url.Action("Detail")', { userId: getid }, function (response) {
                    $('#detailSurName').val(response.surname);
                    $('#detailRoleName').val(response.rolename);
                    $('#detailisActive').val(response.isactive);
                    var options = "";
                    for (var i = 0; i < response.userstates.length; i++) {
                        options += '<option value="' + response.userstates[i].Id + '">' + response.userstates[i].StateName + '</option>';
                    }
                    $('#StateName').html(options);
                    $('#myModalDetail').modal('show');
                });


            });


            $('.delete-role').on('click', function(e) {
                e.preventDefault();
                var $tr = $(this).closest('tr');
                var myRow = $tr.index();
                console.log(myRow);
                var getid = $(this).attr('data-deleteid');
                //$('#delete-id').val(getid);
                var flag = confirm('Are you sure to delete ??');
                if (getid !== "" && flag) {
                    $.getJSON('@Url.Action("DeleteUser")', { userId: getid }, function (response) {
                        if (response.result === true) {
                          
                            alert("Record deleted successfully!");
                            $("#delete-idd").parents("tr").remove();
                            //$('#data-deleteid').closest('tr').remove();
                        } else {
                            alert('There is some error');
                        }
                    });
                }

            });


        });


    </script>
}