﻿@model SchoolRecognitionSystem.Models.PagedCustomerModel

@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.Category,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
    );
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">School Category</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AdminPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <a href="#" class="add">Add</a>
                @*@if (Session["SchoolID"] != null)
                {*@
                    <div id="divmsg" style="color: green; font-weight: bold"></div>

                    <br/>
                    <br/>
                    @grid.GetHtml(
                        htmlAttributes: new {id = "grid"},
                        fillEmptyRows: false,
                        mode: WebGridPagerModes.All,
                        firstText: "<< First",
                        previousText: "< Prev",
                        nextText: "Next >",
                        lastText: "Last >>",
                        columns: new[]
                        {
                            grid.Column(null, null, canSort: false, format: @<input type="hidden" name="IDHidden" value="@item.ID"/>),

                            grid.Column(header: "Category", format: @<span> <span id="spanName_@item.ID">@item.Category</span> @Html.TextBox("Category_" + (int) item.ID, (string) item.Category, new {@style = "display:none"})</span>),


                            grid.Column(header: "Action", format: @<text> <a href="#" id="Edit_@item.ID" class="edit">Edit &nbsp;</a><a href="#" id="Update_@item.ID" style="display: none" class="update">Update &nbsp;</a><a href="#" id="Cancel_@item.ID" style="display: none" class="cancel">Cancel &nbsp;</a><a href="#" id="Delete_@item.ID" class="delete">Delete</a></text>)

                        })
                    <br/>


                @*}
                else
                {
                    <div class="well">Section is null</div>

                }*@
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/141jquery.js" type="text/javascript"></script>

@section scripts{
    <script type="text/javascript">
        $(".add").live("click", function() {

            var existrow = $('.save').length;

            if (existrow == 0) {
                var index = $("#grid tbody tr").length + 1;

                var Category = "Category_" + index;

                var Save = "Save_" + index;
                var Cancel = "Cancel_" + index;

                var tr = '<tr class="alternate-row"><td></td><td><span><input id="' + Category + '" type="text" class="ty" /></span></td>' +
                    '<td> <a href="#" id="' + Save + '" class="save">Save&nbsp;&nbsp;</a><a href="#" id="' + Cancel + '"  class="icancel">Cancel</a></td>' +
                    '</tr>';

                $("#grid tbody").append(tr);
            } else {

                alert('First Save your previous record !!');
            }

        });

        $(".icancel").live("click", function() {
            var flag = confirm('Are you sure to cancel');

            if (flag) {
                $(this).parents("tr").remove();
            }

        });

        $(".save").live("click", function() {
            var id = $("#grid tbody tr").length;
            var CateName = $("#Category_" + id).val();
            var index = $("#grid tbody tr").length + 1;

            if ($('.ty').val() === '') {
                alert('Text box can not be left blank');
                return false;
            }

            if (id != "") {

                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("SaveRecordCat")",
                    @*url: '@Url.Action("SaveRecordCat", "Admin")',*@
                    data: { "catee": CateName },
                    dataType: "json",
                    beforeSend: function() {},
                    success: function(data) {
                        if (data.result == true) {

                            alert('Record has been saved successfully !!');

                            setTimeout(function() { window.location.replace("CreateCategory"); });
                        } else {
                            alert('Record already exist');

                        }

                    }

                });
            }
        });

        $(".edit").live("click", function() {
            var str = $(this).attr("id").split("_");
            id = str[1];

            var CateName = "#Category_" + id;
            var spanName = "#spanName_" + id;

            $(CateName).show();
            $(spanName).hide();

            $(this).hide();
            $("#Update_" + id).show();
            $("#Cancel_" + id).show();
        });

        $(".cancel").live("click", function() {
            var str = $(this).attr("id").split("_");

            id = str[1];

            var CateName = "#Category_" + id;
            var spanName = "#spanName_" + id;


            $(CateName).hide();
            $(spanName).show();


            $(this).hide();
            $("#Update_" + id).hide();

            $("#Edit_" + id).show();
        });

        $(".update").live("click", function() {
            var str = $(this).attr("id").split("_");
            id = str[1];

            var CateName = $("#Category_" + id).val();
            var spanName = $("#spanName_" + id).val();


            if (id != "") {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("UpdateRecordSchCate")",
                    @*url: '@Url.Action("UpdateRecordSchCate", "Admin")',*@
                    data: { "id": id, "catee": CateName },
                    dataType: "json",
                    beforeSend: function() {
                    },
                    success: function(data) {

                        if (data.result == true) {
                            $("#Update_" + id).hide();
                            $("#Cancel_" + id).hide();
                            $("#Edit_" + id).show();

                            var CateName = "#Category_" + id;
                            var spanName = "#spanName_" + id;


                            $(CateName).hide();
                            $(spanName).show();


                            $(spanName).text($(CateName).val());

                        } else {
                            alert('There is some error');
                        }
                    }

                });
            }
        });

        $(".delete").live("click", function() {
            var str = $(this).attr("id").split("_");
            id = str[1];

            var flag = confirm('Are you sure to delete ??');
            if (id != "" && flag) {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    @*url: '@Url.Action("DeleteRecordCategory", "Schools")',*@
                    url: "@Url.Action("DeleteRecordCategory")",
                    data: { "id": id },
                    dataType: "json",
                    beforeSend: function() {},
                    success: function(data) {

                        if (data.result == true) {
                            $("#Update_" + id).parents("tr").remove();
                            console.log($("#Update_" + id).parents("tr").remove());
                        } else {
                            alert('There is some error');
                        }
                    }

                });
            }
        });
    </script>

}

