﻿@using SchoolRecognitionSystem.Models
@model RegisterUserViewModel
@{
    ViewBag.Title = "New User Registration";
    //Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="container">
    <div class="row">
        @if (TempData["ErrorMessage"] != null)
            {  <span class="msgError">
            @TempData["ErrorMessage"]
        </span> }
        @if (TempData["SavedMessage"] != null)

            {  <span class="msgSucess">
            @TempData["SavedMessage"]
        </span> }
        <div id="content">
            <div class="row">
                
                <div class="col-md-5" id="leftInfo">
                    <div class="msgForm">
                        <div class="col-md-12">

                            <div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-left" style="min-height: 264px;">
                                <div class="front">
                                    <div class="box1" style="background-color: #fff; min-height: 264px;">
                                        <div class="box-icon-title">
                                            <i class="et-profile-male"></i>
                                            <h2>User Account Registration</h2>
                                        </div>
                                        <ul>
                                            <li>
                                                You must ensure that you supply all entries correctly.
                                            </li>
                                            <li>
                                                Once you create a user account, you must verify your account by loggin to your Email Address to retrieve the Verification details sent to your mail.
                                            </li>
                                            <li>
                                                You can click on the link sent to your Mail to Verify your account or you can use the <a href="@Url.Action("VerifyUser", "Users")"><i class="fa fa-check"></i>Verify User</a>
                                            </li>
                                            <li>
                                                If you have earlier registered and you cannot remember your password, <a href="@Url.Action("ForgotPassword", "Users")"><i class="fa fa-check"></i>Click Here</a>
                                            </li>
                                            <li>
                                                If you already have registered and verified your account details, <a href="@Url.Action("Login", "Users")"><i class="fa fa-check"></i>Click Here</a> to log in
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-7"  id="rightInfo"> 
                    <!-- ------ -->
                    <div class="panel panel-collapse">
                        <div class="panel-heading panel-heading-transparent">
                            
                                @if (TempData["Message"] != null)
                                { <div class="alert alert-primary margin-bottom-30">
                                <span class="myInfowtb">
                                    @TempData["Message"]
                                </span>
                            </div>}


                            <!-- /ALERT -->
                            @using (Html.BeginForm("Register", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "sky-form boxed", role = "form", enctype = "multipart/form-data" }))
                            {
                                <header><i class="fa fa-users"></i> <span class="small"></span><b>Register</b>  &raquo;@ViewBag.Title</header>
                                <fieldset class="nomargin">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.Surname, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-user"></i>
                                            @Html.TextBoxFor(m => m.Surname, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Surname--" } })
                                            <span class="tooltip tooltip-top-right">Enter your surname[required]</span>

                                            
                                        </div>@Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                                        </div>
                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.OtherNames, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-user"></i>
                                            @Html.TextBoxFor(m => m.OtherNames, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Other Names--" } })
                                            <span class="tooltip tooltip-top-right">Enter your other names[required]</span>
                                            
                                        </div>@Html.ValidationMessageFor(m => m.OtherNames, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.EmailAddress, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-envelope"></i>
                                             @Html.TextBoxFor(m => m.EmailAddress, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Email Address--" } })
                                            <span class="tooltip tooltip-top-right">Enter a valid email address[required]</span>
                                            @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.Password, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-lock"></i>
                                            @Html.PasswordFor(m => m.Password, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Password--" } })
                                            <b class="tooltip tooltip-top-right">Enter the user password[required]</b>

                                            
                                        </div>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-lock"></i>
                                           @Html.PasswordFor(m => m.ConfirmPassword, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Confirm Password--" } })
                                            <b class="tooltip tooltip-top-right">Confirm the password[required]</b>
                                            
                                        </div>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "label" })
                                        <div class="input">
                                            <i class="ico-append fa fa-phone"></i>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Phone Number--" } })
                                            <span class="tooltip tooltip-top-right">Enter an active Phone Number[required]</span>

                                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    <div class="col-md-12 col-sm-12">
                                        @*@Html.LabelFor(model => model.CountryCode, new { @class = "control-label" })*@
                                        <div class="select">
                                            <i class="ico-append fa fa-list"></i>
                                            @Html.DropDownListFor(model => model.OfficeID, ViewBag.OfficeList as SelectList, "--(select Office)--",
             new Dictionary<string, object> { { "class", "form-control" } })
                                            <span class="tooltip tooltip-top-right">Select Office</span>
                                        </div>@Html.ValidationMessageFor(model => model.OfficeID)
                                        <label class="checkbox nomargin"><input type="checkbox" name="agree" id="agree" onchange="javascript: return DisableBtn();"><i></i>Confirm user registration?</label>
                                    </div>
</fieldset>
                                
                            
                                <footer>
                                    <button type="submit" id="btnSave" name="btnSave" class="btn btn-primary btn-sm pull-right" disabled="disabled"><i class="fa fa-save"></i> Create Account</button>
                                    <button type="button" id="btnCancel" name="btnCancel" class="btn btn-primary btn-sm pull-right" onclick="javascript: history.back();"><i class="fa fa-close"></i> Cancel</button>
                                    <br />
                                    <div class="forgot-password pull-left">
                                        @Html.ActionLink("Forgot Password", "ForgotPassword") <br />
                                        <b> @Html.ActionLink("Existing User? Login", "Index")</b>
                                    </div>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"> </script>
        <script type="text/javascript">
            $(function () {

                $("#OfficeID").select2();
            })
            function DisableBtn() {
                var sendbtn = document.getElementById('btnSave');
                var checker = document.getElementById('agree');
                if (checker.checked) {
                    sendbtn.disabled = false;
                } else {
                    sendbtn.disabled = true;
                }
            }
        </script>
