﻿@model SchoolRecognitionSystem.Models.RoleModel
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">User Management</a></li>
    <li class="active">create role</li>
</ol>
@*<script src="~/Scripts/141jquery.js"></script>*@
@*<h2>FacilityTabbing</h2>*@
<div class="row">
    <section class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AdminPartial");
        </aside>
        <article class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <section class="row">
                <article class="col-lg-9 col-md-9 col-sm-10 col-xs-10">

                    @if (TempData["Role_Success"] != null)
                    {
                        <div id="result" class="alert alert-success">
                            @TempData["Role_Success"]
                        </div>
                    }
                            <div class="mycustom-tab" id="loadPagePanel">
                                <!-- flight section -->
                              <span id="messagesuccess"></span>
                                   
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPost", enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">

                                          

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Rolename, htmlAttributes: new {@class = "control-label col-md-2"})
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Rolename, new {htmlAttributes = new {@class = "form-control"}})
                                                    @Html.ValidationMessageFor(model => model.Rolename, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <label class="checkbox nomargin"><input type="checkbox"  value="true" name="isAdmin" id="isAdmin"><i></i>@Html.DisplayNameFor(model => model.isAdmin)</label>
                                                </div>
                                                <input name="isAdmin" type="hidden" value="false" />
                                            </div>


                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <label class="checkbox nomargin"><input type="checkbox"  value="true" name="isSuperAdmin" id="isSuperAdmin"><i></i>@Html.DisplayNameFor(model => model.isSuperAdmin)</label>
                                                </div>
                                                <input name="isSuperAdmin" type="hidden" value="false" />
                                            </div>
                                            

                                            <input type="hidden" id="ID" name="ID" value="0" />
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Save" class="btn btn-primary"/>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                               

                            </div>
                      

                </article>
              
            </section>

        </article>

    </section>
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function() {


        });
    </script>
}
