﻿@using PagedList.Mvc;
@model  PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolProfileIndexModel>
@{
    ViewBag.Title = "EquipmentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Equipment Report</li>
</ol>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AdminPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                @Html.AntiForgeryToken()
                <ul class="nav nav-tabs" style="margin: 20px;">

                    <li>
                        <a data-toggle="tab" id="report2-record" data-href="@Url.Action("SchoolLaboratory", "Admin")">School Laboratory</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="report3-record" data-href="@Url.Action("SchoolEquipment", "Admin")">School Equipment</a>
                    </li>
                    <li  class=active>
                        <a data-toggle="tab" id="report4-record" data-href="@Url.Action("SchoolReagent", "Admin")">School Reagent</a>
                    </li>

                </ul>
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="equipment">
                        <div>
                            <!-- flight section -->
                            <div class="active">

                                @*@if (Session["SchoolID"] != null)
                                    {*@
                                <div class="form-group">
                                    <label class="control-label col-md-2">Subject</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("ID", ViewBag.SchoolSubjectList as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control" })
                                        @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="clearfix"></div>*@
                                <div class="form-group">
                                    <div id="itemsDetailSection">
                                        <div id="itemsDetailTable"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @if (Model.Count > 0)
                                {
                                    <section class="form-group">
                                        <div class="table-responsive">

                                            <table class="table">
                                                <tr>

                                                    <th>
                                                        Category
                                                    </th>
                                                    <th>
                                                        SchoolName
                                                    </th>
                                                    <th></th>

                                                    @*<th>
                                                        @Html.DisplayNameFor(model => model.SchoolProfile.CenterNo)
                                                                                                                    </th>*@


                                                </tr>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Category)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SchoolName)
                                                        </td>

                                                        <td>

                                                            @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                                            <a href='@Url.Action("ReportByid", "Admin", new {id = item.ID})' class='glyphicon glyphicon-print'></a>
                                                            @*@Html.ActionLink("Print", "ReportByid", new { id = item.ID }, new { @class = "glyphicon glyphicon-print" })*@
                                                        </td>
                                                    </tr>
                                                }

                                            </table>



                                            <br />
                                            @*<input type="hidden" id="Equipmentvalue_ID" name="Equipmentvalue_ID" value="0" />
                                                <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0" />
                                                <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0" />
                                                <div id='Paging' style="text-align: center">
                                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                    of @Model.PageCount

                                                    @Html.PagedListPager(Model, page => Url.Action("FacilityTabbing", new { page, subjectid = ViewBag.subjectid }))
                                                </div>*@
                                        </div>
                                    </section>
                                }
                                else
                                {
                                    <div class="well" style="margin-top:30px;">
                                        <h3>Please select a subject to load items.</h3>
                                    </div>
                                }
                                @*}
                                    else
                                    {
                                        <div class="well">Section is null</div>

                                    }*@
                            </div>

                        </div>


                    </section>


                </article>

                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $('#report1-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });


        $('#report2-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });

        $('#report3-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });

        $('#report4-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });



    </script>
}










@*===========================*@



