﻿@model IEnumerable<SchoolRecognitionSystem.Models.People>

@{
    ViewBag.Title = "Index";    
}

<h2>People</h2>

@{
    var grid = new WebGrid(Model, selectionFieldName: "SelectedRow");
    @grid.GetHtml(
        columns: grid.Columns(
            grid.Column("Edit", header: null, format: @<text>@item.GetSelectLink("Edit")</text>),            
            grid.Column("Firstname", format: @<text>@item.GivenName</text>),
            grid.Column("Surname", format: @<text>@item.Surname</text>),
            grid.Column("Age", format: @<text>@item.Age</text>)
        )
    )
}

@if (grid.HasSelection)
{    
    @RenderPage("~/Views/Shared/_Person.cshtml", new { People = grid.SelectedRow })        
}


