﻿@model  SchoolRecognitionSystem.Models.StudentModel
@{
    ViewBag.Title = "Add Textbox In WebGrid and Access TextBox Value In Asp.net MVC Using C#.Net";
}
@*Dynamic Row Add to WebGrid on Button click In Asp.net MVC Using C#.Net*@
<style type="text/css">
    table {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

    input {
        width: 60px;
    }
</style>
@using (Html.BeginForm("Index", "Facility"))
{

    var grid = new WebGrid(Model.StudentList, canSort: false, canPage: false);
    int rowNum = 0;
    <div>
        @grid.GetHtml(columns:
            grid.Columns
            (
                grid.Column("RowNumber", format: item => rowNum = rowNum + 1),
                grid.Column("Name", format: (item) => Html.TextBox("StudentList[" + (rowNum - 1).ToString() + "].Name", (object)item.Name)),
                grid.Column("Class", format: (item) => Html.TextBox("StudentList[" + (rowNum - 1).ToString() + "].ClassOfStudent", (object)item.ClassOfStudent)),
                grid.Column("Section", format: (item) => Html.TextBox("StudentList[" + (rowNum - 1).ToString() + "].Section", (object)item.Section)),
                grid.Column("Address", format: (item) => Html.TextBox("StudentList[" + (rowNum - 1).ToString() + "].Address", (object)item.Address))
            ), mode: WebGridPagerModes.Numeric)
    </div>
    <input type="submit" value="Submit" />

    @*<table>
        <thead>
            <tr>
                <th scope="col">
                    RowNumber
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Class
                </th>
                <th scope="col">
                    Section
                </th>
                <th scope="col">
                    Address
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    <input id="StudentList_0__Name" name="StudentList[0].Name" type="text" value="Name1" />
                </td>
                <td>
                    <input id="StudentList_0__ClassOfStudent" name="StudentList[0].ClassOfStudent" type="text"
                           value="12th" />
                </td>
                <td>
                    <input id="StudentList_0__Section" name="StudentList[0].Section" type="text" value="B" />
                </td>
                <td>
                    <input id="StudentList_0__Address" name="StudentList[0].Address" type="text" value="Address1" />
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    <input id="StudentList_1__Name" name="StudentList[1].Name" type="text" value="Name2" />
                </td>
                <td>
                    <input id="StudentList_1__ClassOfStudent" name="StudentList[1].ClassOfStudent" type="text"
                           value="5th" />
                </td>
                <td>
                    <input id="StudentList_1__Section" name="StudentList[1].Section" type="text" value="A" />
                </td>
                <td>
                    <input id="StudentList_1__Address" name="StudentList[1].Address" type="text" value="Address2" />
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    <input id="StudentList_2__Name" name="StudentList[2].Name" type="text" value="Name3" />
                </td>
                <td>
                    <input id="StudentList_2__ClassOfStudent" name="StudentList[2].ClassOfStudent" type="text"
                           value="10th" />
                </td>
                <td>
                    <input id="StudentList_2__Section" name="StudentList[2].Section" type="text" value="C" />
                </td>
                <td>
                    <input id="StudentList_2__Address" name="StudentList[2].Address" type="text" value="Address3" />
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    <input id="StudentList_3__Name" name="StudentList[3].Name" type="text" value="Name4" />
                </td>
                <td>
                    <input id="StudentList_3__ClassOfStudent" name="StudentList[3].ClassOfStudent" type="text"
                           value="1st" />
                </td>
                <td>
                    <input id="StudentList_3__Section" name="StudentList[3].Section" type="text" value="A" />
                </td>
                <td>
                    <input id="StudentList_3__Address" name="StudentList[3].Address" type="text" value="Address4" />
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    <input id="StudentList_4__Name" name="StudentList[4].Name" type="text" value="Name5" />
                </td>
                <td>
                    <input id="StudentList_4__ClassOfStudent" name="StudentList[4].ClassOfStudent" type="text"
                           value="8th" />
                </td>
                <td>
                    <input id="StudentList_4__Section" name="StudentList[4].Section" type="text" value="B" />
                </td>
                <td>
                    <input id="StudentList_4__Address" name="StudentList[4].Address" type="text" value="Address5" />
                </td>
            </tr>
        </tbody>
    </table>*@
}
