﻿@model  SchoolRecognitionSystem.Models.Subject
@{
    ViewBag.Title = "FacilityValue";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

<html>
<head>
    <title>Using PartialView</title>
    @*Referenced  js and css files which comes with template*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />

    @*Referenced appcss file having custom CSS*@
    @*<link href="~/Content/appcss/appcss.css" rel="stylesheet" />*@

</head>
<body style="background-color:#FFF3E8;">
    <h3>Passing Multiple Models using <span class="specialText"> <i>PartialView</i></span></h3>

    <div class="form-group">
        @Html.LabelFor(model => model.ID, "Subject", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.ID, ViewBag.Subjects as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control" })
        </div>
        <div class="col-lg-offset-3">
            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div id="itemsDetailSection">
        <h4>Items for selected subject</h4>
        <div id="itemsDetailTable"></div>
    </div>





    @*</body>*@

    @section scripts
    {
        <link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />
        <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/Content/jquery-ui.css">

        @*Referenced  js and css files which comes with template*@
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <link href="~/Content/Site.css" rel="stylesheet" />

        @*Referenced appcss file having custom CSS*@
        @*<link href="~/Content/appcss/appcss.css" rel="stylesheet" />*@


        <script type="text/javascript">
            $(document).ready(function () {
                $("#itemsDetailSection").fadeOut(0);
                //$("#studentDetailSection").fadeOut(0);
            });

            var selectedCourseName;

            $("#ID").change(function () {

                selectedCourseName = $(this).val();

                if (selectedCourseName == "Select Subject") {
                    $("#itemsDetailSection").fadeOut();
                    //    //$("#studentDetailSection").fadeOut();
                }
                else {
                    getFacultyTable();
                    //getStudentTable();
                    $("#itemsDetailSection").fadeIn();
                    //$("#studentDetailSection").fadeIn();
                }
            });

            function getFacultyTable() {
                $.ajax({
                    // Get Faculty PartialView
                    url: "/Facility/FacilityValue",
                    type: 'Get',
                    data: { subjectid: selectedCourseName },
                    success: function (data) {
                        $("#itemsDetailTable").empty().append(data);
                    },
                    error: function () {
                        alert("something seems wrong");
                    }
                });
            }


        </script>
    }
</body>
</html>
