﻿@model  SchoolRecognitionSystem.Models.Subject
@{
    ViewBag.Title = "MVC 4 - Showing Data in DropDown And Grid View";
}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/StyleSheet1.css" rel="stylesheet" />
<table style="width: 90%; text-align: center; background-color: #ADD8E6; padding: 10px;">
    <tr>
        <td style="padding: 10px; text-align: center; height:30px; background-color:#FF0000;
          font-size:20pt; font-weight:bold; color:white;">
            Select Manager #
            @Html.DropDownList("lstManagerEmployee", Model.Subjects)
        </td>
    </tr>
    <tr>
        <td>
            <div id="employeeListGrid">
                @Html.Partial("ShowFacilityPV", Model.FacilityTypeSettings)
            </div>
        </td>
    </tr>
</table>
<script>
    $(document).ready(function () {
        $("#lstManagerEmployee").append($("<option></option>").val("0").html("All Employee"));
        $("#lstManagerEmployee").val("0");
    });
</script>
<script type="text/javascript">
    $('#lstManagerEmployee').change(function (e) {
        e.preventDefault();
        var url = '@Url.Action("IndexGrid")';
        $.get(url, { Manager_ID: $(this).val() }, function (result) {
            $('#employeeListGrid').html(result);
        });
    });
</script>
