﻿
@using SchoolRecognitionSystem.Models
@model IEnumerable<vmSchoolStaffQualification>
@{
    //var subjects = ViewBag.SubjectID as IEnumerable<vwSchoolSubjectListing>;
    if (Model != null)
    {
        foreach (var staff in Model)
        {
            <div id="school-subject-@staff.SchoolStaffID">
                @staff.Label @staff.FirstName @staff.LastName-(@staff.LongName @staff.Category)
            </div>
        }
    }

}