﻿@using SchoolRecognitionSystem.Models
@model SchoolRecognitionSystem.Models.vmSchoolStaffQualification
@{
    ViewBag.Title = "Create Staff";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
<div class="row">
    <section class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_StaffSection");
        </aside>
        <article class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <ol class="breadcrumb">
                <li><i class="glyphicon glyphicon-plane"></i></li>


                <li><a href="@Url.Action("Subjects", "Schools", new {sddc = @Request.QueryString["sddc"]})">Manage Subject</a></li>


                <li><a href="@Url.Action("NewSchool", "Schools", new {sddc = @Request.QueryString["sddc"]})">Back to schoolprofile</a></li>


                @*<li><a href="@Url.Action("SCHOOL", "SchoolSEDIT", new {sddc = @Request.QueryString["sddc"]})">MBACK TO EDIT SCHOOL</a></li>*@


                @*@Html.ActionLink("Cancel", "welcome", "schools", new { sddc = Request.QueryString["sddc"] }, new { @class = "btn btn-amber btn-sm pull-right", @aria_hidden = "true" })*@


                <li class="active"></li>
            </ol>
            <section class="row">
                <article class="col-lg-9 col-md-9 col-sm-10 col-xs-10">

                    @Html.Raw(TempData["response"]);

                    @if (TempData["DataSavedSuccessfully"] != null)
                    {
                        <div id="result" class="alert alert-success">
                            @TempData["DataSavedSuccessfully"]
                        </div>
                    }


                    @if (TempData["Fill"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["Fill"]
                        </div>
                    }

                    @if (TempData["PrincipalExist"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["PrincipalExist"]
                        </div>
                    }
                    @if (TempData["selectPrincipalDegreee"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["selectPrincipalDegreee"]
                        </div>
                    }






                    @if (TempData["Certificates"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["Certificates"]
                        </div>
                    }

                    @*<ul class="nav nav-tabs">
                            <li class="tab-pane active">
                                <a data-toggle="tab" id="">Staff</a>
                            </li>
                            <li>
                                <a data-toggle="tab" id="school-staff-record" data-href="@Url.Action("SchooStafflRecords", "SchoolStaffs")">School Staff Record</a>
                            </li>
                        </ul>*@<div class="active">
                        <span id="messagesuccess"></span>
                        @*@if (Session["SchoolID"] != null)
                            {*@
                        @using (Html.BeginForm("Create", "SchoolStaffs", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", @id = "registerFormId" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("SchoolID")
                            HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                            <div class="form-horizontal">
                                <h2>School Staff Profile</h2>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @*<p style="color:green">@ViewBag.Success</p>*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TitleID, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("TitleID", null, "(select Title)", htmlAttributes: new { @class = "form-control select2-dropdown", required = "required" })
                                        @*@Html.ValidationMessageFor(model => model.TitleID, "", new {@class = "text-danger"})*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, "First Name", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, "Last Name", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DateEmployed, "Date Employed", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DateEmployed, new { htmlAttributes = new { @class = "monthPicker form-control", placeholder = "select date", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.DateEmployed, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryID, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("CategoryID", null, "(select Category)", htmlAttributes: new { @class = "form-control select2-dropdown", @required = "required" })
                                        @*@Html.ValidationMessageFor(model => model.CategoryID, "", new {@class = "text-danger"})*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("DegreeID", "Qualifications", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3" style="margin-right: 40px;">
                                                @Html.DropDownList("DegreeID", null, "(select degree)", new { @class = "form-control select2-dropdown", @required = "required" })

                                            </div>

                                            <div class="col-md-8">
                                                @Html.DropDownList("CoursID", null, "(select course)", new { @class = "form-control select2-dropdown", @required = "required" })

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Upload TRCN & school certificates", htmlAttributes: new { @class = "control-label col-md-2" })
                                    @ViewBag.Message
                                    <div class="col-md-10">
                                        <input type="file" name="postedfile" id="postedfile" multiple="" />
                                        <p style="color: blue">
                                            first put relevant files to upload in one folder and highlight all when clicked <strong>Choose Files</strong>>
                                        </p>
                                        <div id="dvPreview" style="overflow: auto; align-items: flex-start">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-2">
                                        <label class="checkbox nomargin">
                                            <input type="checkbox" value="true" name="isTRCN" id="isTRCN"><i></i>
                                            <span style="position: relative; top: -6px;">TRCN</span>
                                        </label>
                                    </div>
                                    <div id="dvPassport" class="col-md-7" style="display: none">
                                        <input type="text" class="form-control" name="TRCNText" placeholder="Enter your TRCN certificate" id="TRCNText" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 col-xs-5">
                                        @Html.Label("", "Other Qualifications")
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.OtherDegree, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <input type="hidden" id="teacher-added" name="teacherAdded" value="0" />


                                <input type="hidden" id="ID" name="ID" value="0" />

                                <input type="hidden" id="SchoolSubjectID" name="SchoolSubjectID" value="@Model.SchoolSubjectID" />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" id="btnSaveee" class="btn btn-primary btn-lg btn-sm"><i class="fa fa-add"></i>Save</button>
                                        @*<a href="/Schools/CreateStudent" onclick="return Submit();" id="btnnext" class="btn btn-warning @ViewBag.StudentRecords">Next</a>*@

                                    </div>
                                </div>
                            </div>
                        }
                        @*}
                            else
                            {
                                <div class="well"> Section is null </div>

                            }*@
                    </div>
                </article>

            </section>

        </article>
        <article class="col-md-2"></article>

    </section>
</div>


@section scripts{
    <script src="~/Scripts/jquery.sumoselect.js"></script>

    <script>
        var imagePreviewContainer = document.getElementById("dvPreview");
        var files = null;
        if (window.File && window.FileList && window.FileReader) {
            var filesInput = document.getElementById("postedfile");
            array =
            filesInput.addEventListener("change", function (event) {
                files = event.target.files; //FileList object
                //var output = document.getElementById("result");
                var fileName;
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    fileName = file.name;
                    console.log(fileName);

                    //Only pics
                    if (!file.type.match('image'))
                        continue;
                    if (file.size > 204800) {
                        alert('The file "' +
                            file.name +
                            '" has invalid size. Maximaum allowed file upload 200kb. \nPlease resize and try again.');
                    } else {
                        addedfiles.push(file);
                        loadImage(file);
                    }
                }
                $(filesInput).val('');
            });
        } else {
            console.log("Your browser does not support File API");
        }
        $(function () {
            $(document).on('click', '.deleted-image', function () {
                addedfiles = addedfiles.filter(file => file.name !== $(this).data('imagename'));
                imagePreviewContainer.innerHTML = '';
                for (var i = 0; i < addedfiles.length; i++) {
                    loadImage(addedfiles[i]);
                }

            });
        });

        function loadImage(file) {
            var reader = new FileReader();
            // Setup listener
            reader.onload = (function (processedFile) {
                return function (e) {
                    imagePreviewContainer.innerHTML += "<span style='position:relative;display: inline-block;margin-right: 10px;'>" +
                         "" +
                         "<img class='thumbnail' height='100' width='100' src='" + e.target.result + "'" +
                         "title='" + processedFile.name + "' style='display:inline-block;'/>" +
                         "<a href='javascript:void(0)' data-imagename='" + processedFile.name + "' class='deleted-image' style='right: 9px;position:absolute;top: 7px;background: #fff;border-radius: 50%;width: 17px;height: 17px;' title='Delete image'>" +
                         "<i class='fa fa-times text-danger' style='position: relative;top: -3px;left: 3px;'></i>" +
                         "</a></span>";
                };
            })(file);
            // Process file
            reader.readAsDataURL(file);
        }


    </script>





    <script type="text/javascript">
        var globalSchoolId = 0;
        var globalStaffId = 0;
        var globalimageId;
        var addedfiles = [];

        $("#btnSaveee").click(function (e) {
            e.preventDefault();
            if ($("#TitleID").val() == "") {
                alert('Title is required');
                return false;
            } else if ($("#FirstName").val() == "") {
                alert('FirstName is required');
                return false;
            } else if ($("#LastName").val() == "") {
                alert('LastName is required');
                return false;
            } else if ($("#DateEmployed").val() == "") {
                alert('Date employed is required');
                return false;
            } else if ($("#CategoryID").val() == "") {
                alert('Category is required');
                return false;
            } else if ($("#DegreeID").val() == "") {
                alert('Degree is required');
                return false;
                
            } else if ($("#CoursID").val() == "") {
                alert('Course is required');
                return false;
            } else if (addedfiles.length === 0) {
                alert('Credential is required. Please upload your certificates.');
                return false;
            }

            if (confirm('Are you sure you want to subimit?')) {
                var formdata = new FormData(); //FormData object
                formdata.append("TitleID", $("#TitleID").val());
                formdata.append('FirstName', $("#FirstName").val());
                formdata.append('LastName', $("#LastName").val());
                formdata.append('DateEmployed', $("#DateEmployed").val());
                formdata.append('CategoryID', $("#CategoryID").val());
                formdata.append('SchoolID', $('#SchoolID').val());
                formdata.append('DegreeID', $("#DegreeID").val());
                formdata.append('CoursID', $("#CoursID").val());
                formdata.append('TRCNText', $("#TRCNText").val());
                formdata.append('OtherDegree', $("#OtherDegree").val());
                for (var i = 0; i < addedfiles.length; i++) {
                    formdata.append(addedfiles[i].name, addedfiles[i]);
                }
                console.log(formdata);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create", "SchoolStaffs")',
                    data: formdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.status) {
                            alert(data.message);
                            globalStaffId = data.staffId;
                            addedfiles = [];
                            imagePreviewContainer.innerHTML = '';
                            $('#TitleID').val($('#TitleID option:first-child').val()).trigger('change');
                            $("#FirstName").val('');
                            $("#LastName").val('');
                            $("#DateEmployed").val('');
                            $("#CategoryID").val('');
                            $("#TRCNText").val('');
                            $('#DegreeID').val($('#DegreeID option:first-child').val()).trigger('change');
                            $('#CategoryID').val($('#CategoryID option:first-child').val()).trigger('change');
                            $('#CoursID').val($('#CoursID option:first-child').val()).trigger('change');

                        }
                    },
                    error: function () {
                        alert("Error while submitting staff detail");
                    }

                });
            } else {
                e.preventDefault();
            }
            return false;
        });


        //Relod the school subjects id palaceholder called ReloadSchoolSubject
        $('#btnRefresh').click(function () {
            location.reload();
        });


        $(function () {
            $("#isTRCN").click(function () {
                if ($(this).is(":checked")) {
                    $("#dvPassport").show();
                } else {
                    $("#dvPassport").hide();
                }
            });
        });

        @*function ReloadSchoolSubject(schoolId) {
            var url = '@Url.Action("_schoolSubjects", "SchoolStaffs")';
            $("#SchoolSubjectList").load(url, { schid: schoolId });

        };*@


        $(document).ready(function () {
            $('.prinproradio').hide();
            $('.principalproprietoroption2').hide();
            $(window).scroll(function () {
                $('#side-subject-container').animate({ top: $(this).scrollTop() - 300 }, 5, "linear");
                if ($(this).scrollTop() <= 200) {
                    $('#side-subject-container').css('position', 'static');
                } else {
                    $('#side-subject-container').css('position', 'relative');
                }
            });
            window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 4 });
            $('#school-staff-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $("#CategoryID").on("change", function () {
                if ($('#CategoryID option:selected').text() == 'PRINCIPAL') {
                    $('.prinproradio').slideDown(500);
                } else {
                    $('.prinproradio').slideUp(500);
                }

            });
            $('.principalproprietoroption').on('change', function () {

                if ($(this).val() === 'NotTeaching') {
                    $('.principalproprietoroption2').show();
                    $('.principalproprietoroption1').hide();

                }
                if ($(this).val() === 'Teaching') {
                    $('.principalproprietoroption1').show();
                    $('.principalproprietoroption2').hide();

                }
            });

            $(document).ready(function () {
                $("#FirstName").keyup(function (event) {
                    if (event.keyCode === 13) {
                        $("#image-container" + globalimageId).removeAttr('src');
                    }
                });
                $("#SubjectID").on("change", function () {
                    //var id = $(this).data(sub);
                    var id = $(this).val();
                    //$('.school-subjects').removeClass('school-subjects-selected');
                    //$('#school-subject-' + id).addClass('school-subjects-selected major-subjects');
                    //console.log($('#school-subject-' + id).addClass('school-subjects-selected major-subjects'));
                    var baseUrl = '@Url.Content("~/")';
                    var url = baseUrl + "api/recog/GetCourse";
                    var markup = "<option value='0' selected='selected'>--select Course--</option>";
                    $("#CoursID").html(markup).show();
                    $.get(url, { SubjectID: id }, function (data) {
                        if (data != null) {
                            for (var i = 0; i < data.length; i++) {
                                markup += "<option value='" + data[i].CoursID + "'>" + data[i].CourseTitle + "</option>";
                            }

                            $("#CoursID").html(markup).show();
                        }
                    });
                });
                $("#SubjectID").trigger('change').selected();
            });


            $(document).on('click', '.image-delete', function () {
                if (confirm('Are you sure you want to delete image?')) {
                    var imageId = $(this).data('token');
                    $.post('@Url.Action("DeleteImage", "SchoolStaffs")', { imageId: imageId }, function (result) {
                        if (result.status) {
                            $('#image-container-' + imageId).remove();
                        }
                    });
                }
            });
            $("#save-image").click(function () {
                var data = new FormData();
                // $('#staffid').val()

                var files = $("#uploadImage").get(0).files;
                if (files.length > 0) {
                    data.append("file", files[0]);
                    data.append('staffId', globalStaffId);
                } else {
                    alert('Please select image file to upload.');
                    return;
                }
                $.ajax({
                    url: '@Url.Action("AddImageToCredentials", "SchoolStaffs")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        if (response.status) {
                            var image = '<div class="col-md-2" id="image-container-' + response.CredentialID + '" >' +
                                '<a href="javascript:void(0);" class="image-delete" data-token="' + response.CredentialID + '" title="Delete Image"><i class="fa fa-times"></i></a>' +
                                '<a href="' + response.Image + '" target="_new">' +
                                '<img src="' + $('meta[name="ApplicationRoot"]').attr('content') + response.Image + '" width="100" height="100"></a>' +
                                '</div>';
                            $('#image-wrapper').append(image);
                            $("#uploadImage").val('');
                            //$('#TitleID').removeAttr('disabled');
                            //$('#FirstName').removeAttr('disabled');
                            //$('#LastName').removeAttr('disabled');
                            //$('#CategoryID').removeAttr('disabled');
                            //$('#SubjectID').removeAttr('disabled');
                            //$('#CoursID').removeAttr('disabled');
                            //$('#DegreeID').removeAttr('disabled');
                        } else {
                            alert(response.message);
                        }

                    },
                    error: function (er) {
                        alert(er);
                    }

                });
            });
            $("#secondsubjectid").on("change", function () {
                var ids = $(this).val();
                //$('.other-subjects').removeClass('school-subjects-selected other-subjects');
                // //$('#school-subject-' + ids[i]).addClass('school-subjects-selected other-subjects');
                // for (var i = 0; i < ids.length; i++) {
                //     if ($('#school-subject-' + ids[i]).hasClass('major-subjects')) {
                //         continue;
                //     }

                $('#school-subject-' + ids[i]).addClass('school-subjects-selected other-subjects');
                //}
            });


            $('#school-staff-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });


            function Submit() {
                if (confirm("Are you sure you want to go the next page?")) {
                    return true;
                } else {
                    return false;
                }


            }

        });
        @*function ReloadSchoolSubject(schoolId) {
            var url = '@Url.Action("_schoolStaffs", "SchoolStaffs")';
            $("#SchoolSubjectList").load(url, { schid: schoolId });

        };*@
        //function ReloadSchoolSubject(schoolId) {
        //    var url = '~/SchoolStaffs/_schoolSubjects';
        //    $.get(url, { schoolID: schoolId }, function (data) {
        //        $("#SchoolSubjectList").html(data);
        //    });
        //};


        $(".monthPicker").datepicker({
            dateFormat: 'mm-yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,

            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).val($.datepicker.formatDate('yy-mm', new Date(year, month, 1)));
            }
        });

        $(".monthPicker").focus(function () {
            $(".ui-datepicker-calendar").hide();
            $("#ui-datepicker-div").position({
                my: "center top",
                at: "center bottom",
                of: $(this)
            });
        });


    </script>

}
