﻿@model SchoolRecognitionSystem.Models.vmSchoolStaffQualification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SchoolStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEmployed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEmployed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeType)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.SchoolProfile.CenterNo)
            </dt>*@

        @*<dd>
                @Html.DisplayFor(model => model.SchoolProfile.CenterNo)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@model SchoolRecognitionSystem.Models.vmSchoolStaffQualification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SchoolStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEmployed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEmployed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeType)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.SchoolProfile.CenterNo)
            </dt>*@

        @*<dd>
                @Html.DisplayFor(model => model.SchoolProfile.CenterNo)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
