﻿@using System.Collections
@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Infrastructure
@using SchoolRecognitionSystem.Models
@*@model  List<SchoolRecognitionSystem.Models.SchoolSubjectCompletionReportModel>*@

@{
    ViewBag.Title = "Assign State";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />


<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SubjectSectionPartial");
        </div>
        <section class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <div class="school-wrapper">
                <div>
                    <h3> <span style="color: black">@ViewBag.SchoolName</span> is <span class="text-success">successfully inspected</span></h3>
                    <p style="color: black;font-weight:bold"> The number of staff in school is <span class="badge" style="font-weight:bold">@ViewBag.StaffNumber</span></p>
                </div>
                <br />
                <h2>Subject with required Facilities</h2>
                <table id="searchtable" class="table table-bordered table-striped">
                    <thead>
                        <tr style="background-color:lightgrey">

                            <th>School Subject(s)</th>
                            <th>Equipment Required</th>
                            <th>Equipment Observed</th>
                            <th>Reagent Required</th>
                            <th>Reagent Observed</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in (IEnumerable<vwSchoolSubjectFacilityReport>)ViewBag.Facilityreport)
                        {

                            <tr>

                                <td>@item.LongName</td>
                                <td>@item.Total_Equipment </td>
                                <td>@item.TotalSchoolEquipment</td>
                                <td>@item.Total_Reagent</td>
                                <td>@item.TotalSchoolReagent</td>

                            </tr>
                        }
                    </tbody>

                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="background-color: lightgrey" colspan="3">SUBJECTS OFFERED BY THE SCHOOL</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var counter = 1;
                        var tableBody = "";
                        var schoolSubjects = (IEnumerable<vwSchoolSubjectReport>) ViewBag.SchoolSubjects;
                        var totalItems = schoolSubjects.Count();
                        var rows = Math.Ceiling((double) totalItems/3);
                        var remainderColumns = totalItems%rows;
                        var rowsDisplayed = 0;
                    }
                   
                    @foreach (var item in schoolSubjects)
                    {

                        if (counter <= 3)
                        {
                            if (counter == 1)
                            {
                                tableBody += "<tr>";
                                tableBody += "<td>" + item.LongName + "</td>";
                                counter++;
                            }
                            else
                            {
                                tableBody += "<td>" + item.LongName + "</td>";
                                if (counter == 3)
                                {
                                    tableBody += "</tr>";
                                    counter = 1;
                                }
                                else
                                {
                                    counter++;
                                }

                            }
                        }

                    }
                    @Html.Raw(tableBody)
                    </tbody>

                </table>
                <div class="pull-right" style="margin-right: 20px; display: none;" id="signature-wrapper">
                    <br />
                    <br />
                    <div class="col-md-5" style="margin-top: 35px;">
                        <label>Signature: </label>
                    </div>
                    <div class="col-md-6"><img id="signature-img" src="~/Content/images/signatures/01465b4b23bb47dfb0a34c9819779f23.jpg" width="200" height="50"/>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin-top: 10px;"/>
                    <p>Zonal coordinator / Branch controller / Officer in charge</p>
                </div>
                <div class="clearfix"></div>
                <br/>
                <br />
            </div>
            <div class="well">
                <form action="@Url.Action("MailAttachmentToSupervisor")" method="post">
                    <input type="hidden" name="schoolid" value="@ViewBag.SchoolID"/>
                    <button class="btn btn-danger btn-lg" id="finishid" type="submit"
                            onclick="return confirm('Sure you want to finish and submit to the supervisor?')">Finish</button>
                </form>
            </div>






        </section>

    </div>
</div>












@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
          
           
        });

       
    </script>

}






