﻿@model IEnumerable<SchoolRecognitionSystem.Models.vmSchoolStaffQualification>

@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_LayoutUserHome.cshtml";

}


<h2>Create</h2>


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active"> School Staff</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial")
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">
                <p style="color: green; font-weight: bold">@ViewBag.Success</p>
                @*@if (Session["SchoolID"] != null)
                    {*@
                <h2>Index</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Label)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateEmployed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DegreeType)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.SchoolProfile.CenterNo)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Label)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateEmployed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DegreeType)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.SchoolProfile.CenterNo)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>

                                @Html.ActionLink("Edit", "Edit", new { id = item.SchoolStaffID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SchoolStaffID }) |
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                            </td>
                        </tr>
                    }

                </table>

                @*}
                            else
                            {
                        <div class="well">Section is null</div>

                    }*@

            </div>

        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".monthPicker").datepicker({
                dateFormat: 'MM yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,

                onClose: function(dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).val($.datepicker.formatDate('MM yy', new Date(year, month, 1)));
                }
            });

            $(".monthPicker").focus(function() {
                $(".ui-datepicker-calendar").hide();
                $("#ui-datepicker-div").position({
                    my: "center top",
                    at: "center bottom",
                    of: $(this)
                });
            });
        });
    </script>








}
