﻿@model SchoolRecognitionSystem.Models.MailModel

@{

    ViewBag.Title = "Index";

}


<script>

    $(document).ready(function () {

        if ('@ViewBag.Message' == 'Sent') {

            alert('Mail has been sent successfully');

        }

    });

</script>

<h2>Index</h2>

<fieldset>

    <legend>
        Send Email

    </legend>

    @using (@Html.BeginForm("MailAttachment", "SchoolStaffs", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))

    {

        @Html.ValidationSummary()

        <input type="submit" value="Send" />



        <table>

            <tr>

                <td>
                    To:

                </td>

                <td>

                    @Html.TextBoxFor(m => m.To)

                </td>

            </tr>

            <tr>

                <td>
                    Subject:

                </td>

                <td>

                    @Html.TextBoxFor(m => m.Subject)

                </td>

            </tr>

            <tr>

                <td>
                    Attachment

                </td>

                <td>

                    <input type="file" name="fileUploader" />

                </td>

            </tr>

            <tr>

                <td>
                    Body:

                </td>

                <td>

                    @Html.TextAreaFor(m => m.Body)

                </td>

            </tr>

        </table>

    }

</fieldset>