﻿@using SchoolRecognitionSystem.Infrastructure
@model IEnumerable<SchoolRecognitionSystem.Models.SchoolStaffList>
@{
    ViewBag.Title = "SchooStafflRecords";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}


@*<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">School</a></li>
    <li class="active">School Staff</li>
</ol>*@

@*@if (TempData["Information"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["Information"]
            </span>
        </div> }*@

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_StaffSection")
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            @*<ol class="breadcrumb">
                <li><i class="glyphicon glyphicon-plane"></i></li>



                <li><a href="@Url.Action("NewSchool", "Schools", new {sddc = @Request.QueryString["sddc"]})">Back to schoolprofile</a></li>



                <li><a href="@Url.Action("Subjects", "Schools", new {sddc = @Request.QueryString["sddc"]})">Manage Subject</a></li>

                
            </ol>*@

            @*<ul class="nav nav-tabs" style="margin: 20px;">
                <li>
                    <a data-toggle="tab" id="staff" data-href="@Url.Action("Create", "SchoolStaffs")">Staff</a>
                </li>

                <li class="active">
                    <a data-toggle="tab" href="#schoolstaff">School Staff record</a>
                </li>
            </ul>*@
            @*<article class="tab-content" style="margin: 20px;">*@
            @*<section class="tab-pane fade in active" id="schoolstaff">*@
                <div class="mycustom-tab">
                    <!-- flight section -->
                    <div class="active">
                        @*<h2><strong>List of Teachers</strong></h2>*@
                        <p style="color: green; font-weight: bold">@ViewBag.Success</p>
                        @*@if (Session["SchoolID"] != null)
                            {*@
                        @*<h2>Index</h2>*@

                        @*<p>
                                @Html.ActionLink("", "Create")
                            </p>*@
                         
                        <table class="table table-bordered">
                            <tr>
                                <th>
                                   Certificates
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Name Of Teachers
                                </th>
                                <th>
                                    Degrees/Qualifications
                                </th>

                                <th>
                                    Has TRCN
                                </th>
                                <th>Actions</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        
                                        @foreach (var credential in item.Credentials)
                                        {
                                            <img style="display: inline-block;" width="40" height="40" class="thumbnail" src="@Url.Content(ConstantsService.CredentialPath + credential.Image)"/>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff.Category)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff.FirstName)
                                        @Html.DisplayFor(modelItem => item.Staff.LastName)
                                    </td>


                                    <td>
                                        @foreach (var qualification in item.SchoolStaffDegreeList)
                                        {
                                            <div>@qualification.DegreeType</div>

                                            <div>@qualification.CourseTitle</div>
                                        }
                                        @foreach (var otherDegree in item.SchoolStaffOtherDegreeList)
                                        {
                                            <div>@otherDegree.OtherDegree</div>
                                        }
                                    </td>




                                    <td>
                                        @item.Staff.TRCNText
                                    </td>
                                    <td>
                                        @*<a class="btn btn-success btn-sm" href="@Url.Action("School","SchoolsEdit", new {sddc=item.ID})">Edit</a>*@
                                        @Html.ActionLink("Edit", "Edit", new {id = item.Staff.ID, sddc = Request.QueryString["sddc"]}, new {@class = "btn btn-default"})
                                        @*@Html.ActionLink("Details", "Details", new { id = @item.Staff.ID }) |*@

                                        @Html.ActionLink("Delete", "DeleteStaff", new { staffid = @item.Staff.ID, sddc = Request.QueryString["sddc"] }, new { @class = "btn btn-default" })
                                    </td>
                                </tr>
                            }

                        </table>

                        @*}
                                    else
                                    {
                                <div class="well">Section is null</div>

                            }*@

                    </div>

                </div>
            @*</section>*@
            @*</article>*@

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function() {
            $('#staff').on('click', function () {
                document.location = $(this).attr("data-href");
            });
        });
    </script>
}