﻿@using SchoolRecognitionSystem.Models
@model SchoolRecognitionSystem.Models.vmSchoolStaffQualification
@{
    ViewBag.Title = "Create Staff";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
@*<ol class="breadcrumb">
        <li><i class="glyphicon glyphicon-plane"></i></li>
        <li><a href="#">New School</a></li>
        <li class="active">School Staff</li>
    </ol>*@
@*<script src="~/Scripts/141jquery.js"></script>*@
@*<h2>FacilityTabbing</h2>*@
<div class="row">
    <section class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SubjectSectionPartial");
        </aside>
        <article class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            @*<ol class="breadcrumb">

                <li><a href="@Url.Action("NewSchool", "Schools", new {sddc = @Request.QueryString["sddc"]})">New School</a></li>


                <li><a href="@Url.Action("Create", "SchoolStaffs", new {sddc = @Request.QueryString["sddc"]})">Create staff</a></li>

                <li class="active"></li>
            </ol>*@
            <section class="row">
                <article class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
                    @Html.Raw(TempData["response"]);
                    @if (TempData["DataSavedSuccessfully"] != null)
                    {
                        <div id="result" class="alert alert-success">
                            @TempData["DataSavedSuccessfully"]
                        </div>
                    }


                    @if (TempData["Fill"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["Fill"]
                        </div>
                    }

                    @if (TempData["PrincipalExist"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["PrincipalExist"]
                        </div>
                    }
                    @if (TempData["selectPrincipalDegreee"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["selectPrincipalDegreee"]
                        </div>
                    }

                    @if (TempData["Certificates"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["Certificates"]
                        </div>
                    }

                    @*<ul class="nav nav-tabs">
                            <li class="tab-pane active">
                                <a data-toggle="tab" id="">Staff</a>
                            </li>
                            <li>
                                <a data-toggle="tab" id="school-staff-record" data-href="@Url.Action("SchooStafflRecords", "SchoolStaffs")">School Staff Record</a>
                            </li>
                        </ul>*@<article class="tab-content" style="margin: 20px;">
                        @*<section class="tab-pane active fade in" id="staff">
            <div class="mycustom-tab" id="loadPagePanel">*@
                        <!-- flight section -->
                        <div class="active">
                            <span id="messagesuccess"></span>
                            @*@if (Session["SchoolID"] != null)
                            {*@
                                @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data", @id = "registerFormId"}))
                                {
                                    @Html.AntiForgeryToken()
                                    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                                    <div class="form-horizontal">
                                        <h2>Staff Subjects</h2>
                                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                        @*<p style="color:green">@ViewBag.Success</p>*@


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SchoolStaffName, "Staff Name", htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">

                                                @Html.DropDownList("SchoolStaffName", null, "(select staff)", htmlAttributes: new {@class = "form-control  select2-dropdown" })
                                                @Html.ValidationMessageFor(model => model.SchoolStaffName, "", new {@class = "text-danger"})

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("DegID", "Degree/Course", new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" id="coursedegree" style="width:400px" disabled="disabled"/>
                                                        @*<select id="DegID" name="DegID" class="form-control">
                                                            <option value="0"></option>
                                                        </select>*@
                                                    </div>
                                                    @*<div class="col-md-6">
                                                        <select id="CourseID" name="CourseID" class="form-control">
                                                            <option value="0"></option>
                                                        </select>
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("SubjectIDss", "Subject taught(s)", htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.DropDownList("SubjectIDss", null, "(select Subject)", htmlAttributes: new {@multiple = "multiple", id = "secondsubjectid", @placeholder = "Select a Subject", @class = "col-md-10 select2-dropdown" })
                                                @Html.ValidationMessageFor(model => model.SubjectIDss, "", new {@class = "text-danger"})
                                            </div>
                                        </div>



                                        <input type="hidden" id="teacher-added" name="teacherAdded" value="0"/>

                                        @Html.Hidden("SchoolID", Request.QueryString["sddc"])
                                        <input type="hidden" id="ID" name="ID" value="0"/>
                                        @*<input type="hidden" id="SchoolSubjectID" name="SchoolSubjectID" value="@Model.SchoolSubjectID" />*@
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button type="submit" id="btnSave" class="btn btn-success btn-sm"><i class="fa fa-add"></i>Save</button>
                                                @*<a href="/Schools/CreateStudent" onclick="return Submit();" id="btnnext" class="btn btn-warning @ViewBag.StudentRecords">Next</a>*@

                                            </div>
                                        </div>
                                        <section class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    @*<th>S/N</th>*@
                                                    <th>Staff</th>
                                                    <th>Subject</th>
                                                    <th>Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="students-table-body">
                                                @{
                                                    var staffsubject = ViewBag.StaffSubjectList as List<vwSchoolStaffsSubjects>;


                                                    if (staffsubject != null)
                                                    {
                                                        foreach (var staff in staffsubject)
                                                        {
                                                            <tr class="schoolrowid">
                                                                <td>@staff.FirstName @staff.LastName</td>
                                                                <td>@staff.LongName</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" class="row-delete" data-staffsubjectid="@staff.StaffSubjectID" data-schoolid="@staff.SchoolID" id="@staff.SchoolStaffID" data-token="@staff.SchoolStaffID" data-subjectid="@staff.SubjectID" title="Delete Staff Subject"><i class="fa fa-times"></i></a>
                                                                </td>


                                                            </tr>
                                                        }
                                                    }
                                                }
                                                </tbody>

                                            </table>
                                        </section>
                                    </div>
                                }
                            @*}
    else
    {
        <div class="well"> Section is null </div>

    }*@
                        </div>



                        @*</div>*@
                        @*</section>*@

                    </article>

                </article>
                <aside class="col-md-3">
                    <div style="margin-top: 156px; position: relative;" id="side-subject-container">
                        <div class="list-group" id="SchoolSubjectList">
                            <!--school-subjects-selected-->
                            @Html.Partial("_schoolSubjects", ViewBag.SubjectListing as IEnumerable<vwSchoolSubjectListing>)

                            @*@{
                                    var subjects = ViewBag.SubjectID as IEnumerable<SelectListItem>;
                                    foreach (var subject in subjects)
                                    {
                                        <div class="list-group-item school-subjects" id="school-subject-@subject.Value">
                                            @subject.Text
                                        </div>
                                    }
                                }*@



                        </div>
                    </div>
                </aside>
            </section>

        </article>
        <article class="col-md-2"></article>

    </section>
</div>


@section scripts{
    @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/custom-validator")*@
    @*<script src="~/Scripts/190jquery.min.js"></script>*@
    <script src="~/Scripts/jquery.sumoselect.js"></script>

    <script type="text/javascript">
        var globalSchoolId = 0;
        var globalStaffId = 0;
        var globalimageId;
        $("#btnSavexxx").click(function() {

           //if ($("#SchoolStaffName").val() == "") {
           //     alert('Title is required');
           //     return false;
           // } else if ($("#SubjectIDss").val() == "") {
           //     alert('Cours is required');
           //     return false;
           // }
            if (confirm('Are you sure you want to subimit?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("StaffSubject", "SchoolStaffs")',
                    data: {
                        // ID: $("#ID").val(),
                        SchoolStaffName: $("#SchoolStaffName").val(),
                        SubjectIDss: $("#secondsubjectid").val()

                    },

                    success: function(data) {
                        if (data.status == true) {
                            //$('#schoolProfileEditid').val(data.schoolid);

                            alert(data.message);
                            ReloadSchoolSubject(data.schid);
                            // $("#staffid").attr('staff-id', data.staffid);
                            globalStaffId = data.staffId;
                            //if ($("#dvPreview")[0].files.length < 11) {
                            //    alert("Now reset file input");
                            //    //This code line resets the file input
                            //    $('#dvPreview').val("");
                            //}
                            console.log(globalStaffId);

                            $("#SubjectID").val(0);
                            $("#DegreeID").val(0);
                            $("#CoursID").val(0);

                        }
                    },
                    error: function() {
                        alert("Error while submitting staff detail");
                    }

                });
            } else {
                e.preventDefault();
            }
            return false;
        });


        $(function() {
            $("#isTRCN").click(function() {
                if ($(this).is(":checked")) {
                    $("#dvPassport").show();
                } else {
                    $("#dvPassport").hide();
                }
            });
        });

        function ReloadSchoolSubject(schoolId) {
            var url = '@Url.Action("_schoolSubjects", "SchoolStaffs")';
            $("#SchoolSubjectList").load(url, { schid: schoolId });

        };


        $(document).ready(function() {
            $('.prinproradio').hide();
            $('.principalproprietoroption2').hide();
            $(window).scroll(function() {
                $('#side-subject-container').animate({ top: $(this).scrollTop() - 300 }, 5, "linear");
                if ($(this).scrollTop() <= 200) {
                    $('#side-subject-container').css('position', 'static');
                } else {
                    $('#side-subject-container').css('position', 'relative');
                }
            });
            window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 4 });


            $(document).on('click', '.row-delete', function (e) {
                //var schoolId = $(this).attr('data-schoolId');
                //var subjectId = $(this).attr('data-subjectId');
                //var tokenid = $(this).attr('data-token');
                var staffsubjectid = $(this).attr('data-staffsubjectid');
                var schoolid = $(this).attr('data-schoolid');
                var thisVar = $(this);
                $.post('@Url.Action("DeleteStaffSubject","SchoolStaffs")', { staffsubjectid: staffsubjectid, schoolid: schoolid }, function (response) {
                    if (response.status===true) {
                        $(thisVar).parents().parents().first().remove();
                        window.location.href = response.redirectUrl;
                        

                    }
                });
            });

        @*$("#SchoolStaffName").on("change", function () {
                //var id = $(this).data(sub);
                var id = $(this).val();
                //$('.school-subjects').removeClass('school-subjects-selected');
                //$('#school-subject-' + id).addClass('school-subjects-selected major-subjects');
                //console.log($('#school-subject-' + id).addClass('school-subjects-selected major-subjects'));
                var baseUrl = '@Url.Content("~/")';
                var url = baseUrl + "api/recog/GetStaffCourse";
                var markup = "<option value='0' selected='selected'>--select Course--</option>";
                $("#CoursID").html(markup).show();
                $.get(url, { StaffID: id }, function(data) {
                    if (data != null) {

                        markup += "<option selected value='" + data.CoursID + "'>" + data.CourseTitle + "</option>";


                        $("#CoursID").html(markup).show();
                    }
                });
            });
            $("#SchoolStaffName").trigger('change').selected();
        });*@

        $("#SchoolStaffName").on("change", function () {
                //var id = $(this).data(sub);
                var id = $(this).val();
                //$('.school-subjects').removeClass('school-subjects-selected');
                //$('#school-subject-' + id).addClass('school-subjects-selected major-subjects');
                //console.log($('#school-subject-' + id).addClass('school-subjects-selected major-subjects'));
                var baseUrl = '@Url.Content("~/")';
                var url = baseUrl + "api/recog/GetStaffCourse";
            var markup = "";// "<option value='0' selected='selected'>--select Course--</option>";
                //$("#CourseID").html(markup).show();
                //alert("staff id selected :: "+id);
                $.get(url, { StaffID: id }, function (data) {
                    console.log(data);
                    if (data != null) {
                        var d = data;
                       // alert(d[0].CourseTitle + "  " + d[0].DegreeType);
                        $('#coursedegree').val(d[0].CourseTitle + "  " + d[0].DegreeType);
                        
                        //markup += "<option selected value='" + d[0].CourseID + "'>" + d[0].CourseTitle + "</option>";
                        //$("#CoursID").html(markup).show();
                        //$("#CoursID").val(data.CoursID);
                    }
                    //alert('pius'+data.length);
                });
                //url = baseUrl + "api/recog/GetStaffDegree";
               // markup = "<option value='0' selected='selected'>--select Degree--</option>";
                //$("#DegID").html(markup).show();
                //$.get(url, { StaffID: id }, function (data) {
                //    console.log(data);
                //    if (data != null) {
                //       // alert('emeka' + data.DegreeType);
                //        markup += "<option selected value='" + data.DegID + "'>" + data.DegreeType + "</option>";
                //        $("#DegID").html(markup).show();
                //    }
                //});
            });
            $("#SchoolStaffName").trigger('change');
        





            function Submit() {
                if (confirm("Are you sure you want to go the next page?")) {
                    return true;
                } else {
                    return false;
                }


            }


            function ReloadSchoolSubject(schoolId) {
                var url = '~/SchoolStaffs/_schoolSubjects';
                $.get(url, { schoolID: schoolId }, function(data) {
                    $("#SchoolSubjectList").html(data);
                });
            };

        });


    </script>

}
