﻿@*@using SchoolRecognitionSystem.Models
    @model FacilityViewModel*@

@using System.Diagnostics
@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@model   List<SchoolRecognitionSystem.Models.SchoolStaffModel>

@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }
@if (TempData["SelectClass"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["SelectClass"]
        </span>
    </div> }


<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SubjectSectionPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            @*<ol class="breadcrumb">

                <li><a href="@Url.Action("NewSchool", "Schools", new {sddc = @Request.QueryString["sddc"]})">New School</a></li>


                <li><a href="@Url.Action("Create", "SchoolStaffs", new {sddc = @Request.QueryString["sddc"]})">Create staff</a></li>

                <li class="active"></li>
            </ol>*@
            <!-- flight section -->
            <div class="active">
                <section>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.FirstOrDefault().ID, "Staff", htmlAttributes: new {})
                            @Html.DropDownListFor(model => model.FirstOrDefault().ID, ViewBag.Staffs as SelectList, "select school staff", new {@id = "staff-id", @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().ID, "", new {@class = "text-danger"})

                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(model => model.FirstOrDefault().SubjectID, "Staff Subject", htmlAttributes: new {})
                            @Html.DropDownListFor(model => model.FirstOrDefault().SubjectID, ViewBag.StaffSubjects as SelectList, "select subject", new {@id = "staff-subject", @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().SubjectID, "", new {@class = "text-danger"})
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(model => model.FirstOrDefault().ClassID, "Classes", htmlAttributes: new {})
                            @Html.DropDownListFor(model => model.FirstOrDefault().ClassID, ViewBag.ClassID as SelectList, "select class", new {id = "staff-classid", @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().ClassID, "", new {@class = "text-danger"})
                        </div>
                        <div class="col-md-1">
                            <label class="control-label"></label><br/>
                            <input type="hidden" id="schoolId" value="@ViewBag.SchoolID"/>
                            @*<input type="hidden" id="rowid" value="@Model.FirstOrDefault().ID"/>*@
                            <input type="hidden" id="rowid" value="@ViewBag.StaffSubjectRowId"/>
                            <input type="submit" value="Save" id="saveid" class="btn btn-sm btn-primary"/>
                            <BR/>
                            <BR/>
                            @*@Html.ActionLink("Next", "CreateStudent", "Schools", null, new {@class = "btn btn-warning ", onclick = "return Submit();"});*@

                        </div>

                    </div>




                </section>

                <section class="table-responsive">
                    <div id="spanclassteacherid" style="max-width: 400px;"></div>
                    
                    <table class="table table-bordered">

                        <thead>
                        <tr>
                            @*<th>S/N</th>*@
                            <th>Staff</th>
                            <th>Subject</th>
                            <th>Class</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="students-table-body">
                        @{
                            var staffsubjectClass = ViewBag.StaffSubject2Classes as List<SchoolStaffModel>;


                            foreach (var staff in staffsubjectClass)
                            {
                                <tr class="schoolrowid">
                                    <td>@staff.FirstName @staff.LastName</td>
                                    <td>@staff.LongName</td>
                                    <td>@staff.ClassName</td>
                                    <td>
                                        <a href="javascript:void(0);" class="row-delete" id="@staff.StaffSubjectToClassID" data-token="@staff.StaffSubjectToClassID" data-subjectid="@staff.SubjectID" data-classid="@staff.ClassID" data-staffsubjecttoclassid="@staff.StaffSubjectToClassID" title="Delete textbook"><i class="fa fa-times"></i></a>
                                    </td>


                                </tr>
                            }
                        }
                        </tbody>

                    </table>
                </section>





            </div>




        </div>
    </div>
</div>





@section scripts{

    <script type="text/javascript">
        var isTextBookAttached = false;
        var selectedSubjectId = 0;
        $(document).ready(function() {
            $('#staff-id').select2();
            $('#staff-subject').select2();

            $('#staff-id').on('change', function () {
                var staffId = $(this).val();
                var subjectId = $('#staff-subject').val();
                //+ "&subjectId=" + subjectId;;
                document.location = '/SchoolStaffs/StaffSubjectClass/?staffId=' + staffId;


            });

            $('#staff-classid').on('change', function () {
                $('#spanclassteacherid').html('');


            });



            $('#saveid').on('click', function(e) {
                e.preventDefault();
                var staffSubjectRowId = '@ViewBag.StaffSubjectRowId';
                //var schoolId = $('#schoolId').val();
                //var staffId = $('#staff-id').val();
                var classId = $("#staff-classid option:selected").val();
               var sub = $("#staff-subject option:selected").val();
               var staffId = $("#staff-id option:selected").val();
                console.log(sub);

                console.log(classId);
                console.log(staffId);
                //var subjectText = $("#SubjectID option:selected").text();
                //var textBook = $("#AvailableTextbooks option:selected").text();
                $.post('/SchoolStaffs/SaveStaffClass', { staffId: staffId, classId: classId, sub: sub, staffSubjectRowId: staffSubjectRowId }, function (response) {
                    if (response.status === true) {

                        $('#students-table-body').append('<tr class="schoolrowid">' +
                            '<td>' + $("#staff-id option:selected").text() + '</td>' + //Textbook
                            '<td>' + $("#staff-subject option:selected").text() + '</td>' +
                             '<td>' + $("#staff-classid option:selected").text() + '</td>' +
                            '<td> <a href="javascript:void(0);" class="row-delete" id="' + response.Id + '" data-token="' + response.staffsubjecttoclassid + '" data-subjectid="' + response.subjectId + '" data-classid="' + response.classId + '" data-staffsubjecttoclassid="' + response.staffsubjecttoclassid + '" title="Delete textbook"><i class="fa fa-times"></i></a></td>' +
                            '</tr>');


                        //alert('Textbook saved successfully.');
                    } else if (response.status === 2) {
                        $('#spanclassteacherid').html('<div class="alert alert-danger alert-dismissable">' +
                            '<button type="button" class="close" data-dismiss="alert" style="position: relative; margin-left: 5px; left: 0; top: 1px;">&times;</button>' +
                            response.xxtdata +
                            '</div>');
                    }
                    else if (response.status === 1) {
                        $('#spanclassteacherid').html('<div class="alert alert-danger alert-dismissable">' +
                            '<button type="button" class="close" data-dismiss="alert" style="position: relative; margin-left: 5px; left: 0; top: 1px;">&times;</button>' +
                            response.selectdata +
                            '</div>');
                    }



                });

            });


            $(document).on('click', '.row-delete', function(e) {
                //var schoolId = $(this).attr('data-schoolId');
                //var subjectId = $(this).attr('data-subjectId');
                //var tokenid = $(this).attr('data-token');
                var tokenid = $(this).attr('data-token');
                var thisVar = $(this);
                $.post('/SchoolStaffs/DeleteStaffSubjectClass', { token: tokenid }, function (response) {
                    if (response.status == true) {
                        $(thisVar).parents().parents().first().remove();

                    }
                });
            });

        });
    </script>

}

