﻿@model SchoolRecognitionSystem.Models.StaffOnDistribtion
@{
    ViewBag.Title = "StaffOnDistribution";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

<h2>Staff on distribution</h2>

<html>
<head>

    <title>SignUp</title>
    @*<link href="@Url.Content("~/Content/jquery.qtip.css")" rel="stylesheet" />*@

</head>
<body>
    <div>
        @using (Html.BeginForm("StaffOnDistribution", "Custodian", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="span8 offset5 aui-page-panel">

                    <div>
                        @if (ViewBag.Message != null)
                        {
                            <p class="alert alert-success" id="successMessage">@ViewBag.Message</p>
                        }
                        @*<h2>@ViewBag.Message</h2>*@
                    </div>
                    <fieldset style="margin-bottom: 40px;">


                        <legend style="border-bottom: 1px solid gray; font-size: 16px;">Hotel Information</legend>

                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr id="tr_basic">
                                <td style="vertical-align: top;" width>
                                    <div id="basicinfo" style="width: 100%">
                                        <div style="height: auto !important; overflow-y: visible;">
                                            <table cellpadding="3">

                                                <tbody>
                                                    <tr>
                                                        <td width="150">
                                                            @Html.LabelFor(model => model.CustodianaseID, "Custodianbase"@*, new { @class = "sr-only" }*@)
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.CustodianaseID, ViewBag.custody as IEnumerable<SelectListItem>, "Select custody", new { @class = "form-control input-sm" })
                                                            @Html.ValidationMessageFor(model => model.CustodianaseID)
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td width="150">
                                                            @Html.LabelFor(model => model.StaffID, "Staff")
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.StaffID, ViewBag.staff as IEnumerable<SelectListItem>, "Select staff", new { @class = "form-control input-sm" })
                                                            @Html.ValidationMessageFor(model => model.StaffID)
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.NameofHotel, "Hotel Name")
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.NameofHotel, new { @class = "input-xsmall" })
                                                            @Html.ValidationMessageFor(model => model.NameofHotel)
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.NatureofHotel, "Hotel condition")
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.NatureofHotel, new { @class = "input-xsmall",placeholder="good or bad" })
                                                            @Html.ValidationMessageFor(model => model.NatureofHotel)
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td width="150">
                                                            @Html.LabelFor(model => model.FeedingFacility, "Feeding Facility")
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.FeedingFacility, new { @class = "input-xsmall"})
                                                            @Html.ValidationMessageFor(model => model.FeedingFacility)
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td width="150">
                                                            @Html.LabelFor(model => model.AlternativeAccommodation, "Office")
                                                        </td>
                                                        <td>
                                                           @Html.TextBoxFor(model => model.AlternativeAccommodation, new { @class = "input-xsmall"})
                                                        @Html.ValidationMessageFor(model => model.AlternativeAccommodation)
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td width="150">
                                                            @Html.LabelFor(model => model.DrinkingwaterSource, "water source")
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.DrinkingwaterSource, new { @class = "input-xsmall" })
                                                            @Html.ValidationMessageFor(model => model.DrinkingwaterSource)
                                                        </td>

                                                    </tr>


                                                    <tr></tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <div class="control-group">
                                            <div class="controls">
                                                <input id="btnRegister" type="submit" class="btn btn-primary" value="Register" />
                                            </div>
                                        </div>

                                    </p>
                                </td>
                            </tr>

                        </table>
                                         
                         
                    </fieldset>
                </div>
            </div>
        }

    </div>

</body>
</html>