﻿@model IEnumerable<SchoolRecognitionSystem.Models.SchoolProfileIndexModel>
@{
    ViewBag.Title = "New School Operation";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";

}
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AdminPartial")
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <div class="active">
                <ul class="nav nav-tabs" style="margin: 20px;">
                    @*<li class=active>
                            <a data-toggle="tab" id="report1-record">School Preview</a>
                        </li>*@
                    <li>
                        <a data-toggle="tab" id="report2-record" data-href="@Url.Action("SchoolLaboratory", "Admin")">School Laboratory</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="report3-record" data-href="@Url.Action("SchoolEquipment", "Admin")">School Equipment</a>
                    </li>
                    <li  class=active>
                        <a data-toggle="tab" id="report4-record" data-href="@Url.Action("SchoolReagent", "Admin")">School Reagent</a>
                    </li>



                </ul>
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="report1-record">
                        <div>
                            <!-- flight section -->
                            <div class="active">
                                <table class="table">
                                    <tr>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Category)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SchoolName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.isRecognized)
                                        </th>

                                        @*<th>
                                                @Html.DisplayNameFor(model => model.SchoolProfile.CenterNo)
                                            </th>*@

                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SchoolName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.isRecognized)
                                            </td>

                                            <td>

                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                                <a href='@Url.Action("ReportByid","Admin",new { id = item.ID})' class='glyphicon glyphicon-print'></a>
                                                @*@Html.ActionLink("Print", "ReportByid", new { id = item.ID }, new { @class = "glyphicon glyphicon-print" })*@
                                            </td>
                                        </tr>
                                    }

                                </table>

                            </div>
                        </div>


                    </section>


                </article>

            </div>

        </div>


    </div>
</div>
@section scripts
{
    <script type="text/javascript">
            $('#report1-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });


            $('#report2-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $('#report3-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $('#report4-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });




    </script>
}


