﻿@model SchoolRecognitionSystem.Models.PagedCustomerModel
@{
    ViewBag.Title = "CategoryGrid";
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.Category,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
    );
}

<h2>School Category</h2>


<style type="text/css">
    #grid {
        clear: both;
        width: 80%;
        margin: 0px;
        border: 1px solid #c7c5c7;
    }

        #grid thead, #grid tfoot td {
            text-align: left;
            font-weight: bold;
            height: 35px;
            color: #000;
            background-color: #d2d0d2;
            border-bottom: 1px solid #e2e2e2;
        }

        #grid td {
            padding: 4px 6px 0px 4px;
            vertical-align: top;
            background-color: #f5f5f5;
            border-bottom: 1px solid #e2e2e2;
        }

    input {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 2px 0 2px 0px;
        padding: 2px;
        width: 170px;
    }
</style>
<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $(".add").live("click", function () {

        var existrow = $('.save').length;
        if (existrow == 0) {
            var index = $("#grid tbody tr").length + 1;

            var Category = "Category_" + index;
            //var Address = "Address_" + index;
            //var ContactNo = "ContactNo_" + index;
            var Save = "Save_" + index;
            var Cancel = "Cancel_" + index;

            var tr = '<tr class="alternate-row"><td></td><td><span> <input id="' + Category + '" type="text" /></span></td>' +
                 //'<td><span> <input id="' + Address + '" type="text" /></span></td>' +
                 //'<td><span> <input id="' + ContactNo + '" type="text" /></span></td>' +
                 '<td> <a href="#" id="' + Save + '" class="save">Save</a><a href="#" id="' + Cancel + '"  class="icancel">Cancel</a></td>' +
             '</tr>';

            $("#grid tbody").append(tr);
        }
        else {
            alert('First Save your previous record !!');
        }

    });

    $(".icancel").live("click", function () {
        var flag = confirm('Are you sure to cancel');
        if (flag) {
            $(this).parents("tr").remove();
        }

    });

    $(".save").live("click", function () {
        var id = $("#grid tbody tr").length;
        var CateName = $("#Category_" + id).val();
        //var Address = $("#Address_" + id).val();
        //var ContactNo = $("#ContactNo_" + id).val();

        if (id != "") {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SaveRecord", "School")',
                data: { "catee": CateName },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {
                    if (data.result == true) {
                        $("#divmsg").html("Record has been saved successfully !!");
                        setTimeout(function () { window.location.replace("CategoryGrid"); }, 2000);
                    }
                    else {
                        alert('There is some error');

                    }

                }

            });
        }
    });

    $(".edit").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var CateName = "#Category_" + id;
        var spanName = "#spanName_" + id;
        //var Address = "#Address_" + id;
        //var spanAddress = "#spanAddress_" + id;
        //var ContactNo = "#ContactNo_" + id;
        //var spanContactNo = "#spanContactNo_" + id;

        $(CateName).show();
        $(spanName).hide();
        //$(Address).show();
        //$(spanAddress).hide();
        //$(ContactNo).show();
        //$(spanContactNo).hide();

        $(this).hide();
        $("#Update_" + id).show();
        $("#Cancel_" + id).show();
    });

    $(".cancel").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var CateName = "#Category_" + id;
        var spanName = "#spanName_" + id;
        //var Address = "#Address_" + id;
        //var spanAddress = "#spanAddress_" + id;
        //var ContactNo = "#ContactNo_" + id;
        //var spanContactNo = "#spanContactNo_" + id;

        $(CateName).hide();
        $(spanName).show();
        //$(Address).hide();
        //$(spanAddress).show();
        //$(ContactNo).hide();
        //$(spanContactNo).show();

        $(this).hide();
        $("#Update_" + id).hide();

        $("#Edit_" + id).show();
    });

    $(".update").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var CateName = $("#Category_" + id).val();
        var spanName = $("#spanName_" + id).val();
        //var Address = $("#Address_" + id).val();
        //var spanAddress = $("#spanAddress_" + id).val();
        //var ContactNo = $("#ContactNo_" + id).val();
        //var spanContactNo = $("#spanContactNo_" + id).val();

        if (id != "") {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateRecord", "School")',
                data: { "id": id, "catee": CateName },
                dataType: "json",
                beforeSend: function () {//alert(id);
                },
                success: function (data) {

                    if (data.result == true) {
                        $("#Update_" + id).hide();
                        $("#Cancel_" + id).hide();
                        $("#Edit_" + id).show();

                        var CateName = "#Category_" + id;
                        var spanName = "#spanName_" + id;
                        //var Address = "#Address_" + id;
                        //var spanAddress = "#spanAddress_" + id;
                        //var ContactNo = "#ContactNo_" + id;
                        //var spanContactNo = "#spanContactNo_" + id;

                        $(CateName).hide();
                        $(spanName).show();
                        //$(Address).hide();
                        //$(spanAddress).show();
                        //$(ContactNo).hide();
                        //$(spanContactNo).show();

                        $(spanName).text($(CateName).val());
                        //$(spanAddress).text($(Address).val());
                        //$(spanContactNo).text($(ContactNo).val());
                    }
                    else {
                        alert('There is some error');
                    }
                }

            });
        }
    });

    $(".delete").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var flag = confirm('Are you sure to delete ??');
        if (id != "" && flag) {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DeleteRecord", "School")',
                data: { "id": id },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {

                    if (data.result == true) {
                        $("#Update_" + id).parents("tr").remove();
                    }
                    else {
                        alert('There is some error');
                    }
                }

            });
        }
    });

</script>

<div id="divmsg" style="color: green; font-weight: bold"></div>
<a href="#" class="add">Add New Category</a>
<br />
<br />
@grid.GetHtml(
htmlAttributes: new { id = "grid" },
    fillEmptyRows: false,
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
     columns: new[] {

        grid.Column("ID",
                    header: "ID", canSort: false),
        grid.Column(header: "Category",format: @<span> <span id="spanName_@item.ID">@item.Category</span> @Html.TextBox("Category_"+(int)item.ID,(string)item.Category,new{@style="display:none"})</span>),
        @*grid.Column(header: "Address",format: @<span> <span id="spanAddress_@item.CustID">@item.Address</span> @Html.TextBox("Address_"+(int)item.CustID,(string)item.Address,new{@style="display:none"})</span>),
        grid.Column(header: "Contact No",format: @<span> <span id="spanContactNo_@item.CustID">@item.ContactNo</span> @Html.TextBox("ContactNo_"+(int)item.CustID,(string)item.ContactNo,new{@style="display:none"})</span>),*@
        grid.Column(header: "Action",format:@<text> <a href="#" id="Edit_@item.ID" class="edit">Edit</a><a href="#" id="Update_@item.ID" style="display:none" class="update">Update</a><a href="#" id="Cancel_@item.ID" style="display:none" class="cancel">Cancel</a><a href="#" id="Delete_@item.ID" class="delete">Delete</a></text>)
})
     

