﻿@model   SchoolRecognitionSystem.Models.ExaminationHall

@{
    ViewBag.Title = "CreateExaminationInfo";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

<h2>Examination Hall</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>ExaminationHall</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>School Name:<strong>@TempData["examitio"]</strong></p>
        
        @*<div class="form-group">
                @Html.LabelFor(model => model.SchoolID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.NumberofExaminationHall, "Numberof examination hall", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.NumberofExaminationHall, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberofExaminationHall, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CapacityofEachExaminationsHall, "Capacity of each examinations hall", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.CapacityofEachExaminationsHall, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CapacityofEachExaminationsHall, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberofDesksAndChairsAvailableInExamHalls, "Number of desks/chairs available in exam halls", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.NumberofDesksAndChairsAvailableInExamHalls, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberofDesksAndChairsAvailableInExamHalls, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-12">
                <input type="submit" value="Next" onclick="return Submit();" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">
function Submit() {
        if (confirm("Are you sure you want to go the next page?")) {
            return true;
        } else {
            return false;
        }
    }
</script>