﻿@model SchoolRecognitionSystem.Models.vmSchoolStaffQualification

@{
    ViewBag.Title = "CreateSchoolStaff";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
    
}



    @*<script src="~/Scripts/2jquery.min.js"></script>
        <script src="~/Scripts/jquery.sumoselect.js" type="text/javascript"></script>*@


@*<script src="@Url.Content("~/Scripts/mydate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/mydropdowm.js")" type="text/javascript"></script>*@
        


<h2>Create School Staff</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPost" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>vmSchoolStaffQualification</h4>*@

        <p>School Name:<strong>@TempData["CreateSchoolStaff"]</strong></p>
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.TitleID, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TitleID, ViewBag.titles as IEnumerable<SelectListItem>, "Select a title", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TitleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, "Full name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryID, ViewBag.SchoolStaffCategories as IEnumerable<SelectListItem>, "Select a category", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DegreeID, "First Degree", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DegreeID, ViewBag.degrees as IEnumerable<SelectListItem>, "Select a degrree", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DegreeID, "", new { @class = "text-danger" })
            </div>                    
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.courseName, "Course of study", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.courseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.courseName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.DegreeID, "Degree", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.DegreeID, new SelectList(ViewBag.Degreess, "ID", "DegreeType"), new { @multiple = "multiple", @placeholder = "Select degree", @class = "SlectBox" })
                @Html.ValidationMessageFor(model => model.DegreeID, "", new { @class = "text-danger" })
            </div>
        </div>*@


        @*<div class="form-group">
                @Html.LabelFor(model => model.DegreeID, "Degree", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DegreeID, ViewBag.Degrees as IEnumerable<SelectListItem>, "Select a degree", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DegreeID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectID, "Subject", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SubjectID, ViewBag.Subjects as IEnumerable<SelectListItem>,  new { @multiple = "multiple", @placeholder = "Select a Subject", @class = "SlectBox" })
                @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ContactAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactAddress, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
            @Html.LabelFor(model => model.DateEmployed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateEmployed, new { htmlAttributes = new { @class = "form-control", placeholder = "select date", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.DateEmployed, "", new { @class = "text-danger" })
            </div>
        </div>*@  


        <div class="form-group">
           
            <div class="col-md-offset-3 col-md-12">
                <input type="submit" value="submit" id="addd" onclick="SaveRecord();return false" class="btn btn-primary" />
                <a href="/School/CreateExaminationInfo" class="btn btn-warning">Next</a>
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>



            @section scripts{

    @*<script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>*@
@*<script type="text/javascript" src="~/Scripts/1.11.1jquery.min.js"></script>*@
@*<script src="~/Scripts/jquery.sumoselect.js" type="text/javascript"></script*@
@*@Scripts.Render("~/Scripts/jquery.sumoselect.js")*@

@*<script type="text/javascript">
        $(document).ready(function () {
           $('.SlectBox').SumoSelect({ csvDispCount: 4 });
        });
</script>*@

@*<script type="text/javascript">

     $(document).ready(function () {
         $('input[type=datetime]').datepicker({
             dateFormat: "dd/M/yy",
             changeMonth: true,
             changeYear: true,
             yearRange: "-60:+0"
         });

     });
</script>*@  


    <script type="text/javascript">
        $(document).ready(function () {
            $('#FormPost').submit(function (e) {
                //This line will prevent the form from submitting
                e.preventDefault();
                

                $.ajax({
                    type: 'POST',
                    url: $('#FormPost').attr('action'),
                    data: $('#FormPost').serialize(),
                    accept: 'application/json',
                    error: function (xhr, status, error) {
                        alert('faled to insert ');
                    },
                    success: function (response) {
                        $('#FullName').val('');
                        $('#DegreeID').val('');
                        $('#SubjectID').val('');
                        $('#ContactAddress').val('');
                        $('#CategoryID').val('');
                        $('#DateEmployed').val('');
                        alert('succesfully inserted');
                    }
                });
            });


        });



        //function SaveRecord() {
        //    var selectedVal = $('#DegreeID').val();
        //    //var selectedVal = [];
        //    //    $('#DegreeID :selected').each(function(i, selected){ 
        //    //        selectedVal[i] = $(selected).val(); 
        //    //    })
        //        //var Fulname1 = $('#FullName').val();
        //        //var TitleID1 =  $('#TitleID option:selected').text();
        //        //var Fulname = TitleID1 +' '+ Fulname1;
                
        //        //var Category = $('#CategoryID').val();
        //        //var Degree = $('#DegreeID').val(); 
        //        //var Contact = $('#ContactAddress').val();
        //        //var date = $('#DateEmployed').val();
        //        //alert(Fulname);
        //        //alert(Contact);
        //        alert(selectedVal);
        //        //alert(date);
        //        if (selectedVal != '') {
        //            $.ajax({
        //                type: "POST",
        //                dataType: "json",
        //                //all:JSON.stringify({ 'DegreeID': selectedVal[i] }),
        //                contentType: "application/json; charset=utf-8",
        //                url: "/School/CreateSchoolStaff",
        //                data: "{'schstaffdegree.DegreeID':'" + selectedVal[i].ToString() + "' }",
                        
        //                success: function (result) {
        //                    isSuccess = result;
                           

        //                },
        //                error: function (result) {
        //                    isSuccess = result;
        //                }

        //            }).done(function () {
        //                if (isSuccess == "1") {
                            
        //                    $('#FullName').val('');
                           
        //                    $('#ContactAddress').val('');// Successfully Deleted
        //                    alert("Successfully Inserted");
        //                    // refresh the page
        //                }
        //                else {                      // Data Error
        //                    alert("Error. Please, check the data");
        //                }
        //            });
        //        }
        //        else {
        //                    alert('Please enter all the fields')
        //                    return false;
        //                }
        //            }
                

                //0-------------------------------------------------------------------------------------------------------

            //              success: function (data) {
            //                var obj = data.d;
            //                if (obj == 'true') {
            //                    $('#FullName').val('');
            //                    alert(obj)
            //                    $('#ContactAddress').val('');
                               
            //                    alert("Details Submitted Successfully");
            //                }
            //            },
            //            error: function (result) {
            //                alert("Error");
            //            }
            //        });
            //    }
            //    else {
            //        alert('Please enter all the fields')
            //        return false;
            //    }
            //}
            
        
    </script>

}