﻿@model   SchoolRecognitionSystem.Models.SchoolProfile

@{
    ViewBag.Title = "CreateSchool";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

@*<script src="~/Scripts/jquery-1.11.4.min.js"></script>a
    <script src="~/Scripts/jquery-1.11.4.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>*@


@*<script type="text/javascript">
         $(document).ready(function () {
         $('input[type=datetime]').datepicker({
             dateFormat: "yy/mm/dd",
             changeMonth: true,
             changeYear: true,
             yearRange: "-60:+0"
         });

     });
</script>*@
<style>
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
    }

    /* Might want to wrap a span around your checkbox text */
    .checkboxtext {
        /* Checkbox text */
        font-size: 110%;
        display: inline;
    }
</style>




<h2>Create School Profile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p class="label-danger">@TempData["Success"]</p>
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })





        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryID, ViewBag.Categories as IEnumerable<SelectListItem>, "Select a category", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.SchoolName, "School Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SchoolName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SchoolLocation, "School Location", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.SchoolLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SchoolLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prin_TitleID, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Prin_TitleID, ViewBag.titles as IEnumerable<SelectListItem>, "Select principal title", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Prin_TitleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrincipalName, "Principal Name", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.PrincipalName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrincipalName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Principal_DegreeID, "Degree", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Principal_DegreeID, ViewBag.degrees as IEnumerable<SelectListItem>, "Select principal degree", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Principal_DegreeID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Propri_TitleID, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Propri_TitleID, ViewBag.titles as IEnumerable<SelectListItem>, "Select a proprietor title", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Propri_TitleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProprietorName, "Proprietor Name", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.ProprietorName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProprietorName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Proprietor_DegreeID, "degree", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Proprietor_DegreeID, ViewBag.degrees as IEnumerable<SelectListItem>, "Select proprietor degree", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Proprietor_DegreeID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ProprietorAddress, "Proprietor Address", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.ProprietorAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProprietorAddress, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.StateID, "State", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StateID, ViewBag.States as IEnumerable<SelectListItem>, "please select state", new
           { @*value = Request["StateID"],*@ @class = "form-control"
           })
                @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.LgaID, "Local Government", htmlAttributes: new { @class = "control-label col-md-2" })


            <div class="col-md-10">
                @if (ViewBag.Lgas != null)
                {
                    @Html.DropDownListFor(model => model.LgaID, ViewBag.Lgas as IEnumerable<SelectListItem>, new { value = Request["LgaID"], @class = "form-control" })
                }
                else
                {
                    <select id="LgaID" name="LgaID" class="form-control"></select>
                }
                @Html.ValidationMessageFor(model => model.LgaID, "", new { @class = "text-danger" })
            </div>
        </div>



        @*<div class="form-group">
            @Html.LabelFor(model => model.YearEstablished, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearEstablished, new { htmlAttributes = new { @class = "form-control", placeholder = "select date", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.YearEstablished, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.AproximateLandArea, "Aproximate Land Area", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AproximateLandArea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AproximateLandArea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*<span style="margin-left:130px; float: left;">*@
            <div class="col-md-2">
                <label for="IsJointProprietorship">Is joint proprietorship</label>
            </div>
            @*&nbsp;&nbsp;*@
            <div class="col-md-2">
                <span class="checkboxtext">Yes</span>
                @Html.CheckBoxFor(x => x.IsJointProprietorship, new { @checked = "checked" })
                @*<input type="checkbox" class="Grp1"  @(Model.IsJointProprietorship ? "checked=\"checked\"" : "") />*@
                <span>No</span>
                @Html.CheckBoxFor(x => x.IsJointProprietorship, new { @checked = "checked" })

                @Html.ValidationMessageFor(model => model.IsJointProprietorship, "", new { @class = "text-danger" })

                @*</span>*@
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-2">
                <label for="IsLandAreaAdequate">IsLandAreaAdequate</label>
            </div>
            <div class="col-md-2">
                <span class="checkboxtext">Yes</span>
                @Html.CheckBoxFor(x => x.IsLandAreaAdequate, new { @checked = "checked" })
                @*<input type="checkbox" class="Grp1"  @(Model.IsJointProprietorship ? "checked=\"checked\"" : "") />*@
                <span>No</span>
                @Html.CheckBoxFor(x => x.IsLandAreaAdequate, new { @checked = "checked" })
                @Html.ValidationMessageFor(model => model.IsLandAreaAdequate, "", new { @class = "text-danger" })
            </div>

        </div>



        <div class="form-group">
            <div class="col-md-2">

                <label for="IsSchoolFencedRound">Is School Fenced Round</label>
            </div>
            <div class="col-md-2">
                <span class="checkboxtext">Yes</span>
                @Html.CheckBoxFor(x => x.IsSchoolFencedRound, new { @checked = "checked" }) &nbsp;&nbsp;
                <span>No</span>
                @Html.CheckBoxFor(x => x.IsSchoolFencedRound, new { @checked = "checked" }) &nbsp;&nbsp;
                @Html.ValidationMessageFor(model => model.IsSchoolFencedRound, "", new { @class = "text-danger" })

            </div>
        </div>




        <div class="form-group">
            <div class="col-md-2">
                <label for="IsAdmissionRegisterAvailable">Is admission register available</label>
            </div>
            <div>
                <span class="checkboxtext">Yes</span>
                @Html.CheckBoxFor(x => x.IsAdmissionRegisterAvailable, new { @checked = "checked" }) &nbsp;&nbsp;
                <span>No</span>
                @Html.CheckBoxFor(x => x.IsAdmissionRegisterAvailable, new { @checked = "checked" }) &nbsp;&nbsp;

                @Html.ValidationMessageFor(model => model.IsAdmissionRegisterAvailable, "", new { @class = "text-danger" })


            </div>
        </div>



        <div class="form-group">
            <div class="col-md-2">
                <label for="isDiaryofWorksAvaialble">is diary of works available</label>
            </div>
            <div class="col-md-2">
                <span class="checkboxtext">Yes</span>
                @Html.CheckBoxFor(x => x.isDiaryofWorksAvaialble, new { @checked = "checked" }) &nbsp;&nbsp;
                <span>No</span>
                @Html.CheckBoxFor(x => x.isDiaryofWorksAvaialble, new { @checked = "checked" }) &nbsp;&nbsp;
                @Html.ValidationMessageFor(model => model.isDiaryofWorksAvaialble, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-2">
                <label for="isClassRegistersAvaialable">is class registers available</label>
            </div>
            <div class="col-md-2">
                <span class="checkboxtext">Yes</span>
                @Html.CheckBoxFor(x => x.isClassRegistersAvaialable, new { @checked = "checked" }) &nbsp;&nbsp;
                <span>No</span>
                @Html.CheckBoxFor(x => x.isClassRegistersAvaialable, new { @checked = "checked" }) &nbsp;&nbsp;
                @Html.ValidationMessageFor(model => model.isClassRegistersAvaialable, "", new { @class = "text-danger" })

            </div>
        </div>





        <div class="form-group">
            <div class="col-md-2">
                <label for="isCurricullumAvailable">is curricullum available</label>
            </div>
            <div class="col-md-2">
                <span class="checkboxtext">Yes</span>
                @Html.CheckBoxFor(x => x.isClassRegistersAvaialable, new { @checked = "checked" }) &nbsp;&nbsp;
                <span>No</span>
                @Html.CheckBoxFor(x => x.isClassRegistersAvaialable, new { @checked = "checked" }) &nbsp;&nbsp;
                @Html.ValidationMessageFor(model => model.isCurricullumAvailable, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label for="IsScheemOfWorkAvailable">Is scheme Of work available</label>
            </div>
            <div class="col-md-2">
                <span class="checkboxtext">Yes</span>
                @Html.CheckBoxFor(x => x.IsScheemOfWorkAvailable, new { @checked = "checked" }) &nbsp;&nbsp;
                <span>No</span>
                @Html.CheckBoxFor(x => x.IsScheemOfWorkAvailable, new { @checked = "checked" }) &nbsp;&nbsp;
                @Html.ValidationMessageFor(model => model.IsScheemOfWorkAvailable, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.OtherSpecify, "Specify others", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.OtherSpecify, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OtherSpecify, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" id="btnConfirm" onclick="return Submit();" value="Next" class="btn btn-primary" />

                <a href="/School" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{

 

<script type="text/javascript">

     //$(document).ready(function () {
     //    $('input[type=datetime]').datepicker({
     //        dateFormat: "dd/M/yy",
     //        changeMonth: true,
     //        changeYear: true,
     //        yearRange: "-60:+0"
     //    });

     //});


      $(document).ready(function () {
            $(function ($) {
                $("#StateID").on("change", function () {
                    var selectedStateId = $(this).val();

                    var options = {
                        url: '/School/RenderSelectLga?selectedId=' + selectedStateId,
                        type: "get"
                    };
                    $.ajax(options).done(function (data) {

                        var target = $("#LgaID");
                        target.children().remove();
                        target.html(data);
                    });
                });

                //  $("#StateId").trigger("change");
            });
        });

@*</script>*@


@*<script>*@
$('input[type="checkbox"]').on('change', function() {
   $(this).siblings('input[type="checkbox"]').not(this).prop('checked', false);
});
@*</script>*@




    @*<script type="text/javascript">*@
function Submit() {
        if (confirm("Are you sure you want to go the next page?")) {
            return true;
        } else {
            return false;
        }
    }
    @*</script>*@
  
    @*http://www.c-sharpcorner.com/article/jquery-datepicker-with-month-and-year-in-Asp-Net-mvc/*@
    </script>

   
}






