﻿@model     SchoolRecognitionSystem.Models.ClassRoom
@{
    ViewBag.Title = "CreateClassroomInfo";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

<h2>Classroom Information</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>ClassRoom</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>School Name:<strong>@TempData["classroom"]</strong></p>
        @*<div class="form-group">
                @Html.LabelFor(model => model.SchoolID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.NumberofClassroomInUse, "Number of classroom in use", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.NumberofClassroomInUse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberofClassroomInUse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CapacityOfEachClassRoom, "Capacity of each classroom", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.CapacityOfEachClassRoom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CapacityOfEachClassRoom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeskChairsAdequate, "Are desk/chairs adequate", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-12">
                @Html.DropDownList("DeskChairsAdequate", new List<SelectListItem> { new SelectListItem { Text = "ADEQUATE", Value = "ADEQUATE" }, new SelectListItem { Text = "NOT-ADEQUATE", Value = "NOT-ADEQUATE" } }, "Please Select", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-12">
                <input type="submit" value="Next" onclick="return Submit();" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">
function Submit() {
        if (confirm("Are you sure you want to go the next page?")) {
            return true;
        } else {
            return false;
        }
    }
</script>