﻿@model SchoolRecognitionSystem.Models.SchoolCategory

@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
}

<h2>Create Category</h2>
<script type="text/javascript">
$(document).ready(function () {
    // Confirmation Dialog
    $('#confirmDialog').dialog({
        autoOpen: false,
        width: 500,
        modal: true,
        resizable: false,
        buttons: {
            "Submit": function () {
                $(".ui-dialog-buttonpane button:contains('Submit')").button("disable");
                $(".ui-dialog-buttonpane button:contains('Edit')").button("disable");
                document.contactForm.submit();
            },
            "Edit": function () {
                $(this).dialog("close");
            }
        }
    });

    $('#contactForm').submit(function (e) {
        e.preventDefault();

        // Validate the fields with MVC validation.
        if ($(this).valid()) {
            var field;
            var confirmDiv;

            // Textbox.
            field = $("#cc");
            confirmDiv = $("#confirmCategory");
            if (field.val() == '') {
                confirmDiv.parent().hide();
            }
            else {
                confirmDiv.parent().show();
                confirmDiv.html(field.val());
            }

            // Textbox.
            //field = $("#Email");
            //confirmDiv = $("#confirmEmail");
            //if (field.val() == '') {
            //    confirmDiv.parent().hide();
            //}
            //else {
            //    confirmDiv.parent().show();
            //    confirmDiv.html(field.val());
            //}

            //// Dropdown list.
            //field = $("#Color_ID");
            //confirmDiv = $("#confirmColor");
            //if (field.val() == '0') {
            //    confirmDiv.parent().hide();
            //}
            //else {
            //    confirmDiv.parent().show();
            //    confirmDiv.html($("#Color_ID option:selected").text());
            //}

            $('#confirmDialog').dialog('open');
        }
    });
});
</script>





<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
@*<script src="~/Scripts/script.js" type="text/javascript"></script>*@



@using (Html.BeginForm("CreateCategory", "Settings", FormMethod.Post, new { id = "contactForm", name = "contactForm" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p class="label-danger">@TempData["Success"]</p>
        <p class="label-danger">@TempData["Error"]</p>
         
        <h4>School Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Category, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new {id="cc", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@*<div id="confirmDialog" title="Confirm Details">
    <p>Please confirm your details.</p>
    <div>
        Category: <span id="confirmCategory" />
    </div>
    <div>
        Email: <span id="confirmEmail" />
    </div>
    <div>
        Favorite Color: <span id="confirmColor" />
    </div>
</div>*@
