﻿@model SchoolRecognitionSystem.Models.vmSchoolSubject

@{
    ViewBag.Title = "CreateSchoolSubject";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

<h2>Create School Subject</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>vmSchoolSubject</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
            <p>School Name:<strong>@ViewBag.SchoolName</strong></p>
        <div class="form-group">
            @*@Html.Listboxfor(model => model.availableselected, new multiselectlist(model.availablesubjects, "id", "longname", model.availableselected), new { @class = "form-control", data_value = "id", data_text = "longname", multiple = "multiple", data_title = "schools" })*@
        @*<select multiple = "multiple" data-title = "Subjects" name="AvailableSelected">
            @{ 
                var item = 0;
            }
            @foreach (var availableSubject in Model.AvailableSubjects)
            {
               <option value="@availableSubject.ID"
                       @if (item % 2 == 0)
                       {
<text>selected="selected"</text>
                          
                       }
                       >@availableSubject.LongName</option>
                item++;
            }
        </select>*@
        </div>
            <div class="form-group">
                <div class="col-md-12">
                    <p class="pull-right"><button type="submit" onclick="return Submit();" class="btn btn-primary btn-lg" >Next <i class="fa fa-arrow-circle-o-right"></i></button></p>
                </div>
            </div>
        </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
@section Scripts {
    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
<script src="~/Scripts/dual-list-box.min2.js"></script>
    <script type="text/javascript">
        $(document).ready(
           (function () {

               $('select[name="AvailableSelected"]').DualListBox({ json: false }); //RequestedSelected
             


           }));
    </script>
<script type="text/javascript">
function Submit() {
        if (confirm("Are you sure you want to go the next page?")) {
            return true;
        } else {
            return false;
        }
    }
</script>
}


