﻿@model SchoolRecognitionSystem.Models.vwSchoolProfileReport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>vwSchoolProfileReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearEstablished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearEstablished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsJointProprietorship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsJointProprietorship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AproximateLandArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AproximateLandArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLandAreaAdequate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLandAreaAdequate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSchoolFencedRound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSchoolFencedRound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAdmissionRegisterAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmissionRegisterAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isClassRegistersAvaialable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isClassRegistersAvaialable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDiaryofWorksAvaialble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDiaryofWorksAvaialble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCurricullumAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCurricullumAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsScheemOfWorkAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsScheemOfWorkAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherSpecify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherSpecify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabFacilityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabFacilityID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchID)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Print Pdf", "pdf", new { Model.SchID })||
  
    @Html.ActionLink("Edit", "Edit", new { id = Model.SchID }) ||
    @Html.ActionLink("Back to List", "Index") ||
    

</p>

