﻿@model IEnumerable<SchoolRecognitionSystem.Models.SchoolProfile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

<h2>List of Schools</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchoolCategory.Category)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CenterNo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalGovernment.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearEstablished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsJointProprietorship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AproximateLandArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLandAreaAdequate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSchoolFencedRound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmissionRegisterAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isClassRegistersAvaialable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDiaryofWorksAvaialble)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isCurricullumAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsScheemOfWorkAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherSpecify)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolCategory.Category)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CenterNo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalGovernment.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearEstablished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsJointProprietorship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AproximateLandArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLandAreaAdequate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSchoolFencedRound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmissionRegisterAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isClassRegistersAvaialable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDiaryofWorksAvaialble)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCurricullumAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsScheemOfWorkAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherSpecify)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
