﻿@using PagedList.Mvc;
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolRecreatConfig>
@{
    ViewBag.Title = "FacilityValue";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

<html>
<head>
    <title>Using PartialView</title>

</head>

<body style="background-color:#FFFFFF;">
    <h1>Library Facility</h1>

    @*<p>School Name:<strong>@TempData["Fac"]</strong></p>*@
    <p>School Name:<strong>@TempData["facility"]</strong></p>

    @*<h3>Enter value of items by their subject</h3>*@


    <div class="clearfix"></div>
    @if (Model.Count > 0)
    {
        <section class="form-group">
            <div class="table-responsive">

                <table class="table" style="margin-top: 30px;">
                    <tr>

                        <th style="border: 2px solid black; text-align: center; width: 25%">
                            <a>Item Description</a>
                        </th>

                        <th style="border: 2px solid black; text-align: center; width: 25%">
                            <a>User value</a>
                        </th>


                    </tr>
                    @foreach (var item in Model)
                {
                        <tr>

                            <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                @Html.DisplayFor(modelItem => item.Facility.ItemDescription)
                            </td>

                            <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                <input data-recordid="0" type="text" id="inUser" onblur="useOnBlur('@item.ID', this);" value=""> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i><p class="message-output"></p>
                            </td>



                        </tr>
                    }
                </table>
                <br />
                <div id='Paging' style="text-align: center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("RecreationalFacility", new { page }))
                </div>
            </div>
        </section>
    }
    else
    {
        <div class="well" style="margin-top:30px;">
            <h3>Please select a subject to load items.</h3>
        </div>
    }
    @*<div class="clearfix"></div>
        <div class="form-group">
            <div id="itemsDetailSection">
                <div id="itemsDetailTable"></div>
            </div>
        </div>*@






    @section scripts
    {

        <script type="text/javascript">

            var subjectId;
            $(document).ready(function () {
                $("#itemsDetailSection").hide(0);

                    getEquipmentTable(subjectId,1);
                    $("#itemsDetailSection").show();

            });



            function getEquipmentTable(page) {
                $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
                if (parseInt(page) > 0) {
                    document.location = '/School/RecreationalFacility?page=' + page
                }
                //else {
                //    $("#itemsDetailTable").html("No Subject selected yet.");
                //}
            }
            function useOnBlur(d_id, elem) {
                var isSuccess = -1;

                //var Fac =
                //    {
                //        "FacilityID": d_id,
                //        "UserValue": d_user
                //    };
                if (elem.value == '') {
                    $(elem).parent().find('.message-output').stop().css('opacity', 1)
                        .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                    return;
                }
                $(elem).parent().find('.spinner-wrapper').show();
                $(elem).parent().find('.message-output').hide();
                var record_id = $(elem).attr('data-recordId');
                $.ajax({
                    url: "/School/SaveRecreationalFacility",
                    data: { dd: d_id, user: elem.value, record_id: record_id },
                    type: 'POST',
                    success: function (data) {
                        if (data.status == true) {
                            $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                            $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                                .addClass('text-success').html(data.message).show().fadeOut(10000);
                            $(elem).attr('data-recordId', data.recordId);
                            isSuccess = data;
                        } else {
                            $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                        }


                    }

                });

            };


        </script>
    }
</body>
</html>
