﻿@model IEnumerable<SchoolRecognitionSystem.Models.LocalGovernment>
@foreach (var lga in Model)
{
    if (ViewBag.selectedId == 0)
    {
        <option value="@lga.Id">@lga.Name</option>
    }
    else
    {
        if (ViewBag.selectedId == lga.Id)
        {
            <option value="@lga.Id" selected="selected">@lga.Name</option>
        }
        else
        {
            <option value="@lga.Id">@lga.Name</option>
        }
    }
}


