﻿@model IEnumerable<SchoolRecognitionSystem.Models.SchoolSubject>

@{
    ViewBag.Title = "SchoolSubjectOffered";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, canPage: false);
}

<h2>SchoolSubjectOffered</h2>

<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>

<h5>Select if textbook is available</h5>

@using (Html.BeginForm("SchoolSubjectOffered", "School", FormMethod.Post, new { id = "FormPost" }))
{
    <div>
        @grid.GetHtml(
                    tableStyle: "gridtable",
                    htmlAttributes: new { id = "checkableGrid" },
                    columns: grid.Columns
                        (
                            //Here I am going to add checkbox column
                            grid.Column(
                                format: @<text> <input type="checkbox" value="@item.ID" name="ids" /> </text>,
                                header: "{checkall}"
                            ),
                            //grid.Column("CustomerID", "Customer ID"),
                            grid.Column("LongName", "Subject")

                        )
                    )
    </div>
                <div>
                    <input type="submit" id="bttid" name="Un_CheckAll" value="submit" onClick="UnCheckAll(document.FormPost.ids)">
                    @*<input type="submit" id="bttid" value="submit Selected Record" />*@
                    <a href="/School/Assessment" onclick="return Submit();" class="btn btn-warning">Next</a> 
                </div>
}

@if (ViewBag.Message != null)
            {
    <div>
        @ViewBag.Message
    </div>
}

    @* Here I am going to add some Jquery Code *@
<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    @section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        function UnCheckAll(chk)
        {
            for (i = 0; i < chk.length; i++)
                chk[i].checked = false ;
        }
    });
    </script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#FormPost').submit(function (e) {
                //This line will prevent the form from submitting
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: $('#FormPost').attr('action'),
                    data: $('#FormPost').serialize(),
                    accept: 'application/json',
                    error: function (xhr, status, error) {
                        alert('failed to insert ');
                    },
                    success: function (response) {

                        alert('succesfully inserted');


                    }

                });
            });


        });
</script>


        <script>
          $(document).ready(function () {

                         // 1st replace first column header text with checkbox

                        $("#checkableGrid th").each(function () {
                            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                                $(this).text('');
                                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                                $(this).append("<span>Select All</span>");
                            }

                        });

                        //2nd click event for header checkbox for select /deselect all
                        $("#cbSelectAll").live("click", function () {
                            var ischecked = this.checked;
                            $('#checkableGrid').find("input:checkbox").each(function () {
                                this.checked = ischecked;
                            });
                        });



                        //3rd click event for checkbox of each row
                        $("input[name='ids']").click(function () {
                            var totalRows = $("#checkableGrid td :checkbox").length;
                            var checked = $("#checkableGrid td :checkbox:checked").length;

                            if (checked == totalRows) {
                                $("#checkableGrid").find("input:checkbox").each(function () {
                                    this.checked = true;
                                });
                            }
                            else {
                                $("#cbSelectAll").removeAttr("checked");
                            }
                        });

            });


            //$('#bttid').on('click', function () {
            //   $('input:checkbox').removeAttr('checked');
            //});
</script>

<script type="text/javascript">
function Submit() {
        if (confirm("Are you sure you want to go the next page?")) {
            return true;
        } else {
            return false;
        }
    }
</script>
    }
