﻿@model SchoolRecognitionSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}





<html>
<head>
    
    <link href="@Url.Content("~/Content/jquery.qtip.css")" rel="stylesheet" />

</head>
<body>
    <div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="span8 offset5 aui-page-panel">

                    <div>
                        <h2>Register</h2>
                    </div>
                    <fieldset style="margin-bottom: 40px;">


                        <legend style="border-bottom: 1px solid gray; font-size: 16px;">Basic Information</legend>

                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr id="tr_basic">
                                <td style="vertical-align: top;" width>
                                    <div id="basicinfo" style="width: 100%">
                                        <div style="height: auto !important; overflow-y: visible;">
                                            <table cellpadding="3">

                                                <tbody>
                                                    <tr>
                                                        <td width="150">
                                                            @Html.LabelFor(model => model.TitleId, "Title"@*, new { @class = "sr-only" }*@)
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.TitleId, ViewBag.titles as IEnumerable<SelectListItem>, "Select tltle", new { @class = "form-control input-sm" })
                                                            @Html.ValidationMessageFor(model => model.TitleId)
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td width="150">
                                                            @Html.LabelFor(model => model.FirstName, "First Name")
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
                                                            @Html.ValidationMessageFor(model => model.FirstName)
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.LastName, "Last Name")
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.LastName, new { @class = "input-xsmall" })
                                                            @Html.ValidationMessageFor(model => model.LastName)
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.PhoneNumber, "PhoneNumber")
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "input-xsmall" })
                                                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td width="150">
                                                            @Html.LabelFor(model => model.RankId, "Rank")
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.RankId, ViewBag.Ranks as IEnumerable<SelectListItem>, "Select Rank", new { @class = "form-control input-sm" })

                                                            @Html.ValidationMessageFor(model => model.RankId)
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td width="150">
                                                            @Html.LabelFor(model => model.OfficeId, "Office")
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.OfficeId, ViewBag.Offices as IEnumerable<SelectListItem>, "Select Office", new { @class = "form-control input-sm" })
                                                            @Html.ValidationMessageFor(model => model.OfficeId)
                                                        </td>

                                                    </tr>


                                                    <tr></tr>

                                                </tbody>
                                            </table>

                                        </div>
                                        </div>
                                </td>
                            </tr>

                        </table>


                        <legend style="border-bottom: 1px solid gray; font-size: 16px;">Account Information</legend>
                        <table cellpadding="5">
                            <tr>
                                <td width="150">
                                    @Html.LabelFor(model => model.UserName)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.UserName)
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </td>
                                <td id="tdValidate">
                                    <img id="imgValidating" src="@Url.Content("~/Images/validating.gif")" style="display:none;" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.Password)
                                </td>
                                <td>
                                    @Html.PasswordFor(model => model.Password)
                                    @Html.ValidationMessageFor(model => model.Password)


                                </td>

                            </tr>


                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                </td>

                                <td>
                                    @Html.PasswordFor(model => model.ConfirmPassword)
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                </td>

                                <td>
                                    @Html.TextBoxFor(model => model.Email)
                                    @Html.ValidationMessageFor(model => model.Email)


                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <div class="control-group">
                                            <div class="controls">
                                                <input id="btnRegister" type="submit" class="btn btn-primary" value="Register" />
                                            </div>
                                        </div>

                                    </p>
                                </td>
                                <td></td>
                            </tr>
                        </table>

                        </fieldset>
                </div>
            </div>
        }

    </div>

</body>
</html>

@section Scripts {
    
@*<script src="~/Scripts/jquery-1.7.1.js"></script>*@
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript">
<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"</script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
@*<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@

<script src="@Url.Content("~/Scripts/jquery.qtip.min.js")" type="text/javascript"></script>
}

