﻿@model SchoolRecognitionSystem.Models.SchoolRecognitionType

<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="">General Recognition</a></li>
    <li class="active">Subject Recognition</li>
</ol>
@{
    SchoolRecognitionSystem.Models.SchoolRecognitionType xy = new SchoolRecognitionSystem.Models.SchoolRecognitionType();
    SchoolRecognitionSystem.Models.SchoolProfileViewModel schid = new SchoolRecognitionSystem.Models.SchoolProfileViewModel();

}
@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div>

}
<div id="sel well" style="margin-left: 30px;">
    <p>
        Subject recognition click <a href='@Url.Action("SearchPage", "Schools", new {id = "recognition1"})' onclick='selectOnlyThis(this.id)'>here</a><br/>
    </p>
    <p>
        Register new school click <a href='@Url.Action("_SchoolProfile", "Schools",new {id="recognition2"})' onclick='selectOnlyThis(this.id)'>here!</a>
    </p>


    @*<label class="checkbox"><input type="checkbox" id="Check1" value="1" name="checkbox-inline" onclick="selectOnlyThis(this.id)" /><i></i>General Recognition</label>
        <label class="checkbox"><input type="checkbox" id="Check2" value="2" name="checkbox-inline" onclick="selectOnlyThis(this.id)" /><i></i>Subject Recognition</label>*@

    @*<section id="centreNumberWrapper" style="display: none;">
    <hr />
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">Centre Number:</div>
            <div class="col-md-6">
                <input type="text" name="centreNUmber" placeholder="School Name or Centre Number" onkeyup="ShowSchoolName();" id="centreNumber" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-6">
                <h3 id="showname2" class="text-center"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-6 well">
                <h3 id="showname" class="text-center">Enter school name && center number above!</h3>
            </div>
        </div>
        <div class="row">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" name="submit" disabled="disabled" id="submitCentreNumber" class="btn btn-success"/>
                </div>
            </div>

    </div>
    </section>*@
</div>




@*<script type="text/javascript">
    var schid = 0;
    function ShowSchoolName() {
        var centreNumber = $('#centreNumber').val();
        //if (centreNumber.length >= 4) {
            $("#showname").html('Search school ' + centreNumber + '. Wait...');
            $.ajax({
                url: '/Schools/GetSchoolByCentre',
                type: "POST",
                data: { centreNumber: centreNumber },
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                }
            });
        } else {
            $("#showname").html("Enter school name or seven (7) digits centre number.").addClass('text-danger');
            $("#showname2").html("");

        }

    }

    function OnSuccess(response) {
        console.log(response);
        switch (response.exists) {
            case true:
                $("#showname2").html(response.schoolname);
                $("#showname").html('<a href="/Schools/DefineOption/?schoolid=' + response.schoolid + '">click to continue...</a>');
               $("#showname a").css('color', 'blue');
                break;
            case false:
                $("#showname").html("Wrong school name or centre number").addClass('text-danger');
                $("#showname2").html("");
                break;
            case "error":
                $("#showname").html("Wrong school name or centre number").addClass('text-danger');
                $("#showname2").html("");
                break;
            default:
                $("#showname2").html("");
        }
    }

</script>*@




@*<script type="text/javascript">
        function selectOnlyThis(id) {
        for (var i = 0; i <= 2; i++) {
                var element = document.getElementById('Check' + i);
                if (element) {
                    if (id === "Check1") {
                        document.getElementById("centreNumberWrapper").style.display = "none";
                         } else {
                        document.getElementById("centreNumberWrapper").style.display = "block";
                    }
                    document.getElementById('Check' + i).checked = false;
                }
            }
            document.getElementById(id).checked = true;
        }

    </script>*@





