﻿<li><a class="manage-special-links" href="@Url.Action("Create", "SchoolStaffs", new {sddc = Request.QueryString["sddc"]})" onclick="return canCreateManageStaff();">Manage staff</a></li>
             <li><a class="manage-special-links" href="@Url.Action("Subjects", "Schools", new {sddc = Request.QueryString["sddc"]})" onclick="return canCreateManageSubject();">Manage Subject</a></li>
                <li class="active"></li>