﻿
@model SchoolRecognitionSystem.Models.SchoolRecognitionType

<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="">General Recognition</a></li>
    <li class="active">Subject Recognition</li>
</ol>
@{
    SchoolRecognitionSystem.Models.SchoolRecognitionType xy = new SchoolRecognitionSystem.Models.SchoolRecognitionType();
    SchoolRecognitionSystem.Models.SchoolProfileViewModel schid = new SchoolRecognitionSystem.Models.SchoolProfileViewModel();

}
@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div>

}
<p>Pick options for subject recognition</p>
<div id="sel">
    <label class="checkbox"><input type="checkbox" id="TextBook" value="1" name="checkbox-inline" onclick="selectOnlyThis(this.id)" /><i></i>TextBook</label><br />
    <label class="checkbox"><input type="checkbox" id="Subject" value="2" name="checkbox-inline" onclick="selectOnlyThis(this.id)" /><i></i>Subject</label><br />
    <label class="checkbox"><input type="checkbox" id="Teachers" value="3" name="checkbox-inline" onclick="selectOnlyThis(this.id)" /><i></i>Teachers</label><br />
    <label class="checkbox"><input type="checkbox" id="SubjectItems" value="4" name="checkbox-inline" onclick="selectOnlyThis(this.id)" /><i></i>Subject Items</label><br />
   
</div>




<script type="text/javascript">
    

</script>





