﻿@model  IEnumerable<SchoolRecognitionSystem.Models.viewSummaryGeneral>
@{

    //ViewBag.Title = "CategoryGrid";
    //Layout = "~/Views/Shared/_SettingLayout.cshtml";
    //WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    //grid.Bind(Model.Equipment,
    //          autoSortAndPage: false,
    //          rowCount: Model.TotalRows
    //);
    var gridview = new WebGrid(source: Model, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "grid");
    
}




@gridview.GetHtml(
htmlAttributes: new { id = "grid" },
    fillEmptyRows: false,
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
     columns: new[] {

         gridview.Column(header: "No.",
                    format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(gridview.TotalRowCount / gridview.PageCount) / gridview.RowsPerPage) * gridview.RowsPerPage * gridview.PageIndex),

        gridview.Column(null,null,canSort:false, format: @<input type="hidden" id="uniqid" name="IDHidden" value="@item.ID" />),
         
        
         
           gridview.Column(header: "Item Description",format: @<span> <span id="spanItemDescription_@item.ID">@item.ItemDescription</span> @Html.TextBox("ItemDescription_"+(int)item.ID,(string)item.ItemDescription,new{@style="display:none"})</span>),


           gridview.Column(header: "Grade",format: @<span> <span id="spanQuantity_@item.ID">@item.RatingLabel</span> @Html.TextBox("RatingLabel_"+(int)item.ID,(string)item.RatingLabel,new{@style="display:none"})</span>),

      gridview.Column(header: "Description",format: @<span> <span id="spanQuantity_@item.ID">@item.Description</span> @Html.TextBox("Description_"+(int)item.ID,(string)item.Description,new{@style="display:none"})</span>),

})





<style type="text/css">
    #grid {
        clear: both;
        width: 80%;
        margin: 0px;
        border: 1px solid #c7c5c7;
    }

        #grid thead, #grid tfoot td {
            text-align: left;
            font-weight: bold;
            height: 35px;
            color: #000;
            background-color: #d2d0d2;
            border-bottom: 1px solid #e2e2e2;
        }

        #grid td {
            padding: 4px 6px 0px 4px;
            vertical-align: top;
            background-color: #f5f5f5;
            border-bottom: 1px solid #e2e2e2;
        }

    input {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 2px 0 2px 0px;
        padding: 2px;
        width: 170px;
    }
</style>
