﻿@using SchoolRecognitionSystem.Models
@model SchoolProfileViewModel




@*@if (TempData["Information"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["Information"]
            </span>
        </div>
    }*@

<form class="sky-form boxed" action="@Url.Action("SaveSchoolProfile", "Schools")" role="form" name="frmSchoolProfile" method="POST" id="frmSchoolProfile" enctype="multipart/form-data">
    @*<header>
            <i class="fa fa-exchange text-orange"></i> <span class="small"></span><b> @Session["SchoolInfo"] :: New </b>  &raquo;@ViewBag.Title

        </header>*@

    <div id="result" class="alert" style="display: none">
    </div>

    @Html.AntiForgeryToken()
    <div class="col-md-5">
        <fieldset class="nomargin">
            <h2>
                All the astrisked(<strong style="color:red">*</strong>) are required fields
            </h2>
            <div class="col-md-12 col-sm-10">
                @*@Html.LabelFor(m => m.CategoryID, new { @class = "label" })*@
                <strong>School Category</strong>
                <strong style="color:red">*</strong>
                <div class="">
                    @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryList as SelectList, "(select Category)",
            new Dictionary<string, object> { { "class", "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryID)
                </div>
            </div>

            <br />
            <div class="col-md-12 col-sm-12">
                <strong>School Name</strong>
                <strong style="color:red">*</strong>
                <div class="input">
                    <i class="ico-append fa fa-building"></i>

                    @*@Html.TextBoxFor(m => m.SchoolName, new { onblur = "ShowAvailability();", onkeyup = "OnChange(this)" })*@

                    @*@Html.TextBoxFor(m => m.SchoolName, new { onkeyUp = "ShowAvailability()" })*@


                    @Html.TextBoxFor(m => m.SchoolName, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--School Name--" } })

                    <span id="mesg"></span>
                    <span class="tooltip tooltip-top-right">Enter School Name</span>
                    @Html.ValidationMessageFor(model => model.SchoolName)
                </div>
                @*<div id="divoutput"></div>*@
            </div>
            <div class="col-md-12 col-sm-12">
                <strong>School Location</strong>
                <strong style="color:red">*</strong>
                <div class="input">
                    <i class="ico-append fa fa-location-arrow"></i>
                    @Html.TextBoxFor(m => m.SchoolLocation, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--School Location--" } })
                    <span class="tooltip tooltip-top-right">Enter School Location</span>
                    @Html.ValidationMessageFor(model => model.SchoolLocation)
                </div>
            </div>
            <div id="checkName" class="mylink"></div>


            <div class="col-md-6">
                <strong>Office</strong>
                <div class="">
                 <input class="form-control stateclass" data-val="true"
                           data-val-number="The field State must be a number."
                           data-val-required="Required" id="StateID"
                           name="StateID" readonly="True" type="text" data-stateid="@TempData["StateID"]" value="@TempData["StateName"]">
                  @Html.ValidationMessageFor(model => model.StateID)
                </div>
            </div>

            <div class="col-md-6">
                <strong>Local government</strong>
                <strong style="color:red">*</strong>
                <div class="">
                    <select id="LgaID" name="LgaID" class="form-control"></select>

                </div>
            </div>





            <div class="col-md-8 col-sm-8">
                <strong>Year established</strong>
                <strong style="color:red">*</strong>
                <div class="">
                    @Html.DropDownListFor(model => model.YearEstablished, ViewBag.AvailableYears as SelectList, "(select Year)",
  new Dictionary<string, object> { { "class", "form-control" } })
                    @Html.ValidationMessageFor(model => model.YearEstablished)
                    <span class="tooltip tooltip-top-right">Select the Year Established</span>
                </div>
            </div>

            <div class="col-md-8">
                <strong>Aproximate land area</strong>
                <strong style="color:red">*</strong>
                <div class="input">
                    <i class="ico-append fa fa-map-pin"></i>
                    @Html.TextBoxFor(m => m.AproximateLandArea, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Aproximate Land Area--" } })
                    <span class="tooltip tooltip-top-right">Enter Aproximate Land Area</span>
                    @Html.ValidationMessageFor(model => model.AproximateLandArea)
                    @Html.HiddenFor(m => m.ID, new { @id = "schprofileid" })
                </div>
            </div>
            @*<input type="hidden" id="UserID" name="UserID" value="@Session["UserID"]" />*@
            <input type="hidden" id="ID" name="ID" value="0" />
            <input type="hidden" data-id="CentreNo" name="CentreNo" value="0" />

            <input type="hidden" id="UserID" name="UserID" value="@ViewBag.UserID" />
            <input type="hidden" id="schoolProfileEditid" value="" />
        </fieldset>

        <div id="loadList" class="mylink"></div>
        @*<button type="button" class="btn btn-amber btn-sm pull-right" aria-hidden="true" id="btnClose" onclick="javascript: window.close();">Close</button>*@


        <footer>
            <button type="button" id="btnSave" class="btn btn-primary btn-sm pull-right"><i class="fa fa-add"></i> Save</button>
            @*@Html.ActionLink("Close", "Welcome", "Schools", null, new { @class = "btn btn-amber btn-sm pull-right", @aria_hidden = "true" })*@

        </footer>
    </div>

    <div class="col-md-7">
        <div class="col-md-12 col-sm-12">
            <label class="checkbox nomargin"><input type="checkbox" value="IsJointProprietorship" name="IsJointProprietorship" id="IsJointProprietorship"><i></i>@Html.DisplayNameFor(x => x.IsJointProprietorship)</label>
        </div>

        <div class="col-md-12 col-sm-12">
            <label class="checkbox nomargin"><input type="checkbox" value="IsLandAreaAdequate" name="IsLandAreaAdequate" id="IsLandAreaAdequate"><i></i>@Html.DisplayNameFor(x => x.IsLandAreaAdequate)</label>
        </div>
        <div class="col-md-12 col-sm-12">
            <label class="checkbox nomargin"><input type="checkbox" value="true" name="IsSchoolFencedRound" id="IsSchoolFencedRound"><i></i>@Html.DisplayNameFor(x => x.IsSchoolFencedRound)</label>
        </div>

        <div class="col-md-12 col-sm-12">
            <label class="checkbox nomargin"><input type="checkbox" value="true" name="isCurricullumAvailable" id="isCurricullumAvailable"><i></i>@Html.DisplayNameFor(x => x.isCurricullumAvailable)</label>
        </div>
        <div class="col-md-12 col-sm-12">
            <label class="checkbox nomargin"><input type="checkbox" value="true" name="isClassRegistersAvaialable" id="isClassRegistersAvaialable"><i></i>@Html.DisplayNameFor(x => x.isClassRegistersAvaialable)</label>
        </div>

        <div class="col-md-12 col-sm-12">
            <label class="checkbox nomargin"><input type="checkbox" value="true" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble"><i></i>@Html.DisplayNameFor(x => x.isDiaryofWorksAvaialble)</label>
        </div>

        <div class="col-md-12 col-sm-12">
            <label class="checkbox nomargin"><input type="checkbox" value="true" name="IsScheemOfWorkAvailable" id="IsScheemOfWorkAvailable"><i></i>@Html.DisplayNameFor(x => x.IsScheemOfWorkAvailable)</label>
        </div>
        <div class="col-md-12 col-sm-12">
            <label class="checkbox nomargin"><input type="checkbox" value="true" name="IsAdmissionRegisterAvailable" id="IsAdmissionRegisterAvailable"><i></i>@Html.DisplayNameFor(x => x.IsAdmissionRegisterAvailable)</label>
        </div>

        <div class="col-md-12">
            @Html.LabelFor(m => m.OtherSpecify, new {@class = "label"})
            <div class="input">
                <i class="ico-append fa fa-file"></i>
                @Html.TextAreaFor(m => m.OtherSpecify, new Dictionary<string, object> {{"class", "form-control"}, {"placeholder", "--Others Details (Specify)--"}})
                <span class="tooltip tooltip-top-right">Other Details (Specify)</span>
                @Html.ValidationMessageFor(model => model.OtherSpecify)
            </div>
        </div>
        @{
            var lga = Session["LGA"];
            if (lga == null)
            {
                lga = "";
            }
            else
            {
                lga = Session["LGA"].ToString();
            }
        }
        <input type="hidden" id="lgaid" data-lgaid="@lga"/>

        <input type="hidden" id="OfficeID" name="OfficeID" value="@ViewBag.OfficeID" />
        <input type="hidden" id="StateIDD" name="StateIDD" value="@ViewBag.StateIDD" />

       



    </div>

</form>


<script type="text/javascript">
    $(document).ready(function() {
        $("#StateID").on("change", function() {
            var id = $('#StateID').data('stateid');
            var baseUrl = '@Url.Content("~/")';
                var url = baseUrl + "api/recog/GetLgas";
                var markup = "<option value='0' selected='selected'>--select LGA--</option>";
                $("#LgaID").html(markup).show();
                $.get(url, { StateID: id }, function(data) {
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            var lgaid = $('#lgaid').data('lgaid');
                            if(lgaid != null)
                            {
                                if (lgaid == data[i].LgaID) {
                                    markup += "<option selected value='" + data[i].LgaID + "'>" + data[i].Name + "</option>";
                                }
                            }

                            markup += "<option value='" + data[i].LgaID + "'>" + data[i].Name + "</option>";
                        }

                        $("#LgaID").html(markup).show();
                    }
                });
            });
        $("#StateID").trigger('change');


        $("#btnSave").click(function () {
            var nextUrl = '@Url.Action("CreateStudent", "Schools")';

            if ($("#CategoryID").val() == "") {
                alert('category is required');
                return false;
            }else if ($("#SchoolName").val() == "") {
                alert('SchoolName is required');
                return false;
            }
            else if ($("#SchoolLocation").val() == "") {
                alert('SchoolLocation is required');
                return false;
            }
            else if ($("#YearEstablished").val() == "") {
                alert('YearEstablished is required');
                return false;
            }
                //else if ($("#StateID").val() == "") {
                //    alert('State is required');
                //    return false;
                //}
            else  if ($("#LgaID").val() == 0) {
                alert('Lga is required');
                return false;
            }
            else if ($("#AproximateLandArea").val() == "") {
                alert('Aproximate Land Area is required');
                return false;
            }


            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveSchoolProfile", "Schools")',
                data: {
                    ID: $("#ID").val(),
                    CategoryID: $("#CategoryID").val(),
                    SchoolName: $("#SchoolName").val(),
                    CentreNo: $("#CentreNo").val(),
                    SchoolLocation: $("#SchoolLocation").val(),
                    OfficeID: $('.stateclass').data('stateid'),
                    StateID: $('#StateIDD').val(),

                   // OfficeID: $('#OfficeID').val(),
                    LgaID: $("#LgaID").val(),
                    YearEstablished: $("#YearEstablished").val(),
                    IsJointProprietorship: $("#IsJointProprietorship").val(),
                    AproximateLandArea: $("#AproximateLandArea").val(),
                    IsLandAreaAdequate: $("#IsLandAreaAdequate").val(),
                    IsSchoolFencedRound: $("#IsSchoolFencedRound").val(),
                    IsAdmissionRegisterAvailable: $("#IsAdmissionRegisterAvailable").val(),
                    isClassRegistersAvaialable: $("#isClassRegistersAvaialable").val(),
                    isDiaryofWorksAvaialble: $("#isDiaryofWorksAvaialble").val(),
                    isCurricullumAvailable: $("#isCurricullumAvailable").val(),
                    IsScheemOfWorkAvailable: $("#IsScheemOfWorkAvailable").val(),
                    OtherSpecify: $("#OtherSpecify").val(),
                    CreatedByUserId:$("#UserID").val()
                },

                success: function(data) {
                    if (data != null) {
                        if (data.status) {
                            $('#school-created').val(true);
                            alert(data.message);
                            document.location = '@Url.Action("CreateStudent", "Schools")?sddc=' + data.schoolId;
                        } else {
                            alert(data.message);
                        }
                       
                    } else {
                        alert('Error occurred.');

                    }
                    @*document.location.href = "@Url.Action("CreateStudent", "Schools")";*@

                },
                error: function() {
                    alert("Error while submitting school profile");
                }
            });
            return false;
        });
    });


</script>





