﻿@using SchoolRecognitionSystem.Models
@model SchoolSubjectViewModel

<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Schools Subjects</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }
@if (Session["SchoolID"] != null)
{
    <form class="sky-form boxed" action="@Url.Action("SaveSchoolSubject", "Schools")" role="form" name="frmSchoolProfile" method="POST" id="frmSchoolProfile" enctype="multipart/form-data">
        @*<header>
                <i class="fa fa-exchange text-orange"></i> <span class="small"></span><b> @Session["SchoolInfo"] :: New </b>  &raquo;@ViewBag.Title

            </header>*@

        <div id="result" class="alert" style="display: none">
        </div>

        @Html.AntiForgeryToken()
        <div class="col-md-5">
            <fieldset class="nomargin">
                <legend>
                    School Subject
                </legend>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        @Html.ListBoxFor(model => model.AvailableSelected, new MultiSelectList(Model.AvailableSubjects, "ID", "LongName", Model.AvailableSelected), new { @class = "form-control", data_value = "ID", data_text = "LongName", multiple = "multiple", data_title = "Schools" })
                    </div>
                </div>


                <div id="checkName" class="mylink"></div>

                <input type="hidden" id="UserID" name="UserID" value="@Session["UserID"]" />
                <input type="hidden" id="ID" name="ID" value="0" />
                <input type="hidden" id="CentreNo" name="CentreNo" value="0" />
            </fieldset>

            <div id="loadList" class="mylink"></div>

            <footer>
                <p class="pull-right">
                    <button type="submit" onclick="return Submit();" class="btn btn-primary btn-lg">Next <i class="fa fa-arrow-circle-o-right"></i></button>
                </p>
            </footer>
        </div>


    </form>
}
@section scripts{

    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Scripts/dual-list-box.min.js"></script>
    <script type="text/javascript">
        $(document).ready(
           (function () {

               $('select[name="AvailableSelected"]').DualListBox({ json: false }); //RequestedSelected



           }));
    </script>
}