﻿@using PagedList.Mvc;
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.AssessmentViewModel>
@{
    ViewBag.Title = "Assessment";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

<h2>Assessment</h2>


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">General Assessement</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">

            @if (Session["SchoolID"] != null)
            {

                @Html.AntiForgeryToken()
                <ul class="nav nav-tabs" style="margin: 20px;">

                    <li>
                        <a data-toggle="tab" id="equipment" data-href="@Url.Action("FacilityTabbing", "Schools")">Equipment</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="lab-record" data-href="@Url.Action("LaboratoryFacility", "Schools")">Laboratory</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="reagent-record" data-href="@Url.Action("ReagentFacility", "Schools")">Reagent</a>
                    </li>

                  

                    <li>
                        <a data-toggle="tab" id="library-record" data-href="@Url.Action("LibraryFacility", "Schools")">Library</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="recreational-record" data-href="@Url.Action("RecreationalFacility", "Schools")">Recreational</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="examination-record" href="" data-href="@Url.Action("ExaminationFacility", "Schools")">ExaminationHall</a>
                    </li>
                    <li  class="active">
                            <a data-toggle="tab" id="assessment-record" href="" data-href="@Url.Action("AssessmentFacility", "Schools")">Assessment</a>
                        </li>
                </ul>
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="assessment-record">
                        <div>
                            <!-- flight section -->
                            <div class="active">

                                @if (Session["SchoolID"] != null)
                                {

                                    @*<div class="clearfix"></div>*@
                                    <div class="form-group">
                                        <div id="itemsDetailSection">
                                            <div id="itemsDetailTable"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    if (Model.Count > 0)
                                    {
                                        <section class="form-group">
                                            <div class="table-responsive">

                                                <table class="table table-bordered" id="kim" style="margin-top: 30px;">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <a>Excellent</a>
                                                            </th>
                                                            <th>
                                                                <a>Very Good</a>
                                                            </th>
                                                            <th>
                                                                <a>Good</a>
                                                            </th>
                                                            <th>
                                                                <a>Fair</a>
                                                            </th>

                                                            <th>
                                                                <a>Poor</a>
                                                            </th>
                                                            <th>
                                                                <a>Items</a>
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    @foreach (var item in Model)
                                                    {
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align: center; vertical-align: middle;">
                                                                    <input type="checkbox" class="items" name="ids[]" value="1">
                                                                    <input type="hidden" value="@item.ID" />
                                                                </td>
                                                                <td style="text-align: center; vertical-align: middle;">
                                                                    <input type="checkbox" class="items" name="ids[]" value="2" >
                                                                    <input type="hidden" value="@item.ID" />

                                                                </td>
                                                                <td style="text-align: center; vertical-align: middle;" >
                                                                    <input type="checkbox" class="items" name="ids[]" value="3">
                                                                    <input type="hidden" value="@item.ID" />

                                                                </td>

                                                                <td style="text-align: center; vertical-align: middle;" >
                                                                    <input type="checkbox" class="items" name="ids[]" value="4">
                                                                    <input type="hidden" value="@item.ID" />

                                                                </td>

                                                                <td style="text-align: center; vertical-align: middle;">
                                                                    <input type="checkbox" class="items" name="ids[]" value="5">
                                                                    <input type="hidden" value="@item.ID" />

                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.ItemDescription)
                                                                </td>


                                                            </tr>
                                                        </tbody>
                                                    }

                                                </table>
                                                <br />
                                                <footer>
                                                    <p class="pull-right">
                                                        <input type="submit" class="btn btn-primary btn-lg" value="submit" onclick="SaveRecord()" />
                                                        @*<a href="/Schools/GeneralSummary" onclick="return Submit();" class="btn btn-warning @ViewBag.GeneralDeatils">Next</a>*@

                                                        @Html.ActionLink("Next", "GeneralSummary", "Schools", new { onclick = "return Submit();" }, new { @class = "btn btn-warning " });

                                                        @*<button class="btn btn-primary btn-lg">Next <i class="fa fa-arrow-circle-o-right"></i></button>*@

                                                    </p>
                                                </footer>


                                                <div id='Paging' style="text-align: center">
                                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                    of @Model.PageCount

                                                    @Html.PagedListPager(Model, page => Url.Action("AssessmentFacility", new { page }))
                                                </div>
                                            </div>
                                        </section>
                                    }
                                    else
                                    {
                                        <div class="well" style="margin-top:30px;">
                                            <h3>Please select a subject to load items.</h3>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="well">Section is null</div>

                                }
                            </div>

                        </div>


                    </section>



                </article>

            }
            else
            {
                <div class="well">Section is null</div>

            }
        </div>

    </div>
</div>



@section scripts{

    <script type="text/javascript">
        var defaultHtml = '<h2 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Loading...</h2> ';
        $("div.mycustom-tab-menu>div.list-group>a").on("click", function(e) {
            if ($(this).hasClass('facility-tab')) {
                document.location = $(this).attr('href');
                return false;
            }
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.mycustom-tab>div.mycustom-tab-content").removeClass("active");
            $("div.mycustom-tab>div.mycustom-tab-content").eq(index).addClass("active");

            var url = $(this).attr('href');

            //alert(url);
            if (url == '#') {
                e.preventDefault();
            } else {
                $("#pageloading").show();
                // $.blockUI();
                $('#loadPagePanel').html(defaultHtml).show();
                localStorage.setItem('lastLink', $(e.target).attr('href'));


                loadURL(url, $('#loadPagePanel'));

                $("#pageloading").hide();
            }

            return false;
        });


        function loadURL(a, b) {
            var host = document.location.host;

            //Check if the site is running on development machine
            if (host == "localhost:12027") {
                _path = location.protocol + '//' + location.host;
            } else {
                if (a.indexOf(serverrootFolder) == -1 && a.indexOf(rootFolder) == -1) {
                    _path = location.protocol + '//' + location.host + serverrootFolder;
                }
            }
            //Check if the url ends with /
            if (a.indexOf("/") == 0) {
                a = _path + a;
            } else {
                a = _path + "/" + a;
            }

            $.ajax({
                "type": "GET",
                "url": a,
                "cache": !0,
                "success": function(a) {
                    //alert(a);
                    b.css({ "opacity": "0.0" }).html(a).delay(50).animate({ "opacity": "1.0" }, 300), a = null, b = null
                },
                "error": function(c, d, e, f) {
                    //alert('Error' + a);
                    b.html('<h4 class="ajax-loading-error"><i class="fa fa-warning txt-color-orangeDark"></i> Error requesting <span class="txt-color-red">' + a + "</span>: " + c.status + ' <span style="text-transform: capitalize;">' + e + "</span></h4>")
                },
                "async": !0
            })
        }

        function openNext(url) {
            if (url == '#') {
                e.preventDefault();
            } else {
                $("#pageloading").show();
                // $.blockUI();
                $('#loadPagePanel').html(url).show();
                loadURL(url, $('#loadPagePanel'));

                $("#pageloading").hide();
            }
        }

        $('#equipment').on('click', function() {
            document.location = $(this).attr("data-href");
        });


        $('#lab-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        $('#reagent-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        $('#library-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });

        $('#recreational-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        $('#examination-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });

        $('#assessment-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });


        $(document).ready(function() {
            $("#kim input[type=checkbox]").click(function() {
                if (this.checked) {
                    $(this).closest('tr').find('input[type=checkbox]').attr('checked', false);
                    this.checked = true;
                }
            });


        });

        function SaveRecord() {
            var lis = [];
            $('#kim input:hidden').each(function() {
                lis.push($(this).val());
            });

            var list = [];
            $('#kim input:checked').each(function() {
                list.push($(this).val());
            });

            // now names contains all of the names of checked checkboxes
            // do something with it for excamle post with ajax
            $.ajax({
                url: "/Recognition/Schools/SaveAssessmentSummary", @*'@Url.Action("SaveAssessmentSummary", "Schools")',*@
                type: 'POST',
                accept: 'application/json',
                data: { grades: list, items: lis },
                success: function(data) {
                    if (data.status === '1') {
                        alert("data is successfully inserted!");
                        $('input[type=checkbox]').each(function() {
                            $(this).prop('checked', false);
                        });
                    }

                },
                error: function(result) {
                    alert("error!");
                }
            }); //end ajax
        };
    </script>





    @*<script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>*@
    <script type="text/javascript">

    //$("#checkableGrid input[type=checkbox]").click(function () {
    //    if (this.checked) {
    //        $(this).closest('tr').find('input[type=checkbox]').attr('checked', false);
    //        this.checked = true;
    //    }
    //});


    $('input[type="checkbox"]').on('change', function () {

        // uncheck sibling checkboxes (checkboxes on the same row)
        $(this).siblings().prop('checked', false);

        //// uncheck checkboxes in the same column
        //$('div').find('input[type="checkbox"]:eq(' + $(this).index() + ')').not(this).prop('checked', false);

    });

    //function toggle(chkBox) {
        
    //    checkboxes = document.getElementsByTagName("input");
       
    //    var isChecked = chkBox.checked;
    //    for (var i = 0; i < checkboxes.length; i++) {
    //        checkboxes[i].checked = false;
    //    }
    //    if (isChecked) {
    //        chkBox.checked = true;
    //    }
    //}


    //$('.checked-items').click(function () {
    //    $(this).siblings('input:checkbox').prop('checked', false);
    //});


    function SaveRecord() {
        var lis = [];
        $('#kim input:hidden').each(function () {
            lis.push($(this).val());
        });

        var list = [];
        $('#kim input:checked').each(function () {
            list.push($(this).val());
        });

        // now names contains all of the names of checked checkboxes
        // do something with it for excamle post with ajax
        $.ajax({
            url: '@Url.Action("SaveAssessmentSummary", "Schools")',
            type: 'POST',
            accept: 'application/json',
            data: { grades: list, items: lis },
            success: function (result) {
                $('input[type=checkbox]').each(function () {
                    $(this).prop('checked', false);
                });
                alert("data is successfully inserted!");

            },
            error: function (result) {
                alert("error!");
            }
        });   //end ajax
    };


    function Submit() {
        //if ($('#student-added').val() !== '1') {
        //    alert('please add at least one student record');
        //    return false;
        //}
        if (confirm("Are you sure you want to go the next page?")) {
            return true;
        } else {
            return false;
        }


    }
</script>



}









