﻿@using SchoolRecognitionSystem.Models
@model   SchoolRecognitionSystem.Models.ClassAllocationvModel

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">Classroom</li>
</ol>
@*@Session["UserEmail"]*@
@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <ul class="nav nav-tabs" style="margin: 20px;">

                <li>
                    <a data-toggle="tab" id="generalview" data-href="@Url.Action("GeneralView", "Schools")">About School</a>
                </li>
                <li>
                    <a data-toggle="tab" id="schoolsubjectview" data-href="@Url.Action("SchoolSubjectView", "Schools")">Subject</a>
                </li>
                <li  class="active">
                    <a data-toggle="tab" id="classroomview" data-href="@Url.Action("ClassroomView", "Schools")">Classrrom</a>
                </li>
                <li>
                    <a data-toggle="tab" id="schoolstaffview" data-href="@Url.Action("SchoolStaffView", "Schools")">Staff</a>
                </li>
                <li>
                    <a data-toggle="tab" id="facilityview" data-href="@Url.Action("FacilityView", "Schools")">Facility</a>
                </li>

                <li>
                    <a data-toggle="tab" id="laboratoryview" data-href="@Url.Action("LaboratoryView", "Schools")">Laboratory</a>
                </li>
                <li>
                    <a data-toggle="tab" id="libraryview" href="" data-href="@Url.Action("LibraryView", "Schools")">Library</a>
                </li>
                <li>
                    <a data-toggle="tab" id="recreationalview" href="" data-href="@Url.Action("RecreationalView", "Schools")">Recreational</a>
                </li>
                <li>
                    <a data-toggle="tab" id="examinationview" href="" data-href="@Url.Action("ExaminationView", "Schools")">ExaminationHall</a>
                </li>


            </ul>
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPost" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @*<h4>ClassAllocation</h4>*@
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <p>
                            School Name:<strong>@TempData["DisplaySchoolName"] </strong>
                        </p>
                        <section class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Class</th>
                                        <th>Number Of Streams</th>
                                        <th>Total Students</th>
                                        @*<th>Approval</th>*@
                                    </tr>
                                </thead>
                                <tbody id="students-table-body">
                                    @{
                                        var classesRegistered = ViewBag.ClassesRegistered as List<ClassAllocationvModel>;
                                        <input id="schoolid" type="hidden" value="@classesRegistered.First().SchoolID" />

                                        foreach (var classReg in classesRegistered)
                                        {
                                            <tr class="school-classess" data-classname="@classReg.ClassName" data-classid="@classReg.ClassID" data-streams="@classReg.NoOfStreams" data-totalstudents="@classReg.TotalStudents">
                                                <td>@classReg.ClassName</td>
                                                <td>@classReg.NoOfStreams</td>
                                                <td>@classReg.TotalStudents</td>
                                            </tr>

                                        }

                                    }
                                    </tbody>
                                </table>
                            </section>
                        </div>



                        @*<div class="col-md-10">
                                <input type="submit" style="margin-right: 30px" value="Next" class="btn btn-primary" />
                            </div>*@
                                        }

                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>


        </div>
    </div>





</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#save-class-room').on('click', function() {
                var checkedItem = $('input[name="approved"]:checked').val();
                $.post('/Assessment/Classroom?schoolid=@Request.QueryString["schoolid"]', { isAppoved: checkedItem }, function (response) {

                        @*$.post('/Recognition/Assessment/Classroom?schoolid='+@Request.QueryString["schoolid"], { sch: schoolId, isAppoved: checkedItem, items: classesArray }, function (response) {*@

                            if (response.status === true) {
                                alert('Classes saved successfully.');
                            } else {
                                alert('Error occurred while saving data');
                            }
                        });

            });


            // var classesRegistered = @ViewBag.ClassesRegistered;

            //as List<ClassAllocationvModel>;





        });


        function DeleteValues() {
            var dropDown = document.getElementById("ClassID");
            for (var i = 0; i <= dropDown.options.length; i++) {
                if (dropDown.options[i].selected) {
                    dropDown.removeChild(dropDown.options[i]);
                    break;
                }
            }
        }

        function Submit() {
            if ($('#student-added').val() !== '1') {

                alert('please add at least one student record');
                return false;
            }
            if (confirm("Are you sure you want to go the next page?")) {
                return true;
            } else {
                return false;
            }


        }


        
            $('#generalview').on('click', function () {
                document.location = $(this).attr("data-href");
                console.log(document.location);
            });

            $('#schoolsubjectview').on('click', function () {
                document.location = $(this).attr("data-href");
            });


            $('#classroomview').on('click', function () {
                document.location = $(this).attr("data-href");
            });


            $('#schoolstaffview').on('click', function () {
                document.location = $(this).attr("data-href");
                console.log(document.location);
            });

            $('#facilityview').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $('#laboratoryview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#libraryview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#recreationalview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#examinationview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
    </script>




}

