﻿@model SchoolRecognitionSystem.Models.PagedCustomerModel

@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.Category,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
    );
}
<h2>School Category</h2>



<div id="divmsg" style="color: green; font-weight: bold"></div>

<br />
<br />
@grid.GetHtml(
htmlAttributes: new { id = "grid" },
    fillEmptyRows: false,
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
     columns: new[] {
         grid.Column(null,null,canSort:false, format: @<input type="hidden" name="IDHidden" value="@item.ID" />),

        grid.Column(header: "Category",format: @<span> <span id="spanName_@item.ID">@item.Category</span> @Html.TextBox("Category_"+(int)item.ID,(string)item.Category,new{@style="display:none"})</span>),


grid.Column(header: "Action",format:@<text> <a href="#" id="Edit_@item.ID" class="edit">Edit &nbsp;</a><a href="#" id="Update_@item.ID" style="display:none" class="update">Update &nbsp;</a><a href="#" id="Cancel_@item.ID" style="display:none" class="cancel">Cancel &nbsp;</a><a href="#" id="Delete_@item.ID" class="delete">Delete</a></text>)

})
<br />

<span class="glyphicon glyphicon-plus-sign"></span>
<a href="#" class="add">Add</a>




<style type="text/css">
    #grid {
        clear: both;
        width: 80%;
        margin: 0px;
        border: 1px solid #c7c5c7;
    }

        #grid thead, #grid tfoot td {
            text-align: left;
            font-weight: bold;
            height: 35px;
            color: #000;
            background-color: #d2d0d2;
            border-bottom: 1px solid #e2e2e2;
        }

        #grid td {
            padding: 4px 6px 0px 4px;
            vertical-align: top;
            background-color: #f5f5f5;
            border-bottom: 1px solid #e2e2e2;
        }

    input {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 2px 0 2px 0px;
        padding: 2px;
        width: 170px;
    }
</style>

<script src="~/Scripts/141jquery.js" type="text/javascript"></script>
<script type="text/javascript">

    $(".add").live("click", function() {

        var existrow = $('.save').length;

        if (existrow == 0) {
            var index = $("#grid tbody tr").length + 1;

            var Category = "Category_" + index;

            var Save = "Save_" + index;
            var Cancel = "Cancel_" + index;

            var tr = '<tr class="alternate-row"><td></td><td><span><input id="' + Category + '" type="text" class="ty" /></span></td>' +
                '<td> <a href="#" id="' + Save + '" class="save">Save&nbsp;&nbsp;</a><a href="#" id="' + Cancel + '"  class="icancel">Cancel</a></td>' +
                '</tr>';

            $("#grid tbody").append(tr);
        } else {

            alert('First Save your previous record !!');
        }

    });

    $(".icancel").live("click", function() {
        var flag = confirm('Are you sure to cancel');

        if (flag) {
            $(this).parents("tr").remove();
        }

    });

    $(".save").live("click", function() {
        var id = $("#grid tbody tr").length;
        var CateName = $("#Category_" + id).val();
        var index = $("#grid tbody tr").length + 1;

        if ($('.ty').val() === '') {
            alert('Text box can not be left blank');
            return false;
        }

        if (id != "") {

            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                @*url: '@Url.Action("SaveRecordCat", "Schools")'*@
                url: "/recognition/schools/SaveRecordCat",
                data: { "catee": CateName },
                dataType: "json",
                beforeSend: function() {},
                success: function(data) {
                    if (data.result == true) {

                        alert('Record has been saved successfully !!');

                        setTimeout(function() { window.location.replace("CreateCategory"); });
                    } else {
                        alert('Record already exist');

                    }

                }

            });
        }
    });

    $(".edit").live("click", function() {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var CateName = "#Category_" + id;
        var spanName = "#spanName_" + id;

        $(CateName).show();
        $(spanName).hide();

        $(this).hide();
        $("#Update_" + id).show();
        $("#Cancel_" + id).show();
    });

    $(".cancel").live("click", function() {
        var str = $(this).attr("id").split("_");

        id = str[1];

        var CateName = "#Category_" + id;
        var spanName = "#spanName_" + id;


        $(CateName).hide();
        $(spanName).show();


        $(this).hide();
        $("#Update_" + id).hide();

        $("#Edit_" + id).show();
    });

    $(".update").live("click", function() {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var CateName = $("#Category_" + id).val();
        var spanName = $("#spanName_" + id).val();


        if (id !== "") {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                @*url: '@Url.Action("UpdateRecordSchCate", "Schools")',*@
                url: "/recognition/schools/UpdateRecordSchCate",
                data: { "id": id, "catee": CateName },
                dataType: "json",
                beforeSend: function() {
                },
                success: function(data) {

                    if (data.result === true) {
                        $("#Update_" + id).hide();
                        $("#Cancel_" + id).hide();
                        $("#Edit_" + id).show();

                        var CateName = "#Category_" + id;
                        var spanName = "#spanName_" + id;


                        $(CateName).hide();
                        $(spanName).show();


                        $(spanName).text($(CateName).val());

                    } else {
                        alert('There is some error');
                    }
                }

            });
        }
    });

    $(".delete").live("click", function() {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var flag = confirm('Are you sure to delete ??');
        if (id !== "" && flag) {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                @*url: '@Url.Action("DeleteRecordCategory", "Schools")',*@
                url: "/recognition/schools/DeleteRecordCategory",
                data: { "id": id },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {

                    if (data.result === true) {
                        $("#Update_" + id).parents("tr").remove();
                    }
                    else {
                        alert('There is some error');
                    }
                }

            });
        }
    });

</script>



