﻿@model   SchoolRecognitionSystem.Models.ClassAllocation

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">Students-Class</li>
</ol>

@if (TempData["Information"] != null)
{
<div class="alert alert-primary">
    <span class="myInfowtb">
        @TempData["Information"]
    </span>
</div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">
                <h2>Number of student in class</h2>

                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPost" }))
                {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>ClassAllocation</h4>*@
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p>School Name:<strong>@TempData["studet"] </strong></p>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.SchoolID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            @Html.LabelFor(model => model.ClassID, "Class")
                        </div>
                        <div class="col-md-3 col-xs-6">
                            @Html.LabelFor(model => model.NoOfStreams, "Number of streams")
                        </div>
                        <div class="col-md-3 col-xs-6">
                            @Html.LabelFor(model => model.TotalStudents, "Total Students")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">@Html.DropDownListFor(model => model.ClassID, ViewBag.Classes as IEnumerable<SelectListItem>, new { @class = "form-control" })</div>
                        <div class="col-md-3 col-xs-6">@Html.EditorFor(model => model.NoOfStreams, new { htmlAttributes = new { @class = "form-control" } })</div>
                        <div class="col-md-3 col-xs-6">@Html.EditorFor(model => model.TotalStudents, new { htmlAttributes = new { @class = "form-control" } })</div>
                        <input type="submit" value="Add" class="btn btn-primary" @*onclick="DeleteValues(); return false" *@ />

                        <a href="/School/SchoolSubjectOffered" onclick="return Submit();" class="btn btn-warning">Next</a>
                    </div>
                </div>
           </div>
           </div>
           </div>
           </div>

