﻿@using PagedList.Mvc;
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.ExamHallViewModel>
@{
    ViewBag.Title = "LibraryFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
@*<h2>FacilityTabbing</h2>*@
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SchoolProfilePartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <ol class="breadcrumb">
                @Html.Partial("_CreateSchoolProfileBreadcrumbPartial")
            </ol>
            <ul class="nav nav-tabs" style="margin: 20px;">
                <li>
                    <a data-toggle="tab" data-library="0" id="library" data-href="@Url.Action("SchoolFacility", "Schools", new {sddc = Request.QueryString["sddc"]})">Library</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" id="examination-record" data-examination="0" data-href="@Url.Action("ExaminationFacility", "Schools", new {sddc = Request.QueryString["sddc"]})">Examination</a>
                </li>
                <li>
                    <a data-toggle="tab" id="recreational-record2" data-recreational="0" href="" data-href="@Url.Action("RecreationalFacility", "Schools", new {sddc = Request.QueryString["sddc"]})">Recreational</a>
                </li>
            </ul>
            @*@if (Session["SchoolID"] != null)
            {*@

            @Html.AntiForgeryToken()

            <article class="tab-content" style="margin: 20px;">
                <section class="tab-pane fade in active" id="ExaminationFacility-record">
                    <div>
                        <!-- flight section -->
                        <div class="active">

                            @*@if (Session["SchoolID"] != null)
                                {*@

                            @*<div class="clearfix"></div>*@
                            <div class="form-group">
                                <div id="itemsDetailSection">
                                    <div id="itemsDetailTable"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            @if (Model.Count > 0)
                            {
                                <section class="form-group">
                                    <div class="table-responsive">

                                        <table class="table table-bordered" style="margin-top: 30px;">
                                            <tr>

                                                <th>
                                                    <a>Item Description</a>
                                                </th>


                                                <th>
                                                    <a>Exam Hall Value</a>
                                                </th>





                                            </tr>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ItemDescription)
                                                    </td>



                                                    @{
                                                        var itemId = item.ID != 0 ? item.ID : 0;
                                                    }
                                                    <td>
                                                        <input data-recordid="@itemId" type="text" id="inUser" onblur="useOnBlur('@item.SchoolExamHallConfig_ID', this);" value="@item.ExamValue"/> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                        <p class="message-output"></p>
                                                    </td>

                                                    @*<td>
                                                                    @Html.DisplayFor(modelItem => item.Specification)
                                                                </td>*@


                                                </tr>
                                            }
                                        </table>
                                        @*<br/>
                                                <p class="pull-left">@Html.ActionLink("Next", "GeneralView", "Schools", null, new { @class = "btn btn-warning " })</p>*@

                                        <input type="hidden" id="SchoolFacilityValueID" name="SchoolFacilityValueID" value="0"/>
                                        <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0"/>
                                        <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0"/>
                                        <div id='Paging' style="text-align: center">
                                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                            of @Model.PageCount

                                            @Html.PagedListPager(Model, page => Url.Action("ExaminationFacility", new {page}))
                                        </div>
                                    </div>
                                </section>
                            }
                            else
                            {
                                <div class="well" style="margin-top: 30px;">
                                    <h3>Please select a subject to load items.</h3>
                                </div>
                            }
                            @*}
                                else
                                {
                                    <div class="well">Section is null</div>

                                }*@
                        </div>

                    </div>


                </section>



            </article>

            @*}
            else
            {
                <div class="well">Section is null</div>

            }*@
        </div>

    </div>
</div>



@section scripts{

    <script type="text/javascript">

        //var subjectId;
        //$(document).ready(function() {
        //    $("#itemsDetailSection").hide(0);
        //    $("#ID").change(function() {
        //        subjectId = $("#ID").val();
        //        getEquipmentTable(subjectId, 1);
        //        $("#itemsDetailSection").show();
        //    });

        //});


        //function getEquipmentTable(page) {
        //    $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
        //    if (parseInt(page) > 0) {
        //        document.location = 'Schools/LibraryFacility/?page=' + page;
        //    } else {
        //        $("#itemsDetailTable").html("No Record");
        //    }
        //}

        function useOnBlur (d_id, elem) {
             var isSuccess = -1;

            if (elem.value == '') {
                $(elem).parent().find('.message-output').stop().css('opacity', 1)
                    .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                return;
            }
            $(elem).parent().find('.spinner-wrapper').show();
            $(elem).parent().find('.message-output').hide();
            var record_id = $(elem).attr('data-recordId');
           // alert(d_id);
            $.ajax({
                url: '@Url.Action("SaveExam", "Schools")',
                data: { dd: d_id, user: elem.value, record_id: record_id },
                type: 'POST',
                success: function(data) {
                    if (data.status == true) {
                        $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                            .addClass('text-success').html(data.message).show().fadeOut(10000);
                        $(elem).attr('data-recordId', data.recordId);
                        isSuccess = data;
                    } else {
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                    }


                }

            });

        };


        $('#library').on('click', function () {
            document.location = $(this).attr("data-href");
        });


        $('#recreational-record2').on('click', function () {
            document.location = $(this).attr("data-href");
        });


        $('#examination-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });
    </script>

}










@*===========================*@



