﻿@using PagedList.Mvc;
@using WebGrease.Css.Extensions
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolEquipConfigViewModel>
@{
    ViewBag.Title = "EquipmentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    //it is fetched when a record is inserted


}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    @*<li><a href="#">New School</a></li>
    <li class="active">Equipment Facility</li>*@
</ol>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SubjectSectionPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                @Html.AntiForgeryToken()

                <ul class="nav nav-tabs" style="margin: 20px;">

                    <li class=active>
                        <a data-toggle="tab" data-equipmentidd="1" id="equipment">Equipment</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="reagent-record" data-reagentidd="2" href="" data-href="@Url.Action("ReagentFacilityy", "Schools")">Reagent</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="lab-record" data-labidd="3" data-href="@Url.Action("LaboratoryFacility", "Schools")">Laboratory</a>
                    </li>


                </ul>
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="equipmentid">
                        <div>
                            <!-- flight section -->
                            <div class="active">

                                @*@if (Session["SchoolID"] != null)
                                    {*@
                                <div class="form-group">
                                    <label class="control-label col-md-2">Subject</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("ID", ViewBag.SchoolSubjectList as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control" })
                                        @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="clearfix"></div>*@
                                <div class="form-group">
                                    <div id="itemsDetailSection">
                                        <div id="itemsDetailTable"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @if (Model.Count > 0)
                                {

                                    <section class="form-group">
                                        <div class="table-responsive">

                                            <div class="pull-right">
                                                <p style="margin-right: 30px;">Total Records: <strong>@Model.TotalItemCount</strong></p>
                                            </div>
                                            <table class="table table-bordered" style="margin-top: 30px;">
                                                <tr>
                                                    <th>SN</th>
                                                    <th>
                                                        <a>Item Description</a>
                                                    </th>

                                                    <th>
                                                        <a>Quantity Required</a>
                                                    </th>

                                                    <th>
                                                        <a>Quantity seen</a>
                                                    </th>
                                                    <th>
                                                        <a>Unit</a>
                                                    </th>
                                                    <th>
                                                        <a>Grade</a>
                                                    </th>
                                                    <th>
                                                        <a>Specification</a>
                                                    </th>


                                                </tr>
                                                @{
                                                    var counter = 1;
                                                    var offset = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@offset</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ItemDescription)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.QuantityRequired)
                                                            @*@Html.DisplayFor(modelItem => item.UnitType)*@
                                                        </td>

                                                        <td>
                                                            <input data-recordid="0" type="text" id="inUser" data-definition="@item.Unique_row" onblur="useOnBlur('@item.Unique_row', this);" value="@item.EquipmentValue" style="width: 120px;">
                                                            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                            <span class="message-output"></span>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UnitType)
                                                        </td>
                                                        @*for grade*@
                                                        <td id="definition-@item.Unique_row" class="definition-column">
                                                            @item.DigitValue
                                                        </td>
                                                        @*@Html.DisplayFor(modelItem => item.EquipmentValue)*@
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Specification)
                                                            <input type="hidden" id="@item.FacilityCategoryID" name="FacilityCategoryID" value="@item.FacilityCategoryID" />

                                                        </td>

                                                    </tr>

                                                    counter++;
                                                    offset++;
                                                }
                                                <tfoot>
                                                    <tr>

                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>

                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td></td>
                                                        <td><strong>Total:</strong><span id="total-grades">0</span></td>
                                                        <td>&nbsp;</td>


                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <br />

                                            <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId' />
                                            <input type='hidden' value='@Request.QueryString["totalgradds"]' id='totalgradds' />
                                            <input type="hidden" id="Equipmentvalue_ID" name="Equipmentvalue_ID" value="0" />
                                            <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0" />
                                            <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0" />
                                            <div id='Paging' style="text-align: center">
                                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                of @Model.PageCount

                                                @Html.PagedListPager(Model, page => Url.Action("FacilityTabbing", new { page, subjectId = ViewBag.subjectid, faciltyid = ViewBag.facilitycategoryid }))

                                            </div>
                                        </div>
                                    </section>
                                                    }
                                                    else
                                                    {
                                                        <div class="well" style="margin-top:30px;">
                                                            <h3>Please select a subject to load items.</h3>
                                                        </div>
                                                    }
                                @*}
                                    else
                                    {
                                        <div class="well">Section is null</div>

                                    }*@
                            </div>

                        </div>


                    </section>


                </article>

                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //use viewbag when a page is loading
        var subjectId;
        var facilityhardcoded;
        var bag = 0;
        var totalgrades = 0;
        var facilityCategoryId = 0;
        var currentPage = parseInt('@Model.PageNumber');
        var currentSchool = '@ViewBag.CurrentSchool';
        //bag += totalgrades;
        @*var resultgraded = '@ViewBag.gradds';*@
        //console.log(resultgraded);

        $(document).ready(function () {


            $("#ID").change(function() {
                subjectId = $("#ID").val();
                //sessionStorage.removeItem('grades');
                //facilityCategoryId = $("#FacilityCategoryID").val();
                getEquipmentTable(subjectId, 1);
                //$("#itemsDetailSection").show();
            });
            sumGrades($("#ID").val());
        });


        function getEquipmentTable(subId, page) {

           // $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
            if (parseInt(subjectId) > 0) {
                //+ddlrec + "&facid=" + ddlfaci + "&factext=" + textitem;
                //document.location = '/Recognition/Schools/FacilityTabbing/?subjectId=' + subjectId;
                subjectId = subId;
                console.log(subjectId);
                document.location = '/Schools/FacilityTabbing/?subjectId=' + subjectId;
            } else {
               // $("#itemsDetailTable").html("No Subject selected yet.");
            }
        }

        function useOnBlur(d_id, elem) {
            var isSuccess = -1;
            var reg = new RegExp('^[0-9]+$');
            if (elem.value == '') {
                $(elem).parent().find('.message-output').stop().css('opacity', 1)
                    .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                $(elem).addClass('border-danger');
                return;
            }
            if (!reg.test(elem.value)) {
                $(elem).parent().find('.message-output').stop().css('opacity', 1)
                     .html('Please enter a number. Only numbers are allowed.').removeClass('text-success').addClass('text-danger').show();
                $(elem).addClass('border-danger');
                return;
            }
            $(elem).removeClass('border-danger');
            $(elem).parent().find('.spinner-wrapper').show();
            $(elem).parent().find('.message-output').hide();
            var record_id = $(elem).attr('data-recordId');


            var definition = $(elem).attr('data-definition');
            //console.log(definition);
            var subjectId = $("#subjectId").val();

            var totalComputed = $('#total-grades').html();
            var totalDbRecords = '@Model.TotalItemCount';

            $.ajax({
                //url: "/Recognition/Schools/SaveEquipment",
                url: "/Schools/SaveEquipment",
                data: {
                    dd: d_id, user: elem.value, record_id: record_id, subjectIds: subjectId, bagg: bag,
                    totalDbRecords: totalDbRecords, totalComputed: totalComputed, facCategoryId: facilityCategoryId
                },
                type: 'POST',
                success: function(data) {
                    if (data.status == true) {

                        var definitionValue = 0;
                        switch (data.definition) {
                        case 'Excellent':
                            definitionValue = 1;
                            break;
                        default:
                            definitionValue = 0;

                        }

                        $('td#definition-' + definition).html(definitionValue);
                        $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                            .addClass('text-success').html(data.message).show().fadeOut(10000);
                        //if (definitionValue === 1) {
                        //    $(elem).addClass('border-success').removeClass('border-danger');
                        //} else {
                        //    $(elem).addClass('border-danger').removeClass('border-success');
                        //}
                        //$(elem).parent().find('.spinner-wrapper').hide();
                        $(elem).attr('data-recordId', data.recordId);
                        //console.log(data);
                        isSuccess = data;
                        sumGrades(subjectId);
                    } else {
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                    }
                }

            });
            //faciltitySummary();
        };

        function faciltitySummary() {
            var totalEquipmentItems = '@Model.TotalItemCount';
            var subjectsid = '@Request.QueryString["subjectId"]';
            var totalsum = $('#total-grades').html();

            var facilityCategoryId = $('#equipment').attr("data-equipmentidd");
            $.post('/Schools/EquipmentSummary', { totalEquipmentItems: totalEquipmentItems, subjectsid: subjectsid, totalsum: totalsum, facilityCategoryId: facilityCategoryId }, function (response) {
                if (response.status == true) {
                    //alert('data saved successfully');

                } else {
                    //alert('data not saved correctly');
                }
            });
        }


        function sumGrades(subjectId) {
            var schoolInStorage = localStorage.getItem('currentSchool');
            if (schoolInStorage === null && currentSchool !== '') {
                localStorage.setItem('currentSchool', currentSchool);
            } else {
                if (schoolInStorage !== currentSchool) {
                    localStorage.removeItem('currentSchool');
                    localStorage.removeItem('facilityTabbing');
                }
                if (currentSchool !== '') {
                    localStorage.setItem('currentSchool', currentSchool);
                }
            }
            if (subjectId !== '' && subjectId !== null && subjectId !== undefined) {
                var gradesForPage = 0;
                var dataSaved = JSON.parse(localStorage.getItem('facilityTabbing')) || {};
                var subjectStored = dataSaved['subject-' + subjectId] || [];
                var totalGrades = 0;
                $('.definition-column').each(function(index, gradeElement) {
                    gradesForPage += parseInt($(gradeElement).html());
                });

                var isPageInArray = false;
                //$(subjectStored).each(function (index, pageObject) {
                //    if (pageObject.page === currentPage) {
                //        isPageInArray = true;
                //    }
                //});
                for (index in subjectStored) {
                    if (subjectStored.hasOwnProperty(index)) {
                        var item = subjectStored[index];
                        if (item.page === currentPage) {
                                   isPageInArray = true;
                       }
                    }
                }
                if (isPageInArray === true) {
                    // UPDATE ARRAY
                    $(subjectStored).each(function(index, pageObject) {
                        if (pageObject.page === currentPage) {
                            pageObject.sum = gradesForPage;
                        }
                    });
                } else {
                    // ADD NEW TO ARRAY
                    subjectStored.push({
                        page: currentPage,
                        sum: gradesForPage
                    });
                }

                //$(subjectStored).each(function(index, pageObject) {
                //    totalGrades += pageObject.sum;
                //});
                for (index in subjectStored) {
                    if (subjectStored.hasOwnProperty(index)) {
                        var pageObject2 = subjectStored[index];
                        totalGrades += pageObject2.sum;
                    }
                }
                dataSaved['subject-' + subjectId] = subjectStored;
                localStorage.setItem('facilityTabbing', JSON.stringify(dataSaved));
                $('#total-grades').html(totalGrades);
                faciltitySummary();
            }
        }

        //$('.pagination-container .pagination a').on('click', function (e) {
        //    e.preventDefault();
        //    if ($(this).attr("href")) {
        //        document.location = $(this).attr("href") + '&subjectId=' + $('#subjectId').val();
        //    }
        //});
        $('#equipment').on('click', function() {
            document.location = $(this).attr("data-href");
        });


        $('#reagent-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });


        $('#lab-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });

        //$('#library-record').on('click', function() {
        //    document.location = $(this).attr("data-href");
        //});

        //$('#recreational-record').on('click', function() {
        //    document.location = $(this).attr("data-href");
        //});
        //$('#examination-record').on('click', function() {
        //    document.location = $(this).attr("data-href");
        //});
        //$('#assessment-record').on('click', function() {
        //    document.location = $(this).attr("data-href");
        //});


    </script>
}



