﻿@*@using SchoolRecognitionSystem.Models
@model FacilityViewModel*@

@using PagedList.Mvc;
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolEquipConfigViewModel>

@{
    ViewBag.Title = "Facility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}


@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active"> Facility</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            <div class="list-group">
                <a href="@Url.Action("_SchoolProfile", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-home"></h4><br/>School Profile
                </a>
                <a href="@Url.Action("Subjects", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-list-alt"></h4><br/>Recommended Subjects
                </a>
                @*<a href="@Url.Action("FacilityTabbing", "Schools")" class="list-group-item text-center active facility-tab">
                    <h4 class="glyphicon glyphicon-random"></h4><br />Facility Management
                </a>*@
                <a href="@Url.Action("Facility", "Schools")" class="list-group-item text-center active facility-tab">
                    <h4 class="glyphicon glyphicon-random"></h4><br />Facility Management
                </a>
                @*<a href="@Url.Action("_Subjects", "Schools")" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-list-alt"></h4><br />Recommended Subjects
                    </a>*@
                <a href="@Url.Action("_TextBook", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-book"></h4><br />Subjects TextBooks
                </a>
                <a href="@Url.Action("_Staff", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-user"></h4><br />Staff Records
                </a>
                <a href="@Url.Action("_Student", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-users"></h4><br />Student Records
                </a>
              
                @*<a href="@Url.Action("_Facility", "Schools")" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-random"></h4><br />Facility Management
                    </a>*@
                <a href="@Url.Action("_ReviewData", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-file"></h4><br />School Profile Review
                </a>
                <a href="@Url.Action("_Complete", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-save"></h4><br />Submit Details
                </a>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                {*@
                    <div class="form-group">
                        <label class="control-label col-md-2">Subject</label>
                        <div class="col-md-10">
                            @Html.DropDownList("ID", ViewBag.SchoolSubjectList as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control" })
                            @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="clearfix"></div>*@
                        <div class="form-group">
                            <div id="itemsDetailSection">
                                <div id="itemsDetailTable"></div>
                            </div>
                        </div>
                    <div class="clearfix"></div>
                    if (Model.Count > 0)
                    {
                        <section class="form-group">
                            <div class="table-responsive">

                                <table class="table" style="margin-top: 30px;">
                                    <tr>

                                        <th style="border: 2px solid black; text-align: center; width: 25%">
                                            <a>Item Description</a>
                                        </th>
                                        <th style="border: 2px solid black; text-align: center; width: 25%">
                                            <a>Quantity</a>
                                        </th>
                                        <th style="border: 2px solid black; text-align: center; width: 12%">
                                            <a>Quantity Required</a>
                                        </th>
                                        @*<th style="border: 2px solid black; text-align: center; width: 25%">
                                                <a>Unit</a>
                                            </th>*@


                                        <th style="border: 2px solid black; text-align: center; width: 25%">
                                            <a>Specification</a>
                                        </th>


                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                                @Html.DisplayFor(modelItem => item.ItemDescription)
                                            </td>
                                            <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                                <input data-recordid="0" type="text" id="inUser" onblur="useOnBlur('@item.ID', this);" value="" class="form-control "> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i><p class="message-output"></p>
                                            </td>
                                            <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                                @Html.DisplayFor(modelItem => item.QuantityRequired)
                                                @*@Html.DisplayFor(modelItem => item.UnitType)*@
                                            </td>
                                            @*<td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                                @Html.DisplayFor(modelItem => item.UnitType)
                                                </td>*@

                                            @Html.DisplayFor(modelItem => item.EquipmentValue)
                                            <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                                                @Html.DisplayFor(modelItem => item.Specification)
                                            </td>


                                        </tr>
                                    }

                                </table>
                                <br />
                                <input type="hidden" id="ID" name="ID" value="0" />
                                <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0" />
                                <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0" />
                                <div id='Paging' style="text-align: center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount

                                    @Html.PagedListPager(Model, page => Url.Action("Facility", new { page, subjectid = ViewBag.subjectid }))
                                </div>
                            </div>
                        </section>
                    }
                    @*else
                    {
                        <div class="well" style="margin-top:30px;">
                            <h3>Please select a subject to load items.</h3>
                        </div>
                    }*@
                }
                else
                {
                    <div class="well">Section is null</div>

                }
            </div>
            <!-- train section -->
            <div class="mycustom-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-road"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                </center>
            </div>

            <!-- hotel search -->
            <div class="mycustom-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-home"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                </center>
            </div>
            <div class="mycustom-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-cutlery"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                </center>
            </div>
            <div class="mycustom-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-credit-card"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                </center>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var defaultHtml = '<h2 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Loading...</h2> ';
    $("div.mycustom-tab-menu>div.list-group>a").on("click", function (e) {
        if ($(this).hasClass('facility-tab')) {
            document.location = $(this).attr('href');
            return false;
        }
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.mycustom-tab>div.mycustom-tab-content").removeClass("active");
            $("div.mycustom-tab>div.mycustom-tab-content").eq(index).addClass("active");

            var url = $(this).attr('href');

            //alert(url);
            if (url == '#') {
                e.preventDefault();
            } else {
                $("#pageloading").show();
                // $.blockUI();
                $('#loadPagePanel').html(defaultHtml).show();
                localStorage.setItem('lastLink', $(e.target).attr('href'));


                loadURL(url, $('#loadPagePanel'));

                $("#pageloading").hide();
            }

            return false;
    });



    function loadURL(a, b) {
        var host = document.location.host;

        //Check if the site is running on development machine
        if (host == "localhost:12027") {
            _path = location.protocol + '//' + location.host;
        } else {
            if (a.indexOf(serverrootFolder) == -1 && a.indexOf(rootFolder) == -1) {
                _path = location.protocol + '//' + location.host + serverrootFolder;
            }
        }
        //Check if the url ends with /
        if (a.indexOf("/") == 0) {
            a = _path + a;
        } else {
            a = _path + "/" + a;
        }

        $.ajax({
            "type": "GET",
            "url": a,
            "cache": !0,
            "success": function (a) {
                //alert(a);
                b.css({ "opacity": "0.0" }).html(a).delay(50).animate({ "opacity": "1.0" }, 300), a = null, b = null
            },
            "error": function (c, d, e, f) {
                //alert('Error' + a);
                b.html('<h4 class="ajax-loading-error"><i class="fa fa-warning txt-color-orangeDark"></i> Error requesting <span class="txt-color-red">' + a + "</span>: " + c.status + ' <span style="text-transform: capitalize;">' + e + "</span></h4>")
            }, "async": !0
        })
    }

    function openNext(url) {
        if (url == '#') {
            e.preventDefault();
        } else {
            $("#pageloading").show();
            // $.blockUI();
            $('#loadPagePanel').html(url).show();
            loadURL(url, $('#loadPagePanel'));

            $("#pageloading").hide();
        }
    }

</script>














@section scripts{

   <script type="text/javascript">

            var subjectId;
            $(document).ready(function () {
                $("#itemsDetailSection").hide(0);
                $("#ID").change(function () {
                    subjectId = $("#ID").val();
                    getEquipmentTable(subjectId,1);
                    $("#itemsDetailSection").show();
                });

            });



            function getEquipmentTable(subjectId,page) {
                $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
                if (parseInt(subjectId) > 0) {
                    document.location = '/Schools/Facility/?subjectId=' + subjectId
                }
                else {
                    $("#itemsDetailTable").html("No Subject selected yet.");
                }
            }
            function useOnBlur(d_id, elem) {
                var isSuccess = -1;

                //var Fac =
                //    {
                //        "FacilityID": d_id,
                //        "UserValue": d_user
                //    };
                if (elem.value == '') {
                    $(elem).parent().find('.message-output').stop().css('opacity', 1)
                        .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                    return;
                }
                $(elem).parent().find('.spinner-wrapper').show();
                $(elem).parent().find('.message-output').hide();
                var record_id = $(elem).attr('data-recordId');
                $.ajax({
                    url: "/Schools/SaveEquipment",
                    data: { dd: d_id, user: elem.value, record_id: record_id },
                    type: 'POST',
                    success: function (data) {
                        if (data.status == true) {
                            $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                            $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                                .addClass('text-success').html(data.message).show().fadeOut(10000);
                            $(elem).attr('data-recordId', data.recordId);
                            isSuccess = data;
                        } else {
                            $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                        }


                    }

                });

            };


</script>
}





