﻿@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@using WebGrease.Css.Extensions
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolEquipConfigViewModel>
@{
    ViewBag.Title = "EquipmentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    //it is fetched when a record is inserted


}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Equipment Facility</li>
</ol>

<div class="row">
<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
    @Html.Partial("_AssessmentPartial");
</div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
<!-- flight section -->
<div class="active">

@*@if (Session["SchoolID"] != null)
                    {*@

@Html.AntiForgeryToken()

<ul class="nav nav-tabs" style="margin: 20px;">

    <li class=active>
        <a data-toggle="tab" id="equipment">Equipment</a>
    </li>
    <li>
        <a data-toggle="tab" id="lab-record" data-href="@Url.Action("LaboratoryFacility", "Schools")">Laboratory</a>
    </li>
    <li>
        <a data-toggle="tab" id="reagent-record" href="" data-href="@Url.Action("ReagentFacility", "Schools")">Reagent</a>
    </li>


    @*<li>
                        <a data-toggle="tab" id="library-record" data-href="@Url.Action("LibraryFacility", "Schools")">Library</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="recreational-record" data-href="@Url.Action("RecreationalFacility", "Schools")">Recreational</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="examination-record" href="" data-href="@Url.Action("ExaminationFacility", "Schools")">ExaminationHall</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="assessment-record" href="" data-href="@Url.Action("AssessmentFacility", "Schools")">Assessment</a>
                    </li>*@

</ul>
<article class="tab-content" style="margin: 20px;">
    <section class="tab-pane fade in active" id="equipment">
        <div>
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                                    {*@
                <div class="form-group">
                    <label class="control-label col-md-2">Subject</label>
                    <div class="col-md-10">
                        @{
                            var subject = ViewBag.Subject as SubjectModel;
                        }
                        <span class="form-control">@subject.LongName</span>
                        <input type="hidden" name="subjectId" value="@subject.ID" id="subjectid"/>

                    </div>
                </div>
                <br/><br/>
                <div class="form-group">
                    <label class="control-label col-md-2">Reason</label>
                    <div class="col-md-10">
                        <textarea class="form-control" name="reason" id="reason">@ViewBag.Reason</textarea>
                    </div>
                </div>
                @*<div class="clearfix"></div>*@
                <div class="form-group">
                    <div id="itemsDetailSection">
                        <div id="itemsDetailTable"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                @if (Model.Count > 0)
                {

                    <section class="form-group">
                        <div class="table-responsive">

                            <div class="pull-right">
                                <p style="margin-right: 30px;">Total Records: <strong>@Model.TotalItemCount</strong>
                                </p>
                            </div>
                            <table class="table table-bordered" style="margin-top: 30px;">
                                <tr>

                                    <th>
                                        <a>Item Description</a>
                                    </th>

                                    <th>
                                        <a>Quantity Required</a>
                                    </th>

                                    <th>
                                        <a>Quantity seen</a>
                                    </th>
                                    <th>
                                        <a>Unit</a>
                                    </th>
                                    <th>
                                        <a>Grade</a>
                                    </th>
                                    <th>
                                        <a>Specification</a>
                                    </th>
                                    <th>
                                        &nbsp;
                                    </th>

                                </tr>
                                @{
                                    var counter = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ItemDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.QuantityRequired)
                                            @*@Html.DisplayFor(modelItem => item.UnitType)*@
                                        </td>

                                        <td>
                                            <div style="display: none;" id="textbox-wrapper-@item.Equipmentvalue_ID">
                                                <input data-recordid="0" type="text" id="inUser-@item.Equipmentvalue_ID" data-definition="@item.Unique_row" onblur="useOnBlur('@item.Unique_row', this);" value="@item.EquipmentValue" style="width: 120px;"> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                <span class="message-output"></span>
                                            </div>
                                            <span id="span-wrapper-@item.Equipmentvalue_ID">@item.EquipmentValue</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitType)
                                        </td>

                                        <td id="definition-@item.Unique_row" class="definition-column">
                                            @item.DigitValue
                                        </td>
                                        @*@Html.DisplayFor(modelItem => item.EquipmentValue)*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Specification)
                                            <input type="hidden" id="@item.FacilityCategoryID" name="FacilityCategoryID" value="@item.FacilityCategoryID"/>
                                        </td>
                                        <td>

                                            @Html.ActionLink("Edit", "EditItem", new {id = item.ID},new {@class="edit-item", data_editid=item.ID,data_subjectid=item.SubjectID}) |
                                            @Html.ActionLink("Details", "DetailsItem", new {id = item.ID}) |
                                            @Html.ActionLink("Delete", "DeleteItem", new {id = item.ID})



                                            @*<a style="color: blue; display: none;" class="save-item" id="save-item-@item.Equipmentvalue_ID" data-rowid="@item.Equipmentvalue_ID">Save</a>
                                                            <a style="color: blue; display: none;" class="cancel-item" id="cancel-item-@item.Equipmentvalue_ID" data-rowid="@item.Equipmentvalue_ID">Cancel</a>
                                                        <a style="color: blue;" class="edit-item" id="edit-item-@item.Equipmentvalue_ID" data-rowid="@item.Equipmentvalue_ID">Edit</a>
                                                             <a style="color: blue;" class="delete-item" id="delete-item-@item.Equipmentvalue_ID" data-rowid="@item.Equipmentvalue_ID">Delete</a>*@
                                        </td>
                                    </tr>

                                    counter++;
                                }
                                <tfoot>
                                <tr>

                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>

                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><strong>Total:</strong> <span id="total-grades">0</span> </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>



                                </tr>
                                </tfoot>
                            </table>
                            <br/>

                            <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId'/>
                            <input type='hidden' value='@Request.QueryString["totalgradds"]' id='totalgradds'/>
                            <input type="hidden" id="Equipmentvalue_ID" name="Equipmentvalue_ID" value="0"/>
                            <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0"/>
                            <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0"/>
                            <div id='Paging' style="text-align: center">
                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                of @Model.PageCount

                                @Html.PagedListPager(Model, page => Url.Action("FacilityTabbing", new {page, subjectid = ViewBag.subjectid}))
                                @*@Html.PagedListPager(Model, page => Url.Action("FacilityTabbing", new { page, subjectid = ViewBag.subjectid}))*@
                            </div>
                        </div>
                    </section>
                }
                else
                {
                    <div class="well" style="margin-top: 30px;">
                        <h3>Please select a subject to load items.</h3>
                    </div>
                }
                }
                @*else
                                    {
                                        <div class="well">Section is null</div>

                                    }*@
            </div>

        </div>


    </section>


</article>

@*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
</div>

</div>
</div>
</div>




<section id="EditItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update School Facility</h4>
            </div>
            <article class="modal-body">
              <section class="form-horizontal">
                    <div class="form-horizontal row">
                        <h4>Equipment Item</h4>
                        <hr/>
                        <div class="form-group">
                            <label class="col-md-2">Reason:</label>
                            <div class="col-md-10">
                                <input id="Reason" class="text-box single-line form-control" type="text" name="Reason">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">ItemDescription:</label>
                            <div class="col-md-10">
                                <input id="ItemDescription" Readonly="readonly" class="text-box single-line form-control" type="text" name="ItemDescription">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">QuantityRequired:</label>
                            <div class="col-md-10">
                                <input id="QuantityRequired" Readonly="readonly" class="text-box single-line form-control" type="text" name="QuantityRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">EquipmentValue:</label>
                            <div class="col-md-10">
                                <input id="EquipmentValue" class="text-box single-line form-control" type="text" name="EquipmentValue">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">DigitValue:</label>
                            <div class="col-md-10">
                                <input id="DigitValue" Readonly="readonly" class="text-box single-line form-control" type="text" name="DigitValue">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Updated by:</label>
                            <div class="col-md-10">
                                <input id="UpdatedBy" Readonly="readonly" class="text-box single-line form-control" type="text" name="UpdatedBy">
                            </div>
                        </div>

                      
                        
                        <div class="modal-footer">
                            <input type="hidden" id="edit-id" name="ID" />
                            <input type="submit" id="save-role" value="Save" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                   </div>

                </section>

            </article>

        </div>

    </div>
</section>

@section scripts{

    <script type="text/javascript">
        //use viewbag when a page is loading
        var subjectId;
        var bag = 0;
        var totalgrades = 0;
        var facilityCategoryId = 0;
        //bag += totalgrades;
        @*var resultgraded = '@ViewBag.gradds';*@
        //console.log(resultgraded);

        $(document).ready(function () {
            $("#itemsDetailSection").hide(0);
            //sumGrades();
            $("#ID").change(function () {
                subjectId = $("#ID").val();
                facilityCategoryId = $("#FacilityCategoryID").val();
                //getEquipmentTable(subjectId, 1, bag);
                $("#itemsDetailSection").show();
            });
            //$('.edit-item').on('click', function () {
            //    e.preventDefault();
            //    $(this).hide();
            //    $('#textbox-wrapper-' + $(this).data('rowid')).slideDown(500);
            //    $('#span-wrapper-' + $(this).data('rowid')).hide();
            //    $('#save-item-' + $(this).data('rowid')).show();
            //    $('#cancel-item-' + $(this).data('rowid')).show();
            //    $('#delete-item-' + $(this).data('rowid')).hide();
            //});
            $('.save-item').on('click', function () {
                e.preventDefault();
                //Save data to server
                $(this).hide();
                $('#textbox-wrapper-' + $(this).data('rowid')).slideUp(500);
                $('#span-wrapper-' + $(this).data('rowid')).show();
                $('#edit-item-' + $(this).data('rowid')).show();
                $('#cancel-item-' + $(this).data('rowid')).hide();
                $('#delete-item-' + $(this).data('rowid')).show();
            });
            $('.cancel-item').on('click', function (e) {
                e.preventDefault();
                //Save data to server
                $(this).hide();
                $('#textbox-wrapper-' + $(this).data('rowid')).slideUp(500);
                $('#span-wrapper-' + $(this).data('rowid')).show();
                $('#edit-item-' + $(this).data('rowid')).show();
                $('#save-item-' + $(this).data('rowid')).hide();
                $('#delete-item-' + $(this).data('rowid')).show();
            });




            function getEquipmentTable(subjectId, page, bag) {
                //console.log(bag + ' pastor');
                $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
                if (parseInt(subjectId) > 0) {
                    //+ddlrec + "&facid=" + ddlfaci + "&factext=" + textitem;
                    document.location = '/Recognition/Schools/FacilityTabbing/?subjectId=' + subjectId + "&totgrad=" + bag;
                    //document.location = '/Recognition/Schools/FacilityTabbing/?subjectId=' + subjectId + "&totgrad=" + bag;
                } else {
                    $("#itemsDetailTable").html("No Subject selected yet.");
                }
            }

            function useOnBlur(d_id, elem) {
                var isSuccess = -1;

                if (elem.value == '') {
                    $(elem).parent().find('.message-output').stop().css('opacity', 1)
                        .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                    $(elem).addClass('border-danger');
                    return;
                }
                $(elem).parent().find('.spinner-wrapper').show();
                $(elem).parent().find('.message-output').hide();
                var record_id = $(elem).attr('data-recordId');


                var definition = $(elem).attr('data-definition');
                console.log(definition);
                var subjectId = $("#subjectId").val();

                var totalComputed = $('#total-grades').html();
                var totalDbRecords = '@Model.TotalItemCount';

                $.ajax({
                    url: "/Schools/SaveEquipment",
                    //url: "/Recognition/Schools/SaveEquipment",
                    data: { dd: d_id, user: elem.value, record_id: record_id, subjectIds: subjectId, bagg: bag, totalDbRecords: totalDbRecords, totalComputed: totalComputed, facCategoryId: facilityCategoryId },
                    type: 'POST',
                    success: function (data) {
                        if (data.status == true) {

                            var definitionValue = 0;
                            switch (data.definition) {
                                case 'Excellent':
                                    definitionValue = 1;
                                    break;
                                default:
                                    definitionValue = 0;

                            }

                            $('td#definition-' + definition).html(definitionValue);
                            if (definitionValue === 1) {
                                $(elem).addClass('border-success').removeClass('border-danger');
                            } else {
                                $(elem).addClass('border-danger').removeClass('border-success');
                            }
                            $(elem).parent().find('.spinner-wrapper').hide();
                            $(elem).attr('data-recordId', data.recordId);
                            console.log(data);
                            isSuccess = data;
                            sumGrades(definitionValue);
                        } else {
                            $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                        }


                    }

                });

            };


            var totalgradds = parseInt('@ViewBag.totalgradess');
            $('#total-grades').html(totalgradds);
            $('.pagination-container .pagination').attr('data-totalgrades', totalgradds);

            function sumGrades(definitionValue) {
                var totalGrades = 0;

                $('.definition-column').each(function (index, gradeElement) {
                    totalGrades += parseInt($(gradeElement).html());
                });
                // var totalgradds = parseInt($('#total-grades').html());
                if (definitionValue >= 0) {
                    var totalComputed = totalgradds + totalGrades;
                    $('#total-grades').html(totalComputed);
                    $('.pagination-container .pagination').attr('data-totalgrades', totalComputed);
                }

            }

            // ,totalgradds=ViewBag.totalgradess
            $('.pagination-container .pagination a').on('click', function (e) {
                e.preventDefault();
                if ($(this).attr("href")) {
                    document.location = $(this).attr("href") + '&totalgradds=' + $('.pagination-container .pagination').data('totalgrades');
                }
            });
            $('#equipment').on('click', function () {
                document.location = $(this).attr("data-href");
            });


            $('#reagent-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });


            $('#lab-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $('#library-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $('#recreational-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#examination-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#assessment-record').on('click', function () {
                document.location = $(this).attr("data-href");
            });
        });

        $('.edit-item').on('click', function (e) {
            e.preventDefault();
            var getid = $(this).attr('data-editid');
            $('#subjectid').val($(this).attr('data-subjectid'));
            $.getJSON('/Schools/EditItem', { editid: getid }, function (response){
            //$.getJSON('/Recognition/Schools/EditItem', { editid: getid }, function (response) {
                $('#ItemDescription').val(response.ItemDescription);
                $('#QuantityRequired').val(response.QuantityRequired);
                $('#EquipmentValue').val(response.EquipmentValue);
                $('#DigitValue').val(response.DigitValue);
                $('#Reason').val('@ViewBag.Reason');
                $('#UpdatedBy').val('@TempData["Message"]');
                var digitval = $('#DigitValue').val();
                if (digitval == 0) {
                    $('#DigitValue').addClass('border-danger').removeClass('border-success');
                } else {
                    $('#DigitValue').addClass('border-success').removeClass('border-danger');
                }
                $('#EditItemModal').modal('show');
            });
        });
        $('#EquipmentValue').on('keyup', function() {
            var digitval = $(this).val();
            if (digitval < $('#QuantityRequired').val()) {
                $('#DigitValue').val('0').addClass('border-danger').removeClass('border-success');
            } else {
                $('#DigitValue').val('1').addClass('border-success').removeClass('border-danger');
            }
        });

    </script>
}










@*===========================*@



