﻿@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Models
@model  List<SchoolRecognitionSystem.Models.vwSchoolSubjectListing>

@{
    ViewBag.Title = "Assign State";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />


<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SubjectSectionPartial");
        </div>
        <section class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <div id="centre2">
                <span>@ViewBag.SchoolName</span> is successfully registered
            </div>

            <div id="centre2">
                The number of staff in school is <span>@ViewBag.StaffNumber</span>
            </div>
           <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    @*<label class="col-md-2">Subjects:</label>*@
                    <div class="col-md-10">
                        <div class="list-group" id="selected-states-wrapper" style="max-height: 400px; overflow-y: auto;">
                            
                            @foreach (var item in Model)
                            {
                                
                                    <section class="row list-group-item" style="background-color: #dff0d8;">
                                        <div class="col-md-11">
                                          <span>@item.LongName</span>
                                        </div>
                                        </section>
                               
                            }

                            <label>
                                <input type="submit" value="Send Email" id="saveid1" class="btn btn-sm btn-primary" />
                            </label>

                           <label>
                                @Html.ActionLink("Print Report", "PrintReport", new { sdc = ViewBag.SchoolID })

                                @*<input type="submit" value="Print Report" id="saveid2" data-schoolid="@ViewBag.SchoolID" style="display: none" class="btn btn-sm btn-primary glyphicon glyphicon-print" />*@
                            </label>


                           



                        </div>



                    </div>

                </div>

            </div>



        </section>
    </div>
</div>

                 








@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {

            var sch = $('#schoolid').val();
            ReloadSchoolSubject(sch);

        });
        //reload schoolName
        function ReloadSchoolSubject(schoolId) {
            var url = '@Url.Action("_schoolSubjects", "SchoolStaffs")';
            $("#SchoolSubjectList").load(url, { schid: schoolId });

        };
        //reload number of staff

        //reload school subject
    </script>

}






