﻿@model IEnumerable<SchoolRecognitionSystem.Models.vwGetSummary2>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SchoolProfileLayout.cshtml";
}

<h2>List of Schools</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.RatingLabel)
        </th>
      

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CenterNo)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RatingLabel)
            </td>
         

            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SCHOOLID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SCHOOLID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SCHOOLID })
            </td>*@
        </tr>
    }

</table>
