﻿
@{
    ViewBag.Title = "General School Details";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">School Details</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <h2><b>School Details</b></h2>
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                {*@

                    <p><b>School name:</b>@TempData["DisplaySchoolName"]</p>

                    @*<p><b>Principal Name:</b>@TempData["PrincipalName"]</p>*@

                    <p><b>No of SS2 student in the school</b>:@TempData["GetSchoolSS2"]</p>

                    <p><b>No of University Graduate:</b>@TempData["NumberOfDegreeHolder"]</p>

                    <p><b>No of Non-Degree:</b>@TempData["nonDegreeHolder"]</p>

                    <p><b>No of Teachers:</b>@TempData["totalTeachers"]</p>

                   
                    @Html.Partial("_GeneralSummaryPartialView");

                @*}
                else
                {
                    <div class="well">Section is null</div>

                }*@
            </div>
          
        </div>
    </div>
</div>
<script type="text/javascript">
    var defaultHtml = '<h2 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Loading...</h2> ';
    $("div.mycustom-tab-menu>div.list-group>a").on("click", function (e) {
        if ($(this).hasClass('facility-tab')) {
            document.location = $(this).attr('href');
            return false;
        }
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.mycustom-tab>div.mycustom-tab-content").removeClass("active");
            $("div.mycustom-tab>div.mycustom-tab-content").eq(index).addClass("active");

            var url = $(this).attr('href');

            //alert(url);
            if (url == '#') {
                e.preventDefault();
            } else {
                $("#pageloading").show();
                // $.blockUI();
                $('#loadPagePanel').html(defaultHtml).show();
                localStorage.setItem('lastLink', $(e.target).attr('href'));


                loadURL(url, $('#loadPagePanel'));

                $("#pageloading").hide();
            }

            return false;
    });



    function loadURL(a, b) {
        var host = document.location.host;

        //Check if the site is running on development machine
        if (host == "localhost:12027") {
            _path = location.protocol + '//' + location.host;
        } else {
            if (a.indexOf(serverrootFolder) == -1 && a.indexOf(rootFolder) == -1) {
                _path = location.protocol + '//' + location.host + serverrootFolder;
            }
        }
        //Check if the url ends with /
        if (a.indexOf("/") == 0) {
            a = _path + a;
        } else {
            a = _path + "/" + a;
        }

        $.ajax({
            "type": "GET",
            "url": a,
            "cache": !0,
            "success": function (a) {
                //alert(a);
                b.css({ "opacity": "0.0" }).html(a).delay(50).animate({ "opacity": "1.0" }, 300), a = null, b = null
            },
            "error": function (c, d, e, f) {
                //alert('Error' + a);
                b.html('<h4 class="ajax-loading-error"><i class="fa fa-warning txt-color-orangeDark"></i> Error requesting <span class="txt-color-red">' + a + "</span>: " + c.status + ' <span style="text-transform: capitalize;">' + e + "</span></h4>")
            }, "async": !0
        })
    }

    function openNext(url) {
        if (url == '#') {
            e.preventDefault();
        } else {
            $("#pageloading").show();
            // $.blockUI();
            $('#loadPagePanel').html(url).show();
            loadURL(url, $('#loadPagePanel'));

            $("#pageloading").hide();
        }
    }

</script>
