﻿
@{
    ViewBag.Title = "SearchCentre";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
@model PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolProfileViewModel1>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@*<div style="margin-left: 30px;">
    <ol class="breadcrumb">
        <li><i class="glyphicon"></i></li>
       <strong><li class="active">Subject Recognition</li></strong>
    </ol>
    <h2>SearchCentre</h2>
</div>*@


@*@{
    SchoolRecognitionSystem.Models.SchoolRecognitionType xy = new SchoolRecognitionSystem.Models.SchoolRecognitionType();
    SchoolRecognitionSystem.Models.SchoolProfileViewModel schid = new SchoolRecognitionSystem.Models.SchoolProfileViewModel();

}*@
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11  mycustom-tab-container">
        @*<div  style="margin-left: 30px;">
                <ol class="breadcrumb">
                    <li><i class="glyphicon glyphicon-plane"></i></li>
                    <li><a href="">General Recognition</a></li>
                    <li class="active">Subject Recognition</li>
                </ol>
                <h2>SearchPage</h2>
            </div>*@
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  mycustom-tab-menu">
            <div id="sel well" style="margin-left: 30px;">
                <section id="centreNumberWrapper">
                    <hr/>
                    @if (TempData["UserToSchoolError"] != null)
                    {
                        <div id="result" class="alert alert-success">
                            @TempData["UserToSchoolError"]
                        </div>
                    }

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">Centre Number:</div>
                            <div class="col-md-6">
                                <input type="text" name="centreNUmber" placeholder="Centre Number" onkeyup="if(this.value.length>2)ShowSchoolName();" id="centreNumber" class="form-control" />
                            </div>
                        </div>
                        <table id="searchtable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    @*<th>Category</th>*@
                                    <th>School Name</th>
                                    <th>CentreNo</th>
                                    <th>CentreName</th>
                                    <th>Location</th>
                                    <th>LGA</th>
                                    <th>State</th>
                                    <th>Email</th>
                                    <th>Created By</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    //int c = 1;
                                    var snn = (Model.PageNumber - 1) * Model.PageSize + 1;
                                }

                                @*@foreach (var item in Model)
                {
                        <tr>
                            <td>@sn</td>
                            <td>@item.Category</td>
                            <td>@item.SchoolName</td>
                            <td>@item.CentreNo</td>
                            <td>@item.CentreName</td>
                            <td>@item.SchoolLocation</td>
                            <td>@item.Name</td>
                            <td>@item.StateName</td>
                            <td>@item.EmailAddress</td>
                            <td>@item.WaecStaff</td>
                            <td>
                                <a class="btn btn-success btn-sm" href="@Url.Action("School","SchoolsEdit", new {sddc=item.ID, centernum = item.CentreNo})">Edit</a>

                            </td>
                        </tr>
                        //c++;
                        sn++;
                    }*@
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-offset-2 col-md-6 well">
                                <h3 id="showname" class="text-center">Enter center number above!</h3>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>


    </div>
</div>





<script type="text/javascript">
    var schid = 0;
    function ShowSchoolName() {
        var centreNumber = $('#centreNumber').val();
        $("#showname2").html('');
            $("#showname").html('Search school ' + centreNumber + '. Wait...');
            $.ajax({
                url: '/Schools/GetSchoolByCentre',
               // url: '@Url.Action("GetSchoolByCentre","Schools")',
                type: "POST",
                data: { centreNumber: centreNumber },
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                }
            });


    }

    function OnSuccess(response) {
        switch (response.exists) {
            case true:
                if (response.schools !== null && response.schools.length > 0) {
                    $("#searchtable > tbody").empty();

                    for (var i = 0; i < response.schools.length; i++) 
                    {
                        if ((response.schools[i].CentreNo != null) && (response.schools[i].Status == 1))
                        {
                            $("#searchtable > tbody").append(
                                '<tr>'
                                + '<td>' + (i + 1) + '</td>'
                                  //+ '<td>' + response.schools[i].Category + '</td>'
                                + '<td>' + response.schools[i].SchoolName + '</td>'
                                + '<td>' + response.schools[i].CentreNo + '</td>'
                                  + '<td>' + response.schools[i].CentreName + '</td>'
                                + '<td>' + response.schools[i].SchoolLocation + '</td>'
                                + '<td>' + response.schools[i].Name + '</td>'
                                + '<td>' + response.schools[i].StateName + '</td>'
                                + '<td>' + response.schools[i].EmailAddress + '</td>'
                                + '<td>' + response.schools[i].WaecStaff + '</td>'
                                + '    <td  bgcolor=white>'
                                + '        <a class="btn btn-success btn-sm" href="/SchoolsEdit/School/?sddc=' + response.schools[i].ID + '&centernum=' + response.schools[i].CentreNo + '">Edit</a>&nbsp;'
                                 + '        <a class="btn btn-success btn-sm" href="/SchoolsEdit/School/?sddc=' + response.schools[i].ID + '&centernum=' + response.schools[i].CentreNo + '">Add/Remove Subject</a>'
                                    + '</td>'

                                + '</tr>');
                        }
                        else if ((response.schools[i].CentreNo != null) && (response.schools[i].Status == 2))
                        {
                            $("#searchtable > tbody").append(
                                '<tr  style="color:red">'
                                + '<td>' + (i + 1) + '</td>'
                                //+ '<td>' + response.schools[i].Category + '</td>'
                                + '<td>' + response.schools[i].SchoolName + '</td>'
                                + '<td>' + response.schools[i].CentreNo + '</td>'
                                + '<td>' + response.schools[i].CentreName + '</td>'
                                + '<td>' + response.schools[i].SchoolLocation + '</td>'
                                + '<td>' + response.schools[i].Name + '</td>'
                                + '<td>' + response.schools[i].StateName + '</td>'
                                + '<td>' + response.schools[i].EmailAddress + '</td>'
                                + '<td>' + response.schools[i].WaecStaff + '</td>'
                                + '    <td  bgcolor=white>'
                                + '        <a class="btn btn-success btn-sm" href="/SchoolsEdit/School/?sddc=' + response.schools[i].ID + '&centernum=' + response.schools[i].CentreNo + '">Edit</a>'
                                + '        <a class="btn btn-success btn-sm" href="/SchoolsEdit/Subject/?sddc=' + response.schools[i].ID + '&centernum=' + response.schools[i].CentreNo + '">Add/Remove Subject</a>'
                                + '</td>'
                                + '</tr>');
                        } 
                        else 
                        {
                            if (response.schools[i].isRecognised != true) {
                                $("#searchtable > tbody").append(
                              '<tr  style="color:green">'
                              + '<td>' + (i + 1) + '</td>'
                              //+ '<td>' + response.schools[i].Category + '</td>'
                              + '<td>' + response.schools[i].SchoolName + '</td>'
                              + '<td>' + response.schools[i].CentreNo + '</td>'
                              + '<td>' + response.schools[i].CentreName + '</td>'
                              + '<td>' + response.schools[i].SchoolLocation + '</td>'
                              + '<td>' + response.schools[i].Name + '</td>'
                              + '<td>' + response.schools[i].StateName + '</td>'
                              + '<td>' + response.schools[i].EmailAddress + '</td>'
                              + '<td>' + response.schools[i].WaecStaff + '</td>'
                              + '    <td>'
                              + '        <a class="btn btn-success  btn-sm" href="/SchoolsEdit/School/?sddc=' + response.schools[i].ID + '&centernum=' + response.schools[i].CentreNo + '">Edit</a>'
                              + '        <a class="btn btn-success btn-sm" href="/SchoolsEdit/EditSubject/?sddc=' + response.schools[i].ID + '&centernum=' + response.schools[i].CentreNo + '">Add/Remove Subject</a>'
                              + '</td>'
                              + '</tr>');
                            }
                           
                       }
                        }
                       }

                break;
            default:
                $("#showname").html('No result found.').addClass('text-danger');

        }
    }

</script>







