﻿@model SchoolRecognitionSystem.Models.CountryModel           
@{
    ViewBag.Title = "Multi Select DropdownList Using jQuery in Asp.Net MVC";
}
<script src="~/Scripts/190jquery.min.js"></script>
<script src="~/Scripts/jquery.sumoselect.js"></script>
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
 <script type="text/javascript">
     $(document).ready(function () {
         window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 4 });
     });
    </script>
Country:
@Html.DropDownListFor(m => m.SelectedCountryId, new SelectList(Model.CountryList, "CountryName", "CountryName"), new {@multiple="multiple",@placeholder="Please select country", @class="SlectBox" })

