﻿@using PagedList.Mvc;
@using WebGrease.Css.Extensions
@model   IEnumerable<SchoolRecognitionSystem.Models.SchoolLibraryConfigModel>
@{
    ViewBag.Title = "EquipmentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    //it is fetched when a record is inserted


}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Equipment Facility</li>
</ol>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                @Html.AntiForgeryToken()


                <ul class="nav nav-tabs" style="margin: 20px;">

                    <li>
                        <a data-toggle="tab" id="generalview" data-href="@Url.Action("GeneralView", "Schools")">About School</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="schoolsubjectview" data-href="@Url.Action("SchoolSubjectView", "Schools")">Subject</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="classroomview" data-href="@Url.Action("ClassroomView", "Schools")">Classrrom</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="schoolstaffview" data-href="@Url.Action("SchoolStaffView", "Schools")">Staff</a>
                    </li>



                    <li>
                        <a data-toggle="tab" id="facilityview" data-href="@Url.Action("FacilityView", "Schools")">Facility</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="laboratoryview" data-href="@Url.Action("LaboratoryView", "Schools")">Laboratory</a>
                    </li>
                    <li class="active">
                        <a data-toggle="tab" id="libraryview" href="" data-href="@Url.Action("LibraryView", "Schools")">Library</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="recreationalview" href="" data-href="@Url.Action("RecreationalView", "Schools")">Recreational</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="examinationview" href="" data-href="@Url.Action("ExaminationView", "Schools")">Exam Hall</a>
                    </li>


                </ul>
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="lab-record2">
                        <div>
                            <!-- flight section -->
                            <div class="active">

                                @*@if (Session["SchoolID"] != null)
                                    {*@


                                <div class="form-group">
                                    <div id="itemsDetailSection">
                                        <div id="itemsDetailTable"></div>
                                    </div>
                                </div>

                                @if (Model.Any())
                                {

                                    <section class="form-group">
                                        <div class="table-responsive">


                                            <table class="table table-bordered" style="margin-top: 30px;">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>
                                                        <a>Item</a>
                                                    </th>

                                                    <th>
                                                        <a>Value</a>
                                                    </th>

                                                   
                                               



                                                </tr>
                                                @{
                                                    var counter = 1;
                                                }
                                                <input id="schoolid" type="hidden" value="@Request.QueryString["sdc"]" />
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.ID)</td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ItemDescription)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LibraryValue)
                                                        </td>
                                                        
                                                        @*<td>@Html.ActionLink("View Details", "Detail", new { id = item.SchoolID, schoolid = Request.QueryString["schoolid"] })*@

                                                    </tr>

                                                    counter++;
                                                }

                                            </table>
                                            <p class="pull-left">
                                                <input type="hidden" value="@Model.First().ID" id="hideid" />
                                               
                                            </p>
                                            <br />

                                            <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId' />


                                        </div>
                                    </section>
                                                    }
                                                    @*else
                                                        {
                                                            <div class="well" style="margin-top:30px;">
                                                                <h3>Please select a subject to load items.</h3>
                                                            </div>
                                                        }*@
                                                    @*}
                                                        else
                                                        {
                                                            <div class="well">Section is null</div>

                                                        }*@
                                                </div>

                                            </div>


                                        </section>


                                    </article>

                                    @*}
                                        else
                                        {
                                            <div class="well">Section is null</div>

                                        }*@
                                </div>

                            </div>
                        </div>
                    </div>

                    @section scripts{

                        <script type="text/javascript">

        $(document).ready(function() {
           // document.location = '/Assessment/FetchLaboratorySummary/?schoolid=' + ,

            //$('.approved').on("click", function() {
            //    var checkedboxes = [];
            //    $("input.save-radio:checked").each(function () {
            //        checkedboxes.push({
            //            'ID': $(this).data('id'),
            //            'Value': $(this).val()
            //        });


            //    });
            //    $.post('/Assessment/UpdateFacilitySummary', { radiobuttonvalues: checkedboxes }, function(response) {
            //        if (response.status === true) {
            //            alert('Classes saved successfully.');
            //        } else {
            //            alert('Error occurred while saving data');
            //        }
            //    });
            //});

            $('#save-radio').on("click", function () {

                var checkedboxes = [];
                $("input.approved:checked").each(function () {
                    checkedboxes.push({

                        'ID': $(this).data("id"),
                        'Value': $(this).val()
                    });


                });
                console.log(checkedboxes);
                $.post('/Assessment/UpdateFacilitySummary', { radiobuttonvalues: checkedboxes }, function (response) {
                    if (response.status === true) {
                        alert('Assessment done successfully.');
                    } else {
                        alert('Error occurred while saving data');
                    }
                });
            });


           // save - checkbox

       
            $('#generalview').on('click', function () {
                document.location = $(this).attr("data-href");
                console.log(document.location);
            });


            $('#schoolsubjectview').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $('#classroomview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#schoolstaffview').on('click', function () {
                document.location = $(this).attr("data-href");
                console.log(document.location);
            });

            $('#facilityview').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $('#laboratoryview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#libraryview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#recreationalview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#examinationview').on('click', function() {
                document.location = $(this).attr("data-href");
            });
        });
       

                        </script>
                    }



