﻿
@{
    ViewBag.Title = "Navigate";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

<h2>Navigate</h2>

@{
    ViewBag.Title = "Customer Report";
}

<p>This is the customer report</p>
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="col-md-10">
                <iframe src="@Url.Action("Pdf", "schools")" height="500" width="100%"></iframe>
            </div>
            <div class="col-md-2">
                <h3>Other page content</h3>
                <button type="button" class="btn btn-primary">Click here</button>
            </div>

        </div>
    </div>
</div>











