﻿@using SchoolRecognitionSystem.Controllers
@{
    ViewBag.Title = "New School Operation";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";

}
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SchoolProfilePartial")
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <ol class="breadcrumb">
                @Html.Partial("_CreateSchoolProfileBreadcrumbPartial")
            </ol>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
                  </div>
        </div>

         @Html.Hidden("schoolcreated", Request.QueryString["sddc"], new { id = "school-created" })
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
    var defaultHtml = '<h2 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Loading...</h2>';
    $("div.mycustom-tab-menu > div.list-group > a").on("oclick", function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.mycustom-tab>div.mycustom-tab-content").removeClass("active");
            $("div.mycustom-tab>div.mycustom-tab-content").eq(index).addClass("active");

            var url = $(this).attr('href');

            //alert("When clicked "+url);
            if (url === '#') {
                e.preventDefault();
            } else {
                $("#pageloading").show();
                // $.blockUI();
                $('#loadPagePanel').html(defaultHtml).show();
                localStorage.setItem('lastLink', $(e.target).attr('href'));

                url = url.substring(url.indexOf('/Schools/'));
                loadURL(url, $('#loadPagePanel'));

                $("#pageloading").hide();
            }

            return false;
    });
   
    $(function () {
        //init();
        $('a').css('cursor', 'pointer');

        //goto the last page if it exists
        var lastLink = localStorage.getItem('lastLink');
        if (lastLink == 'undefined') { return false; }
            if (lastLink == '#') {
                e.preventDefault();
            } else {
                $("#pageloading").show();
                // $.blockUI();
                $('#loadPagePanel').empty();
                $('#loadPagePanel').html(defaultHtml).show();
                loadURL("@Url.Action("_SchoolProfile","Schools", new {sddc = Request.QueryString["sddc"] })", $('#loadPagePanel'));
                $("#pageloading").hide();
            }
           
        
        return false;
    });

    function loadURL(a, b) {
       // var host = document.location.host;
        var _host = window.location;
        _path = _host.toString().substring(0, _host.toString().indexOf('/Schools'));

       // alert("href"+ $(this).attr('href'));
        //Check if the site is running on development machine
        //if (host == "localhost:12027") {
        //    _path = location.protocol + '//' + location.host;
        //} else {
        //    if (a.indexOf(serverrootFolder) == -1 && a.indexOf(rootFolder) == -1) {
        //        _path = location.protocol + '//' + location.host + serverrootFolder;
        //    }
        //}
        ////Check if the url ends with /
        if (a.indexOf("/") == 0) {
            a = _path + a;
        //} else {
           //a = _path + a;
        }
        //alert("B4 ajax call >" + a);
        $.ajax({
            "type": "GET",
            "url": a,
            "cache": !0,
            "success": function (a) {
                //alert(a);
                b.css({ "opacity": "0.0" }).html(a).delay(50).animate({ "opacity": "1.0" }, 300);
                a = null;
                b = null;
            },
            "error": function (c, d, e, f) {
                //alert('Error' + a);
                b.html('<h4 class="ajax-loading-error"><i class="fa fa-warning txt-color-orangeDark"></i> Error requesting <span class="txt-color-red">' + a + "</span>: " + c.status + ' <span style="text-transform: capitalize;">' + e + "</span></h4>")
            }, "async": !0
        })
    }

    function openNext(url) {
        if (url == '#') {
            e.preventDefault();
        } else {
            $("#pageloading").show();
            // $.blockUI();
            $('#loadPagePanel').html(url).show();
            loadURL(url, $('#loadPagePanel'));

            $("#pageloading").hide();
        }
    }

   
    </script>
}


