﻿@model IEnumerable<SchoolRecognitionSystem.Models.SchoolCentre>
@{
    ViewBag.Title = "ReadCentres";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    //var centres = ViewBag.Centres as string[];
}
<table class="table table-b">
    <tr><th>School Name</th> <th>Centre Number</th></tr>
    @foreach (var centre in Model)
    {
        <tr>
            <td>@centre.CentreName</td>
            <td>@centre.CentreNumber</td>
        </tr>
    }
</table>
