﻿<div data-ng-app="app">
    @{
        ViewBag.Title = "ReagentFacilityy";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    }
    @Scripts.Render("~/bundles/angularjs")
    <script src="~/Scripts/scriptz/elif.js"></script>
    @*<script src="~/Scripts/scriptz/angular.min.js"></script>
        <script src="~/Scripts/scriptz/schoolregistrationcontroller.js"></script>*@
    <ol class="breadcrumb">
        <li><i class="glyphicon glyphicon-plane"></i></li>
        @*<li><a href="#">New School</a></li>
            <li class="active">Reagent Facility</li>*@
    </ol>
    @*<h2>FacilityTabbing</h2>*@
    <div class="row" data-ng-controller="schoolregistrationcontroller as vm">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
                @Html.Partial("_SubjectSectionPartial");
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">

                @Html.AntiForgeryToken()
                <ul class="nav nav-tabs" style="margin: 20px;">
                    <li class=@ViewBag.HTab_Create>
                        <a data-toggle="tab" id="equipment" data-href="@Url.Action("FacilityTabbingg", "Schools")">Equipment</a>
                    </li>
                    <li class="active">
                        <a data-toggle="tab" id="reagent" data-reagentidd="2" data-href="@Url.Action("ReagentFacilityy", "Schools")">Reagent</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="lab-record" data-href="@Url.Action("LaboratoryFacility", "Schools")">Laboratory</a>
                    </li>
                    @*<li>
                        <a data-toggle="tab" id="library-record" data-href="@Url.Action("LibraryFacility", "Schools")">Library</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="recreational-record" data-href="@Url.Action("RecreationalFacility", "Schools")">Recreational</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="examination-record" href="" data-href="@Url.Action("ExaminationFacility", "Schools")">ExaminationHall</a>
                    </li>*@
                    @*<li>
                            <a data-toggle="tab" id="assessment-record" href="" data-href="@Url.Action("AssessmentFacility", "Schools")">Assessment</a>
                        </li>*@

                </ul>
                <input type="hidden" ng-model="vm.schid" value="@ViewBag.SchoolId"/>
                <article ng-init="vm.getschoolsubjects(@ViewBag.SchoolId)" class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="reagent2">
                        <div>
                            <div class="active">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Subject</label>
                                    <div class="col-md-10">
                                        <select class="form-control" ng-change="vm.getallreagents(vm.subjectid.ID)" id="ddsubjects" ng-options="s as s.LongName for s in vm.schoolsubjects" ng-model="vm.subjectid">
                                            <option value="0">--Select Subject--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div id="itemsDetailSection">
                                        <div id="itemsDetailTable"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <section ng-if="vm.allreagents.length<1 && vm.subjectid.LongName!=''" class="form-group">
                                    <h3>{{vm.subjectid.LongName}} has no Reagent Record</h3>
                                </section>

                                <section ng-if="vm.allreagents.length>0" class="form-group">
                                    <div class="table-responsive">
                                        <div class="pull-right">
                                            <p style="margin-right: 30px;">
                                                Total Records: <strong>{{vm.allreagents.length}}</strong>
                                            </p>
                                        </div>
                                        <table class="table table-bordered" style="margin-top: 30px;">
                                            <tr>
                                                <th>
                                                    <a>ID</a>
                                                </th>
                                                <th>
                                                    <a>Item Description</a>
                                                </th>
                                                <th>
                                                    <a>Quantity Required</a>
                                                </th>
                                                <th>
                                                    <a>Quantity seen</a>
                                                </th>
                                                <th>
                                                    <a>Unit</a>
                                                </th>
                                               @* <th>
                                                    <a>Grade</a>
                                                </th>*@
                                                <th>
                                                    <a>Specification</a>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="item in vm.items">
                                                <td>
                                                   {{((vm.pager.currentPage-1) * 20) + ($index+1)}}
                                                </td>
                                                <td>
                                                    {{item.ItemDescription}}
                                                </td>
                                                <td>
                                                    {{item.QuantityRequired}}
                                                </td>
                                                <td>
                                                    <input type="text" id="inUser"
                                                           ng-blur="vm.sumdigitvalue(item,item.ReagentValue)"
                                                           ng-model="item.ReagentValue"
                                                           value="{{item.ReagentValue}}">
                                                    <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                    <p class="message-output"></p>
                                                </td>
                                                <td>
                                                    {{item.UnitType}}
                                                </td>
                                               @* <td class="definition-column">
                                                    {{item.DigitValue=(item.ReagentValue >=item.QuantityRequired?1:0)}}
                                                </td>*@
                                                <td>
                                                    {{item.Specification}}
                                                </td>
                                            </tr>

                                            <tfoot>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                               @* <td><strong>Total:</strong> <span id="total-grades">{{vm.totaldigitvalue}}</span> </td>
                                               *@ <td>&nbsp;</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                        <br/>
                                        <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId'/>
                                        <input type='hidden' value='@Request.QueryString["totalgradds"]' id='totalgradds'/>
                                        <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0"/>
                                        <div id='Paging' style="text-align: center">
                                            @*<div ng-repeat="item in vm.items"></div>*@

                                            <!-- pager -->
                                            <ul ng-if="vm.pager.pages.length" class="pagination">
                                                <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                                    <a ng-click="vm.setPage(1,vm.allreagents)">First</a>
                                                </li>
                                                <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                                    <a ng-click="vm.setPage(vm.pager.currentPage - 1,vm.allreagents)">Previous</a>
                                                </li>
                                                <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                                                    <a ng-if="page < vm.pager.pages.length" ng-click="vm.setPage(page,vm.allreagents)">{{page}}</a>
                                                </li>
                                                <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                                    <a ng-click="vm.setPage(vm.pager.currentPage + 1,vm.allreagents)">Next</a>
                                                </li>
                                                <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                                    <a ng-click="vm.setPage(vm.pager.totalPages,vm.allreagents)">Last</a>
                                                </li>
                                            </ul>
                                            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                of @Model.PageCount

                                            @Html.PagedListPager(Model, page => Url.Action("ReagentFacility", new { page, subjectid = ViewBag.subjectid }))*@
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </article>

            </div>

        </div>
    </div>


</div>

<script>
    $('#equipment').on('click', function () {
        document.location = $(this).attr("data-href");
    });


    $('#reagent-record').on('click', function () {
        document.location = $(this).attr("data-href");
    });


    $('#lab-record').on('click', function () {
        document.location = $(this).attr("data-href");
    });

</script>