﻿@using PagedList.Mvc;
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.RecreationalViewModel>
@{
    ViewBag.Title = "RecreationalFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
@*<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">Recreational Facility</li>
</ol>*@
@*<h2>FacilityTabbing</h2>*@
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SchoolProfilePartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <ol class="breadcrumb">
                @Html.Partial("_CreateSchoolProfileBreadcrumbPartial")
            </ol>
            <ul class="nav nav-tabs" style="margin: 20px;">
                <li>
                    <a data-toggle="tab" data-library="0" id="library" data-href="@Url.Action("SchoolFacility", "Schools", new {sddc = Request.QueryString["sddc"]})">Library</a>
                </li>
                <li>
                    <a data-toggle="tab" id="examination-record" data-examination="0" data-href="@Url.Action("ExaminationFacility", "Schools", new {sddc = Request.QueryString["sddc"]})">Examination</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" id="recreational-record2" data-recreational="0" href="" data-href="@Url.Action("RecreationalFacility", "Schools", new {sddc = Request.QueryString["sddc"]})">Recreational</a>
                </li>

            </ul>
            @*@if (Session["SchoolID"] != null)
                {*@

            @Html.AntiForgeryToken()

            <article class="tab-content" style="margin: 20px;">
                <section class="tab-pane fade in active" id="recreational-record">
                    <div>
                        <!-- flight section -->
                        <div class="active">

                            @*@if (Session["SchoolID"] != null)
                                {*@

                            @*<div class="clearfix"></div>*@
                            <div class="form-group">
                                <div id="itemsDetailSection">
                                    <div id="itemsDetailTable"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            @if (Model.Count > 0)
                            {
                                <section class="form-group">
                                    <div class="table-responsive">

                                        <table class="table table-bordered" style="margin-top: 30px;">
                                            <tr>

                                                <th>
                                                    <a>Item Description</a>
                                                </th>


                                                <th>
                                                    <a>item value</a>
                                                </th>




                                            </tr>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ItemDescription)
                                                    </td>

                                                    @{
                                                        var itemId = item.ID != 0 ? item.ID : 0;
                                                    }
                                                    <td>
                                                        <input data-recordid="@itemId" type="text" id="inUser" onblur="useOnBlur('@item.SchoolRecreatConfig_ID', this);" value="@item.Value"> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                        <p class="message-output"></p>
                                                    </td>

                                                    @*@if (item.ItemDescription.Trim().Equals("Name of game teacher"))
                                                    {

                                                        <td>
                                                            <select name="" onblur="useOnBlur('@item.SchoolLabConfig_ID', this);">
                                                                <option value="">--Select--</option>
                                                                <option value="ADEQUATE">ADEQUATE</option>
                                                                <option value="NON-ADEQUATE">NON-ADEQUATE</option>
                                                            </select>
                                                            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i>
                                                            <p class="message-output"></p>
                                                        </td>

                                                        <td>
                                                           
                                                                @Html.DropDownList("StaffID", null,  "(select Staff)", htmlAttributes: new { @class = "form-control",@onblur= "useOnBlur('@item.SchoolRecreatConfig_ID', this);"})
                                                            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display:none;"></i>
                                                            <p class="message-output"></p>
                                                           
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <input data-recordid="0" type="text" id="inUser" onblur="useOnBlur('@item.SchoolRecreatConfig_ID', this);" value=""> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                            <p class="message-output"></p>
                                                        </td>
                                                    }*@

                                                    @*@Html.DisplayFor(modelItem => item.Value)*@
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.Specification)
                                                        </td>*@


                                                </tr>
                                            }
                                        </table>
                                        <div id='Paging' style="text-align: center">
                                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                            of @Model.PageCount

                                            @Html.PagedListPager(Model, page => Url.Action("RecreationalFacility", new {page}))
                                        </div>
                                    </div>
                                </section>
                            }
                            else
                            {
                                <div class="well" style="margin-top: 30px;">
                                    <h3>No record</h3>
                                </div>
                            }
                            @*}
                                else
                                {
                                    <div class="well">Section is null</div>

                                }*@
                        </div>

                    </div>


                </section>



            </article>

            @*}
                else
                {
                    <div class="well">Section is null</div>

                }*@
        </div>

    </div>
</div>



@section scripts{

    <script type="text/javascript">

        //var subjectId;
        //$(document).ready(function() {
        //    $("#itemsDetailSection").hide(0);
        //    $("#ID").change(function() {
        //        subjectId = $("#ID").val();
        //        getEquipmentTable(subjectId, 1);
        //        $("#itemsDetailSection").show();
        //    });

        //});


        //function getEquipmentTable(page) {
        //    $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
        //    if (parseInt(page) > 0) {
        //        document.location = '/Schools/RecreationalFacility/?page=' + page;
        //        //document.location = '/Recognition/Schools/LibraryFacility/?page=' + page;
        //    } else {
        //        $("#itemsDetailTable").html("No Record");
        //    }
        //}

        function useOnBlur(d_id, elem) {
            var isSuccess = -1;

            if (elem.value == '') {
                $(elem).parent().find('.message-output').stop().css('opacity', 1)
                    .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                return;
            }
            //$(elem).parent().find('.spinner-wrapper').show();
            //$(elem).parent().find('.message-output').hide();
            var recordid =  $(elem).attr('data-recordId');
            //alert(recordid);
            $.ajax({
                //url: "/Recognition/Schools/SaveRecreational",
                url:  '@Url.Action("SaveRecreational", "Schools")',
                data: { dd: d_id, user: elem.value, record_id: recordid },
                type: 'POST',
                success: function(data) {
                    if (data.status == true) {
                        $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                            .addClass('text-success').html(data.message).show().fadeOut(10000);
                        $(elem).attr('data-recordId', data.recordId);
                        isSuccess = data;
                    } else {
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                    }


                }

            });

        };

        $('#library').on('click', function () {
            document.location = $(this).attr("data-href");
        });


        $('#recreational-record2').on('click', function () {
            document.location = $(this).attr("data-href");
        });


        $('#examination-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });


    </script>

}










@*===========================*@



