﻿@model IEnumerable<SchoolRecognitionSystem.Models.LocalModel>
@foreach (var lga in Model)
{
    if (ViewBag.selectedId == "")
    {
        <option value="@lga.LgaID">@lga.Name</option>
    }
    else
    {
        if (ViewBag.selectedId == lga.StateID)
        {
            <option value="@lga.LgaID" selected="selected">@lga.Name</option>
        }
        else
        {
            <option value="@lga.LgaID">@lga.Name</option>
        }
    }
}


