﻿@using SchoolRecognitionSystem.Models
@model SchoolProfileViewModel


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">School Profile</li>
</ol>
@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div>
}

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial")
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">

            <form class="sky-form boxed" action="@Url.Action("SaveSchoolProfile", "Schools")" role="form" name="frmSchoolProfile" method="POST" id="frmSchoolProfile" enctype="multipart/form-data">
                @*<header>
                <i class="fa fa-exchange text-orange"></i> <span class="small"></span><b> @Session["SchoolInfo"] :: New </b>  &raquo;@ViewBag.Title

            </header>*@

                <div id="result" class="alert" style="display: none">
                </div>

                @Html.AntiForgeryToken()
                <div class="col-md-5">
                    <fieldset class="nomargin">
                        <legend>
                            School Profile
                        </legend>
                        <div class="col-md-12 col-sm-12">
                            @Html.LabelFor(m => m.CategoryID, new { @class = "label" })
                            <div class="">
                                @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryList as SelectList, "(select Category)",
            new Dictionary<string, object> { { "class", "form-control" } })
                                @Html.ValidationMessageFor(model => model.CategoryID)
                            </div>
                        </div>


                        @*<input type="text" ID="txtUserName" onblur="ShowAvailability()" onkeyup="OnChange(this)"/>
                    &nbsp;
                    <span id="mesg"></span>
                    <br/>*@




                        <br />
                        <div class="col-md-12 col-sm-12">
                            @Html.LabelFor(m => m.SchoolName, new { @class = "label" })
                            <div class="input">
                                <i class="ico-append fa fa-building"></i>

                                @*@Html.TextBoxFor(m => m.SchoolName, new { onblur = "ShowAvailability();", onkeyup = "OnChange(this)" })*@

                                @*@Html.TextBoxFor(m => m.SchoolName, new { onkeyUp = "ShowAvailability()" })*@


                                @Html.TextBoxFor(m => m.SchoolName, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--School Name--" } })

                                <span id="mesg"></span>
                                <span class="tooltip tooltip-top-right">Enter School Name</span>
                                @Html.ValidationMessageFor(model => model.SchoolName)
                            </div>
                            @*<div id="divoutput"></div>*@
                        </div>
                        <div class="col-md-12 col-sm-12">
                            @Html.LabelFor(m => m.SchoolLocation, new { @class = "label" })
                            <div class="input">
                                <i class="ico-append fa fa-location-arrow"></i>
                                @Html.TextBoxFor(m => m.SchoolLocation, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--School Location--" } })
                                <span class="tooltip tooltip-top-right">Enter School Location</span>
                                @Html.ValidationMessageFor(model => model.SchoolLocation)
                            </div>
                        </div>
                        <div id="checkName" class="mylink"></div>


                        <div class="col-md-6">
                            @Html.LabelFor(m => m.StateID, new { @class = "label" })

                            <div class="">
                                @*@Html.TextBoxFor(m => m.StateID,  new {@readonly = true, @class="form-control", value = TempData["StateName"] } )*@
                                <input class="form-control" data-val="true"
                                       data-val-number="The field State of School must be a number."
                                       data-val-required="Required" id="StateID"
                                       name="StateID" readonly="True" type="text" data-stateid="@TempData["StateID"]" value="@TempData["StateName"]">
                                @*@Html.DropDownListFor(model => model.StateID, ViewBag.StatesList as SelectList, "(select School State)",
                            new Dictionary<string, object> { { "class", "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.StateID)
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.LgaID, new { @class = "label" })
                            <div class="">
                                <select id="LgaID" name="LgaID" @*onkeyup="OnChange(this)"*@ class="form-control">
                                    <option value="0" selected="selected">(select LGA)</option>
                                </select>
                                @*onblur="ShowAvailability()" onchange = "OnChange(this)"*@

                            </div>
                        </div>



                        <div class="col-md-8 col-sm-8">
                            @Html.LabelFor(m => m.YearEstablished, new { @class = "label" })
                            <div class="">
                                @Html.DropDownListFor(model => model.YearEstablished, ViewBag.AvailableYears as SelectList, "(select Year)",
  new Dictionary<string, object> { { "class", "form-control" } })
                                @Html.ValidationMessageFor(model => model.YearEstablished)
                                <span class="tooltip tooltip-top-right">Select the Year Established</span>
                            </div>
                        </div>

                        <div class="col-md-8">
                            @Html.LabelFor(m => m.AproximateLandArea, new { @class = "label" })
                            <div class="input">
                                <i class="ico-append fa fa-map-pin"></i>
                                @Html.TextBoxFor(m => m.AproximateLandArea, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Aproximate Land Area--" } })
                                <span class="tooltip tooltip-top-right">Enter Aproximate Land Area</span>
                                @Html.ValidationMessageFor(model => model.AproximateLandArea)
                            </div>
                        </div>
                        <input type="hidden" id="UserID" name="UserID" value="@Session["UserID"]" />
                        <input type="hidden" id="ID" name="ID" value="0" />
                        <input type="hidden" id="CentreNo" name="CentreNo" value="0" />
                    </fieldset>

                    <div id="loadList" class="mylink"></div>

                    <footer>
                        <button type="button" id="btnSave" class="btn btn-primary btn-sm pull-right"><i class="fa fa-add"></i> Save and Next</button>

                        <button type="button" class="btn btn-amber btn-sm pull-right" aria-hidden="true" id="btnClose" onclick="javascript: window.close();">Close</button>
                    </footer>
                </div>

                <div class="col-md-7">
                    <div class="col-md-12 col-sm-12">
                        <label class="checkbox nomargin"><input type="checkbox" value="true" name="IsJointProprietorship" id="IsJointProprietorship"><i></i>@Html.DisplayNameFor(x => x.IsJointProprietorship)</label>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <label class="checkbox nomargin"><input type="checkbox" value="true" name="IsLandAreaAdequate" id="IsLandAreaAdequate"><i></i>@Html.DisplayNameFor(x => x.IsLandAreaAdequate)</label>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label class="checkbox nomargin"><input type="checkbox" value="true" name="IsSchoolFencedRound" id="IsSchoolFencedRound"><i></i>@Html.DisplayNameFor(x => x.IsSchoolFencedRound)</label>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <label class="checkbox nomargin"><input type="checkbox" value="true" name="isCurricullumAvailable" id="isCurricullumAvailable"><i></i>@Html.DisplayNameFor(x => x.isCurricullumAvailable)</label>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label class="checkbox nomargin"><input type="checkbox" value="true" name="isClassRegistersAvaialable" id="isClassRegistersAvaialable"><i></i>@Html.DisplayNameFor(x => x.isClassRegistersAvaialable)</label>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <label class="checkbox nomargin"><input type="checkbox" value="true" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble"><i></i>@Html.DisplayNameFor(x => x.isDiaryofWorksAvaialble)</label>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <label class="checkbox nomargin"><input type="checkbox" value="true" name="IsScheemOfWorkAvailable" id="IsScheemOfWorkAvailable"><i></i>@Html.DisplayNameFor(x => x.IsScheemOfWorkAvailable)</label>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label class="checkbox nomargin"><input type="checkbox" value="true" name="IsAdmissionRegisterAvailable" id="IsAdmissionRegisterAvailable"><i></i>@Html.DisplayNameFor(x => x.IsAdmissionRegisterAvailable)</label>
                    </div>

                    <div class="col-md-12">
                        @Html.LabelFor(m => m.OtherSpecify, new { @class = "label" })
                        <div class="input">
                            <i class="ico-append fa fa-file"></i>
                            @Html.TextAreaFor(m => m.OtherSpecify, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "--Others Details (Specify)--" } })
                            <span class="tooltip tooltip-top-right">Other Details (Specify)</span>
                            @Html.ValidationMessageFor(model => model.OtherSpecify)
                        </div>
                    </div>




                </div>

            </form>
        </div>


    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var defaultHtml = '<h2 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> Loading...</h2> ';
        $(function() {
            init();
            $("div.mycustom-tab-menu>div.list-group>a").on("click", function(e) {
                e.preventDefault();
                var alertShown = false;
                $(this).removeClass('finished');
                if (!$(this).prev().hasClass("finished") && $(this).index() !== 0) {
                    if (alertShown === false) {
                        alertShown = true;
                        alert("Please complete previous step before continuing here.");
                    }

                } else {
                    $(this).siblings('a.active').removeClass("active");
                    $(this).addClass("active");
                    var index = $(this).index();
                    $("div.mycustom-tab>div.mycustom-tab-content").removeClass("active");
                    $("div.mycustom-tab>div.mycustom-tab-content").eq(index).addClass("active");

                    var url = $(this).attr('href');

                    //alert("When clicked "+url);
                    if (url == '#') {
                        e.preventDefault();
                    } else {
                        $("#pageloading").show();
                        // $.blockUI();
                        $('#loadPagePanel').html(defaultHtml).show();
                        localStorage.setItem('lastLink', $(e.target).attr('href'));

                        url = url.substring(url.indexOf('/Schools/'));
                        loadURL(url, $('#loadPagePanel'));

                        $("#pageloading").hide();
                    }
                }
                return false;
            });


        });

        function init() {
            $('a').css('cursor', 'pointer');

            //goto the last page if it exists
            var lastLink = localStorage.getItem('lastLink');
            if (lastLink === 'undefined') {
                return null;
            }
            if (lastLink) {
                if (lastLink === '#') {
                    e.preventDefault();
                } else {
                    $("#pageloading").show();
                    // $.blockUI();
                    $('#loadPagePanel').html(defaultHtml).show();
                    loadURL("/Schools/_ActionPerform", $('#loadPagePanel'));

                    $("#pageloading").hide();
                }


            }
        }

        function loadURL(a, b) {
            // var host = document.location.host;
            var _host = window.location;
            _path = _host.toString().substring(0, _host.toString().indexOf('/Schools'));

            // alert("href"+ $(this).attr('href'));
            //Check if the site is running on development machine
            //if (host == "localhost:12027") {
            //    _path = location.protocol + '//' + location.host;
            //} else {
            //    if (a.indexOf(serverrootFolder) == -1 && a.indexOf(rootFolder) == -1) {
            //        _path = location.protocol + '//' + location.host + serverrootFolder;
            //    }
            //}
            ////Check if the url ends with /
            if (a.indexOf("/") == 0) {
                a = _path + a;
                //} else {
                //a = _path + a;
            }
            //alert("B4 ajax call >" + a);
            $.ajax({
                "type": "GET",
                "url": a,
                "cache": !0,
                "success": function(a) {
                    //alert(a);
                    b.css({ "opacity": "0.0" }).html(a).delay(50).animate({ "opacity": "1.0" }, 300), a = null, b = null
                },
                "error": function(c, d, e, f) {
                    //alert('Error' + a);
                    b.html('<h4 class="ajax-loading-error"><i class="fa fa-warning txt-color-orangeDark"></i> Error requesting <span class="txt-color-red">' + a + "</span>: " + c.status + ' <span style="text-transform: capitalize;">' + e + "</span></h4>")
                },
                "async": !0
            });
        }

        function openNext(url) {
            if (url == '#') {
                e.preventDefault();
            } else {
                $("#pageloading").show();
                // $.blockUI();
                $('#loadPagePanel').html(url).show();
                loadURL(url, $('#loadPagePanel'));

                $("#pageloading").hide();
            }
        }






    </script>

}

















<script type="text/javascript">
    $(document).ready(function() {
        $("#StateID").on("change", function() {
            var id = $('#StateID').data('stateid');
            var baseUrl = '@Url.Content("~/")';
                var url = baseUrl + "api/recog/GetLgas";
                var markup = "<option value='0' selected='selected'>--select LGA--</option>";
                $("#LgaID").html(markup).show();
                $.get(url, { StateID: id }, function(data) {
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            markup += "<option value='" + data[i].Id + "'>" + data[i].Name + "</option>";
                        }

                        $("#LgaID").html(markup).show();
                    }
                });
            });
            $("#StateID").trigger('change');
    });






    $("#btnSave").click(function () {
        var nextUrl = '@Url.Action("Subjects", "Schools")';
        if ($("#CategoryID").val() == "") {
            alert('category is required');
            return false;
        }else if ($("#SchoolName").val() == "") {
            alert('SchoolName is required');
            return false;
        }
        else if ($("#SchoolLocation").val() == "") {
            alert('SchoolLocation is required');
            return false;
        }
        else if ($("#YearEstablished").val() == "") {
            alert('YearEstablished is required');
            return false;
        }
        else  if ($("#LgaID").val() == "") {
            alert('Lga is required');
            return false;
        }
        else if ($("#AproximateLandArea").val() == "") {
            alert('Aproximate Land Area is required');
            return false;
        }


        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveSchoolProfile", "Schools")',
            data: {
                ID: $("#ID").val(),
                CategoryID: $("#CategoryID").val(),
                SchoolName: $("#SchoolName").val(),
                CentreNo: $("#CentreNo").val(),
                SchoolLocation: $("#SchoolLocation").val(),
                StateID:$('#StateID').attr('data-stateid'),
                //StateID: $("#StateID").val(),
                LgaID: $("#LgaID").val(),
                YearEstablished: $("#YearEstablished").val(),
                IsJointProprietorship: $("#IsJointProprietorship").val(),
                AproximateLandArea: $("#AproximateLandArea").val(),
                IsLandAreaAdequate: $("#IsLandAreaAdequate").val(),
                IsSchoolFencedRound: $("#IsSchoolFencedRound").val(),
                IsAdmissionRegisterAvailable: $("#IsAdmissionRegisterAvailable").val(),
                isClassRegistersAvaialable: $("#isClassRegistersAvaialable").val(),
                isDiaryofWorksAvaialble: $("#isDiaryofWorksAvaialble").val(),
                isCurricullumAvailable: $("#isCurricullumAvailable").val(),
                IsScheemOfWorkAvailable: $("#IsScheemOfWorkAvailable").val(),
                OtherSpecify: $("#OtherSpecify").val()
            },
            success: function(data) {
                if (data != null) {
                    alert(data);
                    //Open the next tab
                    //openNext(nextUrl);
                    document.location.href = "@Url.Action("Subjects", "Schools")";
                }
            },
            error: function() {
                alert("Error while submitting school profile");
            }
        });
        return false;
    });


   
    function ShowAvailability() {
        var schoolName = $('#SchoolName').val();
        var schoollocation = $('#SchoolLocation').val();
        console.log(schoollocation);
        $.ajax({
            url: '/Schools/CheckIfSchoolNameExists',
            type: "POST",
            data: { schoolname: schoolName, local: schoollocation },
            success: OnSuccess,
            failure: function (response) {
                alert(response);
            }
        });
    }
    function OnSuccess(response) {
        var mesg = $("#mesg")[0];

        switch (response.exists) {

            case true:
                mesg.style.color = "red";
                mesg.innerHTML = "Oops!the school by local govt. is already created";
                console.log(response.exists);
                break;
                //case false:
                //    mesg.style.color = "green";
                //    mesg.innerHTML = "the school is not ";
                //    break;
            case "error":
                mesg.style.color = "red";
                mesg.innerHTML = "Error occured";
                break;
        }
    }
    function OnChange(txt) {
        $("#mesg")[0].innerHTML = "";
    }


</script>




