﻿@model PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolProfileViewModel1>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<div class="container-fluid">
    <h2>Schools Details</h2>
    @if (Model.Count > 0)
    {
        <section class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>LGA</th>
                        <th>State</th>
                        <th>Created By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var sn = (Model.PageNumber - 1) * Model.PageSize + 1;
                    }
                    @foreach (var item in Model)
                {
                        <tr>
                            <th>@sn</th>
                            <td>@item.Category</td>
                            <td>@item.SchoolName</td>
                            <td>@item.SchoolLocation</td>
                            <td>@item.Name</td>
                            <td>@item.StateName</td>
                            <td>@TempData["Message"]</td>
                            <td>
                                <a class="btn btn-success btn-sm" href="@Url.Action("School","SchoolsEdit", new {sddc=item.ID})">Edit</a>
                                <a class="btn btn-primary btn-sm" href="@Url.Action("School","SchoolsEdit", new {sddc=item.ID})">Details</a>

                            </td>
                        </tr>
                        sn++;
                    }
                </tbody>
            </table>
            <div id='Paging' style="text-align: center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

            </div>
        </section>
                        }
</div>
