﻿@model IEnumerable<SchoolRecognitionSystem.Models.SchoolStaffList>
@{
    ViewBag.Title = "SchooStafflRecords";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">School</a></li>
    <li class="active">School Staff</li>
</ol>

@*@if (TempData["Information"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["Information"]
            </span>
        </div> }*@

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial")
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <ul class="nav nav-tabs" style="margin: 20px;">

                <li>
                    <a data-toggle="tab" id="generalview" data-href="@Url.Action("GeneralView", "Schools")">About School</a>
                </li>
                <li>
                    <a data-toggle="tab" id="schoolsubjectview" data-href="@Url.Action("SchoolSubjectView", "Schools")">Subject</a>
                </li>
                <li>
                    <a data-toggle="tab" id="classroomview" data-href="@Url.Action("ClassroomView", "Schools")">Classrrom</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" id="schoolstaffview" data-href="@Url.Action("SchoolStaffView", "Schools")">Staff</a>
                </li>



                <li>
                    <a data-toggle="tab" id="facilityview" data-href="@Url.Action("FacilityView", "Schools")">Facility</a>
                </li>

                <li>
                    <a data-toggle="tab" id="laboratoryview" data-href="@Url.Action("LaboratoryView", "Schools")">Laboratory</a>
                </li>
                <li>
                    <a data-toggle="tab" id="libraryview" href="" data-href="@Url.Action("LibraryView", "Schools")">Library</a>
                </li>
                <li>
                    <a data-toggle="tab" id="recreationalview" href="" data-href="@Url.Action("RecreationalView", "Schools")">Recreational</a>
                </li>
                <li>
                    <a data-toggle="tab" id="examinationview" href="" data-href="@Url.Action("ExaminationView", "Schools")">Exam Hall</a>
                </li>


            </ul>

            <div class="active">
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="schoolstaff">
                        <div class="mycustom-tab">
                            <!-- flight section -->
                            <div class="active">
                                <h2><strong>List of Teachers</strong></h2>
                                <p style="color: green; font-weight: bold">@ViewBag.Success</p>
                                @*@if (Session["SchoolID"] != null)
                                    {*@
                                @*<h2>Index</h2>*@

                                @*<p>
                                        @Html.ActionLink("", "Create")
                                    </p>*@
                                <section></section>
                                <table class="table table-bordered">
                                    <tr>
                                        <th>
                                            Name Of Teachers
                                        </th>
                                        <th>
                                            Degrees/Qualifications
                                        </th>
                                        <th>
                                            Subjects Taught
                                        </th>

                                        @*<th>
                                                Other Degrees
                                            </th>*@
                                        <th>
                                            Has TRCN
                                        </th>

                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Staff.FirstName)
                                                @Html.DisplayFor(modelItem => item.Staff.LastName)
                                            </td>

                                            @*<td>
                                                    @foreach (var degree in item.SchoolStaffDegreeList)
                                                    {
                                                        <div>@degree.DegreeType</div>
                                                    }
                                                </td>*@
                                            <td>
                                                @foreach (var qualification in item.SchoolStaffDegreeList)
                                                {
                                                    <div>@qualification.DegreeType</div>
                                                    <div>@qualification.OtherDegree</div>
                                                    <div>@qualification.CourseTitle</div>
                                                }
                                            </td>
                                            <td>
                                                @foreach (var subjectTaught in item.SchoolStaffSubjectTaughtList)
                                                {
                                                    <div>@subjectTaught.SubjectLongName</div>
                                                }
                                            </td>


                                            @*<td>
                                                    @foreach (var otherDegree in item.SchoolStaffOtherDegreeList)
                                                    {
                                                        <div>@otherDegree.OtherDegree</div>
                                                    }
                                                </td>*@
                                            <td>
                                                @item.Staff.isTRCN
                                            </td>
                                        </tr>
                                    }

                                </table>

                                @*}
                                            else
                                            {
                                        <div class="well">Section is null</div>

                                    }*@

                            </div>

                        </div>
                    </section>
                </article>

            </div>
        </div>
    </div>
@section scripts{
    <script>
      
        $('#generalview').on('click', function () {
            document.location = $(this).attr("data-href");
            console.log(document.location);
        });


        $('#schoolsubjectview').on('click', function () {
            document.location = $(this).attr("data-href");
        });

        $('#classroomview').on('click', function () {
            document.location = $(this).attr("data-href");
        });
        $('#schoolstaffview').on('click', function () {
            document.location = $(this).attr("data-href");
            });

        $('#facilityview').on('click', function () {
            document.location = $(this).attr("data-href");
        });

        $('#laboratoryview').on('click', function () {
            document.location = $(this).attr("data-href");
        });
        $('#libraryview').on('click', function () {
            document.location = $(this).attr("data-href");
        });
        $('#recreationalview').on('click', function () {
            document.location = $(this).attr("data-href");
        });
        $('#examinationview').on('click', function() {
            document.location = $(this).attr("data-href");
        });
       
    </script>
}