﻿
@model   List<SchoolRecognitionSystem.Models.SchoolSubjectList>

@{
    ViewBag.Title = "SchoolSubject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">TextBook</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <ul class="nav nav-tabs" style="margin: 20px;">

                <li>
                    <a data-toggle="tab" id="generalview" data-href="@Url.Action("GeneralView", "Schools")">About School</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" id="schoolsubjectview" data-href="@Url.Action("SchoolSubjectView", "Schools")">Subject</a>
                </li>
                <li>
                    <a data-toggle="tab" id="classroomview" data-href="@Url.Action("ClassroomView", "Schools")">Classrrom</a>
                </li>
                <li>
                    <a data-toggle="tab" id="schoolstaffview" data-href="@Url.Action("SchoolStaffView", "Schools")">Staff</a>
                </li>



                <li>
                    <a data-toggle="tab" id="facilityview" data-href="@Url.Action("FacilityView", "Schools")">Facility</a>
                </li>

                <li>
                    <a data-toggle="tab" id="laboratoryview" data-href="@Url.Action("LaboratoryView", "Schools")">Laboratory</a>
                </li>
                <li>
                    <a data-toggle="tab" id="libraryview" href="" data-href="@Url.Action("LibraryView", "Schools")">Library</a>
                </li>
                <li>
                    <a data-toggle="tab" id="recreationalview" href="" data-href="@Url.Action("RecreationalView", "Schools")">Recreational</a>
                </li>
                <li>
                    <a data-toggle="tab" id="examinationview" href="" data-href="@Url.Action("ExaminationView", "Schools")">Exam Hall</a>
                </li>



            </ul>


            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                <div class="clearfix"></div>
                <section class="form-group">
                    <div class="table-responsive">
                        <h3>School Subjects with attached/checked textbooks</h3>
                        <table class="table table-bordered" id="kim" style="margin-top: 30px;">
                            <thead>
                                <tr>
                                    <th>
                                        <a>Compulsory Subject</a>
                                    </th>

                                    <th>
                                        <a>Trade Subject</a>
                                    </th>
                                    <th>
                                        <a>Others</a>
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @foreach (var sub in item.SchoolCompulsorySubject)
                                            {
                                                <div>
                                                    <span>@sub.LongName</span>
                                                    <span>
                                                        @if (sub.isTextBookAttached)
                                                        {
                                                            <input type="checkbox" checked="checked" disabled="" value="@sub.isTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" disabled="" value="@sub.isTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                        }
                                                    </span>
                                                </div>


                                            }
                                        </td>

                                        <td>
                                            @foreach (var sub in item.SchoolLeastTradeSubject)
                                            {
                                                <div>
                                                    <span>@sub.LongName</span>
                                                    <span>
                                                        @if (sub.isTextBookAttached)
                                                        {
                                                            <input type="checkbox" disabled="" checked="checked" readonly="" value="@sub.isTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" disabled="" value="@sub.isTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                        }
                                                    </span>
                                                </div>

                                            }
                                        </td>
                                        <td>
                                            @foreach (var sub in item.Subject)
                                            {
                                                <div>
                                                    <span>@sub.LongName</span>
                                                    <span>
                                                        @if (sub.isTextBookAttached)
                                                        {
                                                            <input type="checkbox" disabled="" checked="checked" readonly="" value="@sub.isTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" disabled="" value="@sub.isTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                        }
                                                    </span>
                                                </div>
                                            }

                                        </td>
                                       


                                    </tr>
                                }
                                @*<tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <span id="total-grades">0</span>
                                        </td>
                                    </tr>*@
                            </tbody>

                        </table>
                        <br />
                    </div>
                </section>



                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>

        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">

        $(document).ready(function() {
            $('#save-subjectList').on('click', function (e) {
                e.preventDefault();
                if ($('input[name="approved"]').is(':checked')) {
                    var schoolid = '@ViewBag.Schoolid';
                    $.post('/Assessement/ApproveSchoolSubjectList', function() {

                    });
                } else {
                    alert('Please check the approved.');
                };
            });



            $('#generalview').on('click', function () {
                document.location = $(this).attr("data-href");
                console.log(document.location);
            });


            $('#schoolsubjectview').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $('#classroomview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#schoolstaffview').on('click', function () {
                document.location = $(this).attr("data-href");
                console.log(document.location);
            });

            $('#facilityview').on('click', function () {
                document.location = $(this).attr("data-href");
            });

            $('#laboratoryview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#libraryview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#recreationalview').on('click', function () {
                document.location = $(this).attr("data-href");
            });
            $('#examinationview').on('click', function () {
                document.location = $(this).attr("data-href");
            });

        });
    </script>

}





