﻿
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
@model SchoolRecognitionSystem.Models.SchoolRecognitionType

<div style="margin-left: 30px;">
    <ol class="breadcrumb">
        <li><i class="glyphicon"></i></li>
        @*<li><a href="">General Recognition</a></li>*@
        <strong><li class="active">Subject Recognition</li></strong>
    </ol>
    <h2>SearchPage</h2>
</div>


@{
    SchoolRecognitionSystem.Models.SchoolRecognitionType xy = new SchoolRecognitionSystem.Models.SchoolRecognitionType();
    SchoolRecognitionSystem.Models.SchoolProfileViewModel schid = new SchoolRecognitionSystem.Models.SchoolProfileViewModel();

}
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11  mycustom-tab-container">
        @*<div  style="margin-left: 30px;">
                <ol class="breadcrumb">
                    <li><i class="glyphicon glyphicon-plane"></i></li>
                    <li><a href="">General Recognition</a></li>
                    <li class="active">Subject Recognition</li>
                </ol>
                <h2>SearchPage</h2>
            </div>*@
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  mycustom-tab-menu">
            <div id="sel well" style="margin-left: 30px;">
                <section id="centreNumberWrapper">
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">Centre Number:</div>
                            <div class="col-md-6">
                                <input type="text" name="centreNUmber" placeholder="School Name or Centre Number" onkeyup="ShowSchoolName();" id="centreNumber" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-6">
                                <div id="showname2" class="text-center list-group" style="max-height: 300px;text-align: left; overflow-y: auto;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-6 well">
                                <h3 id="showname" class="text-center">Enter school name && center number above!</h3>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-md-offset-2 col-md-6">
                                    <input type="submit" name="submit" disabled="disabled" id="submitCentreNumber" class="btn btn-success"/>
                                </div>
                            </div>*@

                    </div>
                </section>
            </div>
        </div>


    </div>
</div>





<script type="text/javascript">
    var schid = 0;
    function ShowSchoolName() {
        var centreNumber = $('#centreNumber').val();
        $("#showname2").html('');
            $("#showname").html('Search school ' + centreNumber + '. Wait...');
            $.ajax({
                //url: '/Recognition/Schools/GetSchoolByCentre',
                url: '@Url.Action("GetSchoolByCentre")',
                type: "POST",
                data: { centreNumber: centreNumber },
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                }
            });


    }

    function OnSuccess(response) {
        switch (response.exists) {
            case true:

                if (response.schools !== null && response.schools.length > 0) {

                    for (var i = 0; i < response.schools.length; i++) {

                        //$("#showname2").append('<div class="list-group-item"><a href="/Recognition/Assessment/Classroom?schoolid=' + response.schools[i].ID + '">' + response.schools[i].SchoolLocalGovName + '</a></div>');
                        $("#showname2").append('<div class="list-group-item"><a href="@Url.Action("FacilitySummary", "Assessment")?sdc=' + response.schools[i].ID + '">' + response.schools[i].SchoolLocalGovName + '</a></div>');

                    }
                    $("#showname").html('Search result(s): ' + response.schools.length).removeClass('text-danger');
                    $("#showname2 a").css('color', 'blue');
                } else {
                    $("#showname").html('No result found.').addClass('text-danger');
                }
                break;
            default:
                $("#showname").html('No result found.').addClass('text-danger');

        }
    }

</script>







