﻿@using SchoolRecognitionSystem.Infrastructure
@using SchoolRecognitionSystem.Models

@{
    ViewBag.Title = "School Registration";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<style type="text/css">
    .mainBox {
        position: relative;
        margin: 70px auto;
        /*width: 60% !important;*/
        width: 1100px;
        min-height: 400px;
        border: 1px grey solid;
        border-bottom: 25px dodgerblue solid;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        -webkit-box-shadow: 5px 5px 6px 0px grey; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 5px 5px 6px 0px grey; /* Firefox 3.5 - 3.6 */
        box-shadow: 5px 5px 6px 0px grey; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }

    .boxHeading {
        border-bottom: 3px grey solid;
        border-left: 1px grey solid;
        border-right: 1px grey solid;
        -moz-border-radius: 25px 25px 0px 0px;
        -webkit-border-radius: 25px 25px 0px 0px;
        border-radius: 25px 25px 0px 0px;
        background: #dff0d8 !important;
        min-height: 55px;
    }

    .textShadow {
        /*font-weight: bold;*/
        color: Green;
        font: bold 30px Georgia, Serif;
        text-shadow: 4px 3px 0 gold;
        text-align: center;
    }

    .cardRow {
        margin: 0px auto;
        padding: 20px;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        /*display: inline-block;*/
    }

    .childCardRow {
        margin: 10px auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .childCardRow .card {
            display: inline-block;
            margin: 3px auto;
            min-height: 250px;
            width: 38%;
            border: 1px grey solid;
            border-bottom: 15px lightgreen solid;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            -webkit-box-shadow: 3px 3px 2px 0px grey;
            -moz-box-shadow: 3px 3px 2px 0px grey;
            box-shadow: 3px 3px 2px 0px grey;
            text-wrap: normal !important;
        }

    .card {
        display: inline-block;
        min-height: 250px;
        height: 300px;
        width: 25%;
        border: 1px grey solid;
        border-bottom: 15px lightgreen solid;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-shadow: 3px 3px 2px 0px grey;
        -moz-box-shadow: 3px 3px 2px 0px grey;
        box-shadow: 3px 3px 2px 0px grey;
        text-wrap: normal !important;
    }

    .cicleDiv {
        width: 50%;
        height: 50%;
        margin: 10px auto;
        padding: 10px;
        border: 5px lightgreen solid;
        border-bottom: 5px dodgerblue solid;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #dff0d8 !important;
    }

    .btn-primary {
        display: inline-block;
        margin: 5px auto !important;
        border: 2px lightgreen solid;
        /*border-bottom: 3px gold solid;*/
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }

    .spacer {
        display: inline-block;
        /*width: 8.2%;*/
        width: 5%;
        min-height: 250px;
    }

    .card h2 {
        white-space: normal;
    }
</style>
<!-- REVOLUTION SLIDER -->
@*<div class="alert alert-success bordered-bottom nomargin">
    <div class="container">*@

@*<div class="row">

    <div class="col-md-9 col-sm-12">*@
<!-- left text -->
@*<h3>Welcome to <span><strong>School Recognition Portal</strong></span>. </h3>*@
@*<p class="font-lato weight-300 size-20 nomargin-bottom">
        <b>Register inspected schools details</b>
    </p>*@
@*<p class="font-lato weight-300 size-20 nomargin-bottom">09053969149
        This platform is used by <span><strong>WAEC Nigeria</strong></span> to register
        all Schools that have been inspected by designated staff of the Council
    </p>*@
@*</div> /left text

    </div>*@

@*</div>
    </div>*@






@if (UserManager.IsUserInRole(ConstantsService.RoleUser))
            {
    <div class="mainBox" style="width: 700px !important; height: 430px;">
        <div class="boxHeading">
            <br />
            <h2 class="textShadow">REGISTER INSPECTED SCHOOLS DETAILS</h2>
        </div>
        <div class="row childCardRow">

            <div class="col-md-5 card" style="text-align: center;">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("NewSchool", "Schools")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-bank fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Registering a new school? click here </h2>

                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("NewSchool", "Schools")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>New School
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-2"></div>

            <div class="card col-md-5 pull-right" style="text-align: center;">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("Index", "Schools")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-pencil-square-o fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Edit Registered schools by Staff?</h2>
                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Schools")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Edit School
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>



    </div>
}
@if (UserManager.IsUserInRole(ConstantsService.RoleSuperiosor))
            {
    <div class="mainBox" style="width: 900px !important; height: 430px;">
        <div class="boxHeading">
            <br />
            <h2 class="textShadow">REGISTER INSPECTED SCHOOLS DETAILS</h2>
        </div>
        <div class="row margin-top-20">

            <div class="col-md-3 card" style="text-align: center;">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("NewSchool", "Schools")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-bank fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Registering a new school? click here </h2>

                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("NewSchool", "Schools")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>New School
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>

            <div class="card col-md-4  col-md-offset-1" style="text-align: center;">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("Index", "Schools")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-pencil-square-o fa-5x"></i>
                            </p>
                        </div>
                        <br/>
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Edit Registered schools by Staff?</h2>
                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Schools")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Edit School
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>

            <div class="card col-md-4  col-md-offset-1" style="text-align: center;">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("VetRegisteredSchools", "Vet")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-home fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Vet Registered Schools</h2>
                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("VetRegisteredSchools", "Vet")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Vet Schools
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>



    </div>
}
@if (UserManager.IsUserInRole(ConstantsService.RoleAdmin))
{
    <div class="mainBox" style="width: 700px !important; height: 430px;">
        <div class="boxHeading">
            <br />
            <h2 class="textShadow">REGISTER INSPECTED SCHOOLS DETAILS</h2>
        </div>
        <div class="row childCardRow">

            <div class="col-md-5 card" style="text-align: center;">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("Index", "Assessment")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-check-square-o fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Schools that have been registered</h2>

                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Assessment")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Approve School(s)
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-2"></div>

            <div class="card col-md-5 pull-right" style="text-align: center;">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("IndexB", "Assessment")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-book fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Subject(s) that were not approved for recognition </h2>

                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("IndexB", "Assessment")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Subjects(s) Recognition
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>



    </div>

}


@if (UserManager.IsUserInRole(ConstantsService.RoleSuperAdmin))
{
    <div class="mainBox">
        <div class="boxHeading">
            <br />
            <h1 class="textShadow">REGISTER INSPECTED SCHOOLS DETAILS</h1>
        </div>
        <div class="cardRow">
            <div class="card">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("NewSchool", "Schools")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-bank fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Registering a new school? click here </h2>

                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("NewSchool", "Schools")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>New School
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="spacer">

            </div>
            <div class="card">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("Index", "Schools")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-pencil-square-o fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Edit Registered schools by Staff?</h2>

                        @*<button class="text-center btn btn-primary">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>New School
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </button>*@
                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Schools")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Edit School
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="spacer">

            </div>
            <div class="card">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("Index", "Assessment")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-check-square-o fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Schools that have been registered </h2>
                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Assessment")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Approve School(s)
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="spacer">

            </div>
            <div class="card">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("IndexB", "Assessment")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa-book fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Subject(s) that were not approved for recognition </h2>

                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("IndexB", "Assessment")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Subjects(s) Recognition
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="spacer">

            </div>
            <div class="card">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("AssignRole", "Admin")" @*target="_blank"*@ id="newSchool">
                        <div class="cicleDiv">
                            @*<i class="ico-light icon-5x  ico-lg ico-rounded ico-hover et-notebook et-book-open text-orange"></i>*@
                            <p class="text-center">
                                <i class="fa fa fa-user-plus fa-5x"></i>
                            </p>
                        </div>
                        <br />
                        @*<h4>School</h4>*@
                        <h2 class="text-center">Manage Users and Administrators</h2>


                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("AssignRole", "Admin")" @*target="_blank"*@ id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Manage Users
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="spacer">

            </div>
            <div class="card">
                <div style="margin: 5px auto">
                    <a href="@Url.Action("AssignLga", "Admin")"  id="newSchool">
                        <div class="cicleDiv">
           <p class="text-center">
                                <i class="fa fa-building-o fa-5x"></i>
                            </p>
                        </div>
                        <br />
                       
                        <h2 class="text-center">Assign Local Government to Office</h2>

                    </a>
                    <div style="margin: 5px auto">
                        <p class="text-center">
                            <a class="btn btn-primary" href="@Url.Action("AssignLga", "Admin")" id="newSchool">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Assign Lga
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>



    </div>
}








