﻿@*@model SchoolRecognitionSystem.Models.vmSchoolStaffQualification*@

@model IEnumerable<SchoolRecognitionSystem.Models.vmSchoolStaffQualification>
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

<h2>Staff</h2>


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">Staff</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            <div class="list-group">
                <a href="@Url.Action("_SchoolProfile", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-home"></h4><br />School Profile
                </a>
                <a href="@Url.Action("Subjects", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-list-alt"></h4><br />Recommended Subjects
                </a>

                @*<a href="@Url.Action("Facility", "Schools")" class="list-group-item text-center active facility-tab">
                        <h4 class="glyphicon glyphicon-random"></h4><br />Facility Management
                    </a>*@
                @*<a href="@Url.Action("_Subjects", "Schools")" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-list-alt"></h4><br />Recommended Subjects
                    </a>*@
                <a href="@Url.Action("TextBook", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-book"></h4><br />Subjects TextBooks
                </a>
                <a href="@Url.Action("Staff", "Schools")" class="list-group-item text-center @ViewBag.StaffActive staff-tab">
                    <h4 class="glyphicon glyphicon-user"></h4><br />Staff Records
                </a>
                <a href="@Url.Action("_Student", "Schools")" class="list-group-item text-center @ViewBag.StudentRecords StudentRecords-tab">
                    <h4 class="glyphicon glyphicon-users"></h4><br />Student Records
                </a>

                @*<a href="@Url.Action("_Facility", "Schools")" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-random"></h4><br />Facility Management
                    </a>*@
                <a href="@Url.Action("FacilityTabbing", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-random"></h4><br />Facility Management
                </a>
                <a href="@Url.Action("_ReviewData", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-file"></h4><br />School Profile Review
                </a>
                <a href="@Url.Action("_Complete", "Schools")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-save"></h4><br />Submit Details
                </a>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @if (Session["SchoolID"] != null)
                {
                    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPost" }))
                    {
                        <div class="clearfix"></div>
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @*<h4>vmSchoolStaffQualification</h4>*@

                            @*<p>School Name:<strong>@TempData["CreateSchoolStaff"]</strong></p>*@

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                            <table id="tblCustomers" class="table" cellpadding="0" cellspacing="0">
                                <tr>
                                    @*<th style="width:100px">Staff Id</th>*@

                                    <th style="width: 150px">Title</th>
                                    <th style="width: 150px">Degree</th>
                                    <th style="width: 150px">Category</th>
                                    <th style="width: 150px">First Name</th>
                                    <th style="width: 150px">Last Name</th>
                                    <th style="width: 150px">Contact Address</th>
                                    <th style="width:150px">Course</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>

                                </tr>
                                @foreach (var staf in Model)
                                {
                                    <tr>
                                        <td>
                                            <span>@staf.TitleID</span>
                                            <input type="text" value="@staf.TitleName" style="display: none"/>
                                           
                                        </td>
                                        <td>
                                            <span>@staf.DegreeID</span>
                                            <input type="text" value="@staf.DegreeType" style="display:none" />
                                        </td>
                                        <td>
                                            <span>@staf.CategoryID</span>
                                            <input type="text" value="@staf.Category" style="display: none" />
                                        </td>
                                        <td>
                                            <span>@staf.FirstName</span>
                                            <input type="text" value="@staf.FirstName" style="display:none" />
                                        </td>
                                        <td>
                                            <span>@staf.LastName</span>
                                            <input type="text" value="@staf.LastName" style="display: none"/>
                                        </td>
                                        <td>
                                            <span>@staf.ContactAddress</span>
                                            <input type="text" value="@staf.ContactAddress" style="display: none" />
                                        </td>
                                        
                                        <td class="Country">
                                            <span>@staf.CourseID</span>
                                            <input type="text" value="@staf.CourseID" style="display:none" />
                                        </td>
                                        <td>
                                            <a class="Edit" href="javascript:;">Edit</a>
                                            <a class="Update" href="javascript:;" style="display:none">Update</a>
                                            <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                                            <a class="Delete" href="javascript:;">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </table>



                            <table>
                                <tr>
                                    <td style="width: 150px">
                                        Title<br/>
                                        @*<input type="text" id="txtTitle" style="width: 140px"/>*@
                                        @Html.DropDownListFor(model => model.First().TitleID, ViewBag.CategoryList as SelectList, "(select Category)",
                                            new Dictionary<string, object> {{"class", "form-control"}})
                                    </td>

                                      <td style="width: 150px">
                                        First Name:<br />
                                        <input type="text" id="txtFirstName" style="width: 140px" />
                                    </td>
                                    <td style="width: 150px">
                                            Last Name:<br />
                                            <input type="text" id="txtLastName" style="width: 140px" />
                                        </td>

                                    <td style="width: 150px">
                                            Degree:<br />
                                            @*<input type="text" id="txtDegree" style="width: 140px"/>*@
                                            @Html.DropDownListFor(model => model.First().DegreeID, ViewBag.CategoryList as SelectList, "(select Category)",
  new Dictionary<string, object> { { "class", "form-control" } })
                                        </td>
                                    <td style="width: 150px">
                                        Course:<br/>
                                        <input type="text" id="txtFirstName" style="width: 140px"/>
                                        @Html.DropDownListFor(model => model.First().CourseID, ViewBag.CategoryList as SelectList, "(select Category)",
                                            new Dictionary<string, object> {{"class", "form-control"}})
                                    </td>

                                  
                                        <td style="width: 150px">
                                            Course:<br />
                                            <input type="text" id="txtContactAddress" style="width: 140px" />
                                        </td>
                                        <td style="width: 150px">
                                            Course:<br />
                                            <input type="text" id="txtCourseName" style="width: 140px" />
                                        </td>
                                        <td style="width: 200px">
                                            <br />
                                            <input type="button" id="btnAdd" value="Add" />
                                        </td>
</tr>
                            </table>


                            <div class="form-group">

                                    <div class="col-md-offset-3 col-md-12">
                                        <input type="submit" value="submit" id="addd" onclick="SaveRecord();return false" class="btn btn-primary" />
                                        <a href="/School/CreateExaminationInfo" class="btn btn-warning">Next</a>
                                    </div>
                                </div>

                                @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>*@
</div>
                    }

                }
                else
                {
                    <div class="well">Section is null</div>

                }
            </div>
            <!-- train section -->
            <div class="mycustom-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-road"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                </center>
            </div>

            <!-- hotel search -->
            <div class="mycustom-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-home"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                </center>
            </div>
            <div class="mycustom-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-cutlery"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                </center>
            </div>
            <div class="mycustom-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-credit-card"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                </center>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function() {
        //$('#FormPost').submit(function(e) {
        //    //This line will prevent the form from submitting
        //    e.preventDefault();


        //    $.ajax({
        //        type: 'POST',
        //        url: $('#FormPost').attr('action'),
        //        data: $('#FormPost').serialize(),
        //        accept: 'application/json',
        //        error: function(xhr, status, error) {
        //            alert('faled to insert ');
        //        },
        //        success: function(response) {
        //            $('#FullName').val('');
        //            $('#DegreeID').val('');
        //            $('#SubjectID').val('');
        //            $('#ContactAddress').val('');
        //            $('#CategoryID').val('');
        //            $('#DateEmployed').val('');
        //            alert('succesfully inserted');
        //        }
        //    });
        //});


    });


</script>