﻿
@model SchoolRecognitionSystem.Models.SchoolRecognitionType
@{
    ViewBag.Title = "StartPage";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



@{
    SchoolRecognitionSystem.Models.SchoolRecognitionType xy = new SchoolRecognitionSystem.Models.SchoolRecognitionType();
    SchoolRecognitionSystem.Models.SchoolProfileViewModel schid = new SchoolRecognitionSystem.Models.SchoolProfileViewModel();

}
@*@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div>

}*@
<div id="sel well" style="margin-left: 30px;">
    <p>
        Subject recognition click <a href='@Url.Action("SearchPage", "Schools")'>here!</a><br />
    </p>
    <p>
        Register new school click <a href='@Url.Action("NewSchool", "Schools")'>here!</a>
    </p>

</div>






