﻿@model   SchoolRecognitionSystem.Models.SubjectModel

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
@*<ol class="breadcrumb">
        <li><i class="glyphicon glyphicon-plane"></i></li>
        <li><a href="#">Manage School</a></li>
        <li class="active"> Subjects</li>
    </ol>*@

@*@if (TempData["Information"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["Information"]
            </span>
        </div> }*@

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SubjectSectionPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <ol class="breadcrumb">
               
                <li><a href="@Url.Action("NewSchool", "Schools", new {sddc = @Request.QueryString["sddc"]})">New School</a></li>


                <li><a href="@Url.Action("Create", "SchoolStaffs", new {sddc = @Request.QueryString["sddc"]})">Create staff</a></li>

                <li class="active"></li>
            </ol>
            
            <!-- flight section -->
            <div class="active">

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPost" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-10">
                            <fieldset class="nomargin">
                                <legend>
                                    Council Subjects
                                </legend>
                                <span style="color: blue">select currently offered school subjects,at least eight(8) with Mathematics,English-Language and Civic-Education compulsory and at least one trade subject</span>
                                <br />
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        @Html.ListBoxFor(model => model.AvailableSelected, new MultiSelectList(Model.AvailableSubjects, "ID", "LongName", Model.AvailableSelected), new { @class = "form-control", data_value = "ID", data_text = "LongName", multiple = "multiple", data_title = "Subjects" })
                                    </div>
                                </div>


                                <div id="checkName" class="mylink"></div>

                                <input type="hidden" id="UserID" name="UserID" value="@Session["UserID"]" />
                                <input type="hidden" id="ID" name="ID" value="0" />
                                <input type="hidden" id="CentreNo" name="CentreNo" value="0" />

                            </fieldset>

                            <div id="loadList" class="mylink"></div>

                            @*<input type="submit" value="Add" class="btn btn-primary"/>
                                <input type="hidden" id="student-added" name="studentAdded" />

                                @Html.ActionLink("Next", "FacilityTabbing", "Schools", null, new { @class = "btn btn-warning ", onclick = "return Submit();" });*@

                            <footer>
                                <p class="pull-right">
                                    <input type="submit" value="Save" class="btn btn-primary" @*onclick="DeleteValues(); return false"*@ />
                                    <input type="hidden" id="subject-added" name="subjectadded" value="1" />
                                    @*@Html.ActionLink("Next", "TextBook", "Schools", null, new { @class = "btn btn-success", disabled = "disabled", onclick = "return Submit();", id = "btn-next" })*@

                            </footer>



                            @*<footer>
                                    <p class="pull-right">
                                        <button type="submit" id="btnSave" onclick="return Submit();" class="btn btn-primary btn-lg">Next <i class="fa fa-arrow-circle-o-right"></i></button>
                                    </p>
                                </footer>*@

                        </div>











                        @*<div class="col-md-10">
                                <input type="submit" style="margin-right: 30px" value="Next" class="btn btn-primary" />
                            </div>*@
                    }

                
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Scripts/dual-list-box.min.js"></script>
    <script type="text/javascript">
        $(document).ready(
        (function () {

            $('select[name="AvailableSelected"]').DualListBox({ json: false }); //RequestedSelected
        }));


    </script>
    <script type="text/javascript">
        var isSubjectsInserted = false;
        $(document).ready(function () {
            $('#FormPost').submit(function (e) {
                //This line will prevent the form from submitting
                e.preventDefault();
                //if ($('select[name = "AvailableSelected"]')[0].options.length === 0) {
                //    alert('Please select subjects before you click add.');
                //    return;
                //} else if ($('select[name = "AvailableSelected"]')[0].options.length < 8) {
                //    alert('Please select at least eight(8) subjects.');
                //    return;
                //}
                $.ajax({
                    type: 'POST',
                    url: $('#FormPost').attr('action'),
                    data: $('#FormPost').serialize(),

                    accept: 'application/json',
                    error: function (xhr, status, error) {
                        alert('please select subject ');
                    },
                    success: function (response) {
                        //$('#student-added').val(response.studentAdded);
                        if (response.status === true) {
                            $('#btn-next').removeAttr('disabled');
                            isSubjectsInserted = true;
                            alert(response.message);
                        } else {
                            $('#btn-next').attr('disabled', 'disabled');
                            isSubjectsInserted = false;
                            alert(response.message);
                        }

                    }

                });
            });


        });

        function DeleteValues() {
            var dropDown = document.getElementById("ClassID");
            for (var i = 0; i <= dropDown.options.length; i++) {
                if (dropDown.options[i].selected) {
                    dropDown.removeChild(dropDown.options[i]);
                    break;
                }
            }
        }

        function Submit() {
            if (isSubjectsInserted === true) {
                if (confirm("Are you sure you want to go the next page?")) {
                    return true;
                } else {
                    return false;
                }
            } else {
                return false;
            }



        }
    </script>


    <script type="text/javascript">
        //function Submit() {
        //    if (confirm("Are you sure you want to go the next page?")) {
        //        return true;
        //    } else {
        //        return false;
        //    }
        //}



    </script>

}

