﻿@using System.Diagnostics
@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@model   List<SchoolRecognitionSystem.Models.SchoolSubjectViewModel>
@{
    ViewBag.Title = "Subject Derecogntion";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

<h2>Subject Derecogntion</h2>
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial");
        </div>*@
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">
                <section>
                    <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="hidden" id="SchoolIdd" value="@ViewBag.SchoolIdd"/>
                                            @Html.LabelFor(model => model.FirstOrDefault().SubjectID, "School Subject", htmlAttributes: new {})
                                            @Html.DropDownListFor(model => model.FirstOrDefault().SubjectID, ViewBag.Subjectmodel as SelectList, "select subject", new {@id = "staff-subject", @class = "form-control"})
                                            @Html.ValidationMessageFor(model => model.FirstOrDefault().SubjectID, "", new {@class = "text-danger"})
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Reason Options:</label>
                                            <div class="list-group" id="selected-states-wrapper" style="max-height: 400px; overflow-y: auto;">

                                                @{
                                                    var reasonForDerecogition = ViewBag.ReasonForDerecogition as List<ReasonsToDereSubjectcModel> ?? new List<ReasonsToDereSubjectcModel>();
                                                    var reasonOptions = 1;
                                                }
                                                @foreach (var item in reasonForDerecogition)
                                                {
                                                    <section class="row list-group-item reason-options" data-index="@reasonOptions">
                                                        <div class="col-md-">
                                                            <input type="checkbox" name="subjectsDerec" data-index="@reasonOptions" class="classreason" id="reasonsubjectid" value="@item.ReasonsForDerecognition"/> <span>@item.ReasonsForDerecognition</span>
                                                        </div>
                                                    </section>
                                                    reasonOptions++;
                                                }
                                            </div>
                                        </div>
                                        @*<footer class="form-group">
                                            <p>
                                                <input type="submit" value="Save" id="saveid" class="btn btn-primary"/>
                                       </footer>*@
                                    </div>
                                  
                                    

                                    <aside class="col-md-5">
                                        
                                            <div class="list-group">
                                           
                                                <div class="list-group" id="selected-states-wrapper" style="max-height: 400px; overflow-y: auto;">
                                                    @{
                                                        var SideSubjects = ViewBag.SideSubjects as List<SchoolSubjectViewModel> ?? new List<SchoolSubjectViewModel>();
                                                    }
                                                    @foreach (var item in SideSubjects)
                                                    {
                                                        if (item.IsApproved)
                                                        {
                                                            <section class="row list-group-item" style="background-color: #dff0d8;">
                                                                <div class="col-md-11">
                                                                   <span>@item.LongName</span>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <a href="javascript:void();"><i class="fa fa-check-circle text-success" data-schoolid="@item.SchoolID" data-subjectid="@item.SubjectID"></i></a>
                                                                </div>
                                                            </section>
                                                        }
                                                        else
                                                        {
                                                                <section class="row list-group-item">
                                                                    <div class="col-md-11">
                                                                        <span>@item.LongName</span>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <a href="javascript:void();"><i class="fa fa-times text-danger"></i></a>
                                                                    </div>
                                                                </section>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </aside>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            var element=0
            $('#staff-subject').on('change',function() {
                var schoolidd = '@ViewBag.SchoolIdd';
                var element = $(this);
                $.getJSON('/Schools/SubjectInfo', { schoolid: schoolidd, subject_id: $(element).val() }, function(response) {
                    if (response.status === true) {
                        if (response.hasitem === false) {
                            $('.reason-options[data-index=1]').addClass('disabled');
                            $('.reason-options[data-index=1] input').attr('disabled', 'disabled').prop('checked', false);
                            $('.reason-options[data-index=2]').addClass('disabled');
                            $('.reason-options[data-index=2] input').attr('disabled', 'disabled').prop('checked', false);
                            $('.reason-options[data-index=3]').addClass('disabled');
                            $('.reason-options[data-index=3] input').attr('disabled', 'disabled').prop('checked', false);
                        } else {
                            $('.reason-options[data-index=1]').removeClass('disabled');
                            $('.reason-options[data-index=1] input').removeAttr('disabled');
                            $('.reason-options[data-index=2]').removeClass('disabled');
                            $('.reason-options[data-index=2] input').removeAttr('disabled');
                            $('.reason-options[data-index=3]').removeClass('disabled');
                            $('.reason-options[data-index=3] input').removeAttr('disabled');
                            if (response.adequateEquipment === 1) {
                                $('.reason-options[data-index=1] input').prop('checked', true);
                            } else {
                                $('.reason-options[data-index=1] input').prop('checked', false);
                            }
                            if (response.adequateReagent === 1) {
                                $('.reason-options[data-index=2] input').prop('checked', true);
                            } else {
                                $('.reason-options[data-index=2] input').prop('checked', false);
                            }
                            if (response.adequateLaboratory === 1) {
                                $('.reason-options[data-index=3] input').prop('checked', true);
                            } else {
                                $('.reason-options[data-index=3] input').prop('checked', false);
                            }

                        }
                        if (response.adequateQualifiedStaff === 1) {
                            $('.reason-options[data-index=4]').removeClass('disabled');
                            $('.reason-options[data-index=4] input').prop('checked', true);
                        } else {
                            $('.reason-options[data-index=4]').removeClass('disabled');
                            $('.reason-options[data-index=4] input').prop('checked', false);
                        }
                        if (response.adequateExam === 1) {
                            $('.reason-options[data-index=5]').removeClass('disabled');
                            $('.reason-options[data-index=5] input').prop('checked', true);
                        } else {
                            $('.reason-options[data-index=5]').removeClass('disabled');
                            $('.reason-options[data-index=5] input').prop('checked', false);
                        }
                        if ($('#staff-subject option:selected').text().trim() === 'AGRIC SCIENCE' || $('#staff-subject option:selected').text() === 'PHYSICS') {
                            $('.reason-options[data-index=2]').addClass('disabled');
                            $('.reason-options[data-index=2] input').attr('disabled', 'disabled');
                        }
                    }


                });
            });
            $('#saveid').attr('disabled', 'disabled');
            $(document).on('change', '.classreason', function () {
                    $('#saveid').removeAttr('disabled');
            });
            $('input[type=checkbox].classreason').on('change', function () {
                 var schoolidd = '@ViewBag.SchoolIdd';
                var subjectId = $('#staff-subject').val();
                $.post('/Schools/ProcessSubject', { schoolid:schoolidd,subjectId: subjectId, reasonName:$(this).val(), isChecked: $(this).prop('checked') }, function (response) {
                    if (response.status == true) {

                        alert("Subject Status Updated Successfully");
                        document.location = '/Schools/SubjectDerecogntion/?sdc=' + '@ViewBag.SchoolIdd' + "&subjectId=" + subjectId;
                        @*location.href = location.href + "&sdc=" + '@ViewBag.SchoolIdd';
                        window.location.href = "sdc" + '@ViewBag.SchoolIdd';*@

                        @*window.location.href = "Schools/SubjectDerecogntion?sdc=" + '@ViewBag.SchoolIdd';*@


                        @*window.location.href += "?sdc="+'@ViewBag.SchoolIdd';
                        window.location.reload();*@
                        //' <div class="list-group" id="selected-states-wrapper" style="max-height: 400px; overflow-y: auto;">'+

                        //<section class="row list-group-item" style="background-color: #dff0d8;">
                        //    <div class="col-md-11">
                        //       <span>CIVIC EDUCATION</span>
                        //    </div>
                        //    <div class="col-md-1">
                        //        <a href="javascript:void();"><i class="fa fa-check-circle text-success" data-schoolid="11626" data-subjectid="61"></i></a>
                        //    </div>
                        //</section> '+'
                        //'</div>'
                    }
                });
            });
        });
            </script>

    }








