﻿<html>
<head>
    <title>
        do sum
    </title>
    <script type="text/javascript">
function sumOfColumns(table, columnIndex) {
    var tot = 0;
    table.find("tr").children("td:nth-child("+ columnIndex+ ")").each(function() {
        var a=$(this);
        if (!$this.hasClass("sum") && $this.html() !=="" ) {tot +=parseInt($this.html());
        }
        });
        return tot;
           }

        function do_sums() {
        $("tr.sum").each(function(i, tr) {
            $tr = $(tr);
            console.log('love you');
            $tr.children().each(function(i, td) {
                $td = $(td);
                var table = $td.parent().parent().parent();
                if ($td.hasClass("sum")) {
                    $td.html(sumOfColumns(table, i + 1));
                }
            });
        });
        }
    </script>


</head>
<body>
<table class="tally">
    <th>balance</th>
    <td>100</td>

    <tr>
        <th>gains</th>
        <td>20</td>
    </tr>
    <tr>
        <th>loses</th>
        <td>-36</td>
    </tr>
    <tr class="sum">
        <th>Total</th>
        <td class="sum">#</td>
    </tr>
    
</table>
    <p><a href="#" onClick="do_sums();">Top Text</a></p>
    <p><a href="javascript:do_sums();">Bottom Text</a></p>
</body>
</html>

