﻿@*@using SchoolRecognitionSystem.Models
    @model FacilityViewModel*@

@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@model   List<SchoolRecognitionSystem.Models.SchoolSubjectViewModel>

@{
    ViewBag.Title = "SchoolSubject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>

@*@if (TempData["textbookExistInTextBookbank"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["textbookExistInTextBookbank"]
            </span>
        </div>
    }*@


@*@if (TempData["Information"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["Information"]
            </span>
        </div> }*@

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SubjectSectionPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            @*<ol class="breadcrumb">

                <li><a href="@Url.Action("NewSchool", "Schools", new {sddc = @Request.QueryString["sddc"]})">New School</a></li>


                <li><a href="@Url.Action("Create", "SchoolStaffs", new {sddc = @Request.QueryString["sddc"]})">Create staff</a></li>

                <li class="active"></li>
            </ol>*@
            <!-- flight section -->
            <div class="active">

                <section>
                    <div class="row">

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.FirstOrDefault().SubjectID, "School Subjects", htmlAttributes: new { })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.FirstOrDefault().SubjectID, ViewBag.AllSchoolSubjects as SelectList, "select school subjects", new { @id = "SubjectID" })
                                @Html.ValidationMessageFor(model => model.FirstOrDefault().SubjectID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.FirstOrDefault().AvailableTextbook, "Text Book bank", htmlAttributes: new { })
                            <div class="col-md-10">

                                @*@Html.DropDownListFor(model => model.FirstOrDefault().AvailableTextbook, ViewBag.AvailableTextbooks as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control",@id = "AvailableTextbooks" })*@
                                @Html.DropDownListFor(model => model.FirstOrDefault().AvailableTextbook, ViewBag.AvailableTextbooks as SelectList, "select textbooks", new { @id = "AvailableTextbooks" })
                                <a href="javascript:void(0);" class="add-textbook" data-token="@Model.FirstOrDefault().SubjectID" title="Add textbook if not found in the list"><i class="fa fa-plus">click to add textbook not in text-bank</i></a>
                                @Html.ValidationMessageFor(model => model.FirstOrDefault().AvailableTextbook, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1">
                                <input type="submit" value="Save" id="saveid" class="btn btn-sm btn-primary" />
                            </div>
                            @*<div class="pull-right">
                                @Html.ActionLink("Next", "FacilityTabbingg", "Schools", null, new { @class = "btn btn-success" })

                            </div>*@
                        </div>

                    </div>



                </section>


                <table class="table table-bordered">
                    <thead>
                        <tr>
                            @*<th>S/N</th>*@
                            <th>Subject</th>
                            <th>Text Book</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="students-table-body">
                        @{
                            var subjecttextbook = ViewBag.schoolSubjectRecordTextbook as List<SchoolSubjectViewModel>;
                            @*if (classesRegistered.Count == 0)
                                {
                                    <tr class="hiderow">
                                        <td colspan="3">
                                            <div class="well">
                                                <h3>Please register students.</h3>
                                            </div>
                                        </td>
                                    </tr>
                                }*@

                        foreach (var sub in subjecttextbook)
                        {

                            <tr class="schoolrowid">
                                <td>@sub.LongName</td>
                                <td>@sub.AvaiilableTextbooks</td>
                                @*<td><a href="@Url.Action("DeleteTextbook",new {schoolId=sub.SchoolID,subjectId=sub.SubjectID})">Delete</a></td>*@
                                <td><a href="javascript:void(0);" class="row-delete" id="row_@sub.ID" data-token="@sub.ID" data-subjectid="@sub.SubjectID" data-schoolid="@sub.SchoolID" data-textbooktoschoolsubjectrowid="@sub.TextbookToSchoolSubjectRowId" title="Delete textbook"><i class="fa fa-times"></i></a></td>


                            </tr>
                        }

                        }
                    </tbody>
                </table>






            </div>




        </div>
    </div>
</div>

<section id="AddTextBookModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new text book</h4>
            </div>
            <article class="modal-body">
                <span id="modalspanid"></span>
                <section class="form-horizontal">
                    <div class="form-horizontal row">
                        <h4>Textbook for:<strong><span id="subject"></span></strong></h4>
                        <hr />
                        <div class="form-group">
                            <label class="col-md-2">Textbook:</label>

                            <div class="col-md-10">
                                <input id="Textbook" class="text-box single-line form-control" type="text" name="Textbook">
                            </div>
                        </div>
                        <p class="pull-right">
                            <input type="hidden" id="tempdataid" value="@TempData["textbookExistInTextBookbank"]" />
                            <input type="hidden" class="add-textbook" name="ID" />
                            <input type="submit" id="save-textbook" value="Save" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </p>
                    </div>

                </section>

            </article>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</section>



@section scripts{

    <script type="text/javascript">
        var isTextBookAttached = false;
        var selectedSubjectId = 0;
        $(document).ready(function () {
            $('#AvailableTextbooks').select2();
            $('#SubjectID').select2();

            $('#SubjectID').on('change', function () {
                var subjectid = $(this).val();
                document.location = '@Url.Action("Textbook","Schools")?subjectId=' + subjectid;
                if ($('#AvailableTextbooks option:selected') === false) {
                    $('#SubjectID').val('');
                }

                //$.post('/Schools/Textbook/?subjectId='+subjectid, { subjectId:subjectid}, function (response) {

                //});
            });


            $(document).on('click', '.add-textbook', function () {
                selectedSubjectId = $('#SubjectID').val();
                if (parseInt(selectedSubjectId) > 0) {
                    console.log(selectedSubjectId);
                    $.getJSON('@Url.Action("FetchSubjectName")', { selectedSubjectId: selectedSubjectId }, function (response) {
                        $('#subject').html(response.SubjectName);
                    });
                    $('#modalspanid').html('').removeClass("btn btn-danger");
                    $('#AddTextBookModal').modal('show');
                } else {
                    alert('please select a subject');
                }
            });

            $('#saveid').on('click', function (e) {
                e.preventDefault();
                var subjectId = $('#SubjectID').val();
                var subjectText = $("#SubjectID option:selected").text();
                var textBook = $("#AvailableTextbooks option:selected").text();
                $.post('@Url.Action("SaveTexbook","schools")', { SubjectId: subjectId, existingTextBook: textBook }, function (response) {

                    if (response.status === "selecttextbook") {
                        alert("please select a textbook");
                        return;
                    }
                    if (response.status === "selectsubject") {
                        alert("please select a subject");
                        return;
                    }

                    if (response.status === true) {
                        // $('#AvailableTextbook').val(response.availableTextbook);
                        //  $('#AddTextBookModal').modal('hide');
                        //ViewBag.SELECTTEXTBOOK

                        $('#students-table-body').append('<tr class="schoolrowid">' +
                            '<td>' + $('#SubjectID option:selected').text() + '</td>' + //Textbook
                            '<td>' + $('#AvailableTextbooks option:selected').text() + '</td>' +
                            '<td> <a href="javascript:void(0);" class="row-delete" data-token="' + response.Id + '" data-subjectid="' + response.subjectId + '" data-schoolid="' + response.schoolId + '" data-textbooktoschoolsubjectrowid="' + response.textbookToSchoolSubjectRowId + '" title="Delete textbook"><i class="fa fa-times"></i></a></td>' +
                            '</tr>');


                        //alert('Textbook saved successfully.');
                    } else {
                        alert('Edit failed.');
                    }


                });

            });

            $('#save-textbook').on('click', function (e) {
                e.preventDefault();

                $.post('@Url.Action("SaveTexbook")', {
                    SubjectId: selectedSubjectId,
                    Textbook: $('#Textbook').val()

                }, function (response) {
                    if (response.status === true) {
                        // $('#AvailableTextbook').val(response.availableTextbook);
                        $('#AddTextBookModal').modal('hide');

                        $('#students-table-body').append('<tr class="schoolrowid">' +
                            '<td>' + $('#SubjectID option:selected').text() + '</td>' + //Textbook
                            '<td>' + $('#Textbook').val() + '</td>' +
                            '<td> <a href="javascript:void(0);" class="row-delete" data-token="' + response.Id + '" data-subjectid="' + response.subjectId + '" data-schoolId="' + response.schoolid + '" data-textbookToSchoolSubjectRowId="' + response.textbookToSchoolSubjectRowId + '" title="Delete textbook"><i class="fa fa-times"></i></a></td>' +
                            '</tr>');


                        //alert('Textbook saved successfully.');
                    } else {
                        $('#modalspanid').html(response.xxtdata).addClass("btn btn-danger");

                    }

                });
            });

            $(document).on('click', '.row-delete', function (e) {
                var thisvar = $(this);
                var textbookToSchoolSubjectRowId = $(this).attr('data-textbooktoschoolsubjectrowid');
                console.log(textbookToSchoolSubjectRowId);
                $.post('@Url.Action("DeleteTextBook")', { textbookToSchoolSubjectRowId: textbookToSchoolSubjectRowId }, function (response) {

                    if (response.status == true) {
                        $(thisvar).parents().parents().first().remove();
                        //  $("#row_" +response.token).parents("tr").remove();
                        //$(this).closest("tr").remove();
                        //    $("#tview tr.item").each(function(index, row) {
                        //        $(row).find('.row-delete').closest("tr").remove();
                        //        $(row).find("#row_" + response.returnedToken).parents("tr").remove();

                        //    });
                        //$('#students-table-body').append('<tr class="schoolrowid">' +
                        //   '<td>' + $('#SubjectID option:selected').text() + '</td>' + //Textbook
                        //   '<td>' + $('#AvailableTextbooks option:selected').text() + '</td>' +
                        //   '<td> <a href="javascript:void(0);" class="row-delete" data-token="' + response.Id + '" data-subjectId="' + response.subjectId + '" data-schoolId="' + response.schoolId + '" title="Delete textbook"><i class="fa fa-times"></i></a></td>' +
                        //   '</tr>');

                    }
                });
            });

        });
    </script>

}










@*$('#btnSave').on('click', function(e) {
        e.preventDefault();
        var checkedboxes = [];
        var textboxes = [];
        var countchecked = $("[name='checkedrows']:checked").length;
        console.log(countchecked);
        if (countchecked == 0) {
            alert("Please select at least one checkbox");
            return false;
        } else {
            $("input.long-name:checked").each(function() {
                checkedboxes.push({
                    'ID': $(this).data('id')

                });

            });

            $("textarea.textbox-class").each(function() {
                textboxes.push({
                    'ID': $(this).data('id'),
                    'Textboxvalues': $(this).val()

                });

            });
            $.post('/Schools/Textbook', { Checkeditems: checkedboxes, Textbooks: textboxes }, function(response) {
                //$.post('/Recognition/Schools/Textbook', { Checkeditems: checkedboxes, Textbooks: textboxes }, function (response) {
                if (response.status == true) {
                    alert('data saved successfully');
                    $('#btn-next').removeAttr('disabled');
                    $("input.long-name:checked").each(function() { this.checked = false });
                    $("textarea.textbox-class").each(function() { $('.textbox-class').val('') });
                } else {
                    alert('data not saved correctly');
                }
            });
            return true;
        }
    });*@


