﻿@*@using SchoolRecognitionSystem.Models
    @model FacilityViewModel*@
@*//SelectedSchoolSubjectViewModel*@
@using PagedList.Mvc;
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SelectedSchoolSubjectViewModel>

@{
    ViewBag.Title = "SchoolSubject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">Manage School</a></li>
    <li class="active">TextBook</li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SubjectRecognition");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPost" }))
                {
                    <div class="clearfix"></div>
                    if (Model.Count > 0)
                    {
                        @Html.Hidden("schoolid", (int)ViewBag.SchoolId)
                        <section class="form-group">
                            <div class="table-responsive">

                                <table class="table table-bordered" id="kim" style="margin-top: 30px;">
                                    <thead>
                                    <tr>
                                        <th>
                                            <a>SELECT IF TEXTBOOK IS AVAILABLE</a>
                                        </th>

                                        <th>
                                            <a>Grade</a>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @if (item.isTextBookAttached==true)
                                                {
                                                    <label class="checkbox nomargin"><input type="checkbox" value="@item.ID" checked="checked" class="long-name" id="IsJointProprietorship-@item.ID"><i></i>@Html.DisplayFor(modelitem => item.LongName)</label>
                                                }
                                                else
                                                {
                                                    <label class="checkbox nomargin"><input type="checkbox" value="@item.ID" class="long-name" id="IsJointProprietorship-@item.ID"><i></i>@Html.DisplayFor(modelitem => item.LongName)</label>
                                                }
                                            </td>
                                            <td>
                                                <span id="school-subject-@item.ID" class="school-subjects-sum">0</span>
                                            </td>

                                        </tr>
                                    }
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <span id="total-grades">0</span>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                                <br/>
                                @*<input type="hidden" id="ID" name="ID" value="0"/>
                                    <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0"/>
                                    <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0"/>*@





                                @*<footer>
                                        <p class="pull-right">
                                        <input type="submit" value="Add" class="btn btn-primary"/>
                                        <input type="hidden" id="subject-added" name="subjectadded" value="1"/>
                                        @Html.ActionLink("Next", "TextBook", "Schools", null, new {@class = "btn btn-success", disabled = "disabled", onclick = "return Submit();", id = "btn-next"})
                                    </footer>*@

                                <footer>
                                    <p class="pull-right">
                                        <input type="submit" value="Save" id="btnSave" class="btn btn-primary"/>
                                        <input type="hidden" id="textbook-added" name="textbookAdded"/>
                                        @Html.ActionLink("Next", "Create", "SchoolStaffs", null, new {@class = "btn btn-success fa fa-arrow-circle-o-right", disabled = "disabled", onclick = "return Submit();", id = "btn-next"})


                                        @*<button type="submit" class="btn btn-primary btn-lg">Next <i class="fa fa-arrow-circle-o-right"></i></button>*@

                                    </p>
                                </footer>



                                <div id='Paging' style="text-align: center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount

                                    @Html.PagedListPager(Model, page => Url.Action("TextBook", new {page}))
                                </div>
                            </div>
                        </section>
                    }
                    else
                    {
                        <div class="well">
                            
                        </div>
                    }
                }

                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>

        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">
        var isTextBookAttached = false;
        $(document).ready(function() {
            $('#FormPost').submit(function(e) {
                //This line will prevent the form from submitting
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: $('#FormPost').attr('action'),
                    data: $('#FormPost').serialize(),
                    accept: 'application/json',
                    error: function(xhr, status, error) {
                        alert('failed to insert ');
                    },
                    success: function(response) {
                        if (response.status === '1') {
                            $('#btn-next').removeAttr('disabled');
                            $('#textbook-added').val(response.textbookAdded);
                            isTextBookAttached = true;
                            alert('data is succesfully inserted!');
                            $('input[type=checkbox]').each(function () {
                                $(this).prop('checked', false);
                            });

                        } else {
                            $('#btn-next').attr('disabled', 'disabled');
                            isTextBookAttached = false;
                            alert('Failed to insert');
                        }
                    }

                });
            });

            $('.long-name').on('change', function() {
                if ($(this).prop('checked')) {
                    $('#school-subject-' + $(this).val()).html(1);
                } else {
                    $('#school-subject-' + $(this).val()).html(0);
                }
                var totalGrades = 0;
                $('.school-subjects-sum').each(function (index, elem) {

                    totalGrades += totalGrades + parseInt($(elem).html());
                });
                $('#total-grades').html(totalGrades);
            });
        });

        function DeleteValues() {
            var dropDown = document.getElementById("ClassID");
            for (var i = 0; i <= dropDown.options.length; i++) {
                if (dropDown.options[i].selected) {
                    dropDown.removeChild(dropDown.options[i]);
                    break;
                }
            }
        }


        function Submit() {
            if ($('#textbook-added').val() !== '1') {

                alert('please add at least one student record');
                return false;
            }
            if (isTextBookAttached === true) {
                if (confirm("Are you sure you want to go the next page?")) {
                    return true;
                } else {
                    return false;

                }
            }
            return false;
        }
    </script>

}





