﻿@using System.Text
@using System.Web.Script.Serialization
@using Newtonsoft.Json
@using SchoolRecognitionSystem.Models
@model  SchoolRecognitionSystem.Models.SchoolSubjectViewModel

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}


@if (TempData["schoolderecognised"] != null)
{
    <div id="result" class="alert alert-success">
        @TempData["schoolderecognised"] 
    </div>
}


@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <section class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_subjectrecognition");
        </aside>
        <article class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <section class="row">
                <article class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
                    <article class="tab-content" style="margin: 20px;">
                        <!-- flight section -->
                        <div class="active">

                            @*@if (Session["SchoolID"] != null)
                                {*@
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPost" }))
                            {
                                @Html.AntiForgeryToken()

                                <div>
                                    <fieldset class="nomargin">
                                        <legend>
                                            Council Subjects
                                        </legend>
                                        <span style="color: blue">Update School Subjects[Minimum of eight subject is required and must include the three compulsory subjects(Mathematics,English-Language and Civic-Education) and at least one trade subject]</span>
                                        <br />
                                        <br />


                                        <div class="row">
                                            @*<div class="col-md-2">Subject:</div>*@
                                            <div>Subject:</div>
                                            <div class="col-md-10">
                                                <input type="text" name="SearchSubject" placeholder="Search Subject" id="SearchSubject" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                @*<label class="col-md-2">Subjects:</label>*@
                                                <div class="col-md-10">
                                                    <div class="list-group" id="selected-states-wrapper" style="max-height: 400px; overflow-y: auto;">
                                                        @{
                                                            var compulsorySubjects = ViewBag.CompulsorySubjects as List<int> ?? new List<int>();
                                                        }
                                                        @foreach (var item in Model.AvailableSubjects)
                                                        {
                                                            if (compulsorySubjects.Any(subId => item.ID == subId))
                                                            {
                                                                <section class="row list-group-item" style="background-color: #dff0d8;">
                                                                    <div class="col-md-11">
                                                                        <input type="checkbox" name="AvailableStateSelectedEdit[]" @*data-isBarred="@item.isBarred"*@ data-hasitems="@item.HasItem" class="state-input" id="compulsorysubjectid" value="@item.ID" checked readonly="readonly" /> <span>@item.LongName</span>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <a href="javascript:void();"><i class="fa fa-edit edit-subject" data-schoolid="@item.SchoolID"  data-subjectid="@item.ID" data-hasitems="@item.HasItem"></i></a>
                                                                    </div>
                                                                </section>
                                                            }
                                                            else
                                                            {
                                                                if (Model.AvailableSelected.FirstOrDefault(sel => item.ID == sel) != null)
                                                                {
                                                                    <section class="row list-group-item" style="background-color: #dff0d8;">
                                                                        <div class="col-md-11">
                                                                            <input type="checkbox" name="AvailableStateSelectedEdit[]" @*data-isBarred="@item.isBarred"*@ data-hasitems="@item.HasItem" class="state-input" id="preselectedsubjectid" value="@item.ID" checked /> <span>@item.LongName</span>
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <a href="javascript:void();"><i class="fa fa-edit edit-subject" data-schoolid="@Model.SchoolID" data-subjectid="@item.ID" data-hasitems="@item.HasItem"></i></a>
                                                                        </div>
                                                                         </section>
                                                                }
                                                                else
                                                                {
                                                                    <section class="row list-group-item">
                                                                        <div class="col-md-11">
                                                                            <input type="checkbox" name="AvailableStateSelectedEdit[]" @*data-isBarred="@item.isBarred"*@ data-hasitems="@item.HasItem" class="state-input" id="newsubjectid" data-newidd="@item.ID" value="@item.ID" /> <span>@item.LongName</span>
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <a href="javascript:void();"><i class="fa fa-plus-circle add-subject" data-schoolid="@item.SchoolID" data-subjectid="@item.ID" data-hasitems="@item.HasItem"></i></a>
                                                                        </div>
                                                                    </section>
                                                                }
                                                            }





                                                        }


                                                    </div>



                                                </div>

                                            </div>

                                        </div>


                                        <div id="checkName" class="mylink"></div>
                                        <input type='hidden' value='@Request.QueryString["schoolid"]' id='schoolid' />
                                        <input type="hidden" id="UserID" name="UserID" value="@Session["UserID"]" />
                                        <input type="hidden" id="ID" name="ID" value="0" />
                                        <input type="hidden" id="CentreNo" name="CentreNo" value="0" />
                                    </fieldset>

                                    <div id="loadList" class="mylink"></div>

                                    <footer>
                                        <p class="pull-right">
                                            <input type="submit" value="Save" id="saveid" class="btn btn-primary" @*onclick="DeleteValues(); return false"*@ />
                                            <input type="hidden" id="subject-added" name="subjectadded" value="1" />
                                            @Html.ActionLink("Next", "TextBook", "Schools", null, new { @class = "btn btn-success", disabled = "disabled", onclick = "return Submit();", id = "btn-next" })

                                    </footer>
                                </div>
                                                            }



                        </div>

                    </article>
                </article>
                <aside class="col-md-3">
                    <div style="margin-top: 156px; position: relative;" id="side-subject-container">
                        <h4>Current School Subjects</h4>
                        <div class="list-group">
                            <div>
                                <!--school-subjects-selected-->
                                @{
                                    foreach (var item in Model.AvailableSubjects)
                                    {

                                        if (Model.AvailableSelected.FirstOrDefault(sel => item.ID == sel) != null)
                                        {
                                            <div class="list-group-item school-subjects" id="school-subject-@item.ID">
                                                @item.LongName
                                            </div>
                                        }

                                    }
                                }

                            </div>
                        </div>
                    </div>
                </aside>
            </section>
        </article>
    </section>
</div>




@*Compulsory subject modal for the math civic and English*@
<section id="compulsorySubjectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">It's a compulsory subject. Do you want to derecognize this school?</h4>
            </div>
            <article class="modal-body">
                <form action="@Url.Action("DerecogniseSchool", "Schools")" method="post">
                    <div>
                        <label class="control-label"><input type="radio" class="compulsorySubjectChoice" name="compulsorySubjectChoice" checked="checked" value="No" /> No</label>
                    </div>
                    <div>
                        <label class="control-label"><input type="radio" class="compulsorySubjectChoice" name="compulsorySubjectChoice" value="Yes" /> Yes</label>
                    </div>
                    <div id="derecognize-reason-wrapper" style="display: none;">
                        <div class="form-group">
                            <label for="compulsorySubjectReason" class="control-label">Give detailed reason:</label>
                            <textarea name="compulsorySubjectReason" required="" id="compulsorySubjectReason" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">De-recognize</button>
                        </div>
                    </div>
                </form>
            </article>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</section>

@*Check subject modal for 8 minimum subject required and one traded subject*@
<section id="checkSubjectsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eight (8) subjects are the minimum requirement. Do you want to derecognize this school?</h4>
            </div>
            <article class="modal-body">
                <form action="@Url.Action("AddSubToSchoolSubCheck", "Schools")" method="post">
                    <div>
                        <label class="control-label"><input type="radio" class="addedSubjectChoice" name="addedSubjectChoice" checked="checked" value="No" /> No</label>
                    </div>
                    <div>
                        <label class="control-label"><input type="radio" class="addedSubjectChoice" name="addedSubjectChoice" value="Yes" /> Yes</label>
                    </div>
                    <div id="added-subject-reason-wrapper">
                        <div class="form-group">
                            <label for="addedSubjectReason" class="control-label">Give detailed reason:</label>
                            <textarea name="addedSubjectReason" required="" id="addedSubjectReason" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">De-recognize</button>
                        </div>
                    </div>
                </form>
            </article>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</section>

@*Remove/Update a subject modal*@
<section id="removeSubjectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do you want to remove subject with items?</h4>
            </div>
            <article class="modal-body">
                <form action="@Url.Action("FacilityTabbingUpdate", "Schools")" id="updateform" method="post">
                    <div>
                        <div class="form-group">
                            <h3 class="modal-title">Choose options</h3>
                            <div>
                                <label class="control-label"><input type="radio" class="removedSubjectChoice" name="removedSubjectChoice" checked="checked" value="UpdateSubject" />Update Subject</label>
                            </div>
                            <div>
                                <label class="control-label"><input type="radio" class="removedSubjectChoice" name="removedSubjectChoice" value="RemoveSubject" />Remove Subject</label>
                            </div>
                        </div>

                        <div id="update-subject-reason-wrapper">
                            <h4 class="modal-title">Choose options for update</h4>
                            <div>
                                <label class="control-label"><input type="radio" class="updateoptions" checked name="updateoptions" value="Facility" />Facility</label>
                            </div>
                            <div>
                                <label class="control-label"><input type="radio" class="updateoptions" name="updateoptions" value="Teacher" />Teacher</label>
                            </div>
                            <div>
                                <label class="control-label"><input type="radio" class="updateoptions" name="updateoptions" value="Textbook" />Textbook</label>
                            </div>
                            <input type="hidden" id="updateSchoolId" name="updateSchoolId" value="" />
                            <input type="hidden" id="updateSubjectId" name="updateSubjectId" value="" />
                            <label for="updateSubjectReason" class="control-label">Give detailed reason why you're Updating:</label>
                            <textarea name="updateSubjectReason" required="" id="updateSubjectReason" class="form-control"></textarea>


                            <div class="form-group hideitem">
                                <label class="control-label" for="hasItemsCheckboxUpdate">Has items:</label>
                                <input type="checkbox" name="hasItemsCheckboxUpdate" required="" id="hasItemsCheckboxUpdate" checked="checked" />
                            </div>

                            @*<div class="form-group">
                                    <label class="control-label" for="isBarred">Is Barred:</label>
                                    <input type="checkbox" name="isBarred" required="" id="isBarred" checked="checked" />
                                </div>*@
                            <div class="modal-footer">
                                <button class="btn btn-primary" id="updateubjectmodalbuttonid" type="submit">Update</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form action="@Url.Action("RemoveUpdateSubFromSchoolSub", "Schools")" id="removeform" method="post">
                    <div id="remove-subject-reason-wrapper" style="display: none;">
                        <h4 class="modal-title">Choose options for removing/derecognition</h4>
                        <div>
                            <label class="control-label"><input type="radio" class="options" name="options" value="Malpratice" />Malpratice</label>
                        </div>
                        <div id="hideifitem" style="display: none">
                            <label class="control-label"><input type="radio" class="options" name="options" value="InadequateEquipment" />Inadequate Equipment</label>
                        </div>
                        <div>
                            <label class="control-label"><input type="radio" class="options" name="options" value="NoTeacher" />No Teacher</label>
                        </div>
                        <div>
                            <label class="control-label"><input type="radio" class="options" name="options" value="NoTextbook"/>No Textbook</label>
                        </div>
                        <input type="hidden" name="schoolid" value="@Model.SchoolID"/>
                        <input type="hidden" id="removesubjectid" name="removesubjectid" value="" />
                        <input type="hidden" name="removehasitems" id="removehasitems" value="" />
                        <label for="removeSubjectReason" class="control-label">Give detailed reason why you're removing:</label>
                        <textarea name="removeSubjectReason" required="" id="removeSubjectReason" class="form-control"></textarea>


                        <div class="form-group">
                            <label class="control-label" for="has-items-checkbox">Has items:</label>
                            <input type="checkbox" name="hasItemsCheckbox" required="" id="has-items-checkbox" checked="checked" />
                        </div>

                        @*<div class="form-group">
                                <label class="control-label" for="isBarred">Is Barred:</label>
                                <input type="checkbox" name="isBarred" required="" id="isBarred" checked="checked" />
                            </div>*@
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="removesubjectmodalbuttonid" type="submit">Remove</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </form>
            </article>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</section>


@*Add new subject modal to school subject*@
<section id="addedSubjectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adding a subject to a school</h4>
            </div>
            <article class="modal-body">
                <form action="@Url.Action("AddSubToSchoolSub", "Schools")" method="post">
                    <div>
                        <div class="form-group">
                            <h3 class="modal-title">Choose options</h3>
                            <div>
                                <label class="control-label"><input type="radio" class="addedSubjectOptions" name="addedSubjectOptions" checked="checked" value="No" />No</label>
                            </div>
                            <div>
                                <label class="control-label"><input type="radio" class="addedSubjectOptions" name="addedSubjectOptions" value="Yes" /> Yes</label>
                            </div>
                        </div>
                        <div id="add-subject-modal-wrapper" style="display: none;">
                            <h4 class="modal-title">Choose options for Adding a subject for school</h4>
                            <div id="showifhasitem" style="display:none">
                                <label class="control-label"><input type="radio" class="addsubjectoptions2" data-newid="@Model.ID" name="addsubjectoptions2" value="AddFacilty" />Add Facilty</label>
                            </div>
                            <div>
                                <label class="control-label"><input type="radio" class="addsubjectoptions2" name="addsubjectoptions2" value="AssignTeacher" />AssignTeacher</label>
                            </div>
                            <div>
                                <label class="control-label"><input type="radio" class="addsubjectoptions2" name="addsubjectoptions2" value="AssignTextbook" />Assign Textbook</label>
                            </div>

                            <input type="hidden" name="schoolid" value="@Model.SchoolID" />
                            <label for="addNewSubject" class="control-label">Give detailed reason why you're removing:</label>
                            <textarea name="addNewSubject" required="" id="addNewSubject" class="form-control"></textarea>


                            <div class="form-group" id="hideorshowhasitem">
                                <label class="control-label" for="show-items-checkbox">Has items:</label>
                                <input type="checkbox" name="showitemsCheckbox" required="" id="show-items-checkbox" checked="checked" />
                            </div>


                            <div class="modal-footer">
                                <button class="btn btn-primary" id="addsubjectbuttonid" type="submit">Remove</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    </div>
                </form>
            </article>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</section>



@section scripts{
    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Scripts/dual-list-box.min.js"></script>
    <script type="text/javascript">
        @{
            var subjects = new JavaScriptSerializer().Serialize(Model.AvailableSubjects.Select(sub =>
                new {sub.ID, sub.LongName, sub.HasItem, sub.isBarred, sub.DateUpdated}).ToList()
                );

        }

        $(document).ready(function() {

            var defaultSelectedSubjects = "@string.Join(",", Model.AvailableSelected)".split(",");
            var compulsorySubjects = '@string.Join(",", ViewBag.CompulsorySubjects)'.split(",");
            var tradeSubjects = '@string.Join(",", ViewBag.TradeSubjects)'.split(",");
            var allSubjects = JSON.parse('@subjects'.replace(/&quot;/g, '"'));
            console.log(allSubjects);
            $('.edit-subject').on('click', function() {
                $('#removeSubjectModal').modal('show');
                //get the suject/school data and infix in the respective ids for posting 
                //console.log($(this).data('subjectid'));
                $('#updateSubjectId').val($(this).data('subjectid'));
                $('#updateSchoolId').val($(this).data('schoolid'));
                $('#removehasitems').val($(this).data('hasitems'));
                $('#removesubjectid').val($(this).data('subjectid'));
                //$('#hideifitem').show();
                if ($(this).data('hasitems') === 'True') {
                    //$('#has-items-checkbox').prop('checked', true);
                    $('#hasItemsCheckboxUpdate').prop('checked', true);
                    $('.hideitem').show();
                    $('#hasItemsCheckboxUpdate').val($(this).data('hasitems'));
                } else {
                    $('#hasItemsCheckboxUpdate').prop('checked', false);
                    $('#hasItemsCheckboxUpdate').val($(this).data('hasitems'));
                    $('.hideitem').hide();
                }

            });


            $('.updateoptions').on('change', function() {
                if ($(this).val() === 'Facility') {
                    $('#updateform').attr('action', '/schools/FacilityTabbingUpdate');
                    //$('#updateform').attr('action', '/Recognition/schools/FacilityTabbingUpdate');
                } else if ($(this).val() === 'Teacher') {
                    //$('#updateform').attr('action', '/Recognition/schoolstaffs/Create');
                    $('#updateform').attr('action', '/schoolstaffs/Create');
                } else if ($(this).val() === 'Textbook') {
                    //$('#updateform').attr('action', '/Recognition/schools/Textbook');
                    $('#updateform').attr('action', '/schools/Textbook');
                }
            });
            //
            $('.add-subject').on('click', function() {
                $('#addedSubjectModal').modal('show');
                $('#has-items-checkbox').prop('checked', false);
                //var updsubjectid = $('.updatesubjectid').val();
                //var updschoolid = $('schoolid').val();
                //$.ajax({
                //    url: "/Schools/UpdateSchoolSubjectItems",
                //    data: { updsubjectid: updsubjectid, updschoolid: updschoolid },
                //    type: 'POST',
                //    success: function (data) {
                //        if (data.status == true) {

                //        }
                //    }

                //});
            });


            $('.state-input').on('click', function() {
                if (compulsorySubjects.indexOf($(this).val()) !== -1) {
                    $('#compulsorySubjectModal').modal('show');
                    $(this).prop('checked', true);
                } else if (defaultSelectedSubjects.indexOf($(this).val()) !== -1) {
                    if ($(this).data('hasitems') === 'True') {
                        if ($(this).prop('checked') === 'True') {
                            $('#removeSubjectModal').modal('show');
                            $('#has-items-checkbox').prop('checked', true);
                            $('#hideifitem').show();
                        }
                    } else {
                        if ($(this).prop('checked') === false) {
                            console.log($(this).val());
                            $('#removeSubjectModal').modal('show');
                            $('#has-items-checkbox').prop('checked', false);
                            $('#hideifitem').hide();
                        }
                    }

                } else {
                    if ($(this).data('hasitems') === 'True') {
                        $('#addedSubjectModal').modal('show');
                        $('#show-items-checkbox').prop('checked', true);
                        $('#showifhasitem').show();
                    } else {
                        $('#addedSubjectModal').modal('show');

                        //$('#show-items-checkbox').prop('checked', false);
                        $('#showifhasitem').hide();
                        $('#hideorshowhasitem').hide();

                    }
                }
            });
            $('.compulsorySubjectChoice').on('change', function() {
                if ($(this).val() === 'Yes') {
                    $('#derecognize-reason-wrapper').slideDown(500);
                } else {
                    $('#derecognize-reason-wrapper').slideUp(500);
                }
            });
            $('#saveid').click(function(e) {
                if ($('.state-input:checked').length < 8) {
                    e.preventDefault();
                    $('#checkSubjectsModal').modal('show');
                } else {
                    var isTradeSubjectSelected = false;
                    $('.state-input:checked').each(function(index, element) {
                        if (tradeSubjects.indexOf($(element).val()) !== -1) {
                            isTradeSubjectSelected = true;
                        }
                    });
                    if (isTradeSubjectSelected === false) {
                        e.preventDefault();
                        alert("Please select at least one trade subject before saving.");
                    }
                }
            });
            $('.removedSubjectChoice').on('change', function() {
                if ($(this).val() === 'RemoveSubject') {
                    $('#remove-subject-reason-wrapper').slideDown(500);
                    $('#update-subject-reason-wrapper').slideUp(500);

                } else if ($(this).val() === 'UpdateSubject') {
                    $('#update-subject-reason-wrapper').slideDown(500);
                    $('#remove-subject-reason-wrapper').slideUp(500);
                }
            });

            $('.addedSubjectChoice').on('change', function() {
                if ($(this).val() === 'Yes') {
                    $('#added-subject-reason-wrapper').slideDown(500);
                } else {
                    $('#added-subject-reason-wrapper').slideUp(500);
                }
            });


            $('.addedSubjectOptions').on('change', function() {
                if ($(this).val() === 'Yes') {
                    $('#add-subject-modal-wrapper').slideDown(500);
                } else {
                    $('#add-subject-modal-wrapper').slideUp(500);
                }
            });

            $(".options").on('change', function() {
                if ($(this).val() === 'Malpratice') {
                    $('#removesubjectmodalbuttonid').html('Save');
                } else {
                    $('#removesubjectmodalbuttonid').html('Continue');
                }
            });

            $(".addsubjectoptions2").on('change', function() {
                if ($(this).val() === 'AddFacilty') {
                    console.log($('.newsubjectid:checked').val());
                    $('#addsubjectbuttonid').html('Save');
                } else {
                    $('#addsubjectbuttonid').html('Continue');
                }
            });

            $('.addsubjectbuttonid').on('click', function() {


            });


            //addsubjectbuttonid

            $('#SearchSubject').on('keyup', function() {

                var searcchHtml = '';
                var searchValue = $(this).val();
                if (searchValue === '') {
                    //RESET LIST OF NOTHING IS ENTERED
                    $(allSubjects).each(function(index, subject) {
                        if (in_array(defaultSelectedSubjects, subject.ID)) {
                            searcchHtml += '<section class="row list-group-item" style="background-color: #dff0d8;">' +
                                '<div class="col-md-11">' +
                                '<input type="checkbox" name="AvailableStateSelectedEdit[]" data-hasitems="' + subject.HasItem + '"' +
                                'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" checked /> <span>' + subject.LongName + '</span></div>' +
                                '<div class="col-md-1">' +
                                '<a href="javascript:void();"><i class="fa fa-edit edit-subject" data-subjectid="' + subject.ID + '" data-hasitems="' + subject.HasItem + '"></i></a>' +
                                '</div>' +
                                '<input type="hidden" name="updatesubjectid" id="' + subject.ID + '"/>' +
                                '</section>';
                        } else {
                            searcchHtml += '<section class="row list-group-item">' +
                                '<div class="col-md-11">' +
                                '<input type="checkbox" name="AvailableStateSelectedEdit[]" data-hasitems="' + subject.HasItem + '"' +
                                'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" /> <span>' + subject.LongName + '</span></div>' +
                                '<div class="col-md-1">' +
                                '<a href="javascript:void();"><i class="fa fa-plus-circle add-subject" data-subjectid="' + subject.ID + '" data-hasitems="' + subject.HasItem + '"></i></a>' +
                                '</div>' +
                                '</section>';
                        }
                    });
                    $('#selected-states-wrapper').html(searcchHtml);
                    return;
                    //END RESET LIST
                }
                $(allSubjects).each(function(index, subject) {
                    if (subject.LongName.toLowerCase().indexOf(searchValue.toLowerCase()) > -1) {
                        if (in_array(defaultSelectedSubjects, subject.ID)) {
                            searcchHtml += '<section class="row list-group-item" style="background-color: #dff0d8;">' +
                                '<div class="col-md-11">' +
                                '<input type="checkbox" name="AvailableStateSelectedEdit[]" data-hasitems="' + subject.HasItem + '"' +
                                'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" checked /> <span>' + subject.LongName + '</span></div>' +
                                '<div class="col-md-1">' +
                                '<a href="javascript:void();"><i class="fa fa-edit edit-subject" data-subjectid="' + subject.SubjectID + '"></i></a>' +
                                '</div>' +
                                '<input type="hidden" name="updatesubjectid" id="' + subject.ID + '"/>' +
                                '</section>';
                        } else {
                            searcchHtml += '<section class="row list-group-item">' +
                                '<div class="col-md-11">' +
                                '<input type="checkbox" name="AvailableStateSelectedEdit[]" data-hasitems="' + subject.HasItem + '"' +
                                'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" /> <span>' + subject.LongName + '</span></div>' +
                                '<div class="col-md-1">' +
                                '<a href="javascript:void();"><i class="fa fa-plus-circle add-subject" data-subjectid="' + subject.ID + '"></i></a>' +
                                '</div>' +
                                '<input type="hidden" name="updatesubjectid" id="' + subject.ID + '"/>' +
                                '</section>';
                        }

                    }
                });
                if (searcchHtml !== '') {
                    $('#selected-states-wrapper').html(searcchHtml);
                } else {
                    $('#selected-states-wrapper').html('No result found for ' + searchValue);
                }


            });
        });

        function in_array(array, subjectId) {
            return array.some(function(item) {
                return item == subjectId;
            });
        }
    </script>
    <script type="text/javascript">


    
    </script>


}

