﻿@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Models
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolStaffModel>

@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}


<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_SubjectRecognition");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">

            @if (TempData.ContainsKey("message"))
            {
                var message = TempData["message"] as MessageModel;
                if (message.Status)
                {
                    <div class="alert alert-success">@message.Message</div>
                }
                else
                {
                    <div class="alert alert-danger">@message.Message</div>
                }
            }
            @if (Model.Count > 0)
            {
                <section class="form-group">
                    <div class="table-responsive">

                        @*<a href="#" class="add">AssignState</a>*@
                        <table class="table table-bordered" style="margin-top: 30px;">
                            <tr>

                                <th>
                                    <a>First Name</a>
                                </th>

                                <th>
                                    <a>Last Name</a>
                                </th>

                                <th>
                                    <a>Year Employed</a>
                                </th>

                                <th>
                                    <a>Has TRCN</a>
                                </th>
                                <th>

                                </th>


                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.YearEmployed)
                                    </td>
                                    <td>
                                        @item.isTRCN
                                    </td>


                                    <td>

                                        
                                        @Html.ActionLink("View Details", "DetailStaff", new { id = item.ID }, new { @class = "edit-role", data_editid = item.ID }) |
                                        @Html.ActionLink("Download", "DownloadStaff", new { id = item.ID }, new { @class = "delete-role", id = "delete-idd", data_deleteid = item.ID })
                                    </td>


                                </tr>

                            }
                        </table>
                        <br />

                    </div>
                </section>
            }



        </div>

    </div>
</div>