﻿@using System.Collections
@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Infrastructure
@using SchoolRecognitionSystem.Models
@*@model  List<SchoolRecognitionSystem.Models.SchoolSubjectCompletionReportModel>*@

@{
    ViewBag.Title = "Assign State";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />


<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        <section class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <div class="school-wrapper">
                <div>
                    <h3> <span style="color: black">@ViewBag.SchoolName</span> is <span class="text-success">successfully inspected</span></h3>
                    <p style="color: black;font-weight:bold"> The number of staff in school is <span class="badge" style="font-weight:bold">@ViewBag.StaffNumber</span></p>
                </div>
                <br />
                <h2>Subject with required Facilities</h2>
                <table id="searchtable" class="table table-bordered table-striped">
                    <thead>
                        <tr style="background-color:lightgrey">

                            <th>School Subject(s)</th>
                            <th>Equipment Required</th>
                            <th>Equipment Observed</th>
                            <th>Reagent Required</th>
                            <th>Reagent Observed</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in (IEnumerable<vwSchoolSubjectFacilityReport>)ViewBag.Facilityreport)
                        {

                            <tr>

                                <td>@item.LongName</td>
                                <td>@item.Total_Equipment </td>
                                <td>@item.TotalSchoolEquipment</td>
                                <td>@item.Total_Reagent</td>
                                <td>@item.TotalSchoolReagent</td>

                            </tr>
                        }
                    </tbody>

                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="background-color: lightgrey" colspan="3">SUBJECTS OFFERED BY THE SCHOOL</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var counter = 1;
                        var tableBody = "";
                        var schoolSubjects = (IEnumerable<vwSchoolSubjectReport>) ViewBag.SchoolSubjects;
                        var totalItems = schoolSubjects.Count();
                        var rows = Math.Ceiling((double) totalItems/3);
                        var remainderColumns = totalItems%rows;
                        var rowsDisplayed = 0;
                    }
                   
                    @foreach (var item in schoolSubjects)
                    {

                        if (counter <= 3)
                        {
                            if (counter == 1)
                            {
                                tableBody += "<tr>";
                                tableBody += "<td>" + item.LongName + "</td>";
                                counter++;
                            }
                            else
                            {
                                tableBody += "<td>" + item.LongName + "</td>";
                                if (counter == 3)
                                {
                                    tableBody += "</tr>";
                                    counter = 1;
                                }
                                else
                                {
                                    counter++;
                                }

                            }
                        }

                    }
                    @Html.Raw(tableBody)
                    </tbody>

                </table>
                <div class="pull-right" style="margin-right: 20px; display: none;" id="signature-wrapper">
                    <br />
                    <br />
                    <div class="col-md-5" style="margin-top: 35px;">
                        <label>Signature: </label>
                    </div>
                    <div class="col-md-6"><img id="signature-img" src="~/Content/images/signatures/01465b4b23bb47dfb0a34c9819779f23.jpg" width="200" height="50"/>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin-top: 10px;"/>
                    <p>Zonal coordinator / Branch controller / Officer in charge</p>
                </div>
                <div class="clearfix"></div>
                <br/>
                <br />
            </div>
            <div class="well">
                <div>
                    <p>
                        This school has been inspected by the inspection officer and having gone through the collated data I hereby
                        recommend the school for recognition.

                    </p>
                    <p>
                        <label class="checkbox"><input type="checkbox" id="agreed" value="Vetted" /> I Agree<i></i></label>
                        </p>
                    <div id="finishandprint" style="display: none;">
                        <form action="@Url.Action("MailAttachment", "SchoolsEdit")" method="POST" enctype="multipart/form-data" class="form-horizontal">
                            <input type="hidden" value="@ViewBag.SchoolID" name="schoolid" />
                            <input type="hidden" value="@ViewBag.UserId" name="userId" id="user-id" />
                            <input type="submit" id="finish" value="Finish" class="btn btn-success" />
                            @Html.ActionLink("Print Report", "PrintReportX", "SchoolsEdit", new {sddc = ViewBag.SchoolID, userid = ViewBag.UserId  }, new { @class = "btn btn-danger", sddc = ViewBag.SchoolID })
                        </form>     </div>
                </div>
            </div>






        </section>

    </div>
</div>



<form id="uploadForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send Mail</h4>
            </div>
            <article class="modal-body">
                <section class="form-horizontal">
                    <div class="form-horizontal row">
                        <div class="form-group">
                            <label class="col-md-2">To:</label>
                            <div class="col-md-10">
                                <input id="To" value="confirmation@waec.org.ng" readonly="readonly" class="text-box single-line form-control" type="text" name="To">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Subject:</label>
                            <div class="col-md-10">
                                <input id="Subject" class="text-box single-line form-control" type="text" name="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Attachment:</label>
                            <div class="col-md-10">
                                <input type="file" id="uploadImage" name="fileUploader" />
                            </div>
                            <div id="loadstatus"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"> Body:</label>
                            <div class="col-md-10">
                                <textarea id="Body" class="text-box multiple-line form-control" type="text" name="Body"></textarea>
                            </div>
                        </div>

                        <p class="pull-right">
                            <input type="hidden" id="edit-id" name="ID" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" id="savemodal" value="Save" class="btn btn-primary" />

                        </p>
                    </div>

                </section>

            </article>
        </div>

    </div>
</form>











@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            var agreedToTerms = $('#agreed').prop('checked');
            console.log(agreedToTerms);
            if (!agreedToTerms) {
                $('#finishandprint').css('display', 'none');
            } else {
                $('#finishandprint').css('display', 'block');
            }
            $('#agreed').on("change", function(e) {
                if ($(this).prop('checked')) {
                    $.get('@Url.Action("GetSignature", "Schools")', { userId: $('#user-id').val() }, function (response) {
                        if (response.status) {
                            $('#signature-wrapper').css('display', 'block');
                            $("#signature-img").attr('src', '@ConstantsService.GetApplicationRoot()Content/images/signatures/' + response.signature);
                        } else {
                            alert(response.message);
                        }
                    });
                    $('#finishandprint').css('display', 'block');

                } else {
                    $('#signature-wrapper').css('display', 'none');
                    $('#finishandprint').css('display', 'none');
                }
            });


            $('#messagesent').hide();
            $('#agree').on("change", function(e) {
                var sddc = $('#scholid').val();
                if (this.checked) {
                    //$('#saveid2').show();
                    $.post('@Url.Action("MailAttachment", "SchoolSEdit")', { schoolid: sddc }, function(response) {
                        $('#reportid').show();
                        $('#messagesent').show();

                    });

                } else {

                    // Do some other thing

                }

            });


        });

        function DisableBtn() {
            //var sendbtn = document.getElementById('reportId');
            var sendbtn = $('#reportId').val();
            var sddc = $('#scholid').val();
            var checker = document.getElementById('agree');
            if (checker.checked) {
                //$('#reportId').attr("disabled", true);
                sendbtn.disabled = true;
                //$('#reportId').show();
                $.post('@Url.Action("SchoolStaffs", "MailAttachment")', { schoolid: sddc }, function (response) {
                    alert(response);
                });
            } else {
                sendbtn.disabled = false;
            }
        }
    </script>

}






