﻿@using SchoolRecognitionSystem.Models

@{
    ViewBag.Title = "School Registration";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

<!-- REVOLUTION SLIDER -->
<div class="alert alert-success bordered-bottom nomargin">
    <div class="container">

        <div class="row">

            <div class="col-md-9 col-sm-12">
                <!-- left text -->
                @*<h3>Welcome to <span><strong>School Recognition Portal</strong></span>. </h3>*@
                <p class="font-lato weight-300 size-20 nomargin-bottom">
                    <b>Register inspected schools details</b>
                </p>
                @*<p class="font-lato weight-300 size-20 nomargin-bottom">09053969149
                        This platform is used by <span><strong>WAEC Nigeria</strong></span> to register
                        all Schools that have been inspected by designated staff of the Council
                    </p>*@
            </div><!-- /left text -->

        </div>

    </div>
</div>
<div class="container">
    <div class="row">

        @if (UserManager.IsUserInRole("User"))
            {
            <div style="width: 700px; margin: 0 auto;">
                <div class="col-md-6 col-xs-6">

                    <a href="@Url.Action("NewSchool", "Schools")" @*target="_blank"*@ id="newSchool">
                        <div class="text-center">
                            <i class="ico-light ico-lg ico-rounded ico-hover et-notebook text-orange"></i>
                            @*<h4>School</h4>*@
                            <p>Registering a new school? click here</p>

                            <button class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>New School
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </button>

                        </div>
                    </a>
                </div>
            </div>

            <div style="width: 700px; margin: 0 auto;">
                <div class="col-md-6 col-xs-6">

                    <a href="@Url.Action("Index", "Schools")" @*target="_blank"*@ id="newSchool">
                        <div class="text-center">
                            <i class="ico-light ico-lg ico-rounded ico-hover et-notebook text-orange"></i>
                            @*<h4>Edit Schools</h4>*@
                            <p>Edit registered schools by staff</p>

                            <button class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Edit school
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </button>
                        </div>
                    </a>
                </div>
            </div>

                @*<div style="width: 700px; margin: 0 auto;">
                        <div class="col-md-6 col-xs-6">

                            <a href="@Url.Action("SearchPage", "Schools")" target="_blank" id="newSchool">
                                <div class="text-center">
                                    <i class="ico-light ico-lg ico-rounded ico-hover et-notebook text-orange"></i>
                                  <p>Asking for subject approval? click here </p>
                                    <button class="btn btn-primary btn-sm">
                                        <i class="glyphicon glyphicon-floppy-disk text-white"></i>Subject Recognition
                                        <i class="glyphicon glyphicon-menu-right size-12"></i>
                                    </button>

                                </div>
                            </a>
                        </div>
                    </div>*@



        }

        @if (UserManager.IsUserInRole("Admin"))
        {
            <div style="width: 700px; margin: 0 auto;">
                <div class="col-md-6 col-xs-6">
                    <a href="@Url.Action("Index", "Assessment")" id="newSchool">
                        <div class="text-center">
                            <i class="ico-light ico-lg ico-rounded ico-hover et-adjustments text-orange"></i>
                            @*<h4>Approval Details</h4>*@
                            <p>Schools that have been registered on the platform</p>

                            <button class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>School(s) Recognition
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </button>

                        </div>
                    </a>
                </div>
            </div>

            <div style="width: 700px; margin: 0 auto;">
                    <div class="col-md-6 col-xs-6">
                        <a href="@Url.Action("IndexB", "Assessment")" id="newSchool">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-adjustments text-orange"></i>

                                <p>Subject(s) that were not approved for recognition</p>

                                <button class="btn btn-primary btn-sm">
                                    <i class="glyphicon glyphicon-floppy-disk text-white"></i>Subjects(s) Recognition
                                    <i class="glyphicon glyphicon-menu-right size-12"></i>
                                </button>

                            </div>
                        </a>
                    </div>
                </div>

            @*<div style="width: 700px; margin: 0 auto;">
                    <div class="col-md-6 col-xs-6">
                        <a href="@Url.Action("SearchCentre", "Schools")" id="newSchool">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-adjustments text-orange"></i>

                                <p>School Subject(s)</p>

                                <button class="btn btn-primary btn-sm">
                                    <i class="glyphicon glyphicon-floppy-disk text-white"></i>Derecognise Subject(s)
                                    <i class="glyphicon glyphicon-menu-right size-12"></i>
                                </button>

                            </div>
                        </a>
                    </div>
                </div>*@
            @*<div class="col-md-3">
                    <div class="list-group margin-top-40">
                        <div class="list-group-item">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="list-group-item">
                            <a href="@Url.Action("Index", "Schools")" class="list-group-item">Schools</a>
                            <a href="@Url.Action("Index", "Schools")" class="list-group-item">Users</a>
                            <a href="@Url.Action("Index", "Schools")" class="list-group-item">States</a>

                        </div>

                    </div>
                </div>*@
        }

        @if (UserManager.IsUserInRole("SuperAdmin"))
        {
            <div>
                    <div class="col-md-3 col-xs-6">

                        <a href="@Url.Action("NewSchool", "Schools")"  id="newSchool">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-notebook text-orange"></i>
                                <h4>School/Subject Recognition</h4>
                                <p>Register a new school/Update an existing school </p>

                                <button class="btn btn-primary btn-sm">
                                    <i class="glyphicon glyphicon-floppy-disk text-white"></i>School/Subject Recognition
                                    <i class="glyphicon glyphicon-menu-right size-12"></i>
                                </button>

                            </div>
                        </a>
                    </div>
                </div>


            <div style="width: 700px; margin: 0 auto;">
                    <div class="col-md-6 col-xs-6">
                        <a href="@Url.Action("Index", "Assessment")" id="newSchool">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-adjustments text-orange"></i>

                                <p>Schools that have been registered on the platform</p>

                                <button class="btn btn-primary btn-sm">
                                    <i class="glyphicon glyphicon-floppy-disk text-white"></i>Approve School(s)
                                    <i class="glyphicon glyphicon-menu-right size-12"></i>
                                </button>

                            </div>
                        </a>
                    </div>
                </div>
            <div style="width: 700px; margin: 0 auto;">
                    <div class="col-md-6 col-xs-6">
                        <a href="@Url.Action("IndexB", "Assessment")" id="newSchool">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-adjustments text-orange"></i>

                                <p>Subject(s) that were not approved for recognition</p>

                                <button class="btn btn-primary btn-sm">
                                    <i class="glyphicon glyphicon-floppy-disk text-white"></i>Approve Subject(s)
                                    <i class="glyphicon glyphicon-menu-right size-12"></i>
                                </button>

                            </div>
                        </a>
                    </div>
                </div>
            <div style="width: 700px; margin: 0 auto;">
                <div class="col-md-6 col-xs-6">
                    <a href="@Url.Action("AssignRole", "Admin")" id="newSchool" @*target="_blank"*@>
                        <div class="text-center">
                            @*<i class="ico-light ico-lg ico-rounded ico-hover fa fa-user-md text-orange"></i>*@
                            <i class="ico-light ico-lg ico-rounded ico-hover et-adjustments text-orange"></i>

                            <h4>User Management</h4>
                            <p>Activate users and assign role/state(s) to  Administrators</p>

                            <button class="btn btn-primary btn-sm">
                                <i class="glyphicon glyphicon-floppy-disk text-white"></i>Manage Users
                                <i class="glyphicon glyphicon-menu-right size-12"></i>
                            </button>

                        </div>
                    </a>
                </div>
                @*<div class="col-md-3 col-xs-6">
                        <a href="@Url.Action("GenerateCentre", "AutoCentre")" id="newSchool" target="_blank">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-user text-orange"></i>
                                <h4>Auto Centre</h4>
                                <p>Generate centre numbers for approved schools</p>

                                <button class="btn btn-primary btn-sm">
                                    <i class="glyphicon glyphicon-floppy-disk text-white"></i>Generate CentreNo
                                    <i class="glyphicon glyphicon-menu-right size-12"></i>
                                </button>

                            </div>
                        </a>
                    </div>*@

            </div>
            @*<div class="col-md-3">
                    <div class="list-group margin-top-40">
                        <div class="list-group-item">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="list-group-item">
                            <a href="@Url.Action("Index", "Schools")" class="list-group-item">Schools</a>
                            <a href="@Url.Action("Index", "Schools")" class="list-group-item">Users</a>
                            <a href="@Url.Action("Index", "Schools")" class="list-group-item">States</a>
                            <a href="@Url.Action("Index", "Schools")" class="list-group-item">Approved Schools</a>
                            <a href="@Url.Action("Index", "Schools")" class="list-group-item">Administrators</a>
                            <a href="@Url.Action("Index", "Schools")" class="list-group-item">Recognised Schools</a>
                            <a href="@Url.Action("Index","Schools")" class="list-group-item">DeRecognised Schools</a>
                        </div>

                    </div>
                </div>*@
        }
    </div>
    <div class="col-md-5" id="leftInfo">
    </div>
    <div class="col-sm-6">

    </div>


</div>




