﻿@using SchoolRecognitionSystem.Models
@model IEnumerable<vwSchoolSubjectListing>
@{
    //var subjects = ViewBag.SubjectID as IEnumerable<vwSchoolSubjectListing>;
    if (Model != null)
    {
        foreach (var subject in Model)
        {
            if (subject.IsStaffSubjectAssigned??false)
            {
                <div class="list-group-item school-subjects-selected major-subjects" id="school-subject-@subject.ID">
                    @subject.LongName
                </div>
            }
            else
            {
                <div class="list-group-item school-subjects" id="school-subject-@subject.ID">
                    @subject.LongName
                </div>
            }
        }
    }

}