﻿@using System.Web.Script.Serialization
@using SchoolRecognitionSystem.Models
@model SchoolRecognitionSystem.Models.SchoolStaffList
@{
    ViewBag.Title = "Create Staff";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
   
         var allSubjects = ViewBag.AllSubjects as List<SubjectModel>;
         var staffSubjects = ViewBag.StaffSubjectList as List<vwSchoolStaffsSubjects>;
         //var dropdownSubectId = ViewBag.SubjectIdListbox;


    
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
<div class="row">
    <section class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </aside>
        <article class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <section class="row">
                <article class="col-lg-9 col-md-9 col-sm-10 col-xs-10">

                    @if (TempData["DataSavedSuccessfully"] != null)
                    {
                        <div id="result" class="alert alert-success">
                            @TempData["DataSavedSuccessfully"]
                        </div>
                    }


                    @if (TempData["Fill"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["Fill"]
                        </div>
                    }

                    @if (TempData["PrincipalExist"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["PrincipalExist"]
                        </div>
                    }
                    @if (TempData["selectPrincipalDegreee"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["selectPrincipalDegreee"]
                        </div>
                    }






                    @if (TempData["Certificates"] != null)
                    {
                        <div id="result" class="alert alert-danger">
                            @TempData["Certificates"]
                        </div>
                    }

                    @*<ul class="nav nav-tabs">
                            <li class="tab-pane active">
                                <a data-toggle="tab" id="">Staff</a>
                            </li>
                            <li>
                                <a data-toggle="tab" id="school-staff-record" data-href="@Url.Action("SchooStafflRecords", "SchoolStaffs")">School Staff Record</a>
                            </li>
                        </ul>*@
                    <article class="tab-content" style="margin: 20px;">
                        @*<section class="tab-pane active fade in" id="staff">
            <div class="mycustom-tab" id="loadPagePanel">*@
                        <!-- flight section -->
                        <div class="active">
                            <span id="messagesuccess"></span>

                            @using (Html.BeginForm("EditStaffSubject", "SchoolsEdit", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", @id = "registerFormId", onkeypress="return event.keyCode != 13;" }))
                            {
                                @Html.AntiForgeryToken()
                                HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                                <div class="form-horizontal">
                                    <h2>please fill appropraitely</h2>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                   
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SchoolStaffNameId, "Staff Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("SchoolStaffNameId", null, "(select staff)", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.SchoolStaffNameId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("DegID", "Degree/Course", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                                <div class="form-control" id="coursedegree"></div>
                                        </div>
                                    </div>
                                    @Html.Hidden("scs", Request.QueryString["scs"].ToString())
                                    @Html.Hidden("sddc", Request.QueryString["sddc"].ToString())
                                    <input type="hidden" value="@ViewBag.SchId" name="SchoolID" />
                                    <input type="hidden" name="scs" value="@Request.QueryString["scs"].ToString()" />
                                    <input type="hidden" name="sddc" value="@Request.QueryString["sddc"].ToString()" />

                                   
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            @Html.Label("SubjectIDss", "Other Subjects", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div class="form-control">
                                                    <div class="col-md-8">
                                                        <input type="text" style="border: 0; width: 100%;" placeholder="Search Subjects here..." id="SearchSubject" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div id="serach-result-container" style="display: none;">
                                                            <span>Search results: </span> <input type="text" id="searchSubjectCounter" style="border: 0; width: 60px;" value="0"/>    
                                                        </div>
                                                    </div> 
                                                </div>
                                                <section class="list-group" style="border: 1px solid #ddd; padding: 5px 20px 20px 20px;">
                                                    <div class="row" style="padding-bottom: 5px;">
                                                        <div class="pull-left">
                                                            Selected subjects: <span class="badge" id="selected-subject-count">@staffSubjects.Count</span>
                                                        </div>
                                                        <div class="pull-right">
                                                            Total subjects: <span class="badge" id="selected-subject-count">@allSubjects.Count</span>
                                                        </div>
                                                    </div>
                                                    <article id="selected-states-wrapper" style="max-height: 300px; overflow-y: auto;">
                                                      @*SHOW SUBJECTS ADDED FOR THIS USER FIRST*@
                                                    @foreach (var item in staffSubjects)
                                                    {
                                                        <section class="list-group-item" style="background-color: #9afa9a;">
                                                                <label>
                                                                <input type="checkbox" class="subject-checkbox" name="SubjectIDss[]" class="state-input" id="allsubject" value="@item.SubjectID" checked/> <span>@item.LongName</span>
                                                                </label>
                                                        </section>
                                                    }
                                                    @foreach (var item in allSubjects)
                                                    {
                                                        if (!(staffSubjects.Any(sel => item.ID == sel.SchoolID)))
                                                        {
                                                            <section class="list-group-item">
                                                                    <label>
                                                                    <input type="checkbox" class="subject-checkbox" name="SubjectIDss[]" data-hasitems="@item.HasItem" class="state-input" id="preselectedsubjectid" value="@item.ID"/> <span>@item.LongName</span>
                                                                    </label>
                                                            </section>
                                                        }
                                                    }  
                                                    </article>
                                                    
                                                </section>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="teacher-added" name="teacherAdded" value="0" />

                                    @Html.Hidden("SchoolID", Request.QueryString["sddc"])
                                    <input type="hidden" id="ID" name="ID" value="0" />
                                    @*<input type="hidden" id="SchoolSubjectID" name="SchoolSubjectID" value="@Model.SchoolSubjectID" />*@
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" id="btnSave" class="btn btn-success btn-sm"><i class="fa fa-add"></i>Update</button>
                                          
                                        </div>
                                    </div>

                                </div>
                                                        }

                        </div>

                    </article>

                </article>
               </section>

        </article>
        <article class="col-md-2"></article>

    </section>
</div>


@section scripts{
    <script src="~/Scripts/jquery.sumoselect.js"></script>
    <script type="text/javascript">
        var defaultSubjectsAssignedToUser = [];
        var selectedSubjects = [];
        var allSubjects = [];
        @{
            var allSubjectConverted = Html.Raw(new JavaScriptSerializer().Serialize(allSubjects.Select(sub =>
                new {sub.ID, sub.LongName, sub.HasItem, sub.isBarred, sub.DateUpdated}).ToList()
                ));
            var defaultSubjects = new List<int>();
            staffSubjects.ForEach(item => defaultSubjects.Add(item.SubjectID));
            var defaultSubjectsJsonStr = Html.Raw(new JavaScriptSerializer().Serialize(defaultSubjects));
        }
        allSubjects = JSON.parse('@allSubjectConverted');
        selectedSubjects = defaultSubjectsAssignedToUser = JSON.parse('@defaultSubjectsJsonStr');

        var searchQueryString = '';
        function renderDefaultSubjectsWhenSearchFieldEmpty() {
            var searcchHtml = '';
            searchQueryString = '';
                //RESET LIST OF NOTHING IS ENTERED
            $(selectedSubjects).each(function(index, subjectId) {
                var subject = allSubjects.find(item => item.ID === subjectId);
                searcchHtml += '<section class="list-group-item" style="background-color: #9afa9a;">' +
                    '<label>' +
                    '<input type="checkbox" class="subject-checkbox" name="SubjectIDss[]" data-hasitems="' + subject.HasItem + '"' +
                    'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" checked /> <span>' + subject.LongName + '</span>' +
                    '</label>' +
                    '</section>';
            });
                $(allSubjects).each(function (index, subject) {
                    var subjectId = selectedSubjects.find(itemId => itemId === subject.ID);
                    if (!subjectId) {
                        searcchHtml += '<section class="list-group-item">' +
                            '<label>' +
                            '<input type="checkbox" class="subject-checkbox" name="SubjectIDss[]" data-hasitems="' + subject.HasItem + '"' +
                            'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" /> <span>' + subject.LongName + '</span>' +
                            '</label>' +
                            '</section>';
                    }
                });
                $('#serach-result-container').hide();
                $('#selected-subject-count').html(selectedSubjects.length);
                $('#selected-states-wrapper').html(searcchHtml);
                return;
        }

            function renderSearchedSubjects(searchValue) {
                if (searchValue === '') {
                    renderDefaultSubjectsWhenSearchFieldEmpty();
                    return;
                }
                var searcchHtml = '';
                    //RESET LIST OF NOTHING IS ENTERED
                    var searchCount = 0;
                searchQueryString = searchValue;
                var searchSubjectsArray = [];
                $(allSubjects).each(function(index, subject) {
                    if (subject.LongName.toLowerCase().indexOf(searchValue.toLowerCase()) > -1) {
                        searchCount++;
                        searchSubjectsArray.push(subject.ID);
                    }
                });
                $(searchSubjectsArray).each(function(index, subjectId) {
                    var checkIfSelected = selectedSubjects.find(itemId => itemId === subjectId);
                    var subject = allSubjects.find(item => item.ID === subjectId);
                    if (checkIfSelected) {
                        searcchHtml += '<section class="list-group-item" style="background-color: #9afa9a;">' +
                            '<label>' +
                            '<input type="checkbox" class="subject-checkbox" name="SubjectIDss[]" data-hasitems="' + subject.HasItem + '"' +
                            'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" checked /> <span>' + subject.LongName + '</span>' +
                            '</label>' +
                            '</section>'; 
                    }
                   
                });
                $(searchSubjectsArray).each(function(index, subjectId) {
                    var checkIfSelected = selectedSubjects.find(itemId => itemId === subjectId);
                    var subject = allSubjects.find(item => item.ID === subjectId);
                    if (!checkIfSelected) {
                    searcchHtml += '<section class="list-group-item">' +
                        '<label>' +
                        '<input type="checkbox" class="subject-checkbox" name="SubjectIDss[]" data-hasitems="' + subject.HasItem + '"' +
                        'class="state-input" id="preselectedsubjectid" value="' + subject.ID + '" /> <span>' + subject.LongName + '</span>' +
                        '</label>' +
                        '</section>';
                        }
                });
                
                if (searcchHtml !== '') {
                    $('#selected-states-wrapper').html(searcchHtml);
                } else {
                    $('#selected-states-wrapper').html('No result found for ' + searchValue);
                }
                $('#searchSubjectCounter').val(searchCount);
                $('#selected-subject-count').html(selectedSubjects.length);
                $('#serach-result-container').show();
                }
        $(document).ready(function() {
            $("#SchoolStaffNameId").on("change",
                function() {
                    var id = $(this).val();
                    var baseUrl = '@Url.Content("~/")';
                    var url = baseUrl + "api/recog/GetStaffCourse";
                    $.get(url,
                        { StaffID: id },
                        function(data) {
                            if (data != null) {
                                var d = data;
                                $('#coursedegree').html(d[0].CourseTitle + " " + d[0].DegreeType);
                            }
                        });
                });
            $("#SchoolStaffNameId").trigger('change');
        });

        $('#SearchSubject').on('keyup', function() {
            if ($(this).val() === '') {
                renderDefaultSubjectsWhenSearchFieldEmpty();
            } else {
                renderSearchedSubjects($(this).val());
            }
    });
        $(document).on('change', '.subject-checkbox', function() {
            if ($(this).prop('checked')) {
                selectedSubjects.push(parseInt($(this).val()));
            } else {
                selectedSubjects = selectedSubjects.filter(item => item !== parseInt($(this).val()));
            }
            renderSearchedSubjects(searchQueryString);
        });
        $('#btnSave').click(function() {
            renderDefaultSubjectsWhenSearchFieldEmpty();
            setTimeout(function(){$('#registerFormId').submit()}, 500);
        });
        function submitForm() {
            
        }
    </script>

}
