﻿@using PagedList.Mvc;
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.LaboratoryViewModel>
@{
    ViewBag.Title = "Laboratory";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
@*<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Laboratory Facility</li>
</ol>*@
@*<h2>FacilityTabbing</h2>*@
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">

            @*@if (Session["SchoolID"] != null)
                {*@

            @Html.AntiForgeryToken()
            <ul class="nav nav-tabs" style="margin: 20px;">

                <li>
                    <a data-toggle="tab" id="equipment" data-href="@Url.Action("FacilityTabbingg", "SchoolsEdit")">
                        Equipment
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" id="reagent-record" data-href="@Url.Action("ReagentFacilityy", "SchoolsEdit")">Reagent</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" id="lab-record" data-labidd="3" data-href="@Url.Action("EditLab", "SchoolsEdit")">Laboratory</a>
                </li>

            </ul>
            <article class="tab-content" style="margin: 20px;">
                <section class="tab-pane fade in active" id="lab-record2">
                    <div>
                        <!-- flight section -->
                        <div class="active">

                            @*@if (Session["SchoolID"] != null)
                                {*@
                            <div class="form-group">
                                <label class="control-label col-md-2">Subject</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("ID", ViewBag.SchoolSubjectList as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control" })
                                    @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="clearfix"></div>*@
                            <div class="form-group">
                                <div id="itemsDetailSection">
                                    <div id="itemsDetailTable"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            @if (Model.Count > 0)
                            {
                                <section class="form-group">
                                    <div class="table-responsive">

                                        <table class="table table-bordered" style="margin-top: 30px;">
                                            <tr>

                                                <th>
                                                    <a>Item Description</a>
                                                </th>

                                                <th>
                                                    <a>item value</a>
                                                </th>


                                            </tr>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ItemDescription)
                                                    </td>
                                                    @if (
item.ItemDescription.Trim().Equals("Apparatus") ||
item.ItemDescription.Trim().Equals("Reagent/Chemicals") ||
item.ItemDescription.Trim().Equals("Charts") ||
item.ItemDescription.Trim().Equals("Models"))
                                                    {
                                                        <td>
                                                            @if (item.LabValue == "ADEQUATE")
                                                            { <select data-recordidEdit="0" name="" onblur="useOnBlur('@item.SchoolLabConfig_ID', this);">
                                                                <option value="">--Select--</option>
                                                                <option selected="selected" value="ADEQUATE">ADEQUATE</option>
                                                                <option value="NON-ADEQUATE">NON-ADEQUATE</option>
                                                            </select>
                                                            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                            <p class="message-output"></p>
                                                            }
                                                            else
                                                            { <select data-recordidEdit="0" name="" onblur="useOnBlur('@item.SchoolLabConfig_ID', this);">
                                                                <option value="">--Select--</option>
                                                                <option value="ADEQUATE">ADEQUATE</option>
                                                                <option selected="selected" value="NON-ADEQUATE">NON-ADEQUATE</option>
                                                            </select>
                                                            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                            <p class="message-output"></p> }

                                                        </td>
                                                    }
                                                    else if (item.ItemDescription.Trim().Equals("GENERAL ASSESSMENT:COMPULSORY TO COMPLETE ENTRY"))
                                                    {
                                                        <td>
                                                            <label class="control-label"><input type="radio" class="approved" name="approved_@item.ID" data-id="@item.ID" value="True" />Generally Adequate</label>
                                                            <label class="control-label"><input type="radio" class="approved" name="approved_@item.ID" data-id="@item.ID" value="False" />Generally Not Adequate</label>
                                                        </td>
                                                    }

                                                    else
                                                    {
                                                        <td>
                                                            <input data-recordidEdit="0" type="text" id="inUser" onblur="useOnBlur('@item.SchoolLabConfig_ID', this);" value="@item.LabValue">
                                                            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                            <p class="message-output"></p>
                                                        </td>
                                                        @Html.DisplayFor(modelItem => item.UserValue)
                                                    }




                                                </tr>
                                            }
                                        </table>
                                        <br />
                                        <input type="hidden" id="SchoolFacilityValueID" name="SchoolFacilityValueID" value="0" />
                                        <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0" />
                                        <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0" />
                                        <div id='Paging' style="text-align: center">
                                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                            of @Model.PageCount

                                            @Html.PagedListPager(Model, page => Url.Action("EditLab", new { page, subjectid = ViewBag.subjectid }))
                                        </div>
                                    </div>
                                </section>
                            }
                            else
                            {
                                <div class="well" style="margin-top:30px;">
                                    <h3>Please select a subject to load items.</h3>
                                </div>
                            }
                            @*}
                                else
                                {
                                    <div class="well">Section is null</div>

                                }*@
                        </div>

                    </div>


                </section>



            </article>

            @*}
                else
                {
                    <div class="well">Section is null</div>

                }*@
        </div>

    </div>
</div>



@section scripts{

    <script type="text/javascript">

        var subjectId;
        $(document).ready(function() {

            $("#itemsDetailSection").hide(0);
            $("#ID").change(function() {
                subjectId = $("#ID").val();
                getEquipmentTable(subjectId, 1);
                $("#itemsDetailSection").show();
            });

        });

        function getEquipmentTable(subjectId, page) {
            $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
            if (parseInt(subjectId) > 0) {
                document.location = '@Url.Action("EditLab")?subjectId=' + subjectId + "&sddc=" + @Request.QueryString["sddc"];;
                //document.location = '/Recognition/Schools/LaboratoryFacility/?subjectId=' + subjectId;
            } else {
                $("#itemsDetailTable").html("No Subject selected yet.");
            }
        }

        function useOnBlur(d_id, elem) {
            var isSuccess = -1;


            if (elem.value == '') {
                $(elem).parent().find('.message-output').stop().css('opacity', 1)
                    .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                return;
            }
            $(elem).parent().find('.spinner-wrapper').show();
            $(elem).parent().find('.message-output').hide();
            @*var record_id = $(elem).attr('data-recordId');
            var schoolLabValueRowID = '@ViewBag.SchoolLabValueID';*@
            var sddc = '@Request.QueryString["sddc"]';
            //console.log(record_id
            //alert(d_id);
            $.ajax({
                //url: "/Recognition/Schools/SaveLaboratory",
                url: "@Url.Action("UpdateSchoolLaboratory")",
                data: { dd: d_id, user: elem.value, sddc: sddc },
                type: 'POST',
                success: function(data) {
                    console.log(data);
                    if (data.status === true) {
                        var totalEquipmentItems = '@Model.TotalItemCount' - 1;
                        var subjectsid = '@ViewBag.subjectid';
                        var laboratoryId = $('#lab-record').attr("data-labidd");
                        var generalAssessment = $("input.approved:checked").val();
                        $.post('@Url.Action("LaboratorySummary")?sddc= ' + @Request.QueryString["sddc"], { totalLaboratoryItems: totalEquipmentItems, subjectid: subjectsid, facilityCategoryId: laboratoryId, generalAssessment: true }, function(response) {
                            //$.post('/Recognition/Schools/Textbook', { Checkeditems: checkedboxes, Textbooks: textboxes }, function (response) {
                            if (response.status == true) {
                                alert('data saved successfully');

                            } else {
                                alert('data not saved correctly');
                            }
                        });
                        $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                            .addClass('text-success').html(data.message).show().fadeOut(10000);
                        $(elem).attr('data-recordId', data.recordId);
                        isSuccess = data;
                       
                    } else {
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                    }


                }

            });

        };

        $("input.approved").on("click", function() {
            var totalEquipmentItems = '@Model.TotalItemCount' - 1;
            var subjectsid = '@ViewBag.subjectid';
            var laboratoryId = $('#lab-record').attr("data-labidd");
            var generalAssessment = $("input.approved:checked").val();

            $.post('@Url.Action("LaboratorySummary")?sddc= ' + @Request.QueryString["sddc"], { totalLaboratoryItems: totalEquipmentItems, subjectid: subjectsid, facilityCategoryId: laboratoryId, generalAssessment: generalAssessment }, function(response) {
                //$.post('/Recognition/Schools/Textbook', { Checkeditems: checkedboxes, Textbooks: textboxes }, function (response) {
                if (response.status == true) {
                    alert('data saved successfully');

                } else {
                    alert('data not saved correctly');
                }
            });

        });

    </script>
<script>
        $('#equipment').on('click', function () {
            document.location = $(this).attr("data-href");
        });


        $('#reagent-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });


        $('#lab-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });

</script>

}










@*===========================*@



