﻿@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.ReagentViewModel>
@{
    ViewBag.Title = "ReagentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Reagent Facility</li>
</ol>
@*<h2>FacilityTabbing</h2>*@
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">

            @*@if (Session["SchoolID"] != null)
                {*@

            @Html.AntiForgeryToken()
      
            <article class="tab-content" style="margin: 20px;">
                <section class="tab-pane fade in active" id="reagent2">
                    <div>
                        <!-- flight section -->
                        <div class="active">
                            <div class="form-group">
                                <label class="control-label col-md-9"></label>
                                <div class="col-md-3" style="margin-bottom: 30px;">
                                    <a class='btn btn-success' href="@Url.Action("Index", "Schools")">School list</a>
                                </div>
                            </div>
                            @*@if (Session["SchoolID"] != null)
                                {*@
                            <div class="form-group">
                                <label class="control-label col-md-2">Subject</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("ID", ViewBag.SchoolSubjectList as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control" })
                                    @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <div id="itemsDetailSection">
                                    <div id="itemsDetailTable"></div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            @if (Model.Count > 0)
                            {
                                <section class="form-group">
                                    @{
                                        var xyz = (ViewBag.SchReagentID as IEnumerable<ReagentViewModel>).ToString();
                                    }
                                    <div class="table-responsive">
                                        <div class="pull-right">
                                            <p style="margin-right: 30px;">
                                                Total Records: <strong>@Model.TotalItemCount</strong>
                                            </p>
                                        </div>
                                        <table class="table table-bordered" style="margin-top: 30px;">
                                            <tr>
                                                <th>
                                                    <a>ID</a>
                                                </th>
                                                <th>
                                                    <a>Item Description</a>
                                                </th>

                                                <th>
                                                    <a>Quantity Required</a>
                                                </th>

                                                <th>
                                                    <a>Quantity seen</a>
                                                </th>
                                                <th>
                                                    <a>Unit</a>
                                                </th>

                                                <th>
                                                    <a>Grade</a>
                                                </th>


                                                <th>
                                                    <a>Specification</a>
                                                </th>


                                            </tr>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SchoolReagentConfig_ID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ItemDescription)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.QuantityRequired)
                                                        @*@Html.DisplayFor(modelItem => item.UnitType)*@
                                                    </td>

                                                    <td>
                                                        <input data-recordid="0" data-existingreagentvalueid="@ViewBag.SchReagentID" type="text" id="inUser" data-definition="@item.SchoolReagentConfig_ID" onblur="useOnBlur('@item.SchoolReagentConfig_ID', this);" value="@item.ReagentValue"> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                        <p class="message-output"></p>
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UnitType)
                                                    </td>


                                                    <td id="definition-@item.SchoolReagentConfig_ID" class="definition-column">
                                                        @item.DigitValue
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Specification)
                                                        @*<input type="hidden" id="@item.FacilityCategoryID" name="FacilityCategoryID" value="@item.FacilityCategoryID" />*@

                                                    </td>


                                                </tr>
                                            }
                                            <tfoot>
                                                <tr>

                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>

                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td><strong>Total:</strong> <span id="total-grades">0</span> </td>
                                                    <td>&nbsp;</td>


                                                </tr>
                                            </tfoot>
                                        </table>
                                        <br />
                                        <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId' />
                                        <input type='hidden' value='@Request.QueryString["totalgradds"]' id='totalgradds' />
                                        <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0" />
                                        <div id='Paging' style="text-align: center">
                                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                            of @Model.PageCount

                                            @Html.PagedListPager(Model, page => Url.Action("EditReagent", new { page, subjectid = ViewBag.subjectid }))
                                        </div>
                                    </div>
                                </section>
                                        }
                                        else
                                        {
                                            <div class="well" style="margin-top:30px;">
                                                <h3>Please select a subject to load items.</h3>
                                            </div>
                                        }
                            @*}
                                else
                                {
                                    <div class="well">Section is null</div>

                                }*@
                        </div>

                    </div>


                </section>



            </article>

            @*}
                else
                {
                    <div class="well">Section is null</div>

                }*@
        </div>

    </div>
</div>


@section scripts{

    <script type="text/javascript">

        var subjectId;
        var facilityhardcoded;
        var bag = 0;
        var totalgrades = 0;
        var facilityCategoryId = 0;
        var currentPage = parseInt('@Model.PageNumber');
        var currentSchool = '@ViewBag.CurrentSchool';
        $(document).ready(function() {
            $("#itemsDetailSection").hide(0);
            sumGrades();
            $("#ID").change(function() {
                subjectId = $("#ID").val();
                //facilityCategoryId = $("#FacilityCategoryID").val();
                getEquipmentTable(subjectId, 1);
                $("#itemsDetailSection").show();
            });
            sumGrades($("#ID").val());
        });


        function getEquipmentTable(subId, page) {
            $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
            if (parseInt(subjectId) > 0) {
                 document.location = '@Url.Action("EditReagent", "SchoolsEdit")?subjectId=' +subjectId +"&sddc=" + @Request.QueryString["sddc"];
            } else {
                $("#itemsDetailTable").html("No Subject selected yet.");
            }
        }

        function useOnBlur(d_id, elem) {
            var isSuccess = -1;

            if (elem.value == '') {
                $(elem).parent().find('.message-output').stop().css('opacity', 1)
                    .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                $(elem).addClass('border-danger');
                return;
            }

            $(elem).parent().find('.spinner-wrapper').show();
            $(elem).parent().find('.message-output').hide();

            var existingreagentvalueid = $(elem).attr('data-existingreagentvalueid');
            var record_id = $(elem).attr('data-recordId');

            var definition = $(elem).attr('data-definition');

            var subjectId = $("#subjectId").val();

            var totalComputed = $('#total-grades').html();
            var totalDbRecords = '@Model.TotalItemCount';
            var sddc = '@Request.QueryString["sddc"]';
            console.log(existingreagentvalueid);

            $.ajax({
                //url: "/Recognition/Schools/SaveReagent",
                url: "@Url.Action("SaveReagent", "SchoolsEdit")",
                data: { dd: d_id, user: elem.value, record_id: record_id, subjectIds: subjectId, totalDbRecords: totalDbRecords, totalComputed: totalComputed, existingReagentValueId: existingreagentvalueid,sddc:sddc },
                type: 'POST',
                success: function(data) {
                    if (data.status == true) {

                        var definitionValue = 0;
                        switch (data.definition) {
                            case 'Excellent':
                                definitionValue = 1;
                                break;
                            default:
                                definitionValue = 0;

                        }
                        $('td#definition-' + definition).html(definitionValue);
                        $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                            .addClass('text-success').html(data.message).show().fadeOut(10000);
                        $(elem).attr('data-recordId', data.recordId);
                        $(elem).attr('data-existingreagentvalueid','@ViewBag.SchReagentID');

                        isSuccess = data;
                        sumGrades(subjectId);
                    } else {
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                    }


                }

            });

        };


        function faciltitySummary() {
            var totalEquipmentItems = '@Model.TotalItemCount';
            var subjectsid = $("#subjectId").val();
            var totalsum = $('#total-grades').html();
            var facilityCategoryId = '@ViewBag.facilityCategoryId';
            var sddc = '@Request.QueryString["sddc"]';
            console.log(totalEquipmentItems);
            console.log(subjectsid);
            console.log(sddc);
            console.log(totalsum);
            console.log(facilityCategoryId);
            $.post('@Url.Action("ReagentSummary", "SchoolsEdit")', { totalEquipmentItems: totalEquipmentItems, subjectid: subjectsid, totalSum: totalsum, facilityCategoryId:'@ViewBag.facilityCategoryId',sddc:sddc}, function (response) {
                if (response.status == true) {
                    //alert('data saved successfully');

                } else {
                    //alert('data not saved correctly');
                }
            });
        }


        function sumGrades(subjectId) {
            var schoolInStorage = localStorage.getItem('currentSchool');
            if (schoolInStorage === null && currentSchool !== '') {
                localStorage.setItem('currentSchool', currentSchool);
            } else {
                if (schoolInStorage !== currentSchool) {
                    localStorage.removeItem('currentSchool');
                    localStorage.removeItem('facilityTabbing');
                }
                if (currentSchool !== '') {
                    localStorage.setItem('currentSchool', currentSchool);
                }
            }

            if (subjectId !== '' && subjectId !== null && subjectId !== undefined) {
                var gradesForPage = 0;
                var dataSaved = JSON.parse(localStorage.getItem('reagentfacility2')) || {};
                var subjectStored = dataSaved['subject-' + subjectId] || [];
                var totalGrades = 0;
                $('.definition-column').each(function (index, gradeElement) {
                    gradesForPage += parseInt($(gradeElement).html());
                });
                var isPageInArray = false;
                //$(subjectStored).each(function (index, pageObject) {
                //    if (pageObject.page === currentPage) {
                //        isPageInArray = true;
                //    }
                //});

                var pageCount = currentPage;// subjectStored.length;
                console.log('page count '+pageCount);
                for (var i = pageCount-1 ; i >=0 ; i--) {

                    console.log('page '+i);
                    console.log('test ' + JSON.stringify(subjectStored[i]));
                    var itemi = subjectStored[i];
                    if ((itemi.page-1) <= i) {
                        totalGrades = totalGrades + itemi.sum;
                    }

                }

                for (index in subjectStored) {
                    if (subjectStored.hasOwnProperty(index)) {
                        var item = subjectStored[index];
                        if (item.page === currentPage) {
                            isPageInArray = true;
                        }
                    }
                }
                if (isPageInArray === true) {
                    // UPDATE ARRAY
                    $(subjectStored).each(function (index, pageObject) {
                        if (pageObject.page === currentPage) {
                            pageObject.sum = gradesForPage;
                        }
                    });
                } else {
                    // ADD NEW TO ARRAY
                    subjectStored.push({
                        page: currentPage,
                        sum: gradesForPage
                    });
                }

                //$(subjectStored).each(function(index, pageObject) {
                //    totalGrades += pageObject.sum;
                //});
                for (index in subjectStored) {
                    if (subjectStored.hasOwnProperty(index)) {
                        var pageObject2 = subjectStored[index];
                        totalGrades += pageObject2.sum;
                    }
                }
                dataSaved['subject-' + subjectId] = subjectStored;
                localStorage.setItem('reagentfacility2', JSON.stringify(dataSaved));
                $('#total-grades').html(totalGrades);
                faciltitySummary();
            }
        }



        //function sumGrades() {
        //    var gradesForPage = 0;
        //    var data = JSON.parse(sessionStorage.getItem('grades')) || [];
        //    var totalGrades = 0;
        //    $('.definition-column').each(function (index, gradeElement) {
        //        gradesForPage += parseInt($(gradeElement).html());
        //    });
        //    var isPageInArray = false;
        //    $(data).each(function (index, pageObject) {
        //        if (pageObject.page === currentPage) {
        //            isPageInArray = true;
        //        }
        //    });
        //    if (isPageInArray === true) {
        //        // UPDATE ARRAY
        //        $(data).each(function (index, pageObject) {
        //            if (pageObject.page === currentPage) {
        //                pageObject.sum = gradesForPage;
        //            }
        //        });
        //    } else {
        //        // ADD NEW TO ARRAY
        //        data.push({
        //            page: currentPage,
        //            sum: gradesForPage
        //        });
        //    }

        //    $(data).each(function (index, pageObject) {
        //        totalGrades += pageObject.sum;
        //    });
        //    sessionStorage.setItem('grades', JSON.stringify(data));
        //    $('#total-grades').html(totalGrades);
        //    faciltitySummary();

        //}


        //$('.pagination-container .pagination a').on('click', function (e) {
        //    e.preventDefault();
        //    if ($(this).attr("href")) {
        //        document.location = $(this).attr("href") + '&totalgradds=' + $('.pagination-container .pagination').data('totalgrades');
        //    }
        //});

    </script>

}










@*===========================*@



