﻿@*@using SchoolRecognitionSystem.Models
    @model FacilityViewModel*@

@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@model   List<SchoolRecognitionSystem.Models.SchoolSubjectViewModel>

@{
    ViewBag.Title = "SchoolSubject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>

@*@if (TempData["textbookExistInTextBookbank"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["textbookExistInTextBookbank"]
            </span>
        </div>
    }*@


@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.FirstOrDefault().SubjectID, "School Subjects", htmlAttributes: new { })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.FirstOrDefault().SubjectID, ViewBag.AllSchoolSubjects as SelectList, "select school subjects", new { @id = "SubjectID" })
                        @Html.ValidationMessageFor(model => model.FirstOrDefault().SubjectID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.FirstOrDefault().AvailableTextbook, "Select Textbook", htmlAttributes: new { })
                    <div class="col-md-10">

                       
                        @Html.DropDownListFor(model => model.FirstOrDefault().ID, ViewBag.AvailableTextbooks as SelectList, "select textbooks", new { @id = "AvailableTextbooks" })
                       
                        @Html.ValidationMessageFor(model => model.FirstOrDefault().ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>





    @section scripts{

        <script type="text/javascript">
        var isTextBookAttached = false;
        var selectedSubjectId = 0;
        $(document).ready(function() {
            $('#AvailableTextbooks').select2();
            $('#SubjectID').select2();

            $('#SubjectID').on('change', function() {
                var subjectid = $(this).val();
                document.location = '/SchoolRecognition/Schools/Textbook/?subjectId=' + subjectid;
                if ($('#AvailableTextbooks option:selected') === false) {
                    $('#SubjectID').val('');
                }

                //$.post('/Schools/Textbook/?subjectId='+subjectid, { subjectId:subjectid}, function (response) {

                //});
            });


            $(document).on('click', '.add-textbook', function() {
                selectedSubjectId = $('#SubjectID').val();
                if (parseInt(selectedSubjectId) > 0) {
                    console.log(selectedSubjectId);
                    $.getJSON('/SchoolRecognition/Schools/FetchSubjectName', { selectedSubjectId: selectedSubjectId }, function (response) {
                        $('#subject').html(response.SubjectName);
                    });
                    $('#modalspanid').html('').removeClass("btn btn-danger");
                    $('#AddTextBookModal').modal('show');
                } else {
                    alert('please select a subject');
                }
            });

            $('#saveid').on('click', function(e) {
                e.preventDefault();
                var subjectId = $('#SubjectID').val();
                var subjectText = $("#SubjectID option:selected").text();
                var textBook = $("#AvailableTextbooks option:selected").text();
                $.post('/SchoolRecognition/Schools/SaveTexbook', { SubjectId: subjectId, existingTextBook: textBook }, function (response) {
                    if (response.status === true) {
                        // $('#AvailableTextbook').val(response.availableTextbook);
                      //  $('#AddTextBookModal').modal('hide');

                        $('#students-table-body').append('<tr class="schoolrowid">' +
                            '<td>' + $('#SubjectID option:selected').text() + '</td>' + //Textbook
                            '<td>' + $('#AvailableTextbooks option:selected').text() + '</td>' +
                            '<td> <a href="javascript:void(0);" class="row-delete" data-token="' + response.Id + '" data-subjectid="' + response.subjectId + '" data-schoolid="' + response.schoolId + '" data-textbooktoschoolsubjectrowid="' + response.textbookToSchoolSubjectRowId + '" title="Delete textbook"><i class="fa fa-times"></i></a></td>' +
                            '</tr>');


                        //alert('Textbook saved successfully.');
                    } else {
                        alert('Edit failed.');
                    }


                });

            });

            $('#save-textbook').on('click', function(e) {
                e.preventDefault();

                $.post('/SchoolRecognition/Schools/SaveTexbook', {
                    SubjectId: selectedSubjectId,
                    Textbook: $('#Textbook').val()

                }, function(response) {
                    if (response.status === true) {
                        // $('#AvailableTextbook').val(response.availableTextbook);
                        $('#AddTextBookModal').modal('hide');

                        $('#students-table-body').append('<tr class="schoolrowid">' +
                            '<td>' + $('#SubjectID option:selected').text() + '</td>' + //Textbook
                            '<td>' + $('#Textbook').val() + '</td>' +
                            '<td> <a href="javascript:void(0);" class="row-delete" data-token="' + response.Id + '" data-subjectid="' + response.subjectId + '" data-schoolId="' + response.schoolid + '" data-textbookToSchoolSubjectRowId="'+response.textbookToSchoolSubjectRowId+'" title="Delete textbook"><i class="fa fa-times"></i></a></td>' +
                            '</tr>');


                        //alert('Textbook saved successfully.');
                    } else {
                       $('#modalspanid').html(response.xxtdata).addClass("btn btn-danger");

                    }

                });
            });

            $(document).on('click', '.row-delete', function (e) {
                var thisvar = $(this);
                var textbookToSchoolSubjectRowId = $(this).attr('data-textbooktoschoolsubjectrowid');
                console.log(textbookToSchoolSubjectRowId);
                $.post('/SchoolRecognition/Schools/DeleteTextBook', { textbookToSchoolSubjectRowId: textbookToSchoolSubjectRowId }, function (response) {

                    if (response.status == true) {
                        $(thisvar).parents().parents().first().remove();
                      //  $("#row_" +response.token).parents("tr").remove();
                        //$(this).closest("tr").remove();
                    //    $("#tview tr.item").each(function(index, row) {
                    //        $(row).find('.row-delete').closest("tr").remove();
                    //        $(row).find("#row_" + response.returnedToken).parents("tr").remove();

                    //    });
                        //$('#students-table-body').append('<tr class="schoolrowid">' +
                        //   '<td>' + $('#SubjectID option:selected').text() + '</td>' + //Textbook
                        //   '<td>' + $('#AvailableTextbooks option:selected').text() + '</td>' +
                        //   '<td> <a href="javascript:void(0);" class="row-delete" data-token="' + response.Id + '" data-subjectId="' + response.subjectId + '" data-schoolId="' + response.schoolId + '" title="Delete textbook"><i class="fa fa-times"></i></a></td>' +
                        //   '</tr>');

                    }
                });
            });

        });
        </script>

    }










    @*$('#btnSave').on('click', function(e) {
            e.preventDefault();
            var checkedboxes = [];
            var textboxes = [];
            var countchecked = $("[name='checkedrows']:checked").length;
            console.log(countchecked);
            if (countchecked == 0) {
                alert("Please select at least one checkbox");
                return false;
            } else {
                $("input.long-name:checked").each(function() {
                    checkedboxes.push({
                        'ID': $(this).data('id')

                    });

                });

                $("textarea.textbox-class").each(function() {
                    textboxes.push({
                        'ID': $(this).data('id'),
                        'Textboxvalues': $(this).val()

                    });

                });
                $.post('/Schools/Textbook', { Checkeditems: checkedboxes, Textbooks: textboxes }, function(response) {
                    //$.post('/Recognition/Schools/Textbook', { Checkeditems: checkedboxes, Textbooks: textboxes }, function (response) {
                    if (response.status == true) {
                        alert('data saved successfully');
                        $('#btn-next').removeAttr('disabled');
                        $("input.long-name:checked").each(function() { this.checked = false });
                        $("textarea.textbox-class").each(function() { $('.textbox-class').val('') });
                    } else {
                        alert('data not saved correctly');
                    }
                });
                return true;
            }
        });*@


