﻿<div data-ng-app="app">
    @*@using PagedList.Mvc;
        @using WebGrease.Css.Extensions
        @model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolEquipConfigViewModel>*@
    @{
        ViewBag.Title = "EquipmentFacility";
        Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
        //it is fetched when a record is inserted
    }
    @Scripts.Render("~/bundles/angularjs")
    <script src="~/Scripts/scriptz/elif.js"></script>
    <ol class="breadcrumb">
        <li><i class="glyphicon glyphicon-plane"></i></li>
        @*<li><a href="#">New School</a></li>
            <li class="active">Equipment Facility</li>*@
    </ol>

    <div class="row" data-ng-controller="schoolregistrationcontroller as vm">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        
            <div ng-init="vm.getschoolsubjects(@ViewBag.SchoolId)" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
                <!-- flight section -->
                <div class="active">

                    @*@if (Session["SchoolID"] != null)
                        {*@

                    @Html.AntiForgeryToken()

                <ul class="nav nav-tabs" style="margin: 20px;">

                    @*<li class=active>
                        <a data-toggle="tab" data-equipmentidd="1" id="equipment">Equipment</a>
                    </li>*@
                    <li class="active">
                        <a data-toggle="tab" id="equipment" data-equipmentidd="1" href="" data-href="@Url.Action("FacilityTabbingg", "SchoolsEdit",new {sddc=Request.QueryString["sddc"]})">Equipment</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="reagent-record" data-reagentidd="2" href="" data-href="@Url.Action("ReagentFacilityy", "SchoolsEdit",new {sddc=Request.QueryString["sddc"]})">Reagent</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="lab-record" data-labidd="3" data-href="@Url.Action("EditLab", "Schoolsedit",new {sddc=Request.QueryString["sddc"]})">Laboratory</a>
                    </li>
                    @*<li>
                        <a data-toggle="tab" id="library-record" data-libridd="4" data-href="@Url.Action("LibraryFacility", "Schools")">Library</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="recreational-record" data-recreaidd="5" data-href="@Url.Action("RecreationalFacility", "Schools")">Recreational</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="examination-record" data-examidd="7" href="" data-href="@Url.Action("ExaminationFacility", "Schools")">ExaminationHall</a>
                    </li>*@
                    @*<li>
                                <a data-toggle="tab" id="assessment-record" href="" data-href="@Url.Action("AssessmentFacility", "Schools")">Assessment</a>
                            </li>*@

                </ul>
                    <input type="hidden" ng-model="vm.schid" value="@ViewBag.SchoolId" />
                    <article class="tab-content" style="margin: 20px;">
                        <section class="tab-pane fade in active" id="equipmentid">
                            <div>
                                <!-- flight section -->
                                <div class="active">

                                    @*@if (Session["SchoolID"] != null)
                                        {*@
                                    @*<div class="form-group">
                                            <label class="control-label col-md-2">Subject</label>
                                            <div class="col-md-10">
                                                @Html.DropDownList("ID", ViewBag.SchoolSubjectList as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control" })
                                                @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Subject</label>
                                        <div class="col-md-10">
                                            <select class="form-control" ng-change="vm.getallfacility(vm.subjectid.ID)" id="ddsubjects" ng-options="s as s.LongName for s in vm.schoolsubjects" ng-model="vm.subjectid">
                                                <option value="0">--Select Subject--</option>
                                            </select>
                                        </div>
                                    </div>
                                    @*<div class="clearfix"></div>*@
                                    <div class="form-group">
                                        <div id="itemsDetailSection">
                                            <div id="itemsDetailTable"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div ng-if="vm.allfacility.length<1" class="well" style="margin-top:30px;">
                                        <h3>Please select a subject to load items.</h3>
                                    </div>

                                    <section ng-if="vm.allfacility.length>0" class="form-group">
                                        <div class="table-responsive">
                                            <div class="pull-right">
                                                <p style="margin-right: 30px;">
                                                    Total Records: <strong>{{vm.allfacility.length}}</strong>
                                                </p>
                                            </div>
                                            <table class="table table-bordered" style="margin-top: 30px;">
                                                <tr>
                                                    <th>SN</th>
                                                    <th>
                                                        <a>Item Description</a>
                                                    </th>

                                                    <th>
                                                        <a>Quantity Required</a>
                                                    </th>

                                                    <th>
                                                        <a>Quantity seen</a>
                                                    </th>
                                                    <th>
                                                        <a>Unit</a>
                                                    </th>
                                                    <th>
                                                        <a>Grade</a>
                                                    </th>
                                                    <th>
                                                        <a>Specification</a>
                                                    </th>
                                                </tr>
                                                @*<tr ng-repeat="item in vm.items">*@
                                                <tr ng-repeat="item in vm.items">

                                                    <td>
                                                        {{((vm.pager.currentPage-1) * 20) + ($index+1)}}
                                                       

                                                    </td>
                                                    <td>
                                                        {{item.ItemDescription}}
                                                    </td>
                                                    <td>
                                                        {{item.QuantityRequired}}
                                                    </td>
                                                    <td>
                                                        <input type="text" id="inUser"
                                                               data-recordid="0"
                                                               data-definition="{{item.Unique_row}}"
                                                               ng-disabled="item.QuantityRequired==0 || item.QuantityRequired==null"
                                                               data-ng-blur="vm.sumfacilitydigitvalue(item,item.EquipmentValue,$event,$index);"
                                                               ng-model="item.EquipmentValue"
                                                               value="{{item.EquipmentValue}}">
                                                        @*<i class="spinner-wrapper fa fa-spinner fa-spin" ></i>
                <p class="message-output" ></p>*@
                                                        @*<i  class="spinner-wrapper fa fa-spinner fa-spin" ng-show="vm.showresponse[$index]"></i>
                <p class="message-output" ng-show="vm.showresponse[$index]">{{vm.response[[$index]].message}}</p>*@
                                                    </td>
                                                    <td>
                                                        {{item.UnitType}}
                                                    </td>
                                                    <td id="definition-{{item.Unique_row}}" class="definition-column">
                                                        {{item.DigitValue=((item.EquipmentValue >=item.QuantityRequired && item.QuantityRequired!=0 && item.QuantityRequired!=null)?1:0)}}
                                                    </td>
                                                    <td>
                                                        {{item.Specification}}
                                                    </td>
                                                </tr>
                                                @{
                                                    var counter = 1;
                                                    //var offset = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                                                }
                                                <tfoot>
                                                    <tr>

                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>

                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td></td>
                                                        <td><strong>Total:</strong><span id="total-grades">{{vm.totalfacilitydigitvalue}}</span></td>
                                                        <td>&nbsp;</td>


                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <br />

                                            <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId' />
                                            <input type='hidden' value='@Request.QueryString["totalgradds"]' id='totalgradds' />
                                            <input type="hidden" id="Equipmentvalue_ID" name="Equipmentvalue_ID" value="0" />
                                            <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0" />
                                            <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0" />
                                            <div id='Paging' style="text-align: center">
                                                <div id='Paging' style="text-align: center">
                                                    @*<div ng-repeat="item in vm.items"></div>*@
                                                    <!-- pager -->
                                                    <ul ng-if="vm.pager.pages.length" class="pagination">
                                                        <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                                            <a ng-click="vm.setPage(1,vm.allfacility)">First</a>
                                                        </li>
                                                        <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                                            <a ng-click="vm.setPage(vm.pager.currentPage - 1,vm.allfacility)">Previous</a>
                                                        </li>
                                                        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                                                            <a ng-if="page < vm.pager.pages.length" ng-click="vm.setPage(page,vm.allfacility)">{{page}}</a>
                                                        </li>
                                                        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                                            <a ng-click="vm.setPage(vm.pager.currentPage + 1,vm.allfacility)">Next</a>
                                                        </li>
                                                        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                                            <a ng-click="vm.setPage(vm.pager.totalPages,vm.allfacility)">Last</a>
                                                        </li>
                                                    </ul>
                                                    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                            of @Model.PageCount

                                                        @Html.PagedListPager(Model, page => Url.Action("ReagentFacility", new { page, subjectid = ViewBag.subjectid }))*@
                                                </div>
                                            </div>
                                        </div>
                                    </section>




                                </div>

                            </div>


                        </section>
                        <input type="hidden" value="{{vm.schid}}" id="schoolid" />

                    </article>


                    @*<input type='file' id="imgInp" />
                        <img id="blah" src="#" alt="your image" />*@


                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //$('#imgInp').change(function (event) {
        //    var tmppath = URL.createObjectURL(event.target.files[0]);
        //    $("#blah").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
        //    alert(tmppath);
        //    //$("#disp_tmp_path").html("Temporary Path(Copy it and try pasting it in browser address bar) --> <strong>[" + tmppath + "]</strong>");
        //});
        //function readURL(input) {

        //    if (input.files && input.files[0]) {
        //        var reader = new FileReader();

        //        reader.onload = function (e) {
        //            $('#blah').attr('src', e.target.result);
        //        }

        //        reader.readAsDataURL(input.files[0]);
        //    }
        //}

        //$("#imgInp").change(function () {
        //    readURL(this);
        //});


        function addfacility(item, e) {
            var sch = $('#schoolid').val();
            if (item.EquipmentValue == null && v == "") {
                return;
            }
            $.ajax({
                //url: "/Recognition/Schools/SaveEquipment",
                url: '~/api/SRApi/SaveEquipment?schoolid=' + sch,
                data: item,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var def = data.definition;
                    if (data.status == true) {

                        var definitionValue = 0;
                        switch (def) {
                        case 'Excellent':
                            definitionValue = 1;
                            break;
                        default:
                            definitionValue = 0;

                        }
                        var elem = e;// angular.element(e.srcElement);
                        console.log(elem);
                        $('td#definition-' + definitionValue).html(definitionValue);
                        $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                            .addClass('text-success').html(data.message).show().fadeOut(10000);

                        $(elem).attr('data-recordId', data.recordId);
                        //console.log(data);
                        //isSuccess = data;
                        //sumGrades(subjectId);
                    } else {
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                    }
                }

            });
        }
    </script>
    <script>
        $('#equipment').on('click', function() {
            document.location = $(this).attr("data-href");
            var querystring = $(this).attr("data-href");
            console.log(querystring);
            //document.location.search.substring(1);
        });


        $('#reagent-record').on('click', function() {
            document.location = $(this).attr("data-href");
            var querystring = $(this).attr("data-href");
            console.log(querystring);
           // document.location.search.substring(1);
        });


        $('#lab-record').on('click', function() {
            document.location = $(this).attr("data-href");
            //document.location.search.substring(1);
        });

       


</script>
}



