﻿@using System.Collections
@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Models
@*@model  List<SchoolRecognitionSystem.Models.SchoolSubjectCompletionReportModel>*@

@{
    ViewBag.Title = "Assign State";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />


<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        <section class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <div>
                <h3 class="pull-left" style="color: cornflowerblue;font-weight:bold">@ViewBag.SchoolName  </h3><span class="pull-right" style="color: green;font-weight:bold">&nbsp;(successfully registered)</span>
                @*<span style="color: black">@ViewBag.SchoolName</span> is successfully registered*@
                <br /> <p class="pull-right" style="color: black;font-weight:bold"> The number of staff in school is <span class="badge" style="font-weight:bold">@ViewBag.StaffNumber</span></p>
            </div>
            <br />
            <h2>Subject with required Facilities</h2>
            <table id="searchtable" class="table table-bordered table-striped">
                <thead>
                    <tr style="background-color:lightgrey">

                        <th>School Subject(s)</th>
                        <th>Equipment Required</th>
                        <th>Equipment Observed</th>
                        <th>Reagent Required</th>
                        <th>Reagent Observed</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in (IEnumerable<vwSchoolSubjectFacilityReport>)ViewBag.Facilityreport)
                    {

                        <tr>
                            
                            <td>@item.LongName</td>


                            <td>@item.Total_Equipment </td>
                            <td>@item.TotalSchoolEquipment</td>
                            <td>@item.Total_Reagent</td>
                            <td>@item.TotalSchoolReagent</td>

                           



                        </tr>

                        //c++;

                    }
                </tbody>

            </table>
            <div style="width:30%">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="background-color: lightgrey">SUBJECTS OFFERED BY THE SCHOOL</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in (IEnumerable<vwSchoolSubjectReport>)ViewBag.SchoolSubjects)
                        {


                            <tr>
                                <td>@item.LongName</td>
                            </tr>


                        }
                    </tbody>

                </table>

                @*<label>

                        <input type="submit" value="Send Email" id="saveid1" class="btn btn-lg btn-primary" />
                    </label>*@
                <input type="hidden" id="scholid" name="SchoolID" value="@ViewBag.SchoolID" />
                @*<label class="checkbox nomargin"><input type="checkbox" name="agree" id="agree" onchange="javascript: return DisableBtn();"><i></i>Send email</label>*@

                <label class="checkbox nomargin"><input type="checkbox" name="agree" id="agree"><i></i>Send email</label>&nbsp;<span id="messagesent" style="color:green">Message sent successfully</span>
                @*<input type="submit" value="Print Report" id="saveid2" data-schoolid="@ViewBag.SchoolID" style="display: none" class="btn btn-sm btn-primary glyphicon glyphicon-print" />*@
                <label>
                    @*@Html.ActionLink("Print Report", "PrintReportX", null, new { id = "reportid"  })*@
                    @*@Html.ActionLink("Print Report","PrintReportX",new{ id= "reportid", style = "background: url('" + Url.Content("~/Images/yourimage.png") + "') no-repeat center right; display:block; height:84px; width:585px;"})*@


                    @Html.ActionLink("Print Report", "PrintReportX", new { id = "reportid", style = "display:none;", sddc = ViewBag.SchoolID })

                </label>
            </div>







        </section>

    </div>
</div>



<form id="uploadForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send Mail</h4>
            </div>
            <article class="modal-body">
                <section class="form-horizontal">
                    <div class="form-horizontal row">
                        <div class="form-group">
                            <label class="col-md-2">To:</label>
                            <div class="col-md-10">
                                <input id="To" value="confirmation@waec.org.ng" readonly="readonly" class="text-box single-line form-control" type="text" name="To">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Subject:</label>
                            <div class="col-md-10">
                                <input id="Subject" class="text-box single-line form-control" type="text" name="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Attachment:</label>
                            <div class="col-md-10">
                                <input type="file" id="uploadImage" name="fileUploader" />
                            </div>
                            <div id="loadstatus"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"> Body:</label>
                            <div class="col-md-10">
                                <textarea id="Body" class="text-box multiple-line form-control" type="text" name="Body"></textarea>
                            </div>
                        </div>

                        <p class="pull-right">
                            <input type="hidden" id="edit-id" name="ID" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" id="savemodal" value="Save" class="btn btn-primary" />

                        </p>
                    </div>

                </section>

            </article>
        </div>

    </div>
</form>











@section scripts{
    <script type="text/javascript">
            $(document).ready(function () {
               @*$('#saveid1').on('click', function (e) {
                    e.preventDefault();

                    $.get('@Url.Action("MailAttachment","SchoolStaffs")', function (response) {

                        $('#uploadForm').modal('show');

                    });
                });

                $('#uploadForm').on('submit', function (e) {
                    e.preventDefault();

                    $.post('/SchoolStaffs/MailAttachment', {
                        Body: $('#Body').val(),
                        To: $('#To').val(),
                        Subject: $('#Subject').val(),


                    }, function (response) {
                        if (response.status === true) {
                            $('#uploadForm').modal('hide');
                            alert('Mail sent successfully.');
                        } else {
                            alert('Failure Saving...');
                        }

                    });
                });

            });*@



                @*$('#savemodal').click(function () {
                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {
                    var tx = $('#uploadImage').val();
                    if (tx == "") {
                        alert("PLEASE SELECT FILE(S) TO UPLOAD");
                        return false;
                    } else {
                       // $('#filespin').addClass("fa fa-spin fa-spinner fa-2x");
                        $('#loadstatus').html("Processing your request please wait...");

                        var fileUpload = $("#uploadImage").get(0);
                        var files = fileUpload.files;

                        // Create FormData object
                        var fileData = new FormData();

                        //Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }
                        //fileData.append(Body,$('#Body').val());
                        //fileData.append(To,$('#To').val());
                        //fileData.append(Subject, $('#Subject').val());
                        // Adding one more key to FormData object
                        //fileData.append('username', ‘Manas’);
                        $.ajax({
                            url: '@Url.Action("MailAttachment", "SchoolStaffs")',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result) {

                                $('#file').val("");
                                alert(result);
                            },
                            error: function (err) {
                                alert(err.statusText);

                            }
                        });

                    }

                    $("#btnSubmit").removeAttr("disabled");

                } else {

                    alert("This Browser is not supporting this operation either upgrade it or use another Web Browser.");
                }*@



                $('#messagesent').hide();
                $('#reportid').hide();
                $('#agree').on("change", function (e) {
                    var sddc = $('#scholid').val();
                    if (this.checked) {
                        //$('#saveid2').show();
                        $.post('@Url.Action("MailAttachment", "SchoolSEdit")', { schoolid: sddc }, function (response) {
                            $('#reportid').show();
                            $('#messagesent').show();

                        });

                    }

                    else {

                        // Do some other thing

                    }

                });


            });

            function DisableBtn() {
                //var sendbtn = document.getElementById('reportId');
                var sendbtn = $('#reportId').val();
                var sddc = $('#scholid').val();
                var checker = document.getElementById('agree');
                if (checker.checked) {
                    //$('#reportId').attr("disabled", true);
                    sendbtn.disabled = true;
                    //$('#reportId').show();
                   $.post('/SchoolStaffs/MailAttachment', { schoolid: sddc }, function (response) {
                        alert(response);
                    });
                } else {
                    sendbtn.disabled = false;
                }
            }
    </script>

}






