﻿
@model   SchoolRecognitionSystem.Models.SchoolProfileViewModel1

@{
    ViewBag.Title = "School Details";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->



            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                @*<div class="clearfix"></div>*@
                <div>

                    <fieldset>
                        <h2 style="margin-top:20px;">School Details</h2>
                        <p>
                            <strong>Category</strong>:
                            @Html.Encode(Model.Category)
                        </p>
                        <p>
                            <strong>School Name</strong>:
                            @Html.Encode(Model.SchoolName)
                        </p>
                        <p>
                            <strong>School Location</strong>:
                            @Html.Encode(Model.SchoolLocation)

                        </p>
                        <p>
                            <strong>State</strong>:
                            @Html.Encode(Model.StateName)
                        </p>
                        <p>
                            <strong>Local government area</strong>:
                            @Html.Encode(Model.Name)
                        </p>
                        <p>
                            <strong>Year Established</strong>:
                            @Html.Encode($"{Model.YearEstablished}")
                        </p>
                        <p>
                            <strong>Aproximate LandArea</strong>:
                            @Html.Encode(Model.AproximateLandArea)
                        </p>
                        <p>
                            <strong>Is School Fenced Round</strong>:
                            @if (Model.IsSchoolFencedRound)
                            {
                                <span>YES</span>
                            }
                            else
                            {<span>NO</span> }
                        </p>
                        <p>
                            <strong>Is Admission Register Available</strong>:
                            @if (Model.IsAdmissionRegisterAvailable)
                            {<span>YES</span> }
                            else
                            {<span>NO</span>  }
                        </p>
                        <p>
                            <strong>Is Joint Proprietorship</strong>:
                            @if (Model.IsJointProprietorship)
                            { <span>YES</span>}
                            else
                            {<span>NO</span>  }
                        </p>
                        <p>
                            <strong>Is LandArea Adequate</strong>:
                            @if (Model.IsLandAreaAdequate)
                            { <span>YES</span>}
                            else
                            { <span>NO</span>}
                        </p>
                        <p>
                            <strong>Is Scheem Of Work Available</strong>:
                            @if (Model.IsScheemOfWorkAvailable)
                            {<span>YES</span> }
                            else
                            { <span>NO</span>}
                        </p>
                        <p>
                            <strong>Is DiaryofWorksAvaialble</strong>:
                            @if (Model.isDiaryofWorksAvaialble)
                            {<span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>}
                        </p>
                        <p>
                            <strong>Is Curricullum Available</strong>:
                            @if (Model.isCurricullumAvailable)
                            {<span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>}
                        </p>
                        <p>
                            <strong>Are Class Registers Available</strong>:
                            @if (Model.isClassRegistersAvaialable)
                            {<span>YES</span> }
                            else
                            { <span>NO</span>}
                        </p>
                    </fieldset>

                    <p>
                        <a class='btn btn-primary' href="@Url.Action("School", "SchoolsEdit", new {sddc = @Request.QueryString["sddc"]})">Edit</a>
                        <a class='btn btn-primary' href="@Url.Action("Index", "Schools")">School list</a>
                    </p>


                    @*<div class="row">
                            <h2><a class='btn btn-primary pull-right' href="@Url.Action("Index", "Schools", new {sddc = @Request.QueryString["sddc"]})">School List</a></h2>
                        </div>*@



                    @*}
                        else
                        {
                            <div class="well">Section is null</div>

                        }*@
                </div>

            </div>
        </div>
    </div>
</div>



@section scripts{


}





