﻿@model IEnumerable<SchoolRecognitionSystem.Models.SchoolStaffList>
@{
    ViewBag.Title = "Staff List";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>

@*@if (TempData["Information"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["Information"]
            </span>
        </div> }*@

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit")
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            
            <div id="result" class="alert" style="display: none">
            </div>



            <div class="mycustom-tab">
                <!-- flight section -->
                <div class="active">

                    <p style="color: green; font-weight: bold">@ViewBag.Success</p>
                    @*@if (Session["SchoolID"] != null)
                        {*@
                    @*<h2>Index</h2>*@

                    @*<p>
                            @Html.ActionLink("", "Create")
                        </p>*@
                    <div>
                        <a class='btn btn-primary pull-right' href="@Url.Action("Index","Schools",new {sddc=@Request.QueryString["sddc"]})">School List</a>
                    </div>
                    
                    <table class="table table-bordered">
                        <tr>

                            <th>
                                Name Of Teachers
                            </th>

                            <th>
                                Subjects Taught
                            </th>
                           
                            <th>Action</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Staff.FirstName)
                                    @Html.DisplayFor(modelItem => item.Staff.LastName)
                                </td>
                                
                                <td>
                                        @foreach (var subjectTaught in item.SchoolStaffSubjectTaughtList)
                                        {
                                            <div>@subjectTaught.SubjectLongName</div>
                                        }
                                    </td>
                               
                                <td>
                                    @Html.ActionLink("Edit", "EditStaffSubject", new { scs = @item.Staff.ID, sddc = @item.Staff.SchoolID }, new { @class = "btn btn-primary btn-sm", })
                                    @*@Html.ActionLink("Details", "Details",null, new { sddc = @item.Staff.ID, @class = "btn btn-primary btn-sm" })*@
                                    @*@Html.ActionLink("Delete", "Delete", new { id = @item.Staff.ID })*@
                                </td>
                            </tr>
                        }

                    </table>

                    @*}
                                else
                                {
                            <div class="well">Section is null</div>

                        }*@

                </div>

            </div>


        </div>
    </div>
</div>
@section scripts{
    <script>
            $(function () {
                $('#staff').on('click', function () {
                    document.location = $(this).attr("data-href");
                });
            });
    </script>
}
