﻿@*@using SchoolRecognitionSystem.Models
    @model FacilityViewModel*@

@using PagedList.Mvc;
@using SchoolRecognitionSystem.Models
@model   List<SchoolRecognitionSystem.Models.SchoolSubjectViewModel>

@{
    ViewBag.Title = "SchoolSubject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
</ol>

@*@if (TempData["textbookExistInTextBookbank"] != null)
    {
        <div class="alert alert-primary">
            <span class="myInfowtb">
                @TempData["textbookExistInTextBookbank"]
            </span>
        </div>
    }*@


@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartialEdit");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">
                <section class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                LongName
                            </th>

                            <th>
                                Text Book
                            </th>

                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LongName)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.AvaiilableTextbooks)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "EditTextbook", new { subjectId = item.SubjectID,textbookid=item.ID,sddc=item.SchoolID }) |
                                    @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                </td>
                            </tr>


                        }


                    </table>

                </section>
            </div>
        </div>
    </div>
</div>
