﻿@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Models
@model  List<SchoolRecognitionSystem.Models.SchoolSubjectViewModel>

@{
    ViewBag.Title = "Assign State";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    @*<li><a href="#">User Management</a></li>
    <li class="active">Assign state</li>*@
</ol>

<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">


            @if (Model.Count > 0)
            {
                <section class="form-group">
                    <div class="table-responsive">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-primary">
                                @TempData["Success"]
                            </div>
                        }
                        @*<a href="#" class="add">AssignState</a>*@
                        <table class="table table-bordered" style="margin-top: 30px;">
                            <tr>

                                <th>
                                    <a>School Subjects</a>
                                </th>

                                <th>
                                    <a>Decision</a>
                                </th>

                                


                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.LongName)
                                    </td>

                                    <td>
                                        @if (item.IsApproved)
                                        {
                                            @Html.Hidden("classid", item.ClassID)
                                            @*<button type='button' data-rowtoken="@item.ID" class="btn btn-success btn-sm activate">
                                                Approved
                                            </button>*@
                                            <span data-rowtoken="@item.ID" class="label label-success">Approved</span>
                                            @*<input type="hidden" value="@item.EmailAddress" id="emailAddressId_@item.ID" />*@
                                        }
                                        else
                                        {
                                            @Html.Hidden("classid", item.ClassID)
                                            @*<button type='button' class="btn btn-danger btn-sm activate" data-rowtoken="@item.ID">
                                                Not Approved
                                            </button>*@
                                            <span data-rowtoken="@item.ID" class="label label-danger">Not Approved</span>
                                            @*<input type="hidden" value="@item.EmailAddress" id="emailAddressId_@item.ID" />*@
                                        }
                                        <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                        <span class="message-output"></span>
                                        
                                       
                                        @*@item.isActive*@
                                    </td>
                                    

                                </tr>

                            }
                        </table>
                        <br />

                    </div>
                </section>
            }



        </div>

    </div>
</div>




















@section scripts{
    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Scripts/dual-list-box.min.js"></script>
    <script src="~/Scripts/jquery.sumoselect.js"></script>
    <script type="text/javascript">
       


    </script>
}
