﻿
@{
    Layout = null;
}

<!DOCTYPE html>

@*<html>
<head>
    <title>Subject Assessement</title>
</head>
<body>*@
    @{
        SchoolRecognitionSystem.Models.AssessmentSummary vassessment = new SchoolRecognitionSystem.Models.AssessmentSummary();
    }
    @{
        var grid = new WebGrid(Model, canPage: true, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.NextPrevious);}
    <div id="gridContent">
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header",
                htmlAttributes: new { id = "checkableGrid" },
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("ID", format: (item) => item.GetSelectLink(item.AssessmentSummaryID.ToString())),
                grid.Column("Assessment1", " Name"),
                grid.Column(
                        format: @<text>
                        <input type="checkbox" value="@item.AssessmentSummaryID.ToString()" name="childChkbox1" />
                        </text>,
                                            header: "Excellence"
                                        ),
                    grid.Column(
                        format: @<text>
                            <input type="checkbox" value="@item.AssessmentSummaryID.ToString()" name="childChkbox2" />
                        </text>,
                                            header: "Very Good"
                                        ),
                    grid.Column(
                        format: @<text>
                            <input type="checkbox" value="@item.AssessmentSummaryID.ToString()" name="childChkbox3" />
                        </text>,
                                            header: "Good"
                                        ),
                    grid.Column(
                        format: @<text>
                            <input type="checkbox" value="@item.AssessmentSummaryID.ToString()" name="childChkbox4" />
                        </text>,
                                            header: "Fair"
                                        ),
                    grid.Column(
                        format: @<text>
                            <input type="checkbox" value="@item.AssessmentSummaryID.ToString()" name="childChkbox5" />
                        </text>,
                                            header: "Poor"
                                        )

         //grid.Column("Description", "Description", style: "description"),
         //grid.Column("Quantity", "Quantity")
         ))
        @if (grid.HasSelection)
        {
            vassessment = (SchoolAndSubjectRecognition.Models.AssessmentSummary)grid.Rows[grid.SelectedIndex].Value;
            <b>Id</b> @vassessment.ID<br />
            <b>Name</b>  @vassessment.RatingSetting.RatingLabel<br />
            @*<b>Description</b> @vassessment.Description<br />
                <b>Quantity</b> @product.Quantity<br />*@
        }
    </div>
@*</body>
</html>*@


<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.11.2.min.js" type="text/javascript"></script>

<style type="text/css">
    .webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 500px;
        background-color: #FCFCFC;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
        color: #FFF;
    }

    .webGrid th, .webGrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    .alt {
        background-color: #E4E9F5;
        color: #000;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .description {
        width: auto;
    }

    .select {
        background-color: #389DF5;
    }
</style>

<script type="text/javascript">
  $(document).ready(function ()
  {
      $("#checkableGrid input[type=checkbox]").click(function ()
    {
      if (this.checked)
      {
        $(this).closest('tr').find('input[type=checkbox]').attr('checked', false);
        this.checked = true;
      }
    });
  });


@*<script>
    $("#checkableGrid").each(function () {
        $(':checkbox').on('change', function () {
            var th = $(this), name = th.prop('name');
            if (th.is(':checked')) {
                $(':checkbox[name="' + name + '"]').not($(this)).prop('checked', false);
            }
        });
    });*@


    //$(function () {
    //    $('input:checkbox').prop('checked', false)
    //    $('input:checkbox').click(function () {
    //        if ($(this).is(':checked')) {
    //            $('input:checkbox').not(this).prop('checked', false);
    //        }
    //    });
    //})

    //$("#checkableGrid").each(function () {
    //$(function () {
    //    $('tr input[type="checkbox"]:first').prop('checked', true);
    //});
    //});

    //$(function () {
    //    $('tr td input[type="checkbox"]:first').prop('checked', true);
    //});






        //$("input:checkbox").change(function () {
        //    var group = ":checkbox[name='" + $(this).attr("name") + "']";
        //    if ($(this).is(':checked')) {
        //        $(group).not($(this)).attr("checked", false);
        //    }
        //});
</script>


<script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
<script type="text/javascript">

    function SaveRecord() {
        var lis = [];
        $('#checkableGrid input:hidden').each(function () {
            lis.push($(this).val());
        });

        var list = [];
        $('#checkableGrid input:checked').each(function () {
            list.push($(this).val());
        });

        // now names contains all of the names of checked checkboxes
        // do something with it for excamle post with ajax
        $.ajax({
            url: '@Url.Action("SaveAssessmentSummary", "Schools")',
            type: 'POST',
            accept: 'application/json',
            data: { grades: list, items: lis },
            success: function (result) {
                $('input[type=checkbox]').each(function () {
                    $(this).prop('checked', false);
                });
                alert("success!");

            },
            error: function (result) {
                alert("error!");
            }
        });   //end ajax
    };

</script>




