﻿@using SchoolRecognitionSystem.Models
@model   IEnumerable<SchoolRecognitionSystem.Models.ClassAllocationvModel>

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-duallistbox.min.css" type="text/css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    @*<li><a href="#">Manage School</a></li>
    <li class="active">Classroom</li>*@
</ol>
@*@Session["UserEmail"]*@
@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">
@if (Model != null)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new {id = "FormPost"}))
     {
         @Html.AntiForgeryToken()
         <div class="form-horizontal">
             @*<h4>ClassAllocation</h4>*@
             <hr/>
             @Html.ValidationSummary(true, "", new {@class = "text-danger"})
             <p>
                 School has been established since: <strong>@ViewBag.Years</strong> years ago
             </p>
             <section class="table-responsive">
                 <table class="table table-bordered">
                     <thead>
                     <tr>
                         <th>Class</th>
                         <th>Number Of Streams</th>
                         <th>Total Students</th>
                         @*<th>Approval</th>*@
                     </tr>
                     </thead>
                     <tbody id="students-table-body">
                     @{
                         <input id="schoolid" type="hidden" value="@Model.First().SchoolID"/>

                         foreach (var classReg in Model)
                         {
                             <tr class="school-classess" data-classname="@classReg.ClassName" data-classid="@classReg.ClassID" data-streams="@classReg.NoOfStreams" data-totalstudents="@classReg.TotalStudents">
                                 <td>@classReg.ClassName</td>
                                 <td>@classReg.NoOfStreams</td>
                                 <td>@classReg.TotalStudents</td>
                             </tr>

                         }


                         <tfoot>
                         <tr>
                             <td colspan="3">
                                
                                 <br/>
                                
                             </td>



                         </tr>
                         </tfoot>


                     }

                 </table>
             </section>
         </div>
     }
}
else
{
    <div class="alert alert-danger">
        <p>Class not registered.</p>
    </div>
}

            </div>


        </div>
    </div>





</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {

            $('.ticked').on("click", function() {
                var radioValue = $(this).val();
                
                var schoolId = '@Request.QueryString["sdc"]';
                
               
                $.post('../Assessment/ClassroomResult', { radioValue: radioValue, sdc: schoolId }, function (response) {
                    if (response.status === true) {
                        alert(response.res);

                        return;
                        //$(this).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        //$(this).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                        //    .addClass('text-success').html(data.message).show();

                    }
                });
            });
        });


        function DeleteValues() {
            var dropDown = document.getElementById("ClassID");
            for (var i = 0; i <= dropDown.options.length; i++) {
                if (dropDown.options[i].selected) {
                    dropDown.removeChild(dropDown.options[i]);
                    break;
                }
            }
        }

        function Submit() {
            if ($('#student-added').val() !== '1') {

                alert('please add at least one student record');
                return false;
            }
            if (confirm("Are you sure you want to go the next page?")) {
                return true;
            } else {
                return false;
            }


        }
    </script>




}

