﻿@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Models
@model  List<SchoolRecognitionSystem.Models.SchoolSubjectViewModel>

@{
    ViewBag.Title = "Assign State";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">User Management</a></li>
    <li class="active">Assign state</li>
</ol>

<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartial");
        </div>
        <section class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">


            @if (Model.Count > 0)
            {
                <section class="form-group">
                    <div class="table-responsive">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-primary">
                                @TempData["Success"]
                            </div>
                        }@*<a href="#" class="add">AssignState</a>*@<table class="table table-bordered" style="margin-top: 30px;">
                            <tr>

                                <th>S/N</th>
                                <th>
                                    <a>School Subjects</a>
                                </th>






                            </tr>
                            @{
                                var rowIncr = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @{
                                        <td>@rowIncr</td>
                                    }

                                    <td>
                                        @Html.DisplayFor(modelItem => item.LongName)
                                    </td>

                                </tr>
                                            rowIncr++;
                                        }

                        </table>
                        <br />

                    </div>
                </section>
                                        {
                                            var GetStorageAll = ViewBag.StorageAll as List<SchoolSubjectList>;
                                            foreach (var v in GetStorageAll)
                                            {
                                                var xc = v.ReaLabo;
                                                var yc = v.StaffSubjectO;
                                                if (xc.Count != 0)
                                                {
                                                    foreach (var vxc in xc)
                                                    {
                                                        {
                                                            @*<span><strong>@vxc.LongName</strong></span>
                                                            <span>is not approved because of inadequate facility;</span>
                                                            <br />*@
                                                        }
                                                    }
                                                }
                                                if (yc.Count != 0)
                                                {
                                                    foreach (var vxc in yc)
                                                    {
                                                        {
                                                            @*<span><strong>@vxc.LongName</strong></span>
                                                            <span>is not approved because the teacher for the subject is not qualified</span>*@

                                                        }

                                                    }
                                                }
                                            }

                                            @*if (TempData["CS"] != null)
                                            {
                                                <div class="alert alert-primary">
                                                    @TempData["CS"]
                                                </div>
                                            }*@
                                            if (TempData["CS"] != null)
                                            {
                                                <div class="col-md-12">
                                                    <span class="label label-danger"><strong>@TempData["CS"]</strong></span>
                                                    <label><input type="submit" value="Send Email"  class="btn btn-primary"/></label>
                                                </div>
                                            }
                                            if (TempData["AtLeast8Subjects"] != null)
                                            {
                                                <div class="col-md-12">
                                                    <span class="label label-danger"><strong>@TempData["AtLeast8Subjects"]</strong></span>
                                                    <label><input type="submit" value="Send Email"  class="btn btn-primary"/></label>
                                                </div>
                                            }



                                        }
                                        @*<section>
                                           
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label><input type="submit" value="Send Email to inspector" id="saveid" class="btn btn-primary" /></label>



                                                </div>

                                            </div>
                                        </section>*@

                                        }

                                                        </section>

                                                    </div>

                                                </div>

                                                @section scripts{
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $('#saveid').hide();
                                                            $('#centre').hide();
                                                            // document.location = '/Assessment/_ItemSectionPartial/?sdc=470';
                                                            $('[type=checkbox]').click(function () {
                                                                var checkedChbx = $('#approve').prop('checked');
                                                                if (checkedChbx) {
                                                                    $('#saveid').show();

                                                                    $('#saveid').on('click', function (e) {
                                                                        e.preventDefault();
                                                                        var schoolid = '@Request.QueryString["sdc"]';
                                                                        $.post('/Assessment/Approve2', { sdc: schoolid }, function (response) {
                                                                            $('#centre').show();
                                                                            $('#centreid').html(response.newcentreNumber);
                                                                            $('#schoolname').html(response.schoolname);

                                                                        });
                                                                    });


                                                                } else {
                                                                    $('#saveid').hide();
                                                                }

                                                            });


                                                        });


                                                    </script>

                                                }






