﻿@using PagedList.Mvc;
@using WebGrease.Css.Extensions
@model   IEnumerable<SchoolRecognitionSystem.Models.FacilityApprovalModel>
@{
    ViewBag.Title = "EquipmentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    //it is fetched when a record is inserted


}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    @*<li><a href="#">New School</a></li>
        <li class="active">Equipment Facility</li>*@
</ol>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartialX");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@
              <div class="form-group">
                    <label class="control-label col-md-9"></label>
                    <div class="col-md-3" style="margin-bottom: 30px;">
                        @*//Assessment/Index/?state=01*@
                        @*<a class='btn btn-success' href="@Url.Action("Create", "AutoCentre")">School list</a>*@
                        <a class='btn btn-success' href="@Url.Action("Index", "Assessment",new {state=Request.QueryString["state"]})">School list</a>
                    </div>
                </div>
                @Html.AntiForgeryToken()

                <ul class="nav nav-tabs" style="margin: 20px;">

                    <li class=active>
                        <a data-toggle="tab" data-facilitycatyid="1" id="equipment" data-href="@Url.Action("FacilitySummary", "Assessment",new {sddc=Request.QueryString["sddc"]})">Equipment</a>
                    </li>
                    @*<li>
                            <a data-toggle="tab" id="lab-record" data-fcilitycatyid="3" data-href="@Url.Action("FetchLaboratorySummary", "Assessment",new {sdc=Request.QueryString["sdc"]})">Laboratory</a>
                        </li>


                        <li>
                            <a data-toggle="tab" id="library-record" data-href="@Url.Action("LibraryFacilityAssess", "Assessment",new {sdc=Request.QueryString["sdc"]})">Library</a>
                        </li>

                        <li>
                            <a data-toggle="tab" id="recreational-record" data-href="@Url.Action("SchoolReacreationalForAssess", "Assessment",new {sdc = Request.QueryString["sdc"]})">Recreational</a>
                        </li>

                        <li>
                            <a data-toggle="tab" id="examination-record" data-href="@Url.Action("ExaminationFacilityAssess", "Assessment",new {sdc = Request.QueryString["sdc"]})">ExaminationHall</a>
                        </li>*@
                    @*<li>
                            <a data-toggle="tab" id="assessment-record" href="" data-href="@Url.Action("AssessmentFacility", "Assessment")">Assessment</a>
                        </li>*@

                </ul>
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="equipmentid">
                        <div>
                            <!-- flight section -->
                            <div class="active">

                                @*@if (Session["SchoolID"] != null)
                                    {*@


                                <div class="form-group">
                                    <div id="itemsDetailSection">
                                        <div id="itemsDetailTable"></div>
                                    </div>
                                </div>
                                @*<div class="clearfix"></div>*@
                                @if (Model.Any())
                                {

                                    <section class="form-group">
                                        <div class="table-responsive">


                                            <table class="table table-bordered" id="tableid" @*style="margin-top: 30px;"*@>
                                                <tr>
                                                    @*<th>ID</th>*@
                                                    <th>
                                                        <a>S/N</a>
                                                    </th>
                                                    <th>
                                                        <a>Subject</a>
                                                    </th>

                                                    <th>
                                                        <a>Facility</a>
                                                    </th>

                                                    <th>
                                                        <a>Total Items</a>
                                                    </th>
                                                    <th>
                                                        <a>Total School Items</a>
                                                    </th>
                                                    <th>
                                                        <a>Percentage</a>
                                                    </th>
                                                    @*<th>
                                                            <a>Laboratory Digit</a>
                                                        </th>*@
                                                    <th>
                                                        <a>Approved options</a>
                                                    </th>
                                                    <th></th>



                                                </tr>
                                                @{
                                                    var counter = 1;
                                                    var x = 1;
                                                }
                                                <input id="schoolid" type="hidden" value="@Request.QueryString["sddc"]" />
                                                @foreach (var item in Model)
                                                {
                                                    <tr class="item">
                                                        @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                                                        <td>@x</td>
                                                        <input type="hidden" id="rowidd" value="@item.ID" />

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LongName)
                                                            <input type="hidden" id="LongName_@item.ID" name="LongName" data-subjectid="@item.SubjectID" value="@item.LongName" />
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TypeOfFacility)
                                                            <input type="hidden" id="TypeOfFacility_@item.ID" data-facilityid="@item.FacilityCategoryId" name="TypeOfFacility" data-typeOfFacility="@item.FacilityCategory" value="@item.TypeOfFacility" />

                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TotalItems)
                                                            @*@Html.DisplayFor(modelItem => item.UnitType)*@
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TotalSchoolRecords)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Percentage)
                                                        </td>
                                                        @*<td>
                                                                @Html.DisplayFor(modelItem => item.LaboratoryDigit)
                                                            </td>*@

                                                        <td>
                                                            @*<label><input type="checkbox" style="width: 15px; height: 15px;" value="true" name="approve" id="approve"><span style="padding-left: 6px; margin-top: 8px;">Pass</span></label>
                                                                <label><input type="checkbox" style="width: 15px; height: 15px;" value="true" name="approve" id="approve"><span style="padding-left: 6px; margin-top: 8px;">Fail</span></label>*@
                                                            @if (item.LongName.Equals("BIOLOGY") || item.LongName.Equals("CHEMISTRY"))
                                                            {
                                                                if (item.EquipmentFacility == 1 || item.LaboratoryFacility == 1 || item.ReagentFacility == 1)
                                                                {

                                                                    <span style="display: inline-block;">
                                                                        <label><input type="radio" class="ticked" data-updatedid="@item.ItemSectionAssessmentID" data-row="@item.ID" id="rowid_@item.ID" checked name="ticked_@item.ID" value="Passed" />Pass</label>
                                                                        @*<input data-updatedid="0" type="hidden" id="dataupdateid" class="tikked">*@
                                                                        <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                        <span class="message-output"></span>
                                                                    </span>
                                                                    <span style="display: inline-block;">
                                                                        <label><input type="radio" class="ticked" data-updatedid="@item.ItemSectionAssessmentID" data-row="@item.ID" name="ticked_@item.ID" id="rowid_@item.ID" value="Failed" />Fail</label>
                                                                        @*<input data-updatedid="0" type="hidden" class="tikked">*@
                                                                        @*<input data-updatedid="0" type="hidden" id="dataupdateid" class="tikked">*@
                                                                        <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                        <span class="message-output"></span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span style="display: inline-block;">
                                                                        <label><input type="radio" class="ticked" id="rowid_@item.ID" data-row="@item.ID" data-updatedid="@item.ItemSectionAssessmentID" name="ticked_@item.ID" value="Passed" />Pass</label>
                                                                        <input data-updatedid="0" type="hidden" class="tikked">
                                                                        <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                        <span class="message-output"></span>
                                                                    </span>
                                                                    <span style="display: inline-block;">
                                                                        <label><input type="radio" class="ticked" data-row="@item.ID" data-updatedid="@item.ItemSectionAssessmentID" name="ticked_@item.ID" checked="checked" id="rowid_@item.ID" value="Failed" />Fail</label>
                                                                        <input data-updatedid="0" type="hidden" class="tikked">
                                                                        <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                        <span class="message-output"></span>
                                                                    </span>
                                                                }
                                                            }
                                                            else if (item.LongName.Equals("AGRIC SCIENCE") || item.LongName.Equals("PHYSICS"))
                                                            {
                                                                if ((item.EquipmentFacility == 1 || item.LaboratoryFacility == 1))
                                                                {

                                                                    <span style="display: inline-block;">
                                                                        <label><input type="radio" class="ticked" data-updatedid="@item.ItemSectionAssessmentID" data-row="@item.ID" id="rowid_@item.ID" checked name="ticked_@item.ID" value="Passed" />Pass</label>
                                                                        @*<input data-updatedid="0" type="hidden" id="dataupdateid" class="tikked">*@
                                                                        <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                        <span class="message-output"></span>
                                                                    </span>
                                                                    <span style="display: inline-block;">
                                                                        <label><input type="radio" class="ticked" data-updatedid="@item.ItemSectionAssessmentID" data-row="@item.ID" name="ticked_@item.ID" id="rowid_@item.ID" value="Failed" />Fail</label>
                                                                        @*<input data-updatedid="0" type="hidden" class="tikked">*@
                                                                        @*<input data-updatedid="0" type="hidden" id="dataupdateid" class="tikked">*@
                                                                        <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                        <span class="message-output"></span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span style="display: inline-block;">
                                                                        <label><input type="radio" class="ticked" id="rowid_@item.ID" data-row="@item.ID" data-updatedid="@item.ItemSectionAssessmentID" name="ticked_@item.ID" value="Passed" />Pass</label>
                                                                        <input data-updatedid="0" type="hidden" class="tikked">
                                                                        <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                        <span class="message-output"></span>
                                                                    </span>
                                                                    <span style="display: inline-block;">
                                                                        <label><input type="radio" class="ticked" data-row="@item.ID" data-updatedid="@item.ItemSectionAssessmentID" name="ticked_@item.ID" checked="checked" id="rowid_@item.ID" value="Failed" />Fail</label>
                                                                        <input data-updatedid="0" type="hidden" class="tikked">
                                                                        <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                        <span class="message-output"></span>
                                                                    </span>
                                                                }
                                                            }
                                                            @*<label class="checkbox nomargin"><input type="checkbox" value="true" name="failed" class="failed" data-id="@item.ID"><i></i>Pass</label>*@

                                                            @*<label class="checkbox nomargin"><input type="checkbox" value="true" name="failed" class="failed" data-id="@item.ID"><i></i>Fail</label>*@


                                                            @*<label class="control-label"><input type="radio" class="approved" name="approved_@item.ID" data-id="@item.ID" value="True"/>Approved</label>*@
                                                            @*<label class="control-label"><input type="radio" class="approved" name="approved_@item.ID" data-id="@item.ID" value="False" />Not Approved</label>*@

                                                            @*@if (item.isApproved == "NotSpecified")
                                                                {
                                                                    <label class="control-label"><input type="radio" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="True"/>Approved</label>
                                                                    <label class="control-label"><input type="radio" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="False" />Not Approved</label>

                                                                }
                                                                else if (item.isApproved == "True")
                                                                {
                                                                    <label class="control-label"><input type="radio" checked="checked" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="True" />Approved</label>
                                                                    <label class="control-label"><input type="radio" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="False" />Not Approved</label>

                                                                }
                                                                else if (item.isApproved == "False")
                                                                {
                                                                    <label class="control-label"><input type="radio" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="True" />Approved</label>
                                                                    <label class="control-label"><input type="radio" checked="checked" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="False" />Not Approved</label>

                                                                }*@
                                                        </td>

                                                        @*<td>@Html.ActionLink("View Details", "Detail", new { id = item.SubjectID }) </td>*@

                                                        <td><input type="button" value="detail" class="linkid" data-facilityid="@item.FacilityCategoryId" data-subjectid="@item.SubjectID" /></td>


                                                    </tr>

                                                    counter++;
                                                    x++;
                                                }


                                            </table>
                                            @*<p class="pull-left">
                                                    <input type="hidden" value="@Model.First().ID" id="hideid"/>
                                                    <button class="btn btn-primary btn-lg" id="save-radio">Save</button>
                                                </p>*@
                                            <br />

                                            <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId' />


                                        </div>
                                    </section>
                                                    }
                                                    else
                                                    {
                                                        <div class="well" style="margin-top:30px;">
                                                            <h3>Please select a subject to load items.</h3>
                                                        </div>
                                                    }
                                @*}
                                    else
                                    {
                                        <div class="well">Section is null</div>

                                    }*@
                            </div>

                        </div>


                    </section>


                </article>

                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function() {

            $("#tableid tr.item").each(function(index, row) {
                $(row).find('.ticked').on("click", function() {
                    var thisvaribale = $(this);
                    var id = $(this).data("row");
                    var updatedid = $(this).attr('data-updatedid');
                    var radioValue = $(this).val();
                    var subjectId = $('#LongName_' + id).attr('data-subjectid');
                    var longName = $('#LongName_' + id).val();
                    var facilityid = $('#TypeOfFacility_' + id).attr('data-facilityid');
                    var rowId = $('#rowidd').val();
                    var typeofFacility = $('#TypeOfFacility_' + id).val();
                    var schoolId = '@Request.QueryString["sddc"]';
                    console.log(facilityid);
                    console.log(facilityid);
                    //$(this).parent().find('.spinner-wrapper').show();
                    //$(this).parent().find('.message-output').hide();
                    $.post('/Assessment/Result', { rowId: id, longName: longName, facilityId: facilityid, typeofFacility: typeofFacility, radioValue: radioValue, sddc: schoolId, updatedid: updatedid, subjectId: subjectId }, function (response) {
                        if (response.status === true) {
                            alert(response.message);
                            //$(thisvaribale).parent().find('.spinner-wrapper').addClass('fa-check-circle text-danger').removeClass('fa-spin fa-spinner');
                            console.log(response.updatedid);
                            $('input[name=ticked_' + id + ']').attr('data-updatedid', response.updatedid);
                            // $('#tikked2').attr('data-updatedid2', response.updatedid2);

                            return;

                        }
                    });
                });


            });

            $('.linkid').on("click", function(e) {
                e.preventDefault();
                var facilityid = $(this).data('facilityid');
                var subjectid = $(this).data('subjectid');
                console.log(facilityid);
                if (facilityid == 1) {
                    window.location.href = '/Assessment/Detail?id=' + subjectid;
                    //$.ajax({
                    //    url: "/Assessment/Detail",
                    //    type: "POST",
                    //    data: JSON.stringify({ id: subjectid }),
                    //    dataType: "json",
                    //    traditional: true,
                    //    contentType: "application/json; charset=utf-8",
                    //    success: function(data) {

                    //        window.location.href = '/Assessment/Detail?id='+subjectid;
                    //    }
                    //});
                }
                if (facilityid == 2) {
                    window.location.href = '/Assessment/ReagentDetail?id=' + subjectid;

                }

            });





            //$.ajax({
            //    url: "/Assessment/ReagentDetail",
            //    type: "POST",
            //    data: JSON.stringify({ id: subjectid }),
            //    dataType: "json",
            //    traditional: true,
            //    contentType: "application/json; charset=utf-8",
            //    success: function(data) {

            //        // perform your save call here

            //        if (data.status == "Success") {
            //            alert("Done");
            //        } else {
            //            alert("Error occurs on the Database level!");
            //        }
            //    },
            //    error: function() {
            //        alert("An error has occured!!!");
            //    }
            //});



//$('#save-radio').on("click", function () {

            //    var checkedboxes = [];
            //    $("input.approved:checked").each(function () {
            //        checkedboxes.push({

            //            'ID': $(this).data("id"),
            //            'Value': $(this).val()
            //        });


            //    });
            //    console.log(checkedboxes);
            //    $.post('/Assessment/UpdateFacilitySummary', { radiobuttonvalues: checkedboxes }, function (response) {
            //        if (response.status === true) {
            //            alert('Assessment done successfully.');
            //        } else {
            //            alert('Error occurred while saving data');
            //        }
            //    });
            //});


            $('#equipment').on('click', function() {
                document.location = $(this).attr("data-href");

            });


            $('#lab-record').on('click', function() {
                document.location = $(this).attr("data-href");

            });
            $('#reagent-record').on('click', function() {
                document.location = $(this).attr("data-href");

            });
        });
        $('#library-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });

        $('#recreational-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        $('#examination-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        $('#assessment-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
    </script>
}



