﻿@using PagedList.Mvc;
@using WebGrease.Css.Extensions
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.SchoolEquipConfigViewModel>
@{
    ViewBag.Title = "EquipmentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    //it is fetched when a record is inserted


}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Equipment Facility</li>
</ol>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_TabPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                @Html.AntiForgeryToken()

           
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="equipment">
                        <div>
                            <div class="clearfix"></div>
                            @if (Model.Count > 0)
                            {

                                <section class="form-group">
                                    <div class="table-responsive">

                                        @*<div class="pull-right">
                                            <p style="margin-right: 30px;">Total Records: <strong>@Model.TotalItemCount</strong></p>
                                        </div>*@
                                        <table class="table table-bordered" style="margin-top: 30px;">
                                            <tr>

                                                <th>
                                                    <a>Subject</a>
                                                </th>

                                                <th>
                                                    <a>Facility Type</a>
                                                </th>

                                                <th>
                                                    <a>Total Records Expected</a>
                                                </th>
                                                <th>
                                                    <a>Total Records collated</a>
                                                </th>
                                                <th>
                                                    <a>Percentage</a>
                                                </th>
                                                <th>
                                                    <a>Approval</a>
                                                </th>


                                            </tr>
                                            @{
                                                    var counter = 1;
                                            }
                                            @foreach (var item in Model)
                                                {
                                                <tr>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SubjectID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EquipmentValue)
                                                        @*@Html.DisplayFor(modelItem => item.UnitType)*@
                                                    </td>

                                                    <td>
                                                        <input data-recordid="0" type="text" id="inUser" data-definition="@item.Unique_row" onblur="useOnBlur('@item.Unique_row', this);" value="@item.EquipmentValue" style="width: 120px;"> <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                        <span class="message-output"></span>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UnitType)
                                                    </td>

                                                    <td id="definition-@item.Unique_row" class="definition-column">
                                                        @item.GetDefinitionDefaultValue()
                                                    </td>
                                                    @*@Html.DisplayFor(modelItem => item.EquipmentValue)*@
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Specification)
                                                    </td>
                                                    <input type="hidden" id="@item.FacilityCategoryID" name="FacilityCategoryID" value="@item.FacilityCategoryID" />

                                                </tr>

                                                    counter++;
                                                }
                                          
                                        </table>
                                        <br />
                                        <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId' />
                                        
                                        <div id='Paging' style="text-align: center">
                                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                            of @Model.PageCount

                                            @Html.PagedListPager(Model, page => Url.Action("Facility", new { page, subjectid = ViewBag.subjectid }))
                                            @*@Html.PagedListPager(Model, page => Url.Action("FacilityTabbing", new { page, subjectid = ViewBag.subjectid}))*@
                                        </div>
                                    </div>
                                </section>
                                                }
                                                else
                                                {
                                                    <div class="well" style="margin-top:30px;">
                                                        <h3>Please select a subject to load items.</h3>
                                                    </div>
                                                }
                            }
                            @*else
            {
                <div class="well">Section is null</div>

            }*@

                        </div>

                    </section>


                </article>

                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>

        </div>
    </div>
</div>

@section scripts{

  
}










@*===========================*@



