﻿@using PagedList.Mvc;
@using WebGrease.Css.Extensions
@model   IEnumerable<SchoolRecognitionSystem.Models.LaboratoryApprovalModel>
@{
    ViewBag.Title = "EquipmentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    //it is fetched when a record is inserted


}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Equipment Facility</li>
</ol>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                @Html.AntiForgeryToken()

                <ul class="nav nav-tabs" style="margin: 20px;">

                    <li>
                        <a data-toggle="tab" data-href="@Url.Action("FacilitySummary", "Assessment",new {sdc=Request.QueryString["sdc"]})" data-facilitycatyid="1" id="equipment">Equipment</a>
                    </li>
                    <li class="active">
                        <a data-toggle="tab" id="lab-record" data-facilitycatyid="3" data-href="@Url.Action("FetchLaboratorySummary", "Assessment",new {sdc=Request.QueryString["sdc"]})">Laboratory</a>
                    </li>
                    @*<li>
                        <a data-toggle="tab" id="reagent-record" data-facilitycatyid="4"  data-href="@Url.Action("ReagentFacility", "Schools")">Reagent</a>
                    </li>*@


                    <li>
                        <a data-toggle="tab" id="library-record" data-href="@Url.Action("LibraryFacilityAssess", "Assessment", new {sdc=Request.QueryString["sdc"]})">Library</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="recreational-record" data-href="@Url.Action("SchoolReacreationalForAssess", "Assessment",new {sdc = Request.QueryString["sdc"]})">Recreational</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="examination-record" data-href="@Url.Action("ExaminationFacilityAssess", "Assessment",new {sdc = Request.QueryString["sdc"]})">ExaminationHall</a>
                    </li>
                    @*<li>
                        <a data-toggle="tab" id="assessment-record" href="" data-href="@Url.Action("AssessmentFacility", "Schools")">Assessment</a>
                    </li>*@

                </ul>
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="lab-record2">
                        <div>
                            <!-- flight section -->
                            <div class="active">

                                @*@if (Session["SchoolID"] != null)
                    {*@

                              
                                <div class="form-group">
                                    <div id="itemsDetailSection">
                                        <div id="itemsDetailTable"></div>
                                    </div>
                                </div>
                               
                                @if (Model.Any())
                                {

                                    <section class="form-group">
                                        <div class="table-responsive">


                                            <table class="table table-bordered" id="tableid" style="margin-top: 30px;">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>
                                                        <a>Subject</a>
                                                    </th>

                                                    <th>
                                                        <a>Facility</a>
                                                    </th>

                                                    <th>
                                                        <a>Total Items</a>
                                                    </th>
                                                    <th>
                                                        <a>General Assessment</a>
                                                    </th>
                                                    <th>
                                                        <a>Approved options</a>
                                                    </th>
                                                    <th></th>



                                                </tr>
                                                @{
                                                    var counter = 1;
                                                }
                                                <input id="schoolid" type="hidden" value="@Request.QueryString["sdc"]" />
                                                @foreach (var item in Model)
                                                {
                                                    <tr  class="item">
                                                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                                        <input type="hidden" id="rowidd" value="@item.ID" />
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LongName)
                                                            <input type="hidden" id="LongName_@item.ID" name="LongName" data-subjectid="@item.SubjectId" value="@item.LongName" />
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TypeOfFacility)
                                                            <input type="hidden" id="TypeOfFacility_@item.ID" data-facilityid="@item.FacilityCategoryId" name="TypeOfFacility" data-typeOfFacility="@item.FacilityCategory" value="@item.TypeOfFacility" />

                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TotalItem)
                                                            @*@Html.DisplayFor(modelItem => item.UnitType)*@
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.GeneralAssessment)
                                                        </td>


                                                        <td>
                                                            @*<label class="checkbox nomargin"><input type="checkbox" value="true" name="approved" class="approved" data-id="@item.ID"><i></i>Approved</label>*@
                                                            @*@if (item.FinalRating == 1)
                                                          {*@

@if (item.LongName.Equals("BIOLOGY") || item.LongName.Equals("CHEMISTRY")|| item.LongName.Equals("AGRIC SCIENCE")|| item.LongName.Equals("PHYSICS"))
{
    if (item.LaboratoryFacility == 1)
    {
        <span style="display: inline-block;">
            <label><input type="radio" class="ticked" @*data-updatedid="@item.ItemSectionAssessmentID"*@ data-row="@item.ID" id="rowid_@item.ID" checked name="ticked_@item.ID" value="Passed" />Pass</label>
            @*<input data-updatedid="0" type="hidden" id="dataupdateid" class="tikked">*@
            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
            <span class="message-output"></span>
        </span>
        <span style="display: inline-block;">
                                                                <label><input type="radio" class="ticked" @*data-updatedid="@item.ItemSectionAssessmentID"*@ data-row="@item.ID" name="ticked_@item.ID" id="rowid_@item.ID" value="Failed" />Fail</label>
                                                                @*<input data-updatedid="0" type="hidden" class="tikked">*@
                                                                @*<input data-updatedid="0" type="hidden" id="dataupdateid" class="tikked">*@
                                                                <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                <span class="message-output"></span>
                                                            </span>
    }
    else
    {
        <span style="display: inline-block;">
            <label><input type="radio" class="ticked" @*data-updatedid="@item.ItemSectionAssessmentID"*@ data-row="@item.ID" id="rowid_@item.ID" name="ticked_@item.ID" value="Passed" />Pass</label>
            @*<input data-updatedid="0" type="hidden" id="dataupdateid" class="tikked">*@
            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
            <span class="message-output"></span>
        </span>
        <span style="display: inline-block;">
            <label><input type="radio" class="ticked" @*data-updatedid="@item.ItemSectionAssessmentID"*@ data-row="@item.ID" checked="" name="ticked_@item.ID" id="rowid_@item.ID" value="Failed" />Fail</label>
            @*<input data-updatedid="0" type="hidden" class="tikked">*@
            @*<input data-updatedid="0" type="hidden" id="dataupdateid" class="tikked">*@
            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
            <span class="message-output"></span>
        </span>
    }
}



                                                          @*}
                                                          else
                                                          {
                                                            <span style="display: inline-block;">
                                                                <label><input type="radio" class="ticked" id="rowid_@item.ID" data-row="@item.ID" data-updatedid="@item.ItemSectionAssessmentID" name="ticked_@item.ID" value="Passed" />Pass</label>
                                                                <input data-updatedid="0" type="hidden" class="tikked">
                                                                <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                <span class="message-output"></span>
                                                            </span>
                                                                <span style="display: inline-block;">
                                                                    <label><input type="radio" class="ticked" data-row="@item.ID" data-updatedid="@item.ItemSectionAssessmentID" name="ticked_@item.ID" checked="checked" id="rowid_@item.ID" value="Failed" />Fail</label>
                                                                    <input data-updatedid="0" type="hidden" class="tikked">
                                                                    <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                                    <span class="message-output"></span>
                                                                </span>
                                                          }*@
                                                        </td>
                                                        <td>@Html.ActionLink("View Details", "LabDetail", new { id = item.SubjectId, schoolid = Request.QueryString["sdc"] })

                                                    </tr>

                                                    counter++;
                                                }

                                            </table>
                                            <p class="pull-left">
                                                <input type="hidden" value="@Model.First().ID" id="hideid" />
                                                <button class="btn btn-primary btn-lg" id="save-radio">Save</button>
                                            </p>
                                            <br />

                                            <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId' />


                                        </div>
                                    </section>
                                                    }
                                                    @*else
                                                    {
                                                        <div class="well" style="margin-top:30px;">
                                                            <h3>Please select a subject to load items.</h3>
                                                        </div>
                                                    }*@
                                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
                            </div>

                        </div>


                    </section>


                </article>

                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function() {
           // document.location = '/Assessment/FetchLaboratorySummary/?schoolid=' + ,

            //$('.approved').on("click", function() {
            //    var checkedboxes = [];
            //    $("input.save-radio:checked").each(function () {
            //        checkedboxes.push({
            //            'ID': $(this).data('id'),
            //            'Value': $(this).val()
            //        });


            //    });
            //    $.post('/Assessment/UpdateFacilitySummary', { radiobuttonvalues: checkedboxes }, function(response) {
            //        if (response.status === true) {
            //            alert('Classes saved successfully.');
            //        } else {
            //            alert('Error occurred while saving data');
            //        }
            //    });
            //});

            //$('#save-radio').on("click", function () {

            //    var checkedboxes = [];
            //    $("input.approved:checked").each(function () {
            //        checkedboxes.push({

            //            'ID': $(this).data("id"),
            //            'Value': $(this).val()
            //        });


            //    });
            //    console.log(checkedboxes);
            //    $.post('/Assessment/UpdateFacilitySummary', { radiobuttonvalues: checkedboxes }, function (response) {
            //        if (response.status === true) {
            //            alert('Assessment done successfully.');
            //        } else {
            //            alert('Error occurred while saving data');
            //        }
            //    });
            //});


            $("#tableid tr.item").each(function (index, row) {
                $(row).find('.ticked').on("click", function () {
                    var thisvaribale = $(this);
                    var id = $(this).data("row");
                    var updatedid = $(this).attr('data-updatedid');
                    var radioValue = $(this).val();
                    var subjectId = $('#LongName_' + id).attr('data-subjectid');
                    var longName = $('#LongName_' + id).val();
                    var facilityid = $('#TypeOfFacility_' + id).attr('data-facilityid');
                    var rowId = $('#rowidd').val();
                    var typeofFacility = $('#TypeOfFacility_' + id).val();
                    var schoolId = '@Request.QueryString["sdc"]';
                    
                    console.log(id);
                    //$(this).parent().find('.spinner-wrapper').show();
                    //$(this).parent().find('.message-output').hide();
                    $.post('@Url.Action("LaboratoryResult", "Assessment")', { rowId: id, longName: longName, facilityId: facilityid, typeofFacility: typeofFacility, radioValue: radioValue, sdc: schoolId, updatedid: updatedid, subjectId: subjectId }, function (response) {
                        if (response.status === true) {
                            alert(response.message);
                            //$(thisvaribale).parent().find('.spinner-wrapper').addClass('fa-check-circle text-danger').removeClass('fa-spin fa-spinner');
                            console.log(response.updatedid);
                            $('input[name=ticked_' + id + ']').attr('data-updatedid', response.updatedid);
                            // $('#tikked2').attr('data-updatedid2', response.updatedid2);

                            return;
                        }
                    });
                });
            });








           

        $('#equipment').on('click', function() {
            document.location = $(this).attr("data-href");
            console.log(document.location);
        });


        $('#reagent-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });


        $('#lab-record').on('click', function() {
            document.location = $(this).attr("data-href");
            console.log(document.location);
        });

        $('#library-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });

        $('#recreational-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        $('#examination-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        $('#assessment-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        });

    </script>
}



