﻿@using PagedList.Mvc;
@model   PagedList.IPagedList<SchoolRecognitionSystem.Models.LaboratoryViewModel>
@{
    ViewBag.Title = "Laboratory";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Laboratory Facility</li>
</ol>
@*<h2>FacilityTabbing</h2>*@
<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">

            @*@if (Session["SchoolID"] != null)
                {*@

            @Html.AntiForgeryToken()
            <ul class="nav nav-tabs" style="margin: 20px;">

                <li>
                    <a data-toggle="tab" id="equipment" data-href="@Url.Action("FacilitySummary", "Assessment")">Equipment</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" id="lab-record" data-href="@Url.Action("LaboratoryFacility", "Assessment")">Laboratory</a>
                </li>
                @*<li>
                    <a data-toggle="tab" id="reagent-record" data-href="@Url.Action("ReagentFacility", "Schools")">Reagent</a>
                </li>


                <li>
                    <a data-toggle="tab" id="library-record" data-href="@Url.Action("LibraryFacility", "Schools")">Library</a>
                </li>

                <li>
                    <a data-toggle="tab" id="recreational-record" data-href="@Url.Action("RecreationalFacility", "Schools")">Recreational</a>
                </li>

                <li>
                    <a data-toggle="tab" id="examination-record" href="" data-href="@Url.Action("ExaminationFacility", "Schools")">ExaminationHall</a>
                </li>
                <li>
                    <a data-toggle="tab" id="assessment-record" href="" data-href="@Url.Action("AssessmentFacility", "Schools")">Assessment</a>
                </li>*@

            </ul>
            <article class="tab-content" style="margin: 20px;">
                <section class="tab-pane fade in active" id="lab-record">
                    <div>
                        <!-- flight section -->
                        <div class="active">

                            @*@if (Session["SchoolID"] != null)
                                {*@
                            <div class="form-group">
                                <label class="control-label col-md-2">Subject</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("ID", ViewBag.SchoolSubjectList as IEnumerable<SelectListItem>, "Select Subject", new { @class = "form-control" })
                                    @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="clearfix"></div>*@
                            <div class="form-group">
                                <div id="itemsDetailSection">
                                    <div id="itemsDetailTable"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            @if (Model.Count > 0)
                            {
                                <section class="form-group">
                                    <div class="table-responsive">

                                        <table class="table table-bordered" style="margin-top: 30px;">
                                            <tr>

                                                <th>
                                                    <a>Item Description</a>
                                                </th>

                                                <th>
                                                    <a>item value</a>
                                                </th>
                                                <th>Approved Option</th>

                                            </tr>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ItemDescription)
                                                    </td>
                                                   
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LabValue)
                                                        </td>

                                                    <td>
                                                        <label class="control-label"><input type="radio" class="approved" name="approved_@item.ID" value="True"/>Approved</label>
                                                        <label class="control-label"><input type="radio" class="approved" name="approved_@item.ID" value="False" />Not Approved</label>

                                                    </td>
                                                   
                                                    
                                                </tr>
                                            }
                                        </table>
                                        <br />
                                        <input type="hidden" id="SchoolFacilityValueID" name="SchoolFacilityValueID" value="0" />
                                        <input type="hidden" id="SchoolFacilityValue_ID" name="SchoolFacilityValue_ID" value="0" />
                                        <input type="hidden" id="SchoolEquipConfig_ID" name="SchoolEquipConfig_ID" value="0" />
                                        <div id='Paging' style="text-align: center">
                                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                            of @Model.PageCount

                                            @Html.PagedListPager(Model, page => Url.Action("LaboratoryFacility", new { page, subjectid = ViewBag.subjectid }))
                                        </div>
                                    </div>
                                </section>
                            }
                            else
                            {
                                <div class="well" style="margin-top:30px;">
                                    <h3>Please select a subject to load items.</h3>
                                </div>
                            }
                            @*}
                                else
                                {
                                    <div class="well">Section is null</div>

                                }*@
                        </div>

                    </div>


                </section>



            </article>

            @*}
                else
                {
                    <div class="well">Section is null</div>

                }*@
        </div>

    </div>
</div>



@section scripts{

    <script type="text/javascript">

        var subjectId;
        $(document).ready(function() {
            $("#itemsDetailSection").hide(0);
            $("#ID").change(function() {
                subjectId = $("#ID").val();
                getEquipmentTable(subjectId, 1);
                $("#itemsDetailSection").show();
            });

        });
        

        function getEquipmentTable(subjectId, page) {
            $("#itemsDetailTable").html('<i class="fa fa-spinner fa-spin"></i> Loading Subject Details, Please Wait...');
            if (parseInt(subjectId) > 0) {
                document.location = '@Url.Action("LaboratoryFacility", "Assessment")?subjectId=' + subjectId;
                //document.location = '/Recognition/Assessment/LaboratoryFacility/?subjectId=' + subjectId;
            } else {
                $("#itemsDetailTable").html("No Subject selected yet.");
            }
        }

        function useOnBlur(d_id, elem) {
            var isSuccess = -1;

            if (elem.value == '') {
                $(elem).parent().find('.message-output').stop().css('opacity', 1)
                    .html('Please enter a value.').removeClass('text-success').addClass('text-danger').show();
                return;
            }
            $(elem).parent().find('.spinner-wrapper').show();
            $(elem).parent().find('.message-output').hide();
            var record_id = $(elem).attr('data-recordId');
            //alert(d_id);
            $.ajax({
                url: "@Url.Action("SaveLaboratory", "Schools")",
                 data: { dd: d_id, user: elem.value, record_id: record_id },
                type: 'POST',
                success: function(data) {
                    if (data.status == true) {
                        $(elem).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                            .addClass('text-success').html(data.message).show().fadeOut(10000);
                        $(elem).attr('data-recordId', data.recordId);
                        isSuccess = data;
                    } else {
                        $(elem).parent().find('.message-output').stop().css('opacity', 1).html(data.message).removeClass('text-success').addClass('text-danger').show();

                    }


                }

            });

        };



        $('#equipment').on('click', function () {
            document.location = $(this).attr("data-href");
        });


        $('#reagent-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });


        $('#lab-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });

        $('#library-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });

        $('#recreational-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });
        $('#examination-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });
        $('#assessment-record').on('click', function () {
            document.location = $(this).attr("data-href");
        });
    </script>

}










@*===========================*@



