﻿@using PagedList.Mvc;
@using WebGrease.Css.Extensions
@model   IEnumerable<SchoolRecognitionSystem.Models.SchoolLibraryConfigModel>
@{
    ViewBag.Title = "EquipmentFacility";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    //it is fetched when a record is inserted


}
<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">New School</a></li>
    <li class="active">Equipment Facility</li>
</ol>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                @Html.AntiForgeryToken()

                <ul class="nav nav-tabs" style="margin: 20px;">

                    <li>
                        <a data-toggle="tab" data-href="@Url.Action("FacilitySummary", "Assessment",new {sdc=Request.QueryString["sdc"]})" data-facilitycatyid="1" id="equipment">Equipment</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="lab-record" data-facilitycatyid="3" data-href="@Url.Action("FetchLaboratorySummary", "Assessment",new {schoolid=Request.QueryString["sdc"]})">Laboratory</a>
                    </li>
                    @*<li>
                            <a data-toggle="tab" id="reagent-record" data-facilitycatyid="4"  data-href="@Url.Action("ReagentFacility", "Schools")">Reagent</a>
                        </li>*@


                    <li  class="active">
                        <a data-toggle="tab" id="library-record" data-href="@Url.Action("LibraryFacilityAssess", "Assessment",new {sdc=Request.QueryString["sdc"]})">Library</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="recreational-record" data-href="@Url.Action("SchoolReacreationalForAssess", "Assessment",new {sdc = Request.QueryString["sdc"]})">Recreational</a>
                    </li>

                    <li>
                        <a data-toggle="tab" id="examination-record" data-href="@Url.Action("ExaminationFacilityAssess", "Assessment",new {sdc = Request.QueryString["sdc"]})">ExaminationHall</a>
                    </li>
                    @*<li>
                            <a data-toggle="tab" id="assessment-record" href="" data-href="@Url.Action("AssessmentFacility", "Schools")">Assessment</a>
                        </li>*@

                </ul>
                <article class="tab-content" style="margin: 20px;">
                    <section class="tab-pane fade in active" id="lab-record2">
                        <div>
                            <!-- flight section -->
                            <div class="active">

                                @*@if (Session["SchoolID"] != null)
                                    {*@


                                <div class="form-group">
                                    <div id="itemsDetailSection">
                                        <div id="itemsDetailTable"></div>
                                    </div>
                                </div>

                                @if (Model.Any())
                                {

                                    <section class="form-group">
                                        <div class="table-responsive">


                                            <table class="table table-bordered" style="margin-top: 30px;">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>
                                                        <a>Item</a>
                                                    </th>

                                                    <th>
                                                        <a>Value</a>
                                                    </th>

                                                   <th>
                                                        <a>Approved options</a>
                                                    </th>
                                                    <th></th>



                                                </tr>
                                                @{
                                                    var counter = 1;
                                                }
                                                <input id="schoolid" type="hidden" value="@Request.QueryString["sdc"]" />
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.ID)</td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ItemDescription)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LibraryValue)
                                                        </td>
                                                       


                                                        <td>
                                                            <label class="checkbox nomargin"><input type="checkbox" value="true" name="approved" class="approved" data-id="@item.ID"><i></i>Approved</label>
                                                            @*<label class="control-label"><input type="radio" class="approved" name="approved_@item.ID" data-id="@item.ID" value="True"/>Approved</label>*@
                                                            @*<label class="control-label"><input type="radio" class="approved" name="approved_@item.ID" data-id="@item.ID" value="False" />Not Approved</label>*@

                                                            @*@if (item.isApproved == "NotSpecified")
                                                                {
                                                                    <label class="control-label"><input type="radio" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="True"/>Approved</label>
                                                                    <label class="control-label"><input type="radio" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="False" />Not Approved</label>

                                                                }
                                                                else if (item.isApproved == "True")
                                                                {
                                                                    <label class="control-label"><input type="radio" checked="checked" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="True" />Approved</label>
                                                                    <label class="control-label"><input type="radio" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="False" />Not Approved</label>

                                                                }
                                                                else if (item.isApproved == "False")
                                                                {
                                                                    <label class="control-label"><input type="radio" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="True" />Approved</label>
                                                                    <label class="control-label"><input type="radio" checked="checked" class="approved" name="approved_@item.Unique_row" data-id="@item.Unique_row" value="False" />Not Approved</label>

                                                                }*@

                                                        </td>
                                                        @*<td>@Html.ActionLink("View Details", "Detail", new { id = item.SchoolID, schoolid = Request.QueryString["schoolid"] })*@

                                                    </tr>

                                                    counter++;
                                                }

                                            </table>
                                            <p class="pull-left">
                                                <input type="hidden" value="@Model.First().ID" id="hideid" />
                                                <button class="btn btn-primary btn-lg" id="save-radio">Save</button>
                                            </p>
                                            <br />

                                            <input type='hidden' value='@Request.QueryString["subjectId"]' id='subjectId' />


                                        </div>
                                    </section>
                                                    }
                                                    @*else
                                                        {
                                                            <div class="well" style="margin-top:30px;">
                                                                <h3>Please select a subject to load items.</h3>
                                                            </div>
                                                        }*@
                                                    @*}
                                                        else
                                                        {
                                                            <div class="well">Section is null</div>

                                                        }*@
                                                </div>

                                            </div>


                                        </section>


                                    </article>

                                    @*}
                                        else
                                        {
                                            <div class="well">Section is null</div>

                                        }*@
                                </div>

                            </div>
                        </div>
                    </div>

                    @section scripts{

                        <script type="text/javascript">

        $(document).ready(function() {
           // document.location = '/Assessment/FetchLaboratorySummary/?schoolid=' + ,

            //$('.approved').on("click", function() {
            //    var checkedboxes = [];
            //    $("input.save-radio:checked").each(function () {
            //        checkedboxes.push({
            //            'ID': $(this).data('id'),
            //            'Value': $(this).val()
            //        });


            //    });
            //    $.post('/Assessment/UpdateFacilitySummary', { radiobuttonvalues: checkedboxes }, function(response) {
            //        if (response.status === true) {
            //            alert('Classes saved successfully.');
            //        } else {
            //            alert('Error occurred while saving data');
            //        }
            //    });
            //});

            $('#save-radio').on("click", function () {

                var checkedboxes = [];
                $("input.approved:checked").each(function () {
                    checkedboxes.push({

                        'ID': $(this).data("id"),
                        'Value': $(this).val()
                    });


                });
                console.log(checkedboxes);
                $.post('@Url.Action("UpdateFacilitySummary", "Assessment")', { radiobuttonvalues: checkedboxes }, function (response) {
                    if (response.status === true) {
                        alert('Assessment done successfully.');
                    } else {
                        alert('Error occurred while saving data');
                    }
                });
            });


           // save - checkbox

        $('#equipment').on('click', function() {
            document.location = $(this).attr("data-href");
            console.log(document.location);
        });


        $('#reagent-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });


        $('#lab-record').on('click', function() {
            document.location = $(this).attr("data-href");
            console.log(document.location);
        });

        $('#library-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });

        $('#recreational-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        $('#examination-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        $('#assessment-record').on('click', function() {
            document.location = $(this).attr("data-href");
        });
        });

                        </script>
                    }



