﻿@using PagedList.Mvc;
@using SchoolRecognitionSystem.Classes
@using SchoolRecognitionSystem.Models
@model  List<SchoolRecognitionSystem.Models.SchoolSubjectViewModel>

@{
    ViewBag.Title = "Recommendation";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
<link href="~/Content/dropdownliststyle.css" rel="stylesheet"/>

@*<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    <li><a href="#">User Management</a></li>
    <li class="active">Assign state</li>
</ol>*@

<link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartial");
        </div>
        <section class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
                <div class="well margin-left-20">
                    <h1>Recommendation</h1>
                    <p class="text-info"><label class="checkbox"><input type="checkbox" id="recommend"/><i></i> I have assessed this school and I hereby recommend it for recognition.</label>
                    </p>
                    <div class="alert alert-success" id="send-email-wrapper" style="display: none;">
                        <h1>Send email to DR (SED)</h1>
                        <form action="@Url.Action("SendEmailForRecognition",new {schoolid=Request.QueryString["sddc"]})" method="POST">
                            <button class="btn btn-success"><i class="fa fa-envelope-o"></i> Finish</button>
                        </form>
                    </div>
                </div>
                <div class="well margin-left-20">
                    <h1>Non Recommendation</h1>
                    <p class="text-info"><label class="checkbox"><input type="checkbox" id="not-recommend"/><i></i> Sorry, this school cannot be recognized due to the following reasons.</label>
                    </p>
                    <div class="row">
                        <input type="hidden" id="compulsoryid" value="@ViewBag.HoldCS" />
                        @*<div id="message1">
                <span id="viewbagids" style="color: red;"></span>
                <label><input type="submit" value="Send Email" class="btn btn-primary" /></label>
            </div>*@

                        <div id="subjectMessageOptionId">
                            <span id="viewBagid1"></span>
                            <input type="submit" id="OptionEmail1" value="Send Email" class="btn btn-sm btn-primary" />
                        </div>
                        <div id="subjectMessageOptionId2">
                            <span id="viewBagid2"></span>
                            <input type="submit" id="OptionEmail2" value="Send Email" class="btn btn-sm btn-primary" />
                        </div>
                        <div id="subjectMessageOptionId3">
                            <span id="viewBagid3"></span>
                            <input type="submit" id="OptionEmail2" value="Send Email" class="btn btn-sm btn-primary" />
                        </div>



                        <div class="col-md-12" id="rowid">
                            @{
                                var getStorageAll = ViewBag.ReasonMessages as List<string>;
                                if (getStorageAll != null)
                                {
                                    foreach (var v in getStorageAll)
                                    {
                                        if (v == "")
                                        {
                                            continue;
                                        }

                                        {<span style="color: red;"><strong>@v</strong></span>
                                        }
                                        <br />
                                    }
                                }
                            }

                          </div>

                    </div>

                    @*<div class="text-left">
                        <p>Reason one</p>
                        <p>Reason two</p>
                        <p>Reason three</p>
                    </div>*@
                    <div class="alert alert-danger" id="send-email-to-school-wrapper" style="display: none;">
                        <h1>Send email back to school</h1>
                        <form action="@Url.Action("SendEmailForNotRecognition")" method="POST">
                            <button class="btn btn-danger"><i class="fa fa-envelope-o"></i> Finish</button>
                        </form>
                    </div>
                </div>

        </section>

    </div>

</div>







@section scripts{
    <script>
        $(function() {
            $('#recommend').change(function() {
                if ($(this).is(':checked')) {
                    $('#send-email-wrapper').slideDown(500);
                } else {
                    $('#send-email-wrapper').slideUp(500);

                }
            });
            $('#not-recommend').change(function() {
                if ($(this).is(':checked')) {
                    $('#send-email-to-school-wrapper').slideDown(500);
                } else {
                    $('#send-email-to-school-wrapper').slideUp(500);

                }
            });
        });
    </script>

<script type="text/javascript">
        $('#rowid').hide();
        $('#OptionEmail1').hide();
        $('#OptionEmail2').hide();
        $('#OptionEmail3').hide();
        $('#subjectMessageOptionId').hide();
        $('#subjectMessageOptionId2').hide();
        $('#subjectMessageOptionId3').hide();
        $(document).ready(function () {
            var holdCs = '@ViewBag.HoldCS';
            var school = '@TempData["DisplaySchoolName"]';
            var atLeast8Subject = '@ViewBag.atLeast8Subject';
            var tradeSubject = '@ViewBag.TradeSubject';
            console.log("@ViewBag.HoldCS");
            if ("@ViewBag.HoldCS" === "School cannot be recognised for Inadequate Compulsory Subject basically Mathematics, English-Language, Civic-Education and at least one trade subjects") {
                $('#rowid').hide();
                $('#centre2').hide();
                $('#subjectMessageOptionId').show();
                $('#viewBagid1').html("@ViewBag.HoldCS").css('color', 'red');
                $('#OptionEmail1').show();
            } else if ("@ViewBag.atLeast8Subject" === "Minimum of 8 subjects is required including MATHEMATICS, ENGLISH LANGUAGE and CIVIC EDUCATION with at least a trade subject") {
                $('#rowid').hide();
                $('#centre2').hide();
                $('#subjectMessageOptionId2').show();
                $('#viewBagid2').html(atLeast8Subject).css('color', 'red');
            } else if ("@ViewBag.TradeSubject" === "No Trade Subject.There must be at least a trade subject with MATHEMATICS, ENGLISH LANGUAGE and CIVIC EDUCATION before a school can be recognised") {
                $('#rowid').hide();
                $('#centre2').hide();
                $('#subjectMessageOptionId3').show();
                $('#viewBagid3').html(tradeSubject).css('color', 'red');
            } else {
                $('#rowid').show();
                $('#centre2').hide();
            }

            $('#saveid1').on('click', function (e) {
                e.preventDefault();
                var schoolid = '@Request.QueryString["sddc"]';
                $.post('@Url.Action("Approve2", "Assessment")', { sddc: schoolid }, function (response) {
                    $('#centre').show();
                    $('#centre2').show();
                    $('#centreid').html(response.newcentreNumber);
                    $('#schoolname').html(response.schoolname);
                    console.log(response.newcentreNumber);
                    $('#saveid2').show();

                });
            });

            @*$('#saveid2').on('click', function (e) {
                e.preventDefault();
                var schoolid = '@Request.QueryString["sdc"]';
                $.post('/Assessment/PrintReport', { sdc: schoolid }, function (response) {
                    $('#centre').show();
                    $('#centre2').show();
                    $('#centreid').html(response.newcentreNumber);
                    $('#schoolname').html(response.schoolname);
                    console.log(response.newcentreNumber);
                    $('#saveid2').show();

                });
            });*@

            $('#forEmail').change(function () {
                var checked = $(this).is(':checked');
                if (checked) {
                    $('#generalEmail').removeAttr('disabled');
                } else {
                    $('#generalEmail').attr('disabled', 'disabled');
                }

            });

            $('#OptionEmail1').on('click', function () {
                $.post('@Url.Action("OptionEmail1", "Assessment")', { message1: '@ViewBag.HoldCS', sdc: '@ViewBag.SchoolID' }, function (response) {
                    if (response.status == "isDone") {
                        alert("Message sent to staff in charge");
                    }
                });
            });
            @*$('#OptionEmail2').on('click', function () {
                $.post('@Url.Action("OptionEmail2", "Assessment")', { message2: '@ViewBag.atLeast8Subject', sdc: '@ViewBag.SchoolID' }, function (response) {
                    if (response.status == "isDone") {
                        alert("Message sent to staff in charge");
                    }
                });
            });*@
            $('#OptionEmail3').on('click', function () {
                $.post('/Assessment/OptionEmail3', { message3: '@ViewBag.TradeSubject', sdc: '@ViewBag.SchoolID' }, function (response) {
                    if (response.status == "isDone") {
                        alert("Message sent to staff in charge");
                    }
                });
            });


            @*$('#saveid').hide();
            $('#centre').hide();
            // document.location = '/Assessment/_ItemSectionPartial/?sdc=470';
            $('[type=checkbox]').click(function () {
                var checkedChbx = $('#approve').prop('checked');
                if (checkedChbx) {
                    $('#saveid').show();

                    $('#saveid1').on('click', function (e) {
                        e.preventDefault();
                        var schoolid = '@Request.QueryString["sdc"]';
                        $.post('/Assessment/Approve2', { sdc: schoolid }, function (response) {
                            $('#centre').show();
                            $('#centreid').html(response.newcentreNumber);
                            $('#schoolname').html(response.schoolname);
                            $('#saveid2').show();

                        });
                    });


                } else {
                    $('#saveid').hide();
                }

            });*@


        });


</script>


}






