﻿@using SchoolRecognitionSystem.Models;
@model IEnumerable<SchoolRecognitionSystem.Models.SchoolStaffList>

@{
    ViewBag.Title = "SchooStafflRecords";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    TempData["ClassId"] = Model.First().SchoolStaffSubjectTaughtList.First().ClassID;

}

<h2>SchooStafflRecords</h2>


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    @*<li><a href="#">Manage School</a></li>
        <li class="active"> School Staff</li>*@
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> 
}

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartialX")
        </div>
        <div class="col-md-3" style="margin-bottom: 30px;">
            @*//Assessment/Index/?state=01*@
            @*<a class='btn btn-success' href="@Url.Action("Create", "AutoCentre")">School list</a>*@
            <a class='btn btn-success' href="@Url.Action("Index", "Assessment",new {state=Request.QueryString["state"]})">School list</a>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <section class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            S/N
                        </th>
                        <th>
                            Name Of Teachers
                        </th>
                        <th>
                            Degrees/Qualifications
                        </th>
                        <th>
                            Subjects Taught
                        </th>

                        <th>
                            Classes
                        </th>
                        <th>
                            Has TRCN
                        </th>
                        <th>
                            view credentials
                        </th>

                    </tr>
                    @{
                        var rowIncr = 1;
                        var x = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @x
                                <input type="hidden" value="@item.Staff.ID" />
                                @*@Html.DisplayFor(modelItem => item.Staff.ID)*@
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Staff.FirstName)
                                @Html.DisplayFor(modelItem => item.Staff.LastName)
                            </td>

                            @*<td>
                            @foreach (var degree in item.SchoolStaffDegreeList)
                            {
                                <div>@degree.DegreeType</div>
                            }
                        </td>*@
                            <td>

                                @foreach (var qualification in item.SchoolStaffDegreeList)
                                {
                                    <div>@qualification.DegreeType</div>
                                    <div>@qualification.CourseTitle</div>
                                    @*<div>@qualification.OtherDegree</div>*@
                                }
                                @foreach (var otherDegree in item.SchoolStaffOtherDegreeList)
                                {
                                    <div>@otherDegree.OtherDegree</div>
                                }
                            </td>
                            <td>

                                @foreach (var subjectTaught in item.SchoolStaffSubjectTaughtList)
                                {
                                    if (subjectTaught.FinalRating == 1)
                                    {
                                        var ss3Subject = item.SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == "SS 3" && ss3Sub.ClassID == subjectTaught.ClassID)
                                                                                     ?? item.SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == "SS 2" && ss3Sub.ClassID == subjectTaught.ClassID);

                                        if (ss3Subject == null)
                                        {
                                            ss3Subject = item.SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == "SS 1" && ss3Sub.ClassID == subjectTaught.ClassID);
                                        }
                                        if (ss3Subject == null)
                                        {
                                            continue;
                                        }

                                        <div>
                                            <span>@subjectTaught.SubjectLongName - @ss3Subject.ClassName</span>
                                            <span style="display: inline-block;">
                                                <label><input type="radio" class="ticked" checked data-staffid="@subjectTaught.SchoolStaffID" data-updatedid="@subjectTaught.ItemSectionAssessmentID" data-subjectid="@subjectTaught.SubjectID" data-row="@subjectTaught.SchoolStaffID" data-subjectname="@subjectTaught.SubjectLongName" id="@item.Staff.ID" name="ticked_@rowIncr" value="Passed" />Pass</label>

                                                <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                <input data-updatedid="0" type="hidden" class="tikked">

                                                <span class="message-output"></span>
                                            </span>
                                            <span style="display: inline-block;">
                                                <label><input type="radio" class="ticked" data-staffid="@subjectTaught.SchoolStaffID" data-subjectid="@subjectTaught.SubjectID" data-updatedid="@subjectTaught.ItemSectionAssessmentID" data-row="@subjectTaught.SchoolStaffID" data-subjectname="@subjectTaught.SubjectLongName" name="ticked_@rowIncr" id="@item.Staff.SchoolStaffID" value="Failed" />Fail</label>

                                                <input data-updatedid="0" type="hidden" class="tikked">
                                            </span>

                                        </div>
                                        rowIncr++;

                                    }
                                    else
                                    {
                                        var ss3Subject = item.SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == "SS 3" && ss3Sub.ClassID == subjectTaught.ClassID)
                                                                                    ?? item.SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == "SS 2" && ss3Sub.ClassID == subjectTaught.ClassID);

                                        if (ss3Subject == null)
                                        {
                                            ss3Subject = item.SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == "SS 1" && ss3Sub.ClassID == subjectTaught.ClassID);
                                        }
                                        if (ss3Subject == null)
                                        {
                                            continue;
                                        }

                                        <div>
                                            <span>@subjectTaught.SubjectLongName - @ss3Subject.ClassName</span>
                                            <span style="display: inline-block;">
                                                <label><input type="radio" class="ticked" checked data-staffid="@subjectTaught.SchoolStaffID" data-updatedid="@subjectTaught.ItemSectionAssessmentID" data-subjectid="@subjectTaught.SubjectID" data-row="@subjectTaught.SchoolStaffID" data-subjectname="@subjectTaught.SubjectLongName" id="@item.Staff.ID" name="ticked_@rowIncr" value="Passed" />Pass</label>

                                                <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                <input data-updatedid="0" type="hidden" class="tikked">

                                                <span class="message-output"></span>
                                            </span>
                                            <span style="display: inline-block;">
                                                <label><input type="radio" class="ticked" checked data-staffid="@subjectTaught.SchoolStaffID" data-subjectid="@subjectTaught.SubjectID" data-updatedid="@subjectTaught.ItemSectionAssessmentID" data-row="@subjectTaught.SchoolStaffID" data-subjectname="@subjectTaught.SubjectLongName" name="ticked_@rowIncr" id="@item.Staff.SchoolStaffID" value="Failed" />Fail</label>

                                                <input data-updatedid="0" type="hidden" class="tikked">
                                            </span>

                                        </div>
                                        rowIncr++;
                                    }


                                }


                            </td>



                            <td>
                                @foreach (var classid in item.SchoolStafflassList)
                                {
                                    <div>@classid.ClassName</div>

                                }
                            </td>



                            <td>
                                @item.Staff.isTRCN
                            </td>
                            @if (item.Credentials.Count > 0)
                            {
                                <td>
                                    @Html.ActionLink("Credential", "ViewCredential", new { id = item.Credentials.FirstOrDefault().CredentialID }, new { @class = "add-role fa fa-edit", @title = "Add role", data_staffid = item.Staff.ID, data_credid = item.Credentials.FirstOrDefault().CredentialID })
                                </td>
                            }


                            @*<td>
                            @foreach (var otherDegree in item.SchoolStaffOtherDegreeList)
                            {
                                <div>@otherDegree.OtherDegree</div>
                            }
                        </td>*@

                        </tr>
                        x++;
                    }

                </table>

            </section>
        </div>

    </div>

</div>







@section scripts{
    <script>
        $(document).ready(function() {

            var classId = '@Model.First().SchoolStaffSubjectTaughtList.First().ClassID';

            $('.add-role').on('click', function(e) {
                e.preventDefault();
                //$('#AvailableStateSelectedEdit').html('');
                var staffid = $(this).data('staffid');
                var credid = $(this).data('credid');
                console.log(staffid);
                console.log(credid);

                $.getJSON('../Assessment/ViewCredential', { staffid: staffid, credid: classId }, function(response) {
                    //$('#display').val(response.Images);
                    var optionsroles = "";
                    for (var j = 0; j < response.Images.length; j++) {
                        console.log('Image path: '+response.Images[j].Image);
                        optionsroles += '<div class="col-md-2 display" id="image-container-' + response.Images[j].CredentialID + '">' +
                         '<input type="hidden" name="imagesUploaded[]" value="' + response.Images[j].Image +'" />' +
                            '<a href="' + response.Images[j].Image + '" target="_new"><img src="' + ($('meta[name="ApplicationRoot"]').attr('content') + response.Images[j].Image )+ '" width="100" height="100" /></a>' +
                            '</div>';
                    }
                    console.log('new value:'+optionsroles);
                    $('.display').html(optionsroles);
                });

                $('#myModalAdd').modal('show');
            });
            $('.ticked').on("click", function() {
                var thisVar = $(this);
                var radioValue = $(this).val();
                var id = $(this).attr('data-row');
                var staffId = $(this).attr('data-staffid');

                var schoolId = '@Request.QueryString["sddc"]';
                var subjectname = $(this).attr('data-subjectname');
                var subjectid = $(this).attr('data-subjectid');
                //var updatedid = $(this).attr('data-updateid');
                console.log(subjectname);
                console.log(subjectid);
                console.log(schoolId);
                console.log(staffId);
                $.post('../Assessment/StaffSummaryResultB', { radioValue: radioValue, sddc: schoolId, subjectName: subjectname, subjectId: subjectid, staffId: staffId, classId: classId }, function (response) {
                    if (response.status === true) {
                        alert(response.message);
                        console.log(response.updatedid);
                        $(thisVar).attr('data-updatedid', response.updatedid);
                        return;
                        //$(this).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        //$(this).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                        //    .addClass('text-success').html(data.message).show();

                    }
                });
            });
        });


        $(function() {
            $('#staff').on('click', function() {
                document.location = $(this).attr("data-href");
            });
        });
    </script>
}