﻿@using SchoolRecognitionSystem.Infrastructure
@using SchoolRecognitionSystem.Models;
@model IEnumerable<SchoolRecognitionSystem.Models.SchoolStaffList>

@{
    ViewBag.Title = "SchooStafflRecords";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
    TempData["ClassId"] = Model.First().SchoolStaffSubjectTaughtList.First().ClassID;
}

<h2>SchooStafflRecords</h2>


<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    @*<li><a href="#">Manage School</a></li>
        <li class="active"> School Staff</li>*@
</ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartial")
        </div>
        <div class="col-md-3" style="margin-bottom: 30px;">
            <a style="margin-top: 20px;" class='btn btn-primary' href="@Url.Action("Index", "Assessment", new {state = Request.QueryString["state"]})"><i class="fa fa-arrow-circle-left"></i> School list</a>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab">
            <p style="color: green; font-weight: bold">@ViewBag.Success</p>
            @*@if (Session["SchoolID"] != null)
                {*@
            <section class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            S/N
                        </th>
                        <th>
                            Name Of Teachers
                        </th>
                        <th>
                            Degrees/Qualifications
                        </th>
                        <th>
                            Subjects Taught
                        </th>

                        <th>
                            Classes
                        </th>
                        <th>
                            Has TRCN
                        </th>
                        <th>
                            view credentials
                        </th>

                    </tr>
                    @{
                        var rowIncr = 1;
                        var x = 1;

                        var highestClassModel = Model.First().SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == "SS 3");
                        
                        if (highestClassModel == null)
                        {
                            highestClassModel = Model.First().SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == "SS 2");
                        }
                        if (highestClassModel == null)
                        {
                            highestClassModel = Model.First().SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == "SS 1");
                        }

                    }
                    @foreach (var item in Model)
                    {
                        if (highestClassModel == null)
                        {
                            continue;
                        }
                        <tr>
                            <td>
                                @x
                                <input type="hidden" value="@item.Staff.ID" />
                                @*@Html.DisplayFor(modelItem => item.Staff.ID)*@
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Staff.FirstName)
                                @Html.DisplayFor(modelItem => item.Staff.LastName)
                            </td>

                            @*<td>
                                    @foreach (var degree in item.SchoolStaffDegreeList)
                                    {
                                        <div>@degree.DegreeType</div>
                                    }
                                </td>*@
                            <td>

                                @foreach (var qualification in item.SchoolStaffDegreeList)
                                {
                                    <div>@qualification.DegreeType</div>
                                    <div>@qualification.CourseTitle</div>
                                    @*<div>@qualification.OtherDegree</div>*@
                                }
                                @foreach (var otherDegree in item.SchoolStaffOtherDegreeList)
                                {
                                    <div>@otherDegree.OtherDegree</div>
                                }
                            </td>
                            <td>


                                @foreach (var subjectTaught in item.SchoolStaffSubjectTaughtList)
                                {

                                    var ss3Subject = item.SchoolStafflassList.FirstOrDefault(ss3Sub => ss3Sub.ClassName == highestClassModel.ClassName && ss3Sub.ClassID == subjectTaught.ClassID);
                                    if (ss3Subject == null)
                                    {
                                        continue;
                                    }
                                    /* if (subjectTaught.FinalRating == 1)
                                    {*/



                                    <div>


                                        <span>@subjectTaught.SubjectLongName - @ss3Subject.ClassName</span>
                                        <span style="display: inline-block;">
                                            <label>
                                                <input type="radio" class="ticked @(subjectTaught.FinalRating == 1? "checked": "")"
                                                       data-staffid="@subjectTaught.SchoolStaffID"
                                                       data-updatedid="@subjectTaught.ItemSectionAssessmentID"
                                                       data-subjectid="@subjectTaught.SubjectID"
                                                       data-row="@subjectTaught.SchoolStaffID"
                                                       data-subjectname="@subjectTaught.SubjectLongName"
                                                       id="@item.Staff.ID" name="ticked_@rowIncr"
                                                       value="Passed"
                                                       data-classid="@subjectTaught.ClassID" />Pass
                                            </label>

                                            <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                            <input data-updatedid="0" type="hidden" class="tikked">

                                            <span class="message-output"></span>
                                        </span>
                                        <span style="display: inline-block;">
                                            <label>
                                                <input type="radio" class="ticked" @(subjectTaught.FinalRating == 0 ? "checked" : "")
                                                data-staffid="@subjectTaught.SchoolStaffID"
                                                data-subjectid="@subjectTaught.SubjectID"
                                                data-updatedid="@subjectTaught.ItemSectionAssessmentID"
                                                data-row="@subjectTaught.SchoolStaffID"
                                                data-subjectname="@subjectTaught.SubjectLongName"
                                                name="ticked_@rowIncr" id="@item.Staff.SchoolStaffID"
                                                value="Failed"
                                                data-classid="@subjectTaught.ClassID" />Fail
                                            </label>

                                            <input data-updatedid="0" type="hidden" class="tikked">
                                        </span>

                                    </div>
                                    rowIncr++;

                                    @* }
                else
                {

                    if (ss3Subject != null)
                    {
                        <div>
                            <span>@subjectTaught.SubjectLongName - @ss3Subject.ClassName</span>
                            <span style="display: inline-block;">
                                <label>
                                    <input type="radio" class="ticked"
                                           checked data-staffid="@subjectTaught.SchoolStaffID"
                                           data-updatedid="@subjectTaught.ItemSectionAssessmentID"
                                           data-subjectid="@subjectTaught.SubjectID"
                                           data-row="@subjectTaught.SchoolStaffID"
                                           data-subjectname="@subjectTaught.SubjectLongName"
                                           id="@item.Staff.ID" name="ticked_@rowIncr"
                                           value="Passed"
                                           data-classid="@subjectTaught.ClassID" />Pass
                                </label>

                                <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                <input data-updatedid="0" type="hidden" class="tikked">

                                <span class="message-output"></span>
                            </span>
                            <span style="display: inline-block;">
                                <label>
                                    <input type="radio" class="ticked" checked data-staffid="@subjectTaught.SchoolStaffID"
                                           data-subjectid="@subjectTaught.SubjectID"
                                           data-updatedid="@subjectTaught.ItemSectionAssessmentID"
                                           data-row="@subjectTaught.SchoolStaffID"
                                           data-subjectname="@subjectTaught.SubjectLongName"
                                           name="ticked_@rowIncr" id="@item.Staff.SchoolStaffID"
                                           data-classid="@subjectTaught.ClassID"
                                           value="Failed" />Fail
                                </label>

                                <input data-updatedid="0" type="hidden" class="tikked">
                            </span>

                        </div>
                        rowIncr++;
                    }

                }
                                    *@

                                }


                            </td>








                            <td>
                                @foreach (var classid in item.SchoolStafflassList)
                                {
                                    <div>@classid.ClassName</div>

                                }
                            </td>



                            <td>
                                @item.Staff.isTRCN
                            </td>
                            @if (item.Credentials.Count>0)
                            {
                                <td>
                                    @Html.ActionLink("Credential", "ViewCredential", new { id = item.Credentials.FirstOrDefault().CredentialID }, new { @class = "add-role fa fa-edit", @title = "Add role", data_staffid = item.Staff.ID, data_credid = item.Credentials.FirstOrDefault().CredentialID })
                                </td>
                            }


                            @*<td>
                                    @foreach (var otherDegree in item.SchoolStaffOtherDegreeList)
                                    {
                                        <div>@otherDegree.OtherDegree</div>
                                    }
                                </td>*@

                        </tr>
                        x++;
                    }

                </table>

            </section>

            @*else
                {
                <div class="well">Section is null</div>

                }*@

        </div>

    </div>

</div>


<section id="myModalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Credential</h4>
            </div>
            <article class="modal-body">


                <section class="form-horizontal">
                    <div class="form-horizontal row">
                        <h4>View Staff Credential</h4>
                        <hr />
                        <div class="form-group" id="image-wrapper">

                            <div class="display">
                                  </div>
                        </div>
                        <div class="modal-footer">
                            @*<input type = "submit" id="save-role" value="Save" class="btn btn-primary" />*@
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        @*<p class="pull-right">
                                <input type="hidden" id="add-id" name="ID"/>
                                <input type="submit" id="save-role" value="Save" class="btn btn-primary"/>
                            </p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>*@
                    </div>

                </section>

            </article>

        </div>

    </div>
</section>






@section scripts{
    <script>
        $(document).ready(function() {


            $('.add-role').on('click', function(e) {
                e.preventDefault();
                //$('#AvailableStateSelectedEdit').html('');
                var staffid = $(this).data('staffid');
                var credid = $(this).data('credid');
                console.log(staffid);
                console.log(credid);

                $.getJSON('../Assessment/ViewCredential', { staffid: staffid, credid: credid }, function(response) {
                    //$('#display').val(response.Images);
                    var optionsroles = "";
                    for (var j = 0; j < response.Images.length; j++) {
                        optionsroles += '<div style="width:13%;" class="col-md-2" id="image-container-' + response.Images[j].CredentialID + '">' +
                         '<input type="hidden" name="imagesUploaded[]" value="' + response.Images[j].Image +'" />' +
                            '<a href="' + $('meta[name="ApplicationRoot"]').attr('content') + 'images/' + response.Images[j].Image + '" target="_new">' +
                            '<img class="img-thumbnail" src="' + ($('meta[name="ApplicationRoot"]').attr('content') + 'images/' + response.Images[j].Image )+ '" width="100" height="100" /></a>' +
                            '</div>';
                    }
                    console.log('new value:'+optionsroles);
                    $('.display').html(optionsroles);
                    $('#myModalAdd').modal('show');
                });


            });
            $('.ticked').on("click", function() {
                var thisVar = $(this);
                var radioValue = $(this).val();
                var id = $(this).attr('data-row');
                var staffId = $(this).attr('data-staffid');

                var schoolId = '@Request.QueryString["sddc"]';
                var classId =  $(this).attr('data-classid');
                var subjectname = $(this).attr('data-subjectname');
                var subjectid = $(this).attr('data-subjectid');
                //var updatedid = $(this).attr('data-updateid');
                console.log(subjectname);
                console.log(subjectid);
                console.log(schoolId);
                console.log(staffId);
                $.post('../Assessment/StaffSummaryResult', { radioValue: radioValue, sddc: schoolId, classId: classId, subjectName: subjectname, subjectId: subjectid, staffId: staffId }, function(response) {
                    if (response.status === true) {
                        alert(response.message);
                        console.log(response.updatedid);
                        $(thisVar).attr('data-updatedid', response.updatedid);
                        return;
                        //$(this).parent().find('.spinner-wrapper').addClass('fa-check-circle text-success').removeClass('fa-spin fa-spinner');
                        //$(this).parent().find('.message-output').stop().css('opacity', 1).removeClass('text-danger')
                        //    .addClass('text-success').html(data.message).show();

                    }
                });
            });
        });


        $(function() {
            $('#staff').on('click', function() {
                document.location = $(this).attr("data-href");
            });
        });
    </script>
}