﻿
@model   List<SchoolRecognitionSystem.Models.SchoolSubjectList>

@{
    ViewBag.Title = "School Subject";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}



<ol class="breadcrumb">
    <li><i class="glyphicon glyphicon-plane"></i></li>
    </ol>

@if (TempData["Information"] != null)
{
    <div class="alert alert-primary">
        <span class="myInfowtb">
            @TempData["Information"]
        </span>
    </div> }

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mycustom-tab-container">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mycustom-tab-menu">
            @Html.Partial("_AssessmentPartial");
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mycustom-tab" id="loadPagePanel">
            <!-- flight section -->
            <div class="active">

                @*@if (Session["SchoolID"] != null)
                    {*@

                <div class="clearfix"></div>
                   <section class="form-group">
                        <div class="table-responsive">
                            <h3>School Subjects with attached/checked textbooks</h3>
                            <table class="table table-bordered" id="kim" style="margin-top: 30px;">
                                <thead>
                                    <tr>
                                        <th>
                                            <a>Compulsory Subject</a>
                                        </th>

                                        <th>
                                            <a>Trade Subject</a>
                                        </th>
                                        <th>
                                            <a>Others</a>
                                        </th>
                                        <th>Approve option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                           
                                            <td>
                                                @foreach (var sub in item.SchoolCompulsorySubject)
                                                {
                                                    <div>
                                                        <span>@sub.LongName</span>
                                                        <span>
                                                            @if (sub.IsTextBookAttached)
                                                            {
                                                                <input type="checkbox" checked="checked" disabled="" value="@sub.IsTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" disabled="" value="@sub.IsTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble"> 
                                                            }
                                                        </span>
                                                    </div>


                                                }
                                            </td>

                                            <td>
                                                @foreach (var sub in item.SchoolLeastTradeSubject)
                                                {
                                                    <div>
                                                        <span>@sub.LongName</span>
                                                        <span>
                                                            @if (sub.IsTextBookAttached)
                                                            {
                                                                <input type="checkbox" disabled="" checked="checked" readonly="" value="@sub.isTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" disabled="" value="@sub.IsTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                            }
                                                        </span>
                                                    </div>
                                                    
                                                }
                                            </td>
                                            <td>
                                                @foreach (var sub in item.Subject)
                                                {
                                                    <div>
                                                        <span>@sub.LongName</span>
                                                        <span>
                                                            @if (sub.IsTextBookAttached)
                                                            {
                                                                <input type="checkbox" disabled="" checked="checked" readonly="" value="@sub.IsTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" disabled="" value="@sub.IsTextBookAttached" name="isDiaryofWorksAvaialble" id="isDiaryofWorksAvaialble">
                                                            }
                                                        </span>
                                                    </div>
                                                }

                                            </td>
                                            <td>
                                                <div>
                                                    <label><input type="radio" class="ticked" name="ticked" value="Passed" />Pass</label>
                                                    <i class="spinner-wrapper fa fa-spinner fa-spin" style="display: none;"></i>
                                                    <span class="message-output"></span>
                                                </div>
                                                <div>
                                                    <label><input type="radio" class="ticked" name="ticked" value="Failed" />Fail</label>
                                                </div>
                                            </td>
                                          

                                        </tr>
                                    }
                                    @*<tr>
                                            <td>&nbsp;</td>
                                            <td>
                                                <span id="total-grades">0</span>
                                            </td>
                                        </tr>*@
                                </tbody>

                            </table>
                            <br />
                       </div>
                    </section>
                


                @*}
                    else
                    {
                        <div class="well">Section is null</div>

                    }*@
            </div>

        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">
      
        $(document).ready(function() {
           
            $('.ticked').on("click", function() {
                var radioValue = $(this).val();
                
                var schoolId = '@Request.QueryString["sdc"]';
                console.log(schoolId);
               
                $.post('@Url.Action("SubjectResult", "Assessment")', { radioValue: radioValue, sdc: schoolId }, function (response) {
                   
                        
                });
            });
        });
    </script>

    }





